Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Respect unavailable AI chat client providers (#8453)
  src/Platform/Microsoft.Testing.Platform.AI/ChatClientProviderExtensions.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/AI/ChatClientProviderExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
Due: production, test

Use union merge driver for .resx and .xlf files (#8468)
  .gitattributes
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2980844 (#8463)
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
Due: production

[code-simplifier] Code Simplification - 2026-05-21 (#8470)
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Artifacts.cs
Due: production

Centralize slash-command routing (#8460)
  .github/workflows/add-tests.lock.yml
  .github/workflows/add-tests.md
  .github/workflows/agentic_commands.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/autofix.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/daily-perf-improver.lock.yml
  .github/workflows/daily-perf-improver.md
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/daily-test-improver.md
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/review.agent.md
Due: none

Address PR review comments and fix build
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertStackTraceHiddenTests.cs
Due: production, test

Reject TRX parent traversal and stabilize dump CI
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportGeneratorCommandLineTests.cs
Due: production, test

Fix PR 8396 CI follow-ups
  .github/aw/actions-lock.json
  .github/workflows/build-failure-analysis.lock.yml
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestContextPropertyFlowTests.cs
Due: test

Address PR review comments and fix build
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/TestHostControllersManager.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TestConfigEnvironmentVariablesTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Add NuGet MCP Server and replace Node.js with C# DumpBinlog
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/scripts/DumpBinlog/DumpBinlog.csproj
  .github/workflows/scripts/DumpBinlog/Program.cs
  .github/workflows/scripts/dump-binlog.js
  .github/workflows/scripts/package-lock.json
  .github/workflows/scripts/package.json
Due: none

Fix soft assertion acceptance regex
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SoftAssertionTests.cs
Due: test

Fix MCP gateway crash: wire NuGet MCP via bash allowlist, not mcp-servers
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/scripts/DumpBinlog/Program.cs
Due: none

Fix trx traversal assertion
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Validate crash dump sub-options require a main option (#8452)
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/CrashDumpResources.resx
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CrashDumpTests.cs
Due: production, test

Apply [StackTraceHidden] to Assert/CollectionAssert/StringAssert (#8277) (#8393)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.InterpolatedStringHandlers.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsExactInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Assertions/AssertScope.cs
  src/TestFramework/TestFramework/Assertions/AssertionValueRenderer.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  src/TestFramework/TestFramework/Assertions/EvidenceBlock.cs
  src/TestFramework/TestFramework/Assertions/EvidenceLine.cs
  src/TestFramework/TestFramework/Assertions/StringAssert.cs
  src/TestFramework/TestFramework/Assertions/StructuredAssertionMessage.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SoftAssertionTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertStackTraceHiddenTests.cs
Due: production, test

Update and recompile GH AW
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-efficiency-improver.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/daily-perf-improver.lock.yml
  .github/workflows/daily-qa.lock.yml
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/markdown-linter-report.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/repo-historian.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981612
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
Due: production

Address PR feedback: harden TRX path validation
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportGeneratorCommandLineTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981612
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981612
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981612
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Update and recompile GH AW (#8485)
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-efficiency-improver.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/daily-perf-improver.lock.yml
  .github/workflows/daily-qa.lock.yml
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/markdown-linter-report.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/repo-historian.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
Due: none

Address PR #8391 review comments
  docs/microsoft.testing.platform/002-TestConfig-EnvironmentVariables.md
  src/Platform/Microsoft.Testing.Platform/Configurations/JsonConfigurationProvider.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/ConfigurationManagerTests.cs
Due: production, test

Use Mini dump in CrashDump child-crash test to fix macOS Debug timeout
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashDumpTests.cs
Due: test

Address PR review feedback
  src/TestFramework/TestFramework/Assertions/Assert.That.ExpressionDetails.cs
  src/TestFramework/TestFramework/Assertions/Assert.That.ExpressionEvaluation.cs
  src/TestFramework/TestFramework/Assertions/Assert.That.StringHelpers.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981618
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hant.xlf
Due: production

Restore translations for TrxReportFileNameOptionDescription
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981626
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hant.xlf
Due: production

Fix xlf generation
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hant.xlf
Due: production

Reset agentics workflows to upstream; add 7 new workflows; add source: links
  .github/aw/actions-lock.json
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/adhoc-qa.md
  .github/workflows/agentic_commands.yml
  .github/workflows/code-simplifier.md
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-issue-bundler.md
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.md
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/efficiency-improver.md
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/glossary-maintainer.md
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
  .github/workflows/link-checker.lock.yml
  .github/workflows/link-checker.md
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/malicious-code-scan.md
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/markdown-linter.md
  .github/workflows/perf-improver.lock.yml
  .github/workflows/perf-improver.md
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
  .github/workflows/repo-chronicle.lock.yml
  .github/workflows/repo-chronicle.md
  .github/workflows/repo-historian.md
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/repository-quality-improver.md
  .github/workflows/shared/formatting.md
  .github/workflows/shared/reporting.md
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/sub-issue-closer.md
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
  .github/workflows/weekly-issue-activity.lock.yml
  .github/workflows/weekly-issue-activity.md
Due: none

Fix xlf generation (#8490)
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hant.xlf
Due: production

Add experimental TestRun.Current / PlannedTests API (#7311)
  docs/RFCs/014-TestRun-Current-PlannedTests.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestRunInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/TestFramework/TestFramework.Extensions/ITestRunInfo.cs
  src/TestFramework/TestFramework.Extensions/PlannedTest.cs
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/TestRun.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestRunInfoTests.cs
Due: production, test

Allow paths in --report-trx-filename (#8406)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportGeneratorCommandLineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: production, test

Replace foreach with indexed for loop to silence CodeQL missed-Where
  src/TestFramework/TestFramework/Assertions/Assert.That.StringHelpers.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981672
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981672
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.ko.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981672
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981672
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
Due: production
