Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Doc
  .globalconfig
Due: none

Improve assertions for DotnetMuxerResult.ExitCode
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssemblyResolutionTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceAssert.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: test

Remove timeout in test infra
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetMuxer.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestHost.cs
Due: test

Improve assertions for DotnetMuxerResult.ExitCode (#6240)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssemblyResolutionTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceAssert.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: test

Remove PublicAPI files for analyzers project (#6230)
  .editorconfig
  .globalconfig
  src/Analyzers/MSTest.Analyzers/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Analyzers/PublicAPI.Unshipped.txt
Due: production

Remove timeout in test infra (#6241)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetMuxer.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestHost.cs
Due: test

Fix duration regexes
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
Due: test

Fixes
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/SuiteLifeCycleTests.cs
  test/Utilities/Automation.CLI/Automation.CLI.csproj
Due: test

Cleanup
  src/Analyzers/MSTest.Analyzers/AssertThrowsShouldContainSingleStatementAnalyzer.cs
Due: production

Bump dependencies
  Directory.Packages.props
Due: none

Keep variables
  Directory.Packages.props
Due: none

Bring back indentation
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
Due: test

Use MS CC 18.1 preview
  eng/Versions.props
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  test/Directory.Build.props
Due: production, test

Remove trailing space
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.Designer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
Due: production

VB tests
  Directory.Packages.props
  src/Analyzers/MSTest.Analyzers/AssertThrowsShouldContainSingleStatementAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertThrowsShouldContainSingleStatementAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/MSTest.Analyzers.UnitTests.csproj
  test/UnitTests/MSTest.Analyzers.UnitTests/Verifiers/VisualBasicCodeFixVerifier`2+Test.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Verifiers/VisualBasicCodeFixVerifier`2.cs
Due: production, test

FA namespace was renamed to match package name
  test/IntegrationTests/MSTest.IntegrationTests/Extensions/VerifyE2E.cs
  test/IntegrationTests/MSTest.IntegrationTests/NoNamespaceTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/OutputTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestId.DefaultStrategy.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestId.DisplayNameStrategy.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestId.FullyQualifiedStrategy.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestId.LegacyStrategy.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/ParallelExecutionTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/SuiteLifeCycleTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/TimeoutTests.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/DesktopTestSourceHostTests.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/ReflectionUtilityTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/DataRowAttributeGenerationTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/DynamicDataAttributeTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/IgnoreAttributeGenerationTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/StaticMethodGenerationTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/TestNodesGeneratorTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/ConstantsTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/GeneratorCompilationResultHelpers.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/SourceCodeAssertionExtensions.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/SourceCodeAssertions.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/TestUtilities/GeneratorTester.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IComparableTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInRange.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CIConditionAttributeTests.cs
  test/Utilities/Automation.CLI/CLITestBase.common.cs
  test/Utilities/Automation.CLI/CLITestBase.e2e.cs
Due: test

Fix tests
  src/Analyzers/MSTest.Analyzers/AssertThrowsShouldContainSingleStatementAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertThrowsShouldContainSingleStatementAnalyzerTests.cs
Due: production, test

Use MS CC 18.1 preview (#6244)
  eng/Versions.props
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  test/Directory.Build.props
Due: production, test

Fix MSTest metapackage
  src/Package/MSTest/MSTest.csproj
Due: production

Fix warning
  test/UnitTests/MSTest.Analyzers.UnitTests/Verifiers/VisualBasicCodeFixVerifier`2.cs
Due: test

Integration tests are using MSTest (#6234)
  test/IntegrationTests/MSTest.IntegrationTests/ClsTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/DiscoverInternalsTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Extensions/VerifyE2E.cs
  test/IntegrationTests/MSTest.IntegrationTests/FSharpTestProjectTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/MSTest.IntegrationTests.csproj
  test/IntegrationTests/MSTest.IntegrationTests/NoNamespaceTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/OutputTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DataExtensibilityTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DataRowTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DataSourceTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Program.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestCategoriesFromTestDataRowTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestId.DefaultStrategy.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestId.DisplayNameStrategy.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestId.FullyQualifiedStrategy.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestId.LegacyStrategy.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/AssertExtensibilityTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/DeploymentTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/DesktopCSharpCLITests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/FixturesTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests.csproj
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/ParallelExecutionTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DataExtensibilityTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DataRowTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DataSourceTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Program.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/SuiteLifeCycleTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/TestProjectFSharpTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/TimeoutTests.cs
  test/Utilities/Automation.CLI/Automation.CLI.csproj
  test/Utilities/Automation.CLI/CLITestBase.common.cs
  test/Utilities/Automation.CLI/CLITestBase.e2e.cs
Due: test

Add analyzer to flag Assert.Throws with multiple statements (MSTEST0050) (#6190)
  Directory.Packages.props
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AssertThrowsShouldContainSingleStatementAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertThrowsShouldContainSingleStatementAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/MSTest.Analyzers.UnitTests.csproj
  test/UnitTests/MSTest.Analyzers.UnitTests/Verifiers/VisualBasicCodeFixVerifier`2+Test.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Verifiers/VisualBasicCodeFixVerifier`2.cs
Due: production, test

Drop stacktrace trimming (#6171)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ExceptionHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/ExceptionExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.Designer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/TestFramework/TestFramework/Assertions/Assert.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestAssemblyInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestClassInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2761219
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Bump dependencies (#6243)
  Directory.Packages.props
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/DesktopTestSourceHostTests.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/ReflectionUtilityTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/DataRowAttributeGenerationTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/DynamicDataAttributeTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/IgnoreAttributeGenerationTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/StaticMethodGenerationTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Generators/TestNodesGeneratorTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/ConstantsTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/GeneratorCompilationResultHelpers.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/SourceCodeAssertionExtensions.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/SourceCodeAssertions.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/TestUtilities/GeneratorTester.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IComparableTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInRange.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CIConditionAttributeTests.cs
Due: test

Fix MSTest metapackage (#6245)
  src/Package/MSTest/MSTest.csproj
Due: production

Fix race in TestContextImplementation
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
Due: production, test

Fail on warn as error in discovery
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.Designer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/TestFramework/TestFramework/Exceptions/MSTestException.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
Due: production, test

Fix tests
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DynamicDataTests.cs
Due: test

Fix test
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
Due: test

Fix cli arg
  test/Directory.Build.targets
Due: test

Fix test
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
Due: test

Make azdo extension stable
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
Due: production

Fix race in TestContextImplementation by @Youssef1313 in #6249 (backport to rel/3.10) (#6250)
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
Due: production, test

Fix public API
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Fail on warn as error in discovery (#6251)
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.Designer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/TestFramework/TestFramework/Exceptions/MSTestException.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
Due: production, test

Fixes
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Fix diagnostic
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
