Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add implementation-time parallel safety preflight
  .github/skills/testfx-parallel-safety-preflight/SKILL.md
  .github/workflows/resource-lock-refactoring.lock.yml
  .github/workflows/resource-lock-refactoring.md
Due: none

Calibrate reviewer findings against full context
  .github/agents/expert-reviewer.agent.md
  .github/skills/code-review/SKILL.md
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Add shipping-path acceptance validation skill
  .github/skills/testfx-acceptance-validation/SKILL.md
  .github/skills/testfx-acceptance-validation/scripts/test_verify_execution.py
  .github/skills/testfx-acceptance-validation/scripts/verify_execution.py
Due: none

Add generated localization validation
  .github/scripts/check_localization.py
  .github/scripts/test_check_localization.py
  .github/skills/testfx-localization-validation/SKILL.md
  .github/workflows/check-localization.yml
Due: none

Fix CTRF retry lifecycle and attempt identities (#11813)
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportEngine.JsonSerializer.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportEngine.JsonTestWriter.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.RetryCollapsing.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/PACKAGE.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CtrfReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Add observable all-extension packaged WinUI sample
  samples/public/WinUIMtpPackagedApp/Probe-Extensions.ps1
  samples/public/WinUIMtpPackagedApp/README.md
  samples/public/WinUIMtpPackagedApp/UnitTests.cs
  samples/public/WinUIMtpPackagedApp/WinUIMtpPackagedApp.csproj
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedWinUITests.cs
Due: test

Fix CommonHost coverage service setup in unit tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/CommonHostTests.cs
Due: test

Wire packaged-app native dotnet tests into Windows CI (#11815)
  eng/pipelines/steps/test-windows-app-model.yml
Due: none

Wire packaged-app native dotnet tests into Windows CI
  eng/pipelines/steps/test-windows-app-model.yml
Due: none

Fix native dotnet test routing for packaged applications
  docs/winui-testing.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.Controller/Program.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.MSBuild/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.MSBuild/buildTransitive/Microsoft.Testing.Extensions.PackagedApp.MSBuild.targets
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppControllerArguments.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppNativeInformationalLaunch.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.LooseLayout.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.PackagedLaunch.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/PackagedAppIntegrationTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/PackagedAppNativeDotnetTestTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppControllerArgumentsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppNativeInformationalLaunchTests.cs
Due: production, test

Clarify stable gh-aw compiler retention
  .github/workflows/README.md
Due: none

Prefer PowerShell for repository scripting when parity is preserved
  .github/copilot-instructions.md
Due: none

Retain packaged-native layouts until cleanup is verified
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/PackagedAppNativeDotnetTestTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelCleanupTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelTestTools.cs
Due: test

Document measured localization runtime exception
  .github/skills/testfx-localization-validation/SKILL.md
Due: none

Add session delivery hygiene and parity-preserving PowerShell guidance (#11820)
  .github/copilot-instructions.md
  .github/skills/session-delivery-hygiene/SKILL.md
Due: none

Add TestFx shipping-path acceptance validation skill (#11822)
  .github/skills/testfx-acceptance-validation/SKILL.md
  .github/skills/testfx-acceptance-validation/scripts/test_verify_execution.py
  .github/skills/testfx-acceptance-validation/scripts/verify_execution.py
Due: none

Validate exact percentage text in CI summary fragments
  src/Platform/SharedExtensionHelpers/CiCoverageSummary.cs
  src/Platform/SharedExtensionHelpers/CiRunSummaryAggregateReader.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CoverageThresholdControllerExitCodeTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CiRunSummaryAggregationTests.cs
Due: production, test

Match native informational switches case-insensitively
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppControllerArguments.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppControllerArgumentsTests.cs
Due: production, test

Document acceptance validation runtime exception
  .github/skills/testfx-acceptance-validation/SKILL.md
Due: none

Fix required network access in agentic workflows
  .github/workflows/README.md
  .github/workflows/add-tests.lock.yml
  .github/workflows/add-tests.md
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/adhoc-qa.md
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/code-simplifier.md
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.md
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/efficiency-improver.md
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/malicious-code-scan.md
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/msbuild-quality-review.md
  .github/workflows/mutation-test-improver.lock.yml
  .github/workflows/mutation-test-improver.md
  .github/workflows/perf-improver.lock.yml
  .github/workflows/perf-improver.md
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/repository-quality-improver.md
  .github/workflows/resource-lock-refactoring.lock.yml
  .github/workflows/resource-lock-refactoring.md
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/shared/address-review-shared.md
  .github/workflows/shared/repo-build-setup.md
  .github/workflows/shared/review-shared.md
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
Due: none

Align CTRF logical run IDs and add merge lineage (#11812)
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfArtifactPostProcessor.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportEngine.JsonSerializer.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.JsonHelpers.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.OrchestrationSupport.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/EnvironmentVariableConstants.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CtrfReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfArtifactPostProcessorTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Correct localization path and note validation
  .github/scripts/check_localization.py
  .github/scripts/test_check_localization.py
  .github/skills/testfx-localization-validation/SKILL.md
Due: none

Add generated localization validation (#11825)
  .github/scripts/check_localization.py
  .github/scripts/test_check_localization.py
  .github/skills/testfx-localization-validation/SKILL.md
  .github/workflows/check-localization.yml
Due: none

Clarify agentic workflow telemetry firewall guarantees
  .github/workflows/README.md
Due: none

Document acceptance validation runtime choice (#11827)
  .github/skills/testfx-acceptance-validation/SKILL.md
Due: none

Reserve test-review publication for reconciliation step
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Document agentic workflow runtime execution contracts (#11824)
  .github/skills/agentic-workflows/SKILL.md
  .github/skills/agentic-workflows/references/runtime-contracts.md
Due: none

Add behavior-preserving refactor recipe to file diet (#11821)
  .github/skills/behavior-preserving-refactor/SKILL.md
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-file-diet.md
Due: none

Support F# modules as MSTest test containers
  src/Adapter/MSTest.TestAdapter/PACKAGE.md
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TestMethodValidator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeValidator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestClassInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Execution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Lifecycle.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.AssemblyInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.ClassInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/MethodInfoExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TypeExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/TestFramework/TestFramework/Attributes/Lifecycle/Cleanup/TestCleanupAttribute.cs
  src/TestFramework/TestFramework/Attributes/Lifecycle/Initialization/TestInitializeAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestClassAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestMethodAttribute.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/FSharpModuleTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/FSharpTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeValidatorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTests.cs
Due: production, test

Add implementation-time parallel safety preflight (#11826)
  .github/skills/testfx-parallel-safety-preflight/SKILL.md
  .github/workflows/resource-lock-refactoring.lock.yml
  .github/workflows/resource-lock-refactoring.md
Due: none

Require independent regression-test effectiveness evidence (#11819)
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
Due: none

Align review templates with actual grades and publication step
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Calibrate reviewer findings against full context (#11823)
  .github/agents/expert-reviewer.agent.md
  .github/skills/code-review/SKILL.md
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Preserve invocation directory for default controller-launched test hosts
  docs/Changelog-Platform.md
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessConfiguration.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TestHostLauncherTests.cs
Due: production, test

Backport CTRF logical run identity fix to rel/4.5
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportEngine.JsonSerializer.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.OrchestrationSupport.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/EnvironmentVariableConstants.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CtrfReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
