Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Align UWP acceptance output with controller TFM
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Address native recorder review feedback
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/VideoRecorderResources.resx
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/WinAppCliVideoRecorder.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Microsoft.Testing.Extensions.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/VideoRecorderFactoryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/WinAppCliVideoRecorderTests.cs
Due: production, test

Fix UWP application model selection description
  src/Package/MSTest.Sdk/README.md
Due: production

Avoid fixed delays in client disposal tests
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientTests.cs
Due: test

Preserve Azure DevOps retry metadata types
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsLivePublishingModels.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsResultIdStore.Persistence.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.ResultPublishing.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: production, test

Update bundled Playwright for .NET to 1.63.0
  Directory.Packages.props
Due: none

Isolate native recorder lifecycle tests
  Microsoft.Testing.Platform.slnf
  TestFx.slnx
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Microsoft.Testing.Extensions.VideoRecorder.csproj
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Microsoft.Testing.Extensions.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/BannedSymbols.txt
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/WinAppCliVideoRecorderTests.cs
Due: production, test

Clarify video recorder backend selection
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderOptions.cs
Due: production

Fix middleware review findings
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostExecutionOrchestratorMiddlewarePipeline.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostBuilderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostExecutionOrchestratorMiddlewarePipelineTests.cs
Due: production, test

Reject unfinalized native recordings
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/WinAppCliVideoRecorder.cs
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/WinAppCliVideoRecorderTests.cs
Due: production, test

Address orchestrator middleware review feedback
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostExecutionOrchestratorMiddlewarePipeline.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostBuilderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostExecutionOrchestratorMiddlewarePipelineTests.cs
Due: production, test

Scope process-tree timeout test to modern .NET
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Fix parallel audit threat detection
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Drain late middleware descendants before cleanup
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostExecutionOrchestratorMiddlewarePipeline.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostBuilderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostExecutionOrchestratorMiddlewarePipelineTests.cs
Due: production, test

Fix parallel-safety audit threat detection (#11624)
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Fix Azure DevOps passed-on-rerun reporting (#11610)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsLivePublishingModels.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsResultIdStore.Persistence.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.AttemptPublishing.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.ResultPublishing.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: production, test

Create canonical MSTest execution spans (#11596)
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/InternalAPI/uwp/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestPlatformActivity.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestTestFramework.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MtpTestResultRecorder.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.DependencyGraphExecution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.Execution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.RunSingleTest.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestExecutionActivityLease.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
  src/Adapter/MSTestAdapter.PlatformServices/Telemetry/MSTestInstrumentation.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/ActivityWrapper.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryPlatformService.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/IPlatformOpenTelemetryServiceWithTestExecutionActivities.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/IPlatformTestExecutionActivity.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.Notifications.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.ResultHandling.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.Tags.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/TestExecutionActivityBroker.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/TestExecutionActivityProperty.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/OpenTelemetryActivityTopologyTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestTestNodeConverterTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryPlatformServiceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Telemetry/OpenTelemetryResultHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Telemetry/TestExecutionActivityBrokerTests.cs
Due: production, test

Consolidate Retry path-containment logic (#11575)
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/PathContainment.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryArtifactProcessor.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.ArtifactRecovery.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PathContainmentTests.cs
Due: production, test

Assert orchestrator middleware registration behavior
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostOrchestratorManagerTests.cs
Due: test

Preserve downstream faults across middleware failures
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostExecutionOrchestratorMiddlewarePipeline.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostExecutionOrchestratorMiddlewarePipelineTests.cs
Due: production, test

Use UseUwpTools to select the MSTest UWP application model (#11614)
  docs/winui-testing.md
  src/Package/MSTest.Sdk/README.md
  src/Package/MSTest.Sdk/Sdk/Runner/Common.targets
  src/Package/MSTest.Sdk/Sdk/Sdk.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Consolidate test quality reviews
  .github/agents/expert-reviewer.agent.md
  .github/agents/parallel-safety-reviewer.agent.md
  .github/workflows/README.md
  .github/workflows/agentic_commands.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit-command.md
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/parallel-safety-audit.md
  .github/workflows/shared/parallel-safety-audit-shared.md
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer-on-pr.agent.md
  .github/workflows/test-reviewer.agent.lock.yml
  .github/workflows/test-reviewer.agent.md
Due: none

Update bundled Playwright for .NET to 1.63.0 (#11623)
  Directory.Packages.props
Due: none

Harden test review delegation
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Split packaged app test host launcher
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.Authorization.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.ConnectBack.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.Deployment.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.LooseLayout.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.PackagedLaunch.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
Due: production

Use merge base in parallel review
  .github/agents/parallel-safety-reviewer.agent.md
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Consolidate test quality and parallel-safety reviews (#11625)
  .github/agents/expert-reviewer.agent.md
  .github/agents/parallel-safety-reviewer.agent.md
  .github/workflows/README.md
  .github/workflows/agentic_commands.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit-command.md
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/parallel-safety-audit.md
  .github/workflows/shared/parallel-safety-audit-shared.md
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer-on-pr.agent.md
  .github/workflows/test-reviewer.agent.lock.yml
  .github/workflows/test-reviewer.agent.md
Due: none

Improve MTP server-mode client mutation coverage (#11613)
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerConnector.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerInProcessHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.LaunchCommand.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.Shutdown.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.Startup.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  src/Platform/Microsoft.Testing.Platform/Messages/PropertyBag.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.TestNodeSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/RpcIdParser.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.TestNodeSerializers.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerConnectorTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/ProtocolMutationTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/SerializationMutationTests.cs
Due: production, test

Fix Dependabot issue bundler updates
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-issue-bundler.md
Due: none

Fix orchestrator validation test capability fixture
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostBuilderTests.cs
Due: test

Use GPT-5.6 Sol for Build Failure Analysis
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/shared/build-failure-analysis-shared.md
Due: none

Allow Dependabot Issue Bundler to update existing issues (#11627)
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-issue-bundler.md
Due: none

Use GPT-5.6 Sol for Build Failure Analysis (#11628)
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/shared/build-failure-analysis-shared.md
Due: none

Split PackagedApp test host launcher into partial files (#11626)
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.Authorization.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.ConnectBack.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.Deployment.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.LooseLayout.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.PackagedLaunch.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
Due: production

Add native Windows video recording proof of concept (#11597)
  Directory.Packages.props
  Microsoft.Testing.Platform.slnf
  NuGet.config
  TestFx.slnx
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/DESIGN.md
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/FfmpegVideoRecorder.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/IVideoRecorder.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Microsoft.Testing.Extensions.VideoRecorder.csproj
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/VideoRecorderResources.resx
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderOptions.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/WinAppCliVideoRecorder.cs
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/VideoRecorderFactoryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/VideoRecorderSessionHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/BannedSymbols.txt
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/WinAppCliVideoRecorderTests.cs
Due: production, test

Use preview packages in public hosting samples
  samples/public/Directory.Build.props
  samples/public/MTPHostIntegration/AspNetCoreTests/AspNetCoreTests.csproj
  samples/public/MTPHostIntegration/AspireTests/AspireTests.csproj
  samples/public/MTPHostIntegration/MTPHostIntegration.sln
  samples/public/MTPHostIntegration/ServiceDefaults/ServiceDefaults.csproj
  samples/public/MTPOTel/MTPOTel.csproj
  samples/public/NuGet.config
Due: none

Add public canonical test execution API
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/InternalAPI/uwp/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestTestFramework.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MtpTestResultRecorder.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.Execution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.RunSingleTest.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestExecutionActivityLease.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HotReload/HotReloadTestHostTestFrameworkInvoker.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Requests/TestHostTestFrameworkInvoker.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  src/Platform/Microsoft.Testing.Platform/TestFramework/ExecuteRequestContext.cs
  src/Platform/Microsoft.Testing.Platform/TestFramework/TestExecution.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/OpenTelemetryTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestTestNodeConverterTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestFramework/TestExecutionTests.cs
Due: production, test

Simplify preview hosting sample setup
  eng/build-samples.ps1
  samples/public/Directory.Build.props
  samples/public/MTPHostIntegration/AspNetCoreTests/AspNetCoreTests.csproj
  samples/public/MTPHostIntegration/AspireTests/AspireTests.csproj
  samples/public/MTPHostIntegration/Directory.Build.props
  samples/public/MTPHostIntegration/global.json
Due: none

Avoid swallowing fatal cleanup exceptions
  src/Platform/Microsoft.Testing.Platform/TestFramework/TestExecution.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
