Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Fix issue
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/MSTestRunnerWinUI.csproj
Due: none

Small fixes
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/MSTest.SelfRealExamples.UnitTests.csproj
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
Due: test

Revert "Disable hangdump on macOS (#7002)"
  test/Directory.Build.targets
Due: test

Include test display name in AzDO error reports (#7026)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTests.cs
Due: production, test

Add crashdump
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
Due: test

Crash dump
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/MSTest.SelfRealExamples.UnitTests.csproj
Due: test

Revert "Disable hangdump on macOS" (#7028)
  test/Directory.Build.targets
Due: test

Update src/Analyzers/MSTest.Analyzers.CodeFixes/DoNotNegateBooleanAssertionFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/DoNotNegateBooleanAssertionFixer.cs
Due: production

Update test/UnitTests/MSTest.Analyzers.UnitTests/DoNotNegateBooleanAssertionAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DoNotNegateBooleanAssertionAnalyzerTests.cs
Due: test

Update src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/Resources.resx
Due: production

removed redundant null and conditionArgument
  src/Analyzers/MSTest.Analyzers.CodeFixes/DoNotNegateBooleanAssertionFixer.cs
  src/Analyzers/MSTest.Analyzers/DoNotNegateBooleanAssertionAnalyzer.cs
Due: production

modification
  src/Analyzers/MSTest.Analyzers.CodeFixes/DoNotNegateBooleanAssertionFixer.cs
Due: production

added test cases for named arguments
  test/UnitTests/MSTest.Analyzers.UnitTests/DoNotNegateBooleanAssertionAnalyzerTests.cs
Due: test

Update logic of detection
  src/TestFramework/TestFramework/Attributes/TestMethod/OSConditionAttribute.cs
Due: production

Apply suggestion from @Evangelink
  src/TestFramework/TestFramework/Attributes/TestMethod/OSConditionAttribute.cs
Due: production

Fix OSConditionAttribute to detect OS via reflection for .NET Framework on Mono (#7001)
  src/TestFramework/TestFramework/Attributes/TestMethod/OSConditionAttribute.cs
Due: production

Add samples build verification to CI pipeline (#6802)
  azure-pipelines.yml
  eng/build-samples.ps1
  samples/.editorconfig
  samples/public/BlankWinUINet9App/UnitTests.cs
  samples/public/Directory.Build.props
  samples/public/mstest-runner/MSTestProjectWithExplicitMain/MSTestProjectWithExplicitMain/MSTestProjectWithExplicitMain.csproj
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI.sln
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI.slnx
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/LockScreenLogo.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/SplashScreen.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/Square150x150Logo.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/Square44x44Logo.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/StoreLogo.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/Wide310x150Logo.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/MSTestRunnerWinUI.csproj
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Package.appxmanifest
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Properties/PublishProfiles/win-arm64.pubxml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Properties/PublishProfiles/win-x64.pubxml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Properties/PublishProfiles/win-x86.pubxml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Properties/launchSettings.json
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTestApp.xaml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTestApp.xaml.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTestAppWindow.xaml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTestAppWindow.xaml.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTests.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/app.manifest
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/MainWindow.xaml
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/MainWindow.xaml.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/Properties/launchSettings.json
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/TestClass.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/app.manifest
  samples/public/mstest-runner/RunInDocker/MyServer.Tests/UnitTest1.cs
  samples/public/mstest-runner/Simple1/Simple1.sln
Due: none

Adjust
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/MSTest.SelfRealExamples.UnitTests.csproj
Due: test

Update SECURITY.md
  SECURITY.md
Due: none

Update SECURITY.md (#6867)
  SECURITY.md
Due: none

Set EnableMSTestRunner in MSTest.SelfRealExamples.UnitTests (#5838)
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/MSTest.SelfRealExamples.UnitTests.csproj
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/ParameterizedTestSerializationIssue2390.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/TestExecutionContextPropagationFromTestMethodAttributeToTestMethod.cs
Due: test

Remove note about location.*
  docs/mstest-runner-protocol/003-protocol-ide-integration-extensions.md
Due: none

Remove note about location.* (#7031)
  docs/mstest-runner-protocol/003-protocol-ide-integration-extensions.md
Due: none

Cleanup unneeded workaround
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.cs
Due: production

Fix the value of TestClassNameProperty
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
Due: production

Cleanup unneeded workaround (#7034)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
Due: production

MSTEST0037: Report diagnostics for user-defined operators when they originate from BCL
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

Update src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
Due: production

Fix issues
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/UseParallelizeAttributeAnalyzerTests.cs
Due: production, test

Fix F# playground
  samples/FSharpPlayground/FSharpPlayground.fsproj
  samples/FSharpPlayground/Program.fs
Due: none

MSTEST0037: Report diagnostics for user-defined operators when they originate from BCL (#7037)
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

Adjust tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Add F# playground project to samples (#7038)
  MSTest.slnf
  Microsoft.Testing.Platform.slnf
  TestFx.slnx
  samples/FSharpPlayground/FSharpPlayground.fsproj
  samples/FSharpPlayground/Program.fs
  samples/FSharpPlayground/Tests.fs
  samples/FSharpPlayground/config.runsettings
Due: none

Fix
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxEnvironmentVariableProvider.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: production, test

Apply suggestions from code review
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
Due: production

Fix xlf files
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Fix resx
  src/Analyzers/MSTest.Analyzers/Resources.resx
Due: production

Fix MTP command-line parsing
  src/Platform/Microsoft.Testing.Platform/CommandLine/Parser.cs
Due: production

Fix bad tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/ArgumentArityTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineTests.cs
Due: test

Fix parser implementation
  src/Platform/Microsoft.Testing.Platform/CommandLine/Parser.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
Due: production, test
