Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Share dotnet test wire contract (ObjectFieldIds + Constants) as source (#9218)
  TestFx.slnx
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestProtocolContract.props
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/BannedSymbols.txt
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: production, test

test: add edge case tests for TestContextShouldBeValidAnalyzer (MSTEST0005)
  test/UnitTests/MSTest.Analyzers.UnitTests/TestContextShouldBeValidAnalyzerTests.cs
Due: test

Cleanup TestHostBuilder (#9221)
  src/Platform/Microsoft.Testing.Platform/Hosts/ConsoleTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestExecution.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestFrameworkBuilderData.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Framework.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
Due: production

test: consolidate non-public setter tests into data-driven test
  test/UnitTests/MSTest.Analyzers.UnitTests/TestContextShouldBeValidAnalyzerTests.cs
Due: test

Increase Duplicate Code Detector max-ai-credits to 2000 (#9228)
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
Due: none

Split Assert.Count.cs into focused files (#9220)
  src/TestFramework/TestFramework/Assertions/Assert.Count.InterpolatedStringHandlers.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/Assertions/Assert.HasCount.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsEmpty.cs
Due: production

Increase Duplicate Code Detector max-ai-credits to 2000 (#9228) (#9229)
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
Due: none

Add source NuGet package for the dotnet test wire contract
  TestFx.slnx
  src/Platform/Microsoft.Testing.Platform.DotnetTestProtocol/Microsoft.Testing.Platform.DotnetTestProtocol.csproj
  src/Platform/Microsoft.Testing.Platform.DotnetTestProtocol/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestProtocolContract.props
Due: production

Document why the source package targets netstandard2.0 (not net8/9/10)
  src/Platform/Microsoft.Testing.Platform.DotnetTestProtocol/Microsoft.Testing.Platform.DotnetTestProtocol.csproj
Due: production

Address review: align NopPlatformOutputDevice.Version with PlatformVersion; fix protocol contract tests after SupportedVersions rename
  src/Platform/Microsoft.Testing.Platform/OutputDevice/NopPlatformOutputDevice.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/NopPlatformOutputDeviceTests.cs
Due: production, test

[test-improver] test: add edge case tests for TestContextShouldBeValidAnalyzer (MSTEST0005) (#9223)
  test/UnitTests/MSTest.Analyzers.UnitTests/TestContextShouldBeValidAnalyzerTests.cs
Due: test

Fix MSBuild file quality findings from #9227
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  src/Package/MSTest.Sdk/Sdk/Runner/Common.targets
Due: production

Add class-level XML doc summary to Assert.HasCount/IsEmpty for sibling consistency
  src/TestFramework/TestFramework/Assertions/Assert.HasCount.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsEmpty.cs
Due: production

Fix MSBuild file quality findings from #9227 (#9232)
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  src/Package/MSTest.Sdk/Sdk/Runner/Common.targets
Due: production

Split Assert.Count.cs into focused files (#9220) (#9230)
  src/TestFramework/TestFramework/Assertions/Assert.Count.InterpolatedStringHandlers.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/Assertions/Assert.HasCount.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsEmpty.cs
Due: production

Address review: make package pack-only, fix props comment/indentation
  src/Platform/Microsoft.Testing.Platform.DotnetTestProtocol/Microsoft.Testing.Platform.DotnetTestProtocol.csproj
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestProtocolContract.props
Due: production

Fix NopPlatformOutputDeviceTests: assert version is non-empty, not cross-assembly equal
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/NopPlatformOutputDeviceTests.cs
Due: test

Update DotnetTestPipeBaselineTests summary to reflect no-op device is installed in this PR
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeBaselineTests.cs
Due: test

Mark dotnet test contract types [Embedded]; source-link ids instead of IVT
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.Retry/Microsoft.Testing.Extensions.Retry.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/ObjectFieldIds.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
Due: production, test

Add ArchitectureConditionAttribute to gate tests by process architecture
  src/TestFramework/TestFramework/Attributes/TestMethod/ArchitectureConditionAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/Architectures.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Attributes/ArchitectureConditionAttributeTests.cs
Due: production, test

Simplify ReportAssertIsNotEmptyFailed: use string literal "0" instead of 0.ToString(CultureInfo.CurrentCulture)
  src/TestFramework/TestFramework/Assertions/Assert.IsEmpty.cs
Due: production

Avoid plugging in TerminalOutputDevice when running with pipe protocol (#7564)
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/NopPlatformOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeBaselineTests.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/NopPlatformOutputDeviceTests.cs
Due: production, test

Add source NuGet package for the dotnet test wire contract (follow-up to #9218) (#9231)
  TestFx.slnx
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.Retry/Microsoft.Testing.Extensions.Retry.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Platform.DotnetTestProtocol/Microsoft.Testing.Platform.DotnetTestProtocol.csproj
  src/Platform/Microsoft.Testing.Platform.DotnetTestProtocol/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestProtocolContract.props
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/ObjectFieldIds.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
Due: production, test

docs: add MemberConditionAttribute, OSConditionAttribute, and TestContainer to glossary
  docs/glossary.md
Due: none

docs: add missing 4.3.0/2.3.0 changelog entries for #9182, #9192, #9195, #9212
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

[docs] Update glossary - daily scan (#9240)
  docs/glossary.md
Due: none

Address review: rename enum to TestArchitectures, fix net462 detection, run tests on net48
  src/TestFramework/TestFramework/Attributes/TestMethod/ArchitectureConditionAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestArchitectures.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Attributes/ArchitectureConditionAttributeTests.cs
Due: production, test

Make ArchitectureCondition .NET-only, drop net462 custom detection
  src/TestFramework/TestFramework/Attributes/TestMethod/ArchitectureConditionAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestArchitectures.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Attributes/ArchitectureConditionAttributeTests.cs
Due: production, test

Refactor TestExecutionManager into focused partial-class files
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.TestContext.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Utilities.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
Due: production

Increase Duplicate Code Detector max-ai-credits to 4000
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
Due: none

[code-simplifier] Simplify ReportAssertIsNotEmptyFailed: use "0" literal instead of 0.ToString(CultureInfo.CurrentCulture) (#9234)
  src/TestFramework/TestFramework/Assertions/Assert.IsEmpty.cs
Due: production

Address review feedback: TODO policy and empty catch block
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
Due: production

Increase Duplicate Code Detector max-ai-credits to 4000 (#9244)
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
Due: none

Update and recompile agentic workflows
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/link-checker.md
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/markdown-linter.md
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/shared/grade-tests-shared.md
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

docs: add missing 4.3.0/2.3.0 changelog entries for `#9182`, `#9192`, `#9195`, `#9212` (#9241)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Drop duplicate Copilot attribution footer on expert-review workflows
  .github/agents/expert-reviewer.agent.md
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-after-autofix.agent.md
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review-on-open.agent.md
  .github/workflows/review.agent.lock.yml
  .github/workflows/review.agent.md
  .github/workflows/shared/review-shared.md
Due: none

Address review feedback on ArchitectureCondition
  src/TestFramework/TestFramework/Attributes/TestMethod/ArchitectureConditionAttribute.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Attributes/ArchitectureConditionAttributeTests.cs
Due: production, test

Guard arguments.Length in --output/--show-stdout/--show-stderr validation
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProvider.cs
Due: production

Update and recompile agentic workflows (#9245)
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/link-checker.md
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/markdown-linter.md
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/shared/grade-tests-shared.md
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none
