Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Extract magic number to constant (#7252)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestProgressStateAwareTerminal.cs
Due: production

Use symbol comparison instead of type string comparison
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
Due: production

Rework MSTEST0016 message and description
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Refactor
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

Follow-up on disable progress on non-capable terminal
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Delete unused UnitTestResult internal class
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestResultExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestResult.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/UnitTestResultTest.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Extensions/TestResultExtensionsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/ObjectModel/UnitTestResultTests.cs
Due: production, test

Update src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

Feedback
  src/Adapter/MSTestAdapter.PlatformServices/Execution/SynchronizationContextPreservingAsyncTaskMethodBuilder.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/SynchronizationContextPreservingTask.cs
Due: production

Update test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SynchronizationContextTests.cs
Due: test

Fix build
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ExecutionContextHelpers.cs
Due: production

Use abstraction over EqtTrace on platform services
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/BridgedTraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/AssemblyResolver.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/CsvDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/OdbcDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/OleDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/SqlDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/TestDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/TestDataConnectionFactory.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/TestDataConnectionSql.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/XmlDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Deployment/AssemblyLoadWorker.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IAdapterTraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/FileOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/MSTestAdapterSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/SettingsProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestDataSource.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestDeployment.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AssemblyUtility.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentUtility.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentUtilityBase.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/FileUtility.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/DesktopTestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/AssemblyResolverTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestDataSourceTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestDeploymentTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/MSTestAdapterSettingsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestDeploymentTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/AppDomainUtilitiesTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/DeploymentUtilityTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/FileUtilityTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/VSInstallationUtilitiesTests.cs
Due: production, test

Fix MSTEST0037 false positive for char overloads
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

Report discovered telemetry events correctly for MTP (#7219)
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/TelemetryProperties.cs
Due: production

Respect working directory of 'dotnet test' when determining results directory
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/AggregatedConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/ConfigurationManager.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/EnvironmentVariableConstants.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  test/UnitTests/MSTest.Engine.UnitTests/Adapter_ExecuteRequestAsyncTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/AggregatedConfigurationTests.cs
Due: production, test

Cleanup dead code
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
  src/Platform/Microsoft.Testing.Platform/Services/ExecutableInfo.cs
Due: production

Delete dead code
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/TestHostControllersManager.cs
Due: production

Fixes
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/BridgedTraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/AssemblyResolver.cs
  src/Adapter/MSTestAdapter.PlatformServices/Deployment/AssemblyLoadWorker.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AssemblyUtility.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/DesktopTestSourceHostTests.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/PlatformServices.Desktop.IntegrationTests.csproj
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceHostTests.cs
  test/Utilities/FakeTraceLogger.cs
Due: production, test

Fix build
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/ConfigurationManagerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: test

Update runtimes in global.json
  global.json
Due: none

Fix
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
Due: test

Remove unintentionally checked in code
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
Due: test

Address review comment
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/TestClassShouldHaveTestMethodAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/TestClassShouldHaveTestMethodAnalyzerTests.cs
Due: production, test

Move adapter utilities to adapter project
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/PlatformServiceProviderInitializer.cs
  src/Adapter/MSTest.TestAdapter/Services/ManagedNameUtilityService.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/AdapterUtilitiesConstants.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestCaseExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/IPlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IManagedNameUtilityService.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Reduce platform services dependency on VSTest
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/NopTraceLogger.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/EqtTraceLogger.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/AssemblyResolver.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/CsvDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/TestDataConnectionSql.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/XmlDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/ITraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/FileOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/MSTestAdapterSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestDeployment.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/TraceLoggerHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AssemblyUtility.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentUtility.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentUtilityBase.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/FileUtility.cs
Due: production

Align implementations
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/BridgedTraceLogger.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MTPTraceLogger.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/NopTraceLogger.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/EqtTraceLogger.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/AssemblyResolver.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/CsvDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/TestDataConnectionSql.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/XmlDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumeratorWrapper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ExceptionHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestClassInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/DictionaryHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ReflectHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/IPlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IAdapterTraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/NopTraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/FileOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/MSTestAdapterSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestDeployment.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/TraceLoggerHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AssemblyUtility.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentUtility.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentUtilityBase.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/FileUtility.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

First step removing adapter utilities
  Directory.Packages.props
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.NonWindows.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestCaseExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/HierarchyConstants.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/InvalidManagedNameException.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ManagedNameHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ManagedNameParser.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/MSTest.Analyzers.UnitTests.csproj
Due: production, test

Improve managed type
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ManagedNameHelper.cs
Due: production

Cleanup
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ManagedNameHelper.cs
Due: production

Cleanup more
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ManagedNameHelper.cs
Due: production

Further cleanup
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ManagedNameHelper.cs
Due: production

Further cleanup
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
Due: production

Cleanup more
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ObjectModel/ITestMethod.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
Due: production

More cleanup
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/HierarchyConstants.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/InvalidManagedNameException.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ManagedNameHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ManagedNameParser.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TestCaseDiscoverySinkAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

TODO comment
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
Due: production

Extremely annoying hack :/
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
Due: production

Update ObjectModelConvertersTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: test

Update verify-nupkgs.ps1
  eng/verify-nupkgs.ps1
Due: none

Apply suggestions from code review
  src/Analyzers/MSTest.Analyzers/Resources.resx
Due: production

Apply suggestion from @Evangelink
  src/Analyzers/MSTest.Analyzers/TestClassConstructorShouldBeValidAnalyzer.cs
Due: production
