Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix hangdump not working under dotnet test with .NET 10 SDK (#6968)
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpActivityIndicator.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpEnvironmentVariableProvider.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
Due: production, test

Fix resource message
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Fix
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInRange.cs
Due: test

Revert Add timeout tests for GlobalTestInitializeAttribute and GlobalTestCleanupAttribute
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutTests.cs
Due: test

Fix
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutTests.cs
Due: test

Add TimingProperty with step timing to internal test framework test nodes (#6882)
  test/Utilities/TestFramework.ForTestingMSTest/TestFrameworkEngine.cs
Due: test

Disable signing validation temporarily
  azure-pipelines-official.yml
Due: none

Revert Add timeout tests for GlobalTestInitializeAttribute and GlobalTestCleanupAttribute (#6978)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutTests.cs
Due: test

Disable signing validation temporarily (#6981)
  azure-pipelines-official.yml
Due: none

Unskip TimeoutTests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutTests.cs
Due: test

Allow minValue and maxValue to equal in Assert.IsInRange (#6976)
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInRange.cs
Due: production, test

Apply suggestion from @Evangelink
  azure-pipelines.yml
Due: none

Address some comments
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Fix markdownlint issues
  README.md
  docs/dev-guide.md
Due: none

Update ParameterizedTestSerializationIssue2390.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/ParameterizedTestSerializationIssue2390.cs
Due: test

Update MSTest.SelfRealExamples.UnitTests.csproj
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/MSTest.SelfRealExamples.UnitTests.csproj
Due: test

from source
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/MSTest.SelfRealExamples.UnitTests.csproj
Due: test

Set EnableMSTestRunner in MSTest.SelfRealExamples.UnitTests
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/MSTest.SelfRealExamples.UnitTests.csproj
Due: test

Update TestExecutionContextPropagationFromTestMethodAttributeToTestMethod.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/TestExecutionContextPropagationFromTestMethodAttributeToTestMethod.cs
Due: test

Update Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
Due: test

Fixes
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Fix tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Update
  eng/build-samples.ps1
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/Properties/PublishProfiles/win-arm64.pubxml
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/Properties/PublishProfiles/win-x64.pubxml
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/Properties/PublishProfiles/win-x86.pubxml
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/UnitTest.csproj
Due: none

message is confusing with objects
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

Revert "Disable signing validation temporarily (#6981)"
  azure-pipelines-official.yml
Due: none

Revert "Disable signing validation temporarily" (#6988)
  azure-pipelines-official.yml
Due: none

Report the actual exception from assertion
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

Don't show test duration when not known (#6951)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Use output detailed for dotnet test, and disable apphost on macOS
  azure-pipelines.yml
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSTest.Acceptance.IntegrationTests.csproj
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests.csproj
Due: test

Unskip TimeoutTests (#5988)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutTests.cs
Due: test

Fixes
  eng/build-samples.ps1
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI.sln
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI.slnx
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/LockScreenLogo.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/SplashScreen.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/Square150x150Logo.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/Square44x44Logo.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/StoreLogo.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Assets/Wide310x150Logo.scale-200.png
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/MSTestRunnerWinUI.csproj
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Package.appxmanifest
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Properties/PublishProfiles/win-arm64.pubxml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Properties/PublishProfiles/win-x64.pubxml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Properties/PublishProfiles/win-x86.pubxml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/Properties/launchSettings.json
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTestApp.xaml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTestApp.xaml.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTestAppWindow.xaml
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTestAppWindow.xaml.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/UnitTests.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/app.manifest
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/MainWindow.xaml
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/MainWindow.xaml.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/Properties/launchSettings.json
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/TestClass.cs
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/app.manifest
Due: none

More fixes
  samples/public/Directory.Build.props
  samples/public/mstest-runner/MSTestRunnerWinUI/MSTestRunnerWinUI/MSTestRunnerWinUI.csproj
Due: none

Fix acceptance tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Update global.json to remove outdated runtimes
  global.json
Due: none

Fix remaining integration tests failures
  global.json
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
