Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

remove WellKnownTypeNames (#4856)
  src/Analyzers/MSTest.Internal.Analyzers/WellKnownTypeNames.cs
Due: production

remove IsAsyncDisposeImplementation (#4875)
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/IMethodSymbolExtensions.cs
Due: production

remove IsHotReloadSupported (#4868)
  src/Platform/Microsoft.Testing.Platform/Helpers/System/IRuntimeFeature.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemRuntimeFeature.cs
Due: production

remove redundant TestContext in sample (#4872)
  samples/Playground/Tests.cs
Due: none

remove redundant IPushOnlyProtocol.Name (#4851)
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/IPushOnlyProtocol.cs
Due: production

remove TestNodeUpdateCollector.IsComplete (#4878)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ServerMode/TestNodeUpdateCollector.cs
Due: test

remove un-used members from PooledHashSet (#4877)
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/PooledHashSet.cs
Due: production

remove redundant AddDataConsumer (#4858)
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/TestHostControllersManager.cs
Due: production

remove ExtractVersionFromVersionPropsFile (#4880)
  test/Performance/MSTest.Performance.Runner/Scenarios/Scenario1.cs
Due: test

pass some missing cancellationTokens (#4857)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ConsumingEnumerableConsumerDataProcessor.cs
Due: production

remove GetDisplayName (#4882)
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
Due: production

remove redundant AssemblyDiscoveryCompleted (#4863)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Cleanup VB entrypoint
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
Due: production, test

.
  src/Platform/Microsoft.Testing.Platform/Helpers/System/ITask.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemTask.cs
Due: production

remove IsDisposeImplementation (#4874)
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/IMethodSymbolExtensions.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2632801
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Small fix
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
Due: production

Fix MSTest metapackage README
  src/Package/MSTest/PACKAGE.md
Due: production

Update TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

.
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
  src/Platform/Microsoft.Testing.Platform/Services/ITestApplicationModuleInfo.cs
Due: production

Disable CentralPackageTransitivePinningEnabled
  Directory.Packages.props
Due: none

Cleanup VB entrypoint (#4884)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
Due: production, test

remove redundant GetCommandLineArguments (#4850)
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
  src/Platform/Microsoft.Testing.Platform/Services/ITestApplicationModuleInfo.cs
Due: production

Adjust
  src/Package/MSTest/MSTest.csproj
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2632869
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2632870
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

remove redundant ITask members (#4867)
  src/Platform/Microsoft.Testing.Platform/Helpers/System/ITask.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemTask.cs
Due: production

remove DynamicDataTargetAssetPath and TestSourceDataTargetAssetPath (#4879)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ParameterizedTestTests.cs
Due: test

Drop unnecessary `PackageVersion` entries
  Directory.Packages.props
Due: none

Drop unnecessary PackageReference from platform services
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
Due: production

Fix MSTest metapackage README (#4887)
  src/Package/MSTest/PACKAGE.md
Due: production

Drop unnecessary `PackageVersion` entries (#4891)
  Directory.Packages.props
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
Due: production

rename ExecutableInfo FileName to FilePath
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
  src/Platform/Microsoft.Testing.Platform/Services/ExecutableInfo.cs
Due: production

remove TerminalOutputDevice ITestApplicationCancellationTokenSource field
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

convert _testApplicationModuleInfo to a local variable
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

remove TerminalOutputDevice _process
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

avoid 2x string allocs in TerminalOutputDevice
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

JoinSingleLineAndShorten first cant be null
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/FailedTestHelper.cs
Due: production

see if CI lets me range index
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/FileUtility.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/FailedTestHelper.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/ns10FileUtilityTests.cs
Due: production, test

Update RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
