Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Bump VSTest to 18.10.0-preview-26365-01
  Directory.Packages.props
Due: none

Implement packaged (MSIX) registration and AUMID activation (#9933)
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/ActivatedAppTestHostHandle.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/Windows/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Interop/ApplicationActivationManager.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackHandshake.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackReader.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/TestingPlatformBuilderHook.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppConnectBackHandshakeTests.cs
Due: production, test

Skip [AssemblyFixtureProvider] under Native AOT + add MSTEST0072 analyzer (#9941)
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.ProviderDiscovery.cs
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AssemblyFixtureProviderNotSupportedWithNativeAotAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssemblyFixtureProviderNativeAotTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssemblyFixtureProviderNotSupportedWithNativeAotAnalyzerTests.cs
Due: production, test

Address PR review: keep WellKnownTypeNames sorted, use OfType in dictionary check
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.Collection.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3023041
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Address PR review feedback for packaged (MSIX) launch (#9933)
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/ActivatedAppTestHostHandle.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/Windows/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Interop/ApplicationActivationManager.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackHandshake.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackReader.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/TestingPlatformBuilderHook.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppConnectBackHandshakeTests.cs
Due: production, test

Address review: CTRF test-level timing fallback + TRX nested staging exclusion
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Merge.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportEngineMergeTests.cs
Due: production, test

Make concurrent params-metadata regression test deterministic
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
Due: production, test

Address review: never delete input trees during TRX attachment relocation
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Merge.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportEngineMergeTests.cs
Due: production, test

test: add edge-case tests for TestClassShouldBeValidAnalyzer static-class guard (#9967)
  test/UnitTests/MSTest.Analyzers.UnitTests/TestClassShouldBeValidAnalyzerTests.cs
Due: test

Add MTP server-mode client project with unit tests
  TestFx.slnx
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/IMtpClientLogger.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/IMtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpJsonRpcConnection.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpServerClientExceptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpServerClientOptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpServerProcess.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/SerializerUtilities.ClientSerializers.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Microsoft.Testing.Platform.ServerClient.csproj
  src/Platform/Microsoft.Testing.Platform.ServerClient/PlatformResourcesShim.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/FormatterUtilities.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.Deserializers.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/BannedSymbols.txt
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/FakeMtpServer.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/MtpServerClientTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/TestSetup.cs
Due: production, test

Cache ParamArrayAttribute reflection in TestMethodInfo (#9960)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.ArgumentResolution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
Due: production, test

Fix MSTEST0037 incorrectly rewriting non-generic IDictionary.Contains (#9968)
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.Collection.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.IsTrueIsFalse.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

GitHubActionsReport: surface exit-code verdict and per-assembly clarity
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsAnnotationReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsExitCode.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsSummaryReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/GitHubActionsResources.resx
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsExitCodeTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSummaryReporterTests.cs
Due: production, test

Fix CI cross-OS build and address second review round (#9933)
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackHandshake.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackReader.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppConnectBackHandshakeTests.cs
Due: production, test

perf: avoid PropertyBag scan in AddTrxResultProperties
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestTestNodeConverter.cs
Due: production

Fix IDE0008 CI break + address review: relocation confinement, staging cleanup, docs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Merge.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/FileArtifactMessagesSerializer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportEngineMergeTests.cs
Due: production, test

refactor: simplify visibility check in TestClassShouldBeValidAnalyzer
  src/Analyzers/MSTest.Analyzers/TestClassShouldBeValidAnalyzer.cs
Due: production

Address review: scope exit-code docs and add end-to-end acceptance coverage
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsAnnotationReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/PACKAGE.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/GitHubActionsReportTests.cs
Due: production, test

Don't report MSTEST0065 on collection types that declare their own equality
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Expert review round 1: rename param, tighten PACKAGE.md note, add Unknown-reason test
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsAnnotationReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/PACKAGE.md
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsExitCodeTests.cs
Due: production, test

Fix MSTEST0037 incorrectly rewriting non-generic IDictionary.Contains
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.Collection.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.IsTrueIsFalse.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

Address review: add UTF-8 BOM to new files, drop unreachable-abort claims, fix markdownlint
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsExitCode.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsSummaryReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/PACKAGE.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/GitHubActionsReportTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsExitCodeTests.cs
Due: production, test

Dedup TestRunParameters CLI option provider (#9969)
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestTestRunParametersCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/CommandLine/TestRunParametersCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/SharedExtensionHelpers/TestRunParametersCommandLineOptionsProviderBase.cs
Due: production

Address review: base MSTEST0065 opt-out on selected type, comparer, constraints, override root
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Make report merges deterministic and non-destructive (RFC 018 review)
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Merge.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/JUnitReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportEngineMergeTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3023226
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
Due: production

Enable opt-in BuildXL (MSBuildCache) project caching
  Directory.Build.props
  Directory.Packages.props
  docs/build-caching.md
  eng/build-with-cache.ps1
  eng/projectcaching.props
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3023226
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Address review: fix constraint equality target and struct ValueType.Equals walk
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Use expression body for GetHandshakeFileName test (fixes IDE0022 CI break)
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppConnectBackHandshakeTests.cs
Due: test

Address expert review: document constraint limitation, fix comment, add coverage
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Apply suggestions from code review
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackHandshake.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackReader.cs
Due: production

Make BuildXL cache the gating Windows CI build
  azure-pipelines.yml
  docs/build-caching.md
  eng/build-with-cache.ps1
Due: none

Address review round 3: comparer default-eligibility, transitive constraints, comment fixes
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Fix build-failure-analyst NuGet MCP invocation and inline-cap docs
  .github/agents/build-failure-analyst.agent.md
Due: none

Address review: treat any constant-null comparer (default/default(T)) as the default
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Fix TRX per-test ResultFile relocation, naming, and IDE0008 (RFC 018 review)
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Merge.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportEngineMergeTests.cs
Due: production, test

Fix IDE0007 in merge test (use var for apparent type)
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportEngineMergeTests.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
