Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add a checkout-independent guard for the long-path resolution order
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxLongPathHelperTests.cs
Due: test

Correct retry-layout wording in RFC 016
  docs/RFCs/016-JUnit-Report.md
Due: none

Don't claim a retry-rescued run's top-level report is all-passed
  docs/RFCs/016-JUnit-Report.md
Due: none

Fix reversed directory hierarchy in RFC 016 retry wording
  docs/RFCs/016-JUnit-Report.md
Due: none

Document that `{Locked=...}` is a substring match in localization guidance (#10314)
  .github/agents/expert-reviewer.agent.md
  .github/copilot-instructions.md
Due: none

Document actual `--retry-failed-tests` JUnit artifact layout in RFC 016 (#10315)
  docs/RFCs/016-JUnit-Report.md
Due: none

Complete MSTEST0077 test coverage: [DoNotParallelize] opt-out and remaining Directory.* allowlist entries (#10317)
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
Due: test

Consolidate duplicated attribute-query logic into a shared AttributeQueryHelper (#10309)
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/AttributeQueryHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ReflectHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/Services/ReflectionOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionOperations.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Helpers/AttributeQueryHelperTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/ReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/SourceGeneration/SourceGeneratedReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/MockableReflectionOperations.cs
Due: production, test

Give each acceptance test its own TRX source artifact file
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Fix assertion count in BrowserWasmExecutionTests class summary
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
Due: test

Move OneLocBuild into its own stage so loc failures don't block publishing
  azure-pipelines-official.yml
Due: none

Simplify array initialization in TestDependencyGraph
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.ChunkBuilding.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.SequentialSet.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
Due: production

Correct stale docs contradicted by the browser-wasm fix
  samples/BrowserPlayground/Program.cs
  samples/BrowserPlayground/README.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/WasmExecutionTests.cs
Due: test

Route TRX attachment file access through IFileSystem
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/TrxResultStreamingStore.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Artifacts.cs
Due: production

Surface AzDO test run URL and send pipelineReference when live publishing
  docs/Changelog-Platform.md
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsLivePublishingModels.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsClient.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.Configuration.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/AzureDevOpsResources.resx
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: production, test

Address code review feedback
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.ChunkBuilding.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
Due: production

Preserve the shipped non-generic provider lookup across version skew
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.FilterDiscovery.cs
  src/TestFramework/TestFramework/Filtering/ITestFilterProviderAttribute.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterProviderRegistrationTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTestFilterProviderTests.cs
Due: production, test

perf: cache progress summary text in TestNodeResultsState
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestNodeResultsState.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Report recovery instead of inferring it, and keep every count in one unit
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryFailedTestsPipeServer.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetrySummaryReporter.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryThresholdPolicy.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/Serializers/TestRunCountsRequest.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/FlakyTestsReportingOptions.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalResources.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: production, test

Keep the generic attribute's FilterType off the public surface
  src/TestFramework/TestFramework/Attributes/Lifecycle/TestFilterProviderAttributeOfT.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
Due: production

Use a relative path in the short-path long-path helper test
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxLongPathHelperTests.cs
Due: test

Fix two stale documentation claims
  docs/glossary.md
  src/TestFramework/TestFramework/Attributes/Lifecycle/TestFilterProviderAttribute.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3034384
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3034384
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3034384
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3034384
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3034384
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.de.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3034384
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3034384
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Pin the NoInlining isolation that protects the old-framework path
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTestFilterProviderTests.cs
Due: test

Fix two defects the round-2 review found in the round-1 fixes
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryFailedTestsPipeServer.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/Serializers/TestRunCountsRequest.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalResources.resx
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Summary.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Stop MSTEST0081 firing on attribute applications the compiler rejects
  docs/Changelog.md
  src/Analyzers/MSTest.Analyzers/TestFilterProviderShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/TestFilterProviderShouldBeValidAnalyzerTests.cs
Due: production, test

Drop the skipped-after-retry adjustment: it could not be made correct here
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryFailedTestsPipeServer.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/Serializers/TestRunCountsRequest.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: production, test

Make the Azure DevOps report extension usable on browser-wasm (#10321)
  docs/Changelog-Platform.md
  samples/BrowserPlayground/Program.cs
  samples/BrowserPlayground/README.md
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsClient.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Unshipped.txt
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/WasmExecutionTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTestResultsClientHandlerTests.cs
Due: production, test

Tighten the generic marker probe and stop stacking on constraint errors
  docs/Changelog.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.FilterDiscovery.cs
  src/Analyzers/MSTest.Analyzers/TestFilterProviderShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/TestFilterProviderShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTestFilterProviderTests.cs
Due: production, test

Simplify array initialization in TestDependencyGraph (#10326)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.ChunkBuilding.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.SequentialSet.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
Due: production

Exercise the provider lookup under the source-generated metadata modes
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterProviderRegistrationTests.cs
Due: test

Address PR review feedback on retry summary accounting
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetrySummaryReporter.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryThresholdPolicy.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestProgressState.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Include the effective cultures in the summary text cache key
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestNodeResultsState.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Document why the analyzer's negative tests are meaningful
  test/UnitTests/MSTest.Analyzers.UnitTests/TestFilterProviderShouldBeValidAnalyzerTests.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
