Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Drive MSTEST0078 cycle analysis from the test class
  src/Analyzers/MSTest.Analyzers/DependsOnShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DependsOnShouldBeValidAnalyzerTests.cs
Due: production, test

Reject generic and static test classes in MSTEST0078, restore BOM
  src/Analyzers/MSTest.Analyzers/DependsOnShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DependsOnShouldBeValidAnalyzerTests.cs
Due: production, test

Close two gaps in MSTEST0078 cycle reporting
  src/Analyzers/MSTest.Analyzers/DependsOnShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DependsOnShouldBeValidAnalyzerTests.cs
Due: production, test

Only count runnable tests as duplicate signatures in MSTEST0078
  src/Analyzers/MSTest.Analyzers/DependsOnShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DependsOnShouldBeValidAnalyzerTests.cs
Due: production, test

Mirror the TestContext property gate in MSTEST0078
  src/Analyzers/MSTest.Analyzers/DependsOnShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DependsOnShouldBeValidAnalyzerTests.cs
Due: production, test

Apply the duplicate bail-out per node and fix the no-effect wording
  src/Analyzers/MSTest.Analyzers/DependsOnShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DependsOnShouldBeValidAnalyzerTests.cs
Due: production, test

Add MSTEST0078 and [DependsOn]/[ResourceLock] telemetry (#10294)
  docs/RFCs/022-Test-Dependencies.md
  src/Adapter/MSTestAdapter.PlatformServices/Telemetry/MSTestTelemetryDataCollector.cs
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/DependsOnShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DependsOnShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Telemetry/MSTestTelemetryDataCollectorTests.cs
Due: production, test

Fix Content-Length byte/char mismatch in the server-mode TCP transport
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/TcpMessageHandler.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/TcpMessageHandlerFramingTests.cs
Due: production, test

Filter invalid localization updates
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
Due: production

Clear residual localization payload
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

test: add MSTEST0077 tests for File/Directory delete and Directory.Move
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
Due: test

Centralize superseded-attempt check and fix serializer drop
  docs/mstest-runner-protocol/001-protocol-intro.md
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportGenerator.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Messages/RetryAttemptPropertyExtensions.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.TestNodeSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.TestNodeSerializers.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
Due: production, test

Consolidate duplicated attribute-query logic into AttributeQueryHelper
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/AttributeQueryHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ReflectHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/Services/ReflectionOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionOperations.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/SourceGeneration/SourceGeneratedReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/MockableReflectionOperations.cs
Due: production, test

test: address review - pin Directory.Move single-diagnostic contract and Directory read exclusion
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
Due: test

Split TestDependencyGraph into focused partial-class files
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.ChunkBuilding.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.ChunkCycleDetection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.CycleDetection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.EdgeResolution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.Ordering.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.SequentialSet.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.StronglyConnectedComponents.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
Due: production

Add MSTEST0079 and MSTEST0080 condition attribute analyzers
  docs/Changelog.md
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/Helpers/SkipGuardCodeFixHelper.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseArchitectureConditionAttributeInsteadOfRuntimeCheckFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseCIConditionAttributeInsteadOfEnvironmentCheckFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/ConditionGuardHelper.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/UseArchitectureConditionAttributeInsteadOfRuntimeCheckAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/UseArchitectureConditionAttributeInsteadOfRuntimeCheckAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzerTests.cs
Due: production, test

Address code review: tests, PerformActionOnAttribute, docs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/AttributeQueryHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ReflectHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Helpers/AttributeQueryHelperTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/ReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/SourceGeneration/SourceGeneratedReflectionOperationsTests.cs
Due: production, test

Address review feedback on MSTEST0079/MSTEST0080
  docs/Changelog.md
  src/Analyzers/MSTest.Analyzers.CodeFixes/Helpers/SkipGuardCodeFixHelper.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseArchitectureConditionAttributeInsteadOfRuntimeCheckFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseCIConditionAttributeInsteadOfEnvironmentCheckFixer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzerTests.cs
Due: production, test

Cover the MSTEST0079 TestArchitectures version-skew guard
  test/UnitTests/MSTest.Analyzers.UnitTests/UseArchitectureConditionAttributeInsteadOfRuntimeCheckAnalyzerTests.cs
Due: test

Add type-safe TestFilterProvider<TFilter> and MSTEST0079 analyzer
  docs/glossary.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.FilterDiscovery.cs
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/TestFilterProviderShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  src/TestFramework/TestFramework/Attributes/Lifecycle/TestFilterProviderAttribute.cs
  src/TestFramework/TestFramework/Attributes/Lifecycle/TestFilterProviderAttributeOfT.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterProviderGenericTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/TestFilterProviderShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTestFilterProviderTests.cs
Due: production, test

Do not report MSTEST0079/MSTEST0080 on guards with directives
  src/Analyzers/MSTest.Analyzers/Helpers/ConditionGuardHelper.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzerTests.cs
Due: production, test

Add MSTEST0077 tests for File/Directory delete and Directory.Move (#10306)
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
Due: test

Scope the "skipped instead of passed" claim to the early return case
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Cover Visual Basic for MSTEST0079/MSTEST0080
  test/UnitTests/MSTest.Analyzers.UnitTests/UseArchitectureConditionAttributeInsteadOfRuntimeCheckAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzerTests.cs
Due: test

Quote const in localization lock metadata
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Harden MSTEST0079/MSTEST0080 fix generation and guard detection
  src/Analyzers/MSTest.Analyzers.CodeFixes/Helpers/SkipGuardCodeFixHelper.cs
  src/Analyzers/MSTest.Analyzers/Helpers/ConditionGuardHelper.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseArchitectureConditionAttributeInsteadOfRuntimeCheckAnalyzerTests.cs
Due: production, test

Do not add a condition attribute next to an existing one
  src/Analyzers/MSTest.Analyzers/UseArchitectureConditionAttributeInsteadOfRuntimeCheckAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseArchitectureConditionAttributeInsteadOfRuntimeCheckAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzerTests.cs
Due: production, test

Quote const in analyzer localization lock metadata (#10310)
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Document Locked= substring matching in localization guidance
  .github/agents/expert-reviewer.agent.md
  .github/copilot-instructions.md
Due: none

Complete MSTEST0077 coverage: [DoNotParallelize] opt-out and remaining Directory.* allowlist entries
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
Due: test

Document actual --retry-failed-tests JUnit artifact layout in RFC 016
  docs/RFCs/016-JUnit-Report.md
Due: none

Add MSTEST0079 and MSTEST0080 condition attribute analyzers (#10308)
  docs/Changelog.md
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/Helpers/SkipGuardCodeFixHelper.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseArchitectureConditionAttributeInsteadOfRuntimeCheckFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseCIConditionAttributeInsteadOfEnvironmentCheckFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/ConditionGuardHelper.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/UseArchitectureConditionAttributeInsteadOfRuntimeCheckAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/UseArchitectureConditionAttributeInsteadOfRuntimeCheckAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseCIConditionAttributeInsteadOfEnvironmentCheckAnalyzerTests.cs
Due: production, test

Address review: keep TestFilterProviderAttribute sealed
  docs/glossary.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.FilterDiscovery.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/TestFilterProviderShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  src/TestFramework/TestFramework/Attributes/Lifecycle/TestFilterProviderAttribute.cs
  src/TestFramework/TestFramework/Attributes/Lifecycle/TestFilterProviderAttributeOfT.cs
  src/TestFramework/TestFramework/Filtering/ITestFilterProviderAttribute.cs
  src/TestFramework/TestFramework/InternalAPI/InternalAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/MSTest.Analyzers.UnitTests/TestFilterProviderShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTestFilterProviderTests.cs
Due: production, test

Use a neutral DateTime in the Directory.Set*Time* snippet
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
Due: test

Split TestDependencyGraph into focused partial-class files (#10307)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.ChunkBuilding.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.ChunkCycleDetection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.CycleDetection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.EdgeResolution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.Ordering.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.SequentialSet.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.StronglyConnectedComponents.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
Due: production

Address review round 2: annotate ITestFilterProviderAttribute.FilterType
  docs/glossary.md
  src/TestFramework/TestFramework/Attributes/Lifecycle/TestFilterProviderAttributeOfT.cs
  src/TestFramework/TestFramework/Filtering/ITestFilterProviderAttribute.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterProviderGenericTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterProviderRegistrationTests.cs
Due: production, test

Make the Azure DevOps report extension usable on browser-wasm
  docs/Changelog-Platform.md
  samples/BrowserPlayground/README.md
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsClient.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Unshipped.txt
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTestResultsClientHandlerTests.cs
Due: production, test

Fix TRX attachments silently dropped past MAX_PATH on .NET Framework
  docs/Changelog-Platform.md
  src/Platform/Microsoft.Testing.Extensions.TrxReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxLongPathHelper.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Artifacts.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: production, test

Give each TFM case its own results directory in the MAX_PATH TRX test
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test
