Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Deduplicate collection count helper (#11363)
  src/TestFramework/TestFramework/Assertions/Assert.ContainsSingle.InterpolatedStringHandlers.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.InterpolatedStringHandlers.cs
  src/TestFramework/TestFramework/Assertions/Assert.HasCount.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Equivalence.cs
  src/TestFramework/TestFramework/Internal/CollectionCountHelper.cs
  src/TestFramework/TestFramework/InternalAPI/InternalAPI.Unshipped.txt
Due: production

Harden Windows dump setup
  azure-pipelines.yml
Due: none

Complete packaged app registration repair on cancellation
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackageDeployerTests.cs
Due: production, test

Fix BuildInfo incremental clean tracking (#11362)
  Directory.Build.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BuildInfoIncrementalCleanTests.cs
Due: test

Report packaged app restoration failures before cancellation
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackageDeployerTests.cs
Due: production, test

Create local dump registry key in CI
  azure-pipelines.yml
Due: none

Fix Daily File Diet issue output
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-file-diet.md
Due: none

Use Azure DevOps affected-test storage
  Directory.Build.targets
  Directory.Packages.props
  docs/affected-test-selection.md
  eng/pipelines/steps/test-windows-configuration-tests.yml
  eng/validate-affected-tests.ps1
  global.json
Due: none

Keep packaged app manifest and registration state consistent
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/Windows/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageRegistrationLock.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackageDeployerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackageRegistrationLockTests.cs
Due: production, test

Create missing crash dump registry key in CI
  azure-pipelines.yml
Due: none

Keep post-removal lookup failures outside deployment wrapping
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackageDeployerTests.cs
Due: production, test

Document PATH resource contention in ExecutableConditionAttributeTests
  test/UnitTests/TestFramework.UnitTests/Attributes/ExecutableConditionAttributeTests.cs
Due: test

Refactor comments in ExecutableConditionAttributeTests
  test/UnitTests/TestFramework.UnitTests/Attributes/ExecutableConditionAttributeTests.cs
Due: test

Use existing temp directory for issue body
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-file-diet.md
Due: none

Fix Daily File Diet issue output (#11380)
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-file-diet.md
Due: none

Fix hot reload cancellation race
  src/Platform/Microsoft.Testing.Extensions.HotReload/HotReloadHandler.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HotReloadTests.cs
Due: production, test

Fix source generator crash on null DataRow arguments (#11371)
  azure-pipelines.yml
  src/Analyzers/MSTest.SourceGeneration/Generators/AttributeMaterializationHelper.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
Due: production, test

Address null DataRow generator review feedback
  src/Analyzers/MSTest.SourceGeneration/Generators/AttributeMaterializationHelper.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
Due: production, test

Fix source generation for null DataRow arguments
  src/Analyzers/MSTest.SourceGeneration/Generators/AttributeMaterializationHelper.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
Due: production, test

[ResourceLock] Document PATH resource contention in ExecutableConditionAttributeTests (#11399)
  test/UnitTests/TestFramework.UnitTests/Attributes/ExecutableConditionAttributeTests.cs
Due: test

Address performance improver tickets
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsResultIdStore.AttemptHistory.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsResultIdStore.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  test/Performance/MSTest.Performance.Benchmarks/MSTest.Performance.Benchmarks.csproj
  test/Performance/MSTest.Performance.Benchmarks/ObjectModelConvertersBenchmarks.cs
Due: production, test

Fix hot reload cancellation race (#11401)
  src/Platform/Microsoft.Testing.Extensions.HotReload/HotReloadHandler.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HotReloadTests.cs
Due: production, test

[create-pull-request] automated change
  changes.patch
Due: none

Bound Test Improver repository memory
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
Due: none

Add tests for test improver gaps
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/ActivityWrapperTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryEnvironmentVariablesTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryExtensionsTests.cs
Due: test

Fix nullable collection assertion constraints
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.DoesNotContain.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssertSourceCompatibilityTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
Due: production, test

Add analyzer for duplicate DataRow display names
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/DuplicateDataRowDisplayNameAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateDataRowDisplayNameAnalyzerTests.cs
Due: production, test

Dispose hierarchical test activity
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/ActivityWrapperTests.cs
Due: test

Address duplicate display name review feedback
  src/Analyzers/MSTest.Analyzers/DuplicateDataRowDisplayNameAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateDataRowDisplayNameAnalyzerTests.cs
Due: production, test

Bound Test Improver repository memory (#11410)
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
Due: none

Stabilize in-process disposal timing test
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
Due: test

Fix source generator crash on null DataRow arguments by @Sergio0694 in #11371 (backport to rel/4.4) (#11402)
  azure-pipelines.yml
  src/Analyzers/MSTest.SourceGeneration/Generators/AttributeMaterializationHelper.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
Due: production, test

Allow Application Insights ingestion in Adhoc QA
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/adhoc-qa.md
Due: none

Disable .NET telemetry in Adhoc QA
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/adhoc-qa.md
Due: none

Fix nullable collection assertion constraints (#11374)
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.DoesNotContain.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssertSourceCompatibilityTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
Due: production, test
