Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update agentic workflows
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-efficiency-improver.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/daily-perf-improver.lock.yml
  .github/workflows/daily-qa.lock.yml
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/markdown-linter-report.lock.yml
  .github/workflows/markdown-linter-report.md
  .github/workflows/pr-expert-reviewer.lock.yml
  .github/workflows/pr-nitpick-reviewer.lock.yml
  .github/workflows/pr-test-expert-reviewer.lock.yml
  .github/workflows/repo-historian.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
Due: none

Update agentic workflows (#8151)
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-efficiency-improver.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/daily-perf-improver.lock.yml
  .github/workflows/daily-qa.lock.yml
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/markdown-linter-report.lock.yml
  .github/workflows/markdown-linter-report.md
  .github/workflows/pr-expert-reviewer.lock.yml
  .github/workflows/pr-nitpick-reviewer.lock.yml
  .github/workflows/pr-test-expert-reviewer.lock.yml
  .github/workflows/repo-historian.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
Due: none

Fix issues on main
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceHostTests.cs
Due: test

Fix issues on main (#8152)
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceHostTests.cs
Due: test

Update global.json
  samples/public/global.json
Due: none

Add deps to Nerdbank.MessagePack
  samples/FSharpPlayground/FSharpPlayground.fsproj
Due: none

Add deps to Nerdbank.MessagePack (#8153)
  samples/FSharpPlayground/FSharpPlayground.fsproj
Due: none

Use trigger: none instead of explicit branch triggers in public pipeline
  azure-pipelines.yml
Due: none

Enable vscode 1ES template schema file
  .vscode/settings.json
Due: none

Potential fix for pull request finding
  .vscode/settings.json
Due: none

Enable vscode 1ES template schema file (#8155)
  .vscode/settings.json
Due: none

Potential fix for pull request finding
  .github/workflows/issue-arborist.lock.yml
Due: none

Use indexer syntax for dictionary initializers
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutFromRunSettingsTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenCanceledTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenExpiresTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExitOnProcessExitTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/UnhandledExceptionPolicyTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/PlatformServiceProviderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
Due: test

Use `trigger: none` instead of explicit branch triggers in public pipeline (#8154)
  azure-pipelines.yml
Due: none

Address PR review comments: improve tfm resolution and null handling
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
Due: production, test

Address PR review comments for MSTest.Windows.AppTesting
  samples/public/DemoMSTestSdk/ProjectUsingWindowsAppTesting/CalculatorTests.cs
  src/TestFramework/TestFramework.Windows.AppTesting/ApplicationTest.cs
  src/TestFramework/TestFramework.Windows.AppTesting/WindowTest.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsAppTestingSdkTests.cs
Due: production, test

Address PR review comments: fix hot path allocations, remove dead mock setups, add missing tests
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ReflectionOperations.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/ReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/MockableReflectionOperations.cs
Due: production, test

Potential fix for pull request finding
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.TestCompletion.cs
Due: production

Refactor TerminalTestReporter into focused partial class files (#8138)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Formatting.ControlCharacters.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Formatting.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Lifecycle.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Messaging.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Summary.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.TestCompletion.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Address second round of PR review comments
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Platform/Services/ArtifactNamingHelper.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ArtifactNamingHelperTests.cs
Due: production, test

Address second round of PR review comments
  samples/public/DemoMSTestSdk/ProjectUsingWindowsAppTesting/CalculatorTests.cs
  src/Package/MSTest.Sdk/MSTest.Sdk.nuspec
  src/Package/MSTest.Sdk/Sdk/Features/WindowsAppTesting.targets
  src/TestFramework/TestFramework.Windows.AppTesting/ApplicationTest.cs
  src/TestFramework/TestFramework.Windows.AppTesting/WindowTest.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsAppTestingSdkTests.cs
Due: production, test

Consolidate PR reviewers into a single expert-reviewer agent
  .github/agents/expert-reviewer.agent.md
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-efficiency-improver.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/daily-malicious-code-scan.lock.yml
  .github/workflows/daily-perf-improver.lock.yml
  .github/workflows/daily-qa.lock.yml
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/markdown-linter-report.lock.yml
  .github/workflows/pr-expert-reviewer.md
  .github/workflows/pr-nitpick-reviewer.lock.yml
  .github/workflows/pr-nitpick-reviewer.md
  .github/workflows/pr-test-expert-reviewer.md
  .github/workflows/repo-historian.lock.yml
  .github/workflows/repo-historian.md
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review-on-open.agent.md
  .github/workflows/review.agent.lock.yml
  .github/workflows/review.agent.md
  .github/workflows/shared/review-shared.md
Due: none

Update versions in public samples (#8149)
  samples/public/Directory.Build.props
  samples/public/global.json
Due: none

Use indexer syntax for dictionary initializers (#8156)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutFromRunSettingsTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenCanceledTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenExpiresTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExitOnProcessExitTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/UnhandledExceptionPolicyTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/PlatformServiceProviderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
Due: test

Address second round of PR review comments: guard unsupported types in GetCustomAttributesCached, add null-guard test, fix integration test attribute ordering, add doc comments
  src/Adapter/MSTestAdapter.PlatformServices/Services/ReflectionOperations.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/ReflectionUtilityTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/ReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/MockableReflectionOperations.cs
Due: production, test

Address nohwnd review comments on RFC 011
  docs/RFCs/011-Structured-Assertion-Messages.md
Due: none

Remove 'Resolved Design Decisions' section (content already inline)
  docs/RFCs/011-Structured-Assertion-Messages.md
Due: none

Apply suggestions from code review
  .github/agents/expert-reviewer.agent.md
  .github/workflows/review-on-open.agent.md
  .github/workflows/shared/review-shared.md
Due: none

Address third round of PR review comments
  eng/verify-nupkgs.ps1
  samples/public/DemoMSTestSdk/ProjectUsingWindowsAppTesting/CalculatorTests.cs
  src/TestFramework/TestFramework.Windows.AppTesting/ApplicationTest.cs
  src/TestFramework/TestFramework.Windows.AppTesting/TestFramework.Windows.AppTesting.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsAppTestingSdkTests.cs
Due: production, test

Harden Issue Arborist issue prefetch with REST fallback on gh proxy failures (#8150)
  .github/workflows/issue-arborist.lock.yml
Due: none

Apply suggestions from code review
  .github/agents/expert-reviewer.agent.md
  .github/workflows/shared/review-shared.md
Due: none

Update verify-nupkgs.ps1 with MSTest.Windows.AppTesting package validation
  eng/verify-nupkgs.ps1
Due: none

Update src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Execution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Execution.cs
Due: production

Address third round of PR review comments
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ArtifactNamingHelperTests.cs
Due: production, test

Address PR review: narrow FrameworkReference to WPF, DynamicData for all Windows TFMs
  src/TestFramework/TestFramework.Windows.AppTesting/TestFramework.Windows.AppTesting.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsAppTestingSdkTests.cs
Due: production, test

Use OS-appropriate path comparison for traversal guard
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
Due: production

RFC 012 - Structured Assertion Messages (#7750)
  docs/RFCs/012-Structured-Assertion-Messages.md
Due: none

Add TestFramework.Windows.AppTesting to TestFx.slnx
  TestFx.slnx
Due: none

Address review comments: rename, tests, perf fixes, cache unification
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ReflectHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ReflectionHelper.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/ReflectionUtilityTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestPropertyAttributeTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/ReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/MockableReflectionOperations.cs
Due: production, test
