Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Clarify independent sample hosting version updates
  samples/public/Directory.Build.props
Due: none

Isolate showMessage ordering test from Azure environment
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerTests.cs
Due: production, test

Limit showMessage negotiation to capability-gated routing
  docs/mstest-runner-protocol/001-protocol-intro.md
  docs/mstest-runner-protocol/server-mode-1.0.schema.json
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/IMtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpJsonRpcConnection.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClientOptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/SerializerUtilities.ClientSerializers.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.Initialization.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.MessageLoop.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.Messaging.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestExecution.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestHandling.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/ProxyOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/SimplifiedConsoleOutputDeviceBase.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.DataConsumption.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.SessionLifecycle.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/MessageHandlerFactory.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PassiveNode.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.RpcMessageSerializers.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/ServerModeManager.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/ServerModePerCallOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/TcpMessageHandler.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ServerLoggingTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/CommonHostTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/ProxyOutputDeviceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/SimplifiedConsoleOutputDeviceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/TerminalOutputDeviceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/PassiveNodeTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerModeManagerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerModePerCallOutputDeviceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/TcpMessageHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Verify exact buffered output marker before discovery response
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerTests.cs
Due: test

Add argument-only display names for data rows (#11775)
  docs/RFCs/005-Framework-Extensibility-Custom-DataSource.md
  docs/glossary.md
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.DataSource.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/TestDataSourceHelpers.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/ConflictingDataRowDisplayNamesAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  src/TestFramework/TestFramework.Extensions/PACKAGE.md
  src/TestFramework/TestFramework/Attributes/DataSource/DataRowAttribute.cs
  src/TestFramework/TestFramework/ITestDataRow.cs
  src/TestFramework/TestFramework/Interfaces/ITestDataSource.cs
  src/TestFramework/TestFramework/Internal/TestDataSourceUtilities.cs
  src/TestFramework/TestFramework/InternalAPI/InternalAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/TestDataRow.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ArgumentsDisplayNameTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/ConflictingDataRowDisplayNamesAnalyzerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Helpers/TestDataSourceHelpersTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/DataRowAttributeTests.cs
  test/UnitTests/TestFramework.UnitTests/TestDataRowTests.cs
Due: production, test

Fix MSTest RTM restore and hosting package versioning (#11773)
  MSTest.slnf
  samples/public/Directory.Build.props
  samples/public/MTPHostIntegration/AspNetCoreTests/AspNetCoreTests.csproj
  samples/public/MTPHostIntegration/AspireTests/AspireTests.csproj
  samples/public/MTPHostIntegration/README.md
  src/Adapter/MSTest.Extensions.Hosting/MSTest.Extensions.Hosting.csproj
  src/Adapter/MSTest.Extensions.Hosting/PACKAGE.md
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/GeneratedHostedEntryPointValidationTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/GeneratedMSTestHostingInjectionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
Due: production, test

Stabilize server-mode shutdown and disposal tests
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientTests.cs
Due: test

Use raw strings for multiline output assertions
  .github/copilot-instructions.md
  .github/skills/code-review/SKILL.md
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsSummaryReporterTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSummaryReporterTests.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineParseResultTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Normalize native newlines in raw-string output assertions
  .github/copilot-instructions.md
  .github/skills/code-review/SKILL.md
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineParseResultTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Recover Azure DevOps coordination cleanup after deletion failures
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsRunIdCoordinator.FileIO.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsRunIdCoordinator.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PACKAGE.md
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: production, test

Require overlapping publishers in native Azure DevOps regression
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/AzureDevOpsLivePublishingTests.cs
Due: test

Use the cancellation-aware wait overload supported by net462
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientTests.cs
Due: test

Warn about ignored custom runsettings sections on MTP
  src/Adapter/MSTest.TestAdapter/PACKAGE.md
  src/Adapter/MSTest.TestAdapter/Resources/PlatformAdapterResources.resx
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.cs.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.es.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.fr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.it.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ja.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pl.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pt-BR.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ru.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.tr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hans.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hant.xlf
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettings.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunsettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestRunSettingsTests.cs
Due: production, test

Include suppressors in the post-release checklist
  .github/skills/post-release-activities/SKILL.md
Due: none

Scope the cancellation diagnostic probe and guard its shutdown path
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
Due: test

Prefer raw strings for multiline output assertions (#11783)
  .github/copilot-instructions.md
  .github/skills/code-review/SKILL.md
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsSummaryReporterTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSummaryReporterTests.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineParseResultTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Avoid native PDB rewriting in trim-warning acceptance tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrimTests.cs
Due: test

Update code coverage to stable 18.12.0
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  samples/public/Directory.Build.props
Due: none

Stabilize server-mode shutdown and disposal tests (#11784)
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientTests.cs
Due: test

Add direct unit tests for MSBuildCompatibilityHelper (#11767)
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildCompatibilityHelperTests.cs
Due: test

Fix shared Azure DevOps run finalization races (#11774)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsRunIdCoordinator.FileIO.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsRunIdCoordinator.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsClient.Payloads.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsClient.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.Attachments.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/AzureDevOpsResources.resx
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/AzureDevOpsLivePublishingTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: production, test

[ResourceLock] Narrow SerializationMutationTests DoNotParallelize to the one mutating test (#11766)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrimTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/SerializationMutationTests.cs
Due: test

Add missing analyzer rule IDs to release-tracking files (#11768)
  .github/skills/post-release-activities/SKILL.md
  src/Analyzers/MSTest.Analyzers/NonNullableReferenceNotInitializedSuppressor.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/SuppressionReleases.md
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AnalyzerReleaseTrackingTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/NonNullableReferenceNotInitializedSuppressorTests.cs
Due: production, test

Update code coverage to stable 18.12.0 (#11789)
  .config/dotnet-tools.json
  eng/Version.Details.xml
  eng/Versions.props
  samples/public/Directory.Build.props
Due: none

Warn consistently for mixed-case runsettings sections
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettings.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunsettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestRunSettingsTests.cs
Due: production, test

Add direct tests for MSBuild IPC serializers (#11787)
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildSerializersTests.cs
Due: test

Refine comments on SynchronousAwaiter behavior
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Helpers/SynchronousAwaiter.cs
Due: production

Bump MSTest to 4.5.1 and MTP to 2.5.1
  eng/Versions.props
Due: none

[efficiency-improver] Default SynchronousAwaiter.Await to a blocking wait instead of CPU-spinning (#11786)
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Helpers/SynchronousAwaiter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/InternalAPI.Unshipped.txt
Due: production

Bump MSTest to 4.5.1 and MTP to 2.5.1 (#11790)
  eng/Versions.props
Due: none

Split Assert.Contains into focused partial files (#11788)
  src/TestFramework/TestFramework/Assertions/Assert.Contains.Collections.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.SpanMemory.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.String.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
Due: production

Verify packaged SDK launcher selection on Windows and Unix
  MSTest.slnf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Use a controlled window in UI Automation acceptance tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsUIAutomationSdkTests.cs
Due: test

Fix flaky Windows UI Automation acceptance tests (#11791)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsUIAutomationSdkTests.cs
Due: test

Warn about ignored custom runsettings sections on MTP (#11785)
  src/Adapter/MSTest.TestAdapter/PACKAGE.md
  src/Adapter/MSTest.TestAdapter/Resources/PlatformAdapterResources.resx
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.cs.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.es.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.fr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.it.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ja.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pl.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pt-BR.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ru.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.tr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hans.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hant.xlf
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettings.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunsettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestRunSettingsTests.cs
Due: production, test

Ship packaged-app controller MSBuild integration (#11777)
  MSTest.slnf
  Microsoft.Testing.Platform.slnf
  NonWindowsTests.slnf
  TestFx.slnx
  docs/winui-testing.md
  eng/verify-nupkgs.ps1
  samples/public/ClassicUwpMtpApp/README.md
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Package/MSTest.Sdk/PACKAGE.md
  src/Package/MSTest.Sdk/README.md
  src/Package/MSTest.Sdk/Sdk/Runner/Common.targets
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.Controller/Microsoft.Testing.Extensions.PackagedApp.Controller.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.Controller/Program.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.MSBuild/Microsoft.Testing.Extensions.PackagedApp.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.MSBuild/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.MSBuild/build/Microsoft.Testing.Extensions.PackagedApp.MSBuild.targets
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.MSBuild/buildMultiTargeting/Microsoft.Testing.Extensions.PackagedApp.MSBuild.targets
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.MSBuild/buildTransitive/ClassicUwpMtpBootstrap.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp.MSBuild/buildTransitive/Microsoft.Testing.Extensions.PackagedApp.MSBuild.targets
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ClassicUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/PackagedAppIntegrationTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelPackageTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedWinUITests.cs
Due: production, test

Mark MSTest 4.5.0 as unreleased
  docs/Changelog.md
Due: none

Complete 4.5 and 2.5 changelogs and reserve patch releases
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Complete 4.5 and 2.5 changelogs and reserve patch releases (#11792)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Fix internal pipeline test hangs and cancellation race
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Solution.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
