Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add requires to script to make it work constistently
  eng/mark-shipped.ps1
Due: none

Rerun mark-shipped
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Shipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Update deps in public samples
  samples/public/Directory.Build.props
  samples/public/global.json
Due: none

Add requires to script to make it work constistently (#6642)
  eng/mark-shipped.ps1
Due: none

Update Changelog for 3.11.0 (#6640)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Run mark-shipped (#6641)
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Shipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Update deps in public samples (#6643)
  samples/public/Directory.Build.props
  samples/public/global.json
Due: none

Fix due to assembly rename
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
Due: production

Update copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Fix warnings
  Directory.Build.props
  src/Adapter/MSTest.TestAdapter/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/net8.0-windows10.0.18362.0/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/net8.0/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/net9.0-windows10.0.17763.0/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/net9.0/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/uap10.0.16299/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/net/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/net8.0-windows10.0.18362.0/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/net8.0/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/net9.0-windows10.0.17763.0/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/net9.0/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/uap10.0.16299/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Exceptions/MSTestException.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Fix more warnings
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/PublicAPI/net/PublicAPI.Unshipped.txt
Due: production

Fix analyzer releases
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
Due: production

Fix
  src/Adapter/MSTest.TestAdapter/PublicAPI/uwp/PublicAPI.Unshipped.txt
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2806620
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
Due: production

Update IPCTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/IPCTests.cs
Due: test

Update ServiceProviderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ServiceProviderTests.cs
Due: test

Few assertion API fixes
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Few assertion API fixes (#6651)
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Cleanup assertion API null handling
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/Assertions/Assert.EndsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.IComparable.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.Matches.cs
  src/TestFramework/TestFramework/Assertions/Assert.StartsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Cleanup
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
Due: production

More assert API fixes
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.EndsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.StartsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Cleanup
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.cs
Due: test

Cleanup IProcessExtensions
  src/Platform/Microsoft.Testing.Extensions.HangDump/Helpers/IProcessExtensions.cs
Due: production

Update copilot-instructions.md (#6646)
  .github/copilot-instructions.md
Due: none

Assert API improvements (#6654)
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/Assertions/Assert.EndsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.IComparable.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.Matches.cs
  src/TestFramework/TestFramework/Assertions/Assert.StartsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.cs
Due: production, test

Cleanup MicrosoftTestingTargetFrameworks
  Directory.Build.props
  src/Adapter/MSTest.Engine/MSTest.Engine.csproj
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Microsoft.Testing.Extensions.CrashDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HotReload/Microsoft.Testing.Extensions.HotReload.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.Retry/Microsoft.Testing.Extensions.Retry.csproj
  src/Platform/Microsoft.Testing.Extensions.Telemetry/Microsoft.Testing.Extensions.Telemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/Microsoft.Testing.Extensions.TrxReport.Abstractions.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  test/UnitTests/MSTest.Engine.UnitTests/MSTest.Engine.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Microsoft.Testing.Extensions.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
  test/Utilities/Microsoft.Testing.TestInfrastructure/Microsoft.Testing.TestInfrastructure.csproj
  test/Utilities/TestFramework.ForTestingMSTest/TestFramework.ForTestingMSTest.csproj
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2806773
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2806773
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Cleanup IProcessExtensions (#6655)
  src/Platform/Microsoft.Testing.Extensions.HangDump/Helpers/IProcessExtensions.cs
Due: production

Cleanup MicrosoftTestingTargetFrameworks (#6657)
  Directory.Build.props
  src/Adapter/MSTest.Engine/MSTest.Engine.csproj
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Microsoft.Testing.Extensions.CrashDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HotReload/Microsoft.Testing.Extensions.HotReload.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.Retry/Microsoft.Testing.Extensions.Retry.csproj
  src/Platform/Microsoft.Testing.Extensions.Telemetry/Microsoft.Testing.Extensions.Telemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/Microsoft.Testing.Extensions.TrxReport.Abstractions.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  test/UnitTests/MSTest.Engine.UnitTests/MSTest.Engine.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Microsoft.Testing.Extensions.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
  test/Utilities/Microsoft.Testing.TestInfrastructure/Microsoft.Testing.TestInfrastructure.csproj
  test/Utilities/TestFramework.ForTestingMSTest/TestFramework.ForTestingMSTest.csproj
Due: production, test

Update VSTest to 18.0.0
  Directory.Packages.props
Due: none

package source
  NuGet.config
Due: none

Update VSTest to 18.0.0 (#6660)
  Directory.Packages.props
Due: none

Few fixes
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/UnitTests/MSTest.Engine.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
Due: test

Update Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
Due: test

Fix MTP.slnf to include missing projects
  Microsoft.Testing.Platform.slnf
Due: none

Fix MTP.slnf to include missing projects (#6664)
  Microsoft.Testing.Platform.slnf
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
