Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix three review findings in the dependency scheduler
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestDependencyGraphTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
Due: production, test

Use /blob/ link form for the vendored source reference
  src/Platform/Microsoft.Testing.Platform/Helpers/LLMEnvironmentDetector.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032292
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032304
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032292
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032304
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032292
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032304
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032292
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.de.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032304
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
Due: production

Add unit tests for the AI_AGENT exact-value detection rules
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/LLMEnvironmentDetectorTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032292
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032304
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.de.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3032304
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
Due: production

Correct assembly-level [DoNotParallelize] semantics in parallel-safety audit
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Collect TestContainer tests, fix stale trigger note, raise daily AI budget
  .github/workflows/parallel-safety-audit.md
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Address review findings: message severity, stale docs, terminology
  docs/RFCs/022-Test-Dependencies.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyDeclaration.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestDependencyInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestDependencyExecutionTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestDependencyGraphTests.cs
Due: production, test

Reference the analyzer tracking issue from RFC 022 future work
  docs/RFCs/022-Test-Dependencies.md
Due: none

Tighten scope precedence, Workers=1 severity, and category-B mutation gate
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Scope resource-lock reconciliation to the owning assembly
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Audit configuration-only changes and correct the opt-in sources
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Distinguish process-local from OS-global resources in the category-A fix
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Do not redefine centrally managed PackageVersion items in MSTest.Sdk
  docs/dev-guide.md
  src/Package/MSTest.Sdk/Sdk/Sdk.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Short-circuit filter composition when no provider contributes
  docs/RFCs/020-Test-Execution-Filter-Providers.md
  src/Platform/Microsoft.Testing.Platform/Requests/TestExecutionFilterComposer.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TestExecutionFilterComposerTests.cs
Due: production, test

Diff from the merge-base and report parallelization per assembly
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Address review: fixture opt-out, record test classes, inheritance-aware attributes, R4 path roles
  src/Analyzers/MSTest.Analyzers.CodeFixes/AddResourceLockFixer.cs
  src/Analyzers/MSTest.Analyzers/CultureMutationUnderParallelizationAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/CurrentDirectoryMutationUnderParallelizationAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/ParallelSafetyHelper.cs
  src/Analyzers/MSTest.Analyzers/SharedFileSystemPathInTestAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/UndeclaredProcessGlobalStateMutationAnalyzer.cs
Due: production

Strengthen analyzer tests: assert message content and add regression tests for the review fixes
  test/UnitTests/MSTest.Analyzers.UnitTests/CultureMutationUnderParallelizationAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/CurrentDirectoryMutationUnderParallelizationAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UndeclaredProcessGlobalStateMutationAnalyzerTests.cs
Due: test

Align the fallback gate with the config path and split the near-miss row by class
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Include deleted configuration files in the parallelization audit trigger
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Port copilot-app LLM detection rule from dotnet/sdk (#10255)
  eng/vendored-files.json
  src/Platform/Microsoft.Testing.Platform/Helpers/LLMEnvironmentDetector.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/LLMEnvironmentDetectorTests.cs
Due: production, test

Treat assembly-attribute changes as parallelization-state changes; silence command failure issues
  .github/workflows/parallel-safety-audit-command.md
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Address round-3 review: R4 File.Open precision, R2 coalesce, v3 fix guard
  src/Analyzers/MSTest.Analyzers.CodeFixes/AddResourceLockFixer.cs
  src/Analyzers/MSTest.Analyzers/CurrentDirectoryMutationUnderParallelizationAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/SharedFileSystemPathInTestAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/UndeclaredProcessGlobalStateMutationAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/CurrentDirectoryMutationUnderParallelizationAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
Due: production, test

Exclude generated attribute payloads, cover repo-root props, require an observer
  .github/workflows/parallel-safety-audit.md
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Select attribute candidates by file content so multiline attributes are caught
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Ignore fixture-scope [ResourceLock] and cover the firing gate
  src/Analyzers/MSTest.Analyzers/CultureMutationUnderParallelizationAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/CurrentDirectoryMutationUnderParallelizationAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/ParallelSafetyHelper.cs
  src/Analyzers/MSTest.Analyzers/UndeclaredProcessGlobalStateMutationAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UndeclaredProcessGlobalStateMutationAnalyzerTests.cs
Due: production, test

Reclassify [DeploymentItem], require restoration alongside locks, drop the Info escape hatch
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Keep both rename paths when detecting parallelization-state changes
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Exclude assembly-scoped fixtures from the parallel-safety rules
  src/Analyzers/MSTest.Analyzers/Helpers/ParallelSafetyHelper.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UndeclaredProcessGlobalStateMutationAnalyzerTests.cs
Due: production, test

Match the assembly-attribute target, rank category D by gain, fix trigger docs
  .github/workflows/README.md
  .github/workflows/parallel-safety-audit.md
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Audit changed lifecycle members and class-level declarations, not just test bodies
  .github/workflows/shared/parallel-safety-audit-shared.md
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
