Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Fix
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/DynamicDataMethodArgumentsTests.cs
Due: test

Support passing arguments to DynamicData methods
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
Due: production

Add test for array
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/DynamicDataMethodArgumentsTests.cs
Due: test

Update PublicAPI
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Disallow params
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Update DynamicDataShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Due: test

Progress
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DynamicDataMethodTests.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/DynamicDataMethodArgumentsTests.cs
Due: test

Update test
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

WIP
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Improve message
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Ok
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

More fixes
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

Better
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

One less error
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

More tests fixed
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

Getting good
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Good
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

Add more tests
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

Fix multi dimensional array
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Fix more
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

All tests are green
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

More
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Refactor
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

Cleanup anonymous type display
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Cleanup list init
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

More issues
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Fix up more the display for list init
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

More cases and fixes
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

One last failed test
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

Fix warnings
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

More tests
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

Cleanup
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

Localization
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Use --no-progress (#5987)
  azure-pipelines.yml
Due: none

Fix test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DynamicDataMethodTests.cs
Due: test

Add one more test for analyzer
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Due: test

Fix diagnostics
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCompareTool.cs
Due: production
