Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Make ReflectionFree the default MSTest source-gen mode
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Analyzers/MSTest.SourceGeneration/Generators/ReflectionMetadataGenerator.cs
  src/Analyzers/Shared/SourceGenModeHelper.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/AcceptanceSourceGen.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/MetadataMode.cs
Due: production, test

Remove stale BridgedConfiguration entries from InternalAPI.Shipped.txt
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Shipped.txt
Due: production

Fix build and address review: InternalAPI entries, UTF-8 BOM, isStateful tests
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Services/ClientCapabilitiesService.cs
  src/Platform/Microsoft.Testing.Platform/Services/IClientCapabilities.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/RunSettingsPatcherTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsonTests.cs
Due: production, test

Add Assert.IsEmpty/IsNotEmpty overloads for Span and Memory
  src/TestFramework/TestFramework/Assertions/Assert.Count.InterpolatedStringHandlers.cs
  src/TestFramework/TestFramework/Assertions/Assert.HasCount.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsEmpty.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Items.cs
Due: production, test

Address review: declare new internal API, fix sample + README accuracy
  samples/WasiPlayground/Program.cs
  samples/WasiPlayground/README.md
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Helpers/CountDownEventExtensions.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
Due: production

Add *REMOVED* InternalAPI markers for changed record signatures
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
Due: production

Align samples MSTestVersion with MSTest.Sdk 4.3.0 for Native AOT source generation
  samples/public/Directory.Build.props
Due: none

Add test coverage for CanReadFile UnauthorizedAccessException branch
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/CommandLine/RunSettingsCommandLineOptionsProviderTests.cs
Due: test

Restore missing using directive to fix CS0246 build break
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/RunContextAdapterFilterTests.cs
Due: test

Address review: add UTF-8 BOM to new .cs files
  src/Platform/Microsoft.Testing.Platform/Helpers/RuntimeFeatureHelper.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/WasmExecutionTests.cs
Due: production, test

Add Span/Memory overloads to Assert.Contains and Assert.DoesNotContain
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.DoesNotContain.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ContainsSpan.cs
Due: production, test

Clarify samples AOT version comment: source-generation package is an independent 2.0.0-alpha line
  samples/public/Directory.Build.props
Due: none

Remove spurious PublicAPI.Unshipped.txt entries introduced by backport
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Logging/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Fix acceptance tests for ReflectionFree default source-gen mode
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrimAndAotAssertions.cs
Due: test

Apply suggestions from code review
  samples/public/Directory.Build.props
Due: none

Fix VSTestBridge BuildFilter misclassifying GUID-shaped FullyQualifiedName as Id filter
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/DiscoveryContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestRunTestExecutionRequestFactory.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/RunContextAdapterTests.cs
Due: production, test

Align samples TestingPlatformVersion with MSTest.Sdk 4.3.0 (2.2.2 -> 2.3.1)
  samples/public/Directory.Build.props
Due: none

Make reflection-free generated metadata trim-clean (annotate emitted Type)
  src/Analyzers/MSTest.SourceGeneration/Generators/MetadataRegistryEmitter.cs
Due: production

test: MSTEST0029 — add edge case tests for virtual/override and make-private fixer (#9785)
  test/UnitTests/MSTest.Analyzers.UnitTests/PublicMethodShouldBeTestMethodAnalyzerTests.cs
Due: test

Backport SourceGenerationNonAotTests glob fix for ReflectionFree default
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
Due: test

Prefer Assert.IsEmpty over Assert.HasCount(0, collection) (#9790)
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.HasCount.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

Bump .NET SDK to 11.0.100-preview.7.26359.110
  global.json
Due: none

Add Span/Memory overloads to Assert.ContainsSingle
  src/TestFramework/TestFramework/Assertions/Assert.ContainsSingle.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ContainsSingleSpan.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Items.cs
Due: production, test

Add Span/Memory overloads to Assert.ContainsAll and Assert.DoesNotContainAll
  src/TestFramework/TestFramework/Assertions/Assert.ContainsAll.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ContainsAll.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ContainsAllSpan.cs
Due: production, test

Simplify Memory/ReadOnlyMemory length checks in IsNotEmpty
  src/TestFramework/TestFramework/Assertions/Assert.IsEmpty.cs
Due: production

Add client-declared `IsStateful` capability to MTP (#9789)
  docs/mstest-runner-protocol/001-protocol-intro.md
  src/Platform/Microsoft.Testing.Platform/Hosts/ConsoleTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestExecution.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.Deserializers.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/JsonRpcMethods.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/RpcMessages.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.Deserializers.cs
  src/Platform/Microsoft.Testing.Platform/Services/ClientCapabilitiesService.cs
  src/Platform/Microsoft.Testing.Platform/Services/IClientCapabilities.cs
  src/Platform/Microsoft.Testing.Platform/Services/IClientInfo.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ServerMode/v1.0.0/ClientCapabilities.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/RunSettingsPatcherTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsonTests.cs
Due: production, test

Fix IndexOutOfRangeException in VSTestBridge BuildFilter UID escaping (#9771)
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/RunContextAdapterFilterTests.cs
Due: production, test

Update formatting and punctuation in LICENSE file
  LICENSE
Due: none

Fix #9762: share RunSettings/TestRunParameters provider logic between MSTest adapter and VSTestBridge via dependency-free linked source (#9775)
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettingsCommandLineOptionsProvider.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettingsEnvironmentVariableProvider.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestTestRunParametersCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/CommandLine/RunSettingsCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/CommandLine/TestRunParametersCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/TestHostControllers/RunSettingsEnvironmentVariableProvider.cs
  src/Platform/SharedExtensionHelpers/RunSettingsProviderHelper.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/CommandLine/RunSettingsCommandLineOptionsProviderTests.cs
Due: production, test

perf: cache GetTestId result on UnitTestElement for native MTP path
  src/Adapter/MSTest.TestAdapter/Extensions/UnitTestElementExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
Due: production

Make Azure.Identity optional in AzureFoundry via injectable TokenCredential (#9779)
  Directory.Packages.props
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Microsoft.Testing.Extensions.AzureFoundry.csproj
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/OpenAIChatClientProvider.cs
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/TestApplicationBuilderExtensions.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureFoundryChatClientProviderTests.cs
Due: production, test

Add public injectable IArtifactNamingService to Microsoft.Testing.Platform
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Services/ArtifactFileNameSanitizer.cs
  src/Platform/Microsoft.Testing.Platform/Services/ArtifactNamingService.cs
  src/Platform/Microsoft.Testing.Platform/Services/IArtifactNamingService.cs
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProviderExtensions.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ArtifactNamingServiceTests.cs
Due: production, test

Add Span/Memory overloads to Assert.AreEquivalent and Assert.AreNotEquivalent
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEquivalentSpan.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEquivalentTests.cs
Due: production, test

Add Span/Memory overloads to Assert.AreSequenceEqual and Assert.AreNotSequenceEqual
  src/TestFramework/TestFramework/Assertions/Assert.AreNotSequenceEqual.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreSequenceEqual.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreSequenceEqualTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.SequenceEqualSpan.cs
Due: production, test

Add Span/Memory overloads to Assert.AreAllDistinct, AreAllNotNull, AreAllOfType
  src/TestFramework/TestFramework/Assertions/Assert.AreAllDistinct.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreAllNotNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreAllOfType.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreAll.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreAllSpan.cs
Due: production, test

Make ReflectionFree the default source-gen mode + harden AOT acceptance tests by @Evangelink in #9777 (backport to rel/4.3) (#9791)
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Shipped.txt
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Analyzers/MSTest.SourceGeneration/Generators/ReflectionMetadataGenerator.cs
  src/Analyzers/Shared/SourceGenModeHelper.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/AcceptanceSourceGen.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/MetadataMode.cs
Due: production, test

Address review: make telemetry a true no-op on single-threaded wasm
  src/Platform/Microsoft.Testing.Extensions.Telemetry/AppInsightsProvider.cs
Due: production

Bump .NET SDK to 11.0.100-preview.7.26359.110 (#9797)
  global.json
Due: none

Add Assert.IsEmpty/IsNotEmpty overloads for Span and Memory (#9793)
  src/TestFramework/TestFramework/Assertions/Assert.Count.InterpolatedStringHandlers.cs
  src/TestFramework/TestFramework/Assertions/Assert.HasCount.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsEmpty.cs
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Items.cs
Due: production, test

Make ReflectionFree the default source-gen mode + harden AOT acceptance tests (#9777)
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Shipped.txt
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Analyzers/MSTest.SourceGeneration/Generators/MetadataRegistryEmitter.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/ReflectionMetadataGenerator.cs
  src/Analyzers/Shared/SourceGenModeHelper.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrimAndAotAssertions.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/AcceptanceSourceGen.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/MetadataMode.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
