Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
Due: production

HangDump should trigger even after test session finish
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpActivityIndicator.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/Serializers/SessionEndSerializer.cs
Due: production

Fix failing test
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpActivityIndicator.cs
Due: production

Add more comments
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/MessageHandlerFactory.cs
Due: production

Add acceptance test for hang dump triggering after test session finish (#7429)
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
Due: test

Rely on UpdateXlf instead of manually modifying xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Address review comments
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/TargetFrameworkParser.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TargetFrameworkParserTests.cs
Due: production, test

Address Copilot review comment
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
Due: test

Dispose timer
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
Due: production

Test also netfx
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Microsoft.Testing.Extensions.UnitTests.csproj
Due: test

Apply suggestions from code review
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hans.xlf
Due: production

Add default settings for vscode
  .vscode/settings.json
Due: none

Address Youssef review comments
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TargetFrameworkParser.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TargetFrameworkParserTests.cs
Due: production, test

Exclude .vscode directory from builds in pipeline
  azure-pipelines.yml
Due: none

Improve tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SoftAssertionTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ScopeTests.cs
Due: test

Fix
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SoftAssertionTests.cs
Due: test

Fix new comments
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTests.cs
Due: production, test

More fixes and cleanup of tests
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTests.cs
Due: test

Forgot to update line in expected
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTests.cs
Due: test

Address review comments
  docs/RFCs/011-Soft-Assertions-Nullability-Design.md
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Assertions/AssertScope.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SoftAssertionTests.cs
Due: production, test

Reduce IVT by using Embedded attribute and source link
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Microsoft.Testing.Extensions.AzureFoundry.csproj
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Microsoft.Testing.Extensions.CrashDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HotReload/Microsoft.Testing.Extensions.HotReload.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.Retry/Microsoft.Testing.Extensions.Retry.csproj
  src/Platform/Microsoft.Testing.Extensions.Telemetry/Microsoft.Testing.Extensions.Telemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/ApplicationStateGuard.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/EnvironmentVariableConstants.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/ExitCodes.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/RoslynString.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/TimeSpanParser.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/TimeoutHelper.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeBase.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServer.cs
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TargetFrameworkParser.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSTest.Acceptance.IntegrationTests.csproj
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
Due: production, test

Fix
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
Due: production

Fixes
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildOrchestratorLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostOchestratorHost.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostControllersExtension.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostOrchestrator.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostOrchestratorApplicationLifetime.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostOrchestratorManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/OrchestratorBackCompat.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/TestHostOrchestratorConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/TestHostOrchestratorManager.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostOrchestratorManagerTests.cs
Due: production, test

Add test to validate fix is correct
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Add more tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
Due: test

Fix
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
Due: production

Improve IsInstanceOfType/IsNotInstanceOfType assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInstanceOfTypeTests.cs
Due: production, test

Improve IsNull/IsNotNull assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsNull.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.cs
Due: production, test

Improve IsExactInstanceOfType/IsNotExactInstanceOfType assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.IsExactInstanceOfType.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsExactInstanceOfTypeTests.cs
Due: production, test

Add assertion formatting helpers and localized resource strings
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Improve AreSame/AreNotSame assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreSame.cs
Due: production, test

Improve AreEqual/AreNotEqual assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Improve IsTrue/IsFalse assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsTrueTests.cs
Due: production, test

Improve Contains/DoesNotContain/IsInRange assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInRange.cs
Due: production, test

Improve EndsWith/DoesNotEndWith assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.EndsWith.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.EndsWith.cs
Due: production, test

Improve IComparable assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.IComparable.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IComparableTests.cs
Due: production, test

Improve MatchesRegex/DoesNotMatchRegex assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.Matches.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.MatchesRegex.cs
Due: production, test

Improve ThrowsException assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

Minor test cleanup for Inconclusive assertion
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.InconclusiveTests.cs
Due: test

Improve HasCount/IsEmpty/IsNotEmpty assertion error messages
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Items.cs
Due: production, test
