Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Document new GitHub Actions report features and options
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/PACKAGE.md
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSlowTestReporterTests.cs
Due: production, test

[create-pull-request] automated change
  changes.patch
Due: none

Fix CloneWithUpdatedSource to mutate the clone instead of this
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
Due: production

Neutralize test result recording in PlatformServices (Phase 6b) (#9579)
  src/Adapter/MSTest.TestAdapter/Extensions/TestResultExtensions.cs
  src/Adapter/MSTest.TestAdapter/Helpers/UnitTestOutcomeHelper.cs
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/Services/TestResultRecorderExtensions.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestResultRecorder.cs
  src/TestFramework/TestFramework/TestFramework.csproj
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
Due: production, test

Bump bundled Playwright for .NET to 1.61.0 (#9578)
  Directory.Packages.props
Due: none

Avoid MSB4011 duplicate-import warnings when layering MSTest.Sdk on another base SDK (#9562)
  src/Package/MSTest.Sdk/README.md
  src/Package/MSTest.Sdk/Sdk/Sdk.props.template
  src/Package/MSTest.Sdk/Sdk/Sdk.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Neutralize test message logging in PlatformServices execution engine (Phase 6c)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ClassCleanupManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.TestContext.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Utilities.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.RunSingleTest.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.TestFilter.cs
  src/Adapter/MSTestAdapter.PlatformServices/IPlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Transfer ownership in ReflectionMetadataHook.Register instead of cloning
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
Due: production

Document GH_AW_GITHUB_TOKEN removal and enterprise 8-day PAT policy
  .github/workflows/README.md
Due: none

Reword ownership-transfer remarks to avoid implying a trust boundary
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
Due: production

Fix Markdown rendering in token docs per PR review
  .github/workflows/README.md
Due: none

Neutralize test message logging in PlatformServices execution engine (Phase 6c) (#9585)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ClassCleanupManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.TestContext.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Utilities.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.RunSingleTest.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.TestFilter.cs
  src/Adapter/MSTestAdapter.PlatformServices/IPlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Fix CloneWithUpdatedSource mutating `this` instead of the clone (#9581)
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
Due: production

Document GH_AW_GITHUB_TOKEN removal and enterprise 8-day PAT policy (#9588)
  .github/workflows/README.md
Due: none

Flow read-only dictionaries through instead of materializing them
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/CompositeSourceGeneratedReflectionDataProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionDataProvider.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/SourceGeneration/SourceGeneratedReflectionOperationsTests.cs
Due: production, test

Transfer ownership in ReflectionMetadataHook.Register instead of cloning by @Evangelink in #9586 (backport to rel/4.3) (#9589)
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
Due: production

Fix CloneWithUpdatedSource mutating `this` instead of the clone (rel/4.3) (#9582)
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
Due: production

Transfer ownership in ReflectionMetadataHook.Register instead of cloning (#9586)
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/CompositeSourceGeneratedReflectionDataProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionDataProvider.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/SourceGeneration/SourceGeneratedReflectionOperationsTests.cs
Due: production, test

Fix acceptance test: pin MSTest.Sdk version via global.json for manual SDK imports
  src/Package/MSTest.Sdk/README.md
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Neutralize run-settings input in PlatformServices host layer (Phase 6c2)
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumeratorWrapper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.TestContext.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/IPlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/DesktopTestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Move test-case filter parsing to adapter boundary (Phase 6d-1)
  src/Adapter/MSTest.TestAdapter/TestMethodFilter.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestElementFilterProvider.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
Due: production, test

[rel/4.3] Avoid MSB4011 duplicate-import warnings when layering MSTest.Sdk on another base SDK (#9584)
  src/Package/MSTest.Sdk/README.md
  src/Package/MSTest.Sdk/Sdk/Sdk.props.template
  src/Package/MSTest.Sdk/Sdk/Sdk.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

perf: cache GetParameters() and ReflectionTestMethodInfo across data rows
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.ArgumentResolution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
  src/TestFramework/TestFramework/Internal/ReflectionTestMethodInfo.cs
Due: production

docs: add missing changelog entries for #9542, #9545, #9549, #9581
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Refactor VideoRecorderSessionHandler into partial class files
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.DataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.Helpers.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.SegmentPruning.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.VideoProduction.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.cs
Due: production

Renumber to RFC 018 and rework into a decisive layered design
  docs/RFCs/017-Artifact-Post-Processing.md
  docs/RFCs/018-Artifact-Post-Processing.md
Due: none

perf: reduce allocations in data-driven test execution hot path
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.ArgumentResolution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  src/TestFramework/TestFramework/Internal/ReflectionTestMethodInfo.cs
Due: production

docs: add missing changelog entries for #9542, #9545, #9549, #9581 (#9613)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Remove VSTest run/discovery context from PlatformServices (Phase 6d-2)
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Deployment/DeploymentContext.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/MSTestDiscovererHelpers.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.Configuration.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/RunConfigurationSettingsTests.cs
Due: production, test

Remove IFrameworkHandle from the PlatformServices execution engine (Phase 6e-1)
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
Due: production, test

perf: cache GetParameters() and ReflectionTestMethodInfo across data rows (#9614)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.ArgumentResolution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
  src/TestFramework/TestFramework/Internal/ReflectionTestMethodInfo.cs
Due: production

test: add edge case tests for MSTEST0045/0050/0060 analyzers (#9615)
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateTestMethodAttributeAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/GlobalTestFixtureShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseCooperativeCancellationForTimeoutAnalyzerTests.cs
Due: test

Relocate VSTest logger/sink bridges to the adapter (Phase 6e-2)
  src/Adapter/MSTest.TestAdapter/Services/AdapterMessageLoggerExtensions.cs
  src/Adapter/MSTest.TestAdapter/Services/MessageLevel.cs
  src/Adapter/MSTest.TestAdapter/Services/UnitTestElementSinkExtensions.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
