Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Improve MTP test host timeout diagnostics
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessLifecycle.cs
Due: production

Add pipe timeout regression coverage
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Polish MTP test host lifecycle logs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessLifecycle.cs
Due: production

Fix Mach-O fat header byte order
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/DotnetMuxerLocatorTests.cs
Due: production, test

Fix analyzer regressions from MSTest update
  test/.editorconfig
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
Due: test

Fix thin Mach-O fixture endianness
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/DotnetMuxerLocatorTests.cs
Due: test

Add architecture detection coverage for DotnetMuxerLocator (#11131)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/DotnetMuxerLocatorTests.cs
Due: production, test

Split AzureDevOpsResultIdStore.cs into focused partial files (#11154)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsResultIdStore.AttemptHistory.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsResultIdStore.Models.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsResultIdStore.Persistence.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsResultIdStore.cs
Due: production

Remove unneeded DoNotParallelize from FfmpegVideoRecorderTests
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/FfmpegVideoRecorderTests.cs
Due: test

Test server client default values
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientTests.cs
Due: test

Address test host timeout review feedback
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessLifecycle.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Restore cancellation disconnect coverage
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/TestHostControllerCancellationTests.cs
Due: test

Polish MTP timeout diagnostics
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessLifecycle.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Remove orphaned analyzer localization entries
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3071632 by @dotnet-oneloc-localization[bot] in #11158 (backport to rel/4.4) (#11168)
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
Due: production

Fix pipeline test triage feedback
  .github/agents/pipeline-test-triage-analyst.agent.md
  .github/scripts/pipeline_test_triage.py
  .github/scripts/test_pipeline_test_triage.py
  .github/workflows/pipeline-test-triage.lock.yml
  .github/workflows/pipeline-test-triage.md
  .github/workflows/test-pipeline-triage.yml
Due: none

Test server client default values (#11169)
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientTests.cs
Due: test

Handle linked triage build headings
  .github/workflows/pipeline-test-triage.lock.yml
  .github/workflows/pipeline-test-triage.md
Due: none

Fix pipeline test triage feedback and history (#11170)
  .github/agents/pipeline-test-triage-analyst.agent.md
  .github/scripts/pipeline_test_triage.py
  .github/scripts/test_pipeline_test_triage.py
  .github/workflows/pipeline-test-triage.lock.yml
  .github/workflows/pipeline-test-triage.md
  .github/workflows/test-pipeline-triage.yml
Due: none

Handle MTP test-host controller pipe timeouts (#11152)
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessLifecycle.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Fix MSBuild quality review sub-agent GitHub tool access
  .github/agents/msbuild-reviewer.agent.md
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/shared/msbuild-review-shared.md
Due: none

Decouple Filter.Source from test SDK version
  Directory.Packages.props
Due: none

Decouple ObjectModel from test SDK version
  Directory.Packages.props
Due: none

Fix MSBuild quality review sub-agent GitHub tool access (#11171)
  .github/agents/msbuild-reviewer.agent.md
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/shared/msbuild-review-shared.md
Due: none

Fix pipeline triage issue type handling
  .github/agents/pipeline-test-triage-analyst.agent.md
  .github/workflows/pipeline-test-triage.lock.yml
  .github/workflows/pipeline-test-triage.md
Due: none

Fix pipeline triage issue type handling (#11174)
  .github/agents/pipeline-test-triage-analyst.agent.md
  .github/workflows/pipeline-test-triage.lock.yml
  .github/workflows/pipeline-test-triage.md
Due: none

Serialize TRX acceptance tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Relax MSTEST0032 for enum value assertions
  src/Analyzers/MSTest.Analyzers/ReviewAlwaysTrueAssertConditionAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: production, test

Hide skipped test details in public CI
  eng/pipelines/steps/test-non-windows.yml
  eng/pipelines/steps/test-windows-app-model.yml
  eng/pipelines/steps/test-windows-configuration-tests.yml
  test/Directory.Build.targets
Due: test

Add TestFx code review skill
  .github/skills/code-review/SKILL.md
Due: none

Update Microsoft.NETTestSdkVersion and related packages
  Directory.Packages.props
Due: none

Clarify init accessor review rule
  .github/skills/code-review/SKILL.md
Due: none

Cover MSTEST0032 exemption boundaries
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: test

Add TestFx-specific Copilot code review skill (#11177)
  .github/skills/code-review/SKILL.md
Due: none

Remove Visual Basic analyzer test case
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: test

Cover unary plus enum assertion
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: test

Cover parenthesized enum assertion
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: test

[ResourceLock] Remove unneeded DoNotParallelize in FfmpegVideoRecorderTests (#11159)
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/FfmpegVideoRecorderTests.cs
Due: test
