Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Potential fix for pull request finding
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3002144
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3002144
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
Due: production

Stream discovered tests to SDK for --list-tests json instead of printing JSON in server mode
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeListTestsJsonTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
Due: production, test

Extract duplicate banner logic into OutputDeviceBannerHelper (#9181)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceBannerHelper.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/SimplifiedConsoleOutputDeviceBase.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Deduplicate test run summary logic between SimplifiedConsoleOutputDeviceBase and TerminalTestReporter (#9188)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/SimplifiedConsoleOutputDeviceBase.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Summary.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TestRunSummaryHelper.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/TestRunSummaryHelperTests.cs
Due: production, test

docs: add missing 4.3.0/2.3.0 changelog entries for `#9147`, `#9148`, `#9176`, `#9177` (#9207)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Gate streamed discovery details on IsIDE instead of always sending them
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
Due: production

Reference System.Memory 4.6.3 in the .NETFramework adapter (#9209)
  Directory.Packages.props
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
Due: production

Remove redundant 'actual type:' line from Assert.Throws* failure message (#9195)
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.Core.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

Revert runtime guards back to RoslynDebug.Assert to keep split mechanical
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.DataConsumption.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.SessionLifecycle.cs
Due: production

Assert full discovery metadata flows over dotnet-test pipe (--list-tests json)
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeListTestsJsonTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
Due: test

Potential fix for pull request finding
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/TestNodeIdentity.cs
Due: production

Refactor: deduplicate report capture DTOs/logic and SQL FixConnectionString
  src/Adapter/MSTestAdapter.PlatformServices/Data/OdbcDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/OleDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/SqlDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/TestDataConnection.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CapturedTestResult.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/TestResultCapture.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/CapturedTestResult.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/TestResultCapture.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/CapturedTestResult.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/TestResultCapture.cs
  src/Platform/SharedExtensionHelpers/CapturedTestResultBase.cs
  src/Platform/SharedExtensionHelpers/TestResultCaptureHelper.cs
Due: production

Include full exception (stack trace + inner exceptions) in Assert.Throws* failure messages
  docs/RFCs/012-Structured-Assertion-Messages.md
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.Core.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

[test-improver] test: add edge case tests for DuplicateDataRowAnalyzer (MSTEST0042) (#9199)
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateDataRowAnalyzerTests.cs
Due: test

Refactor TrxReportGeneratorCommandLine to extend ReportGeneratorCommandLineBase (#9185)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCommandLine.cs
Due: production

Address review: clarify DTO/helper comments
  src/Adapter/MSTestAdapter.PlatformServices/Data/TestDataConnection.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/CapturedTestResult.cs
  src/Platform/SharedExtensionHelpers/CapturedTestResultBase.cs
Due: production

Stream discovered tests to the SDK for --list-tests json under --server (#8661) (#9192)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeListTestsJsonTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
Due: production, test

[efficiency-improver] perf: defer GetTestName() to failure branches and avoid OfType<> alloc in AzureDevOpsReporter (#9196)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/TestNodeIdentity.cs
Due: production

Address review: preserve friendly generic type name in 'actual exception:' and re-anchor tests on param name
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.Core.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

Deduplicate report capture DTOs/logic and SQL FixConnectionString (#9203, #9205, #9206) (#9211)
  src/Adapter/MSTestAdapter.PlatformServices/Data/OdbcDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/OleDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/SqlDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/TestDataConnection.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CapturedTestResult.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/TestResultCapture.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/CapturedTestResult.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/TestResultCapture.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/CapturedTestResult.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/TestResultCapture.cs
  src/Platform/SharedExtensionHelpers/CapturedTestResultBase.cs
  src/Platform/SharedExtensionHelpers/TestResultCaptureHelper.cs
Due: production

Refactor TerminalOutputDevice.cs into focused partial-class files (#9191) (#9194)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.DataConsumption.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.Initialization.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.SessionLifecycle.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Handshake from test host orchestrator in dotnet test pipe protocol (#6179)
  docs/Changelog-Platform.md
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostOchestratorHost.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/IPushOnlyProtocol.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeOrchestratorHandshakeTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdkMultiConnection.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: production, test

Suppress --no-progress deprecation warning in CI environments
  docs/glossary.md
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.Initialization.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/TerminalOutputDeviceTests.cs
Due: production, test

Fix duration regex flakiness in acceptance tests
  .github/agents/expert-reviewer.agent.md
  .github/copilot-instructions.md
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DynamicDataMethodTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SoftAssertionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceAssert.cs
Due: test

Address PR review: dispose pipe stream on cancellation; link changelog to PR
  docs/Changelog-Platform.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdkMultiConnection.cs
Due: test

Include full exception (stack trace + inner exceptions) in Assert.Throws* failure messages (#9212)
  docs/RFCs/012-Structured-Assertion-Messages.md
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.Core.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

Refactor pipe accept loop to satisfy missing-dispose analyzer
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdkMultiConnection.cs
Due: test

Update agentic workflows
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/code-simplifier.md
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Share dotnet test wire contract as source (ObjectFieldIds + Constants)
  TestFx.slnx
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestProtocolContract.props
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: production, test

Suppress --no-progress deprecation warning in CI (fix broken main) (#9214)
  docs/glossary.md
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.Initialization.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/TerminalOutputDeviceTests.cs
Due: production, test

Fix duration regex flakiness in acceptance tests (#9216)
  .github/agents/expert-reviewer.agent.md
  .github/copilot-instructions.md
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DynamicDataMethodTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SoftAssertionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceAssert.cs
Due: test

Update agentic workflows (#9217)
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/code-simplifier.md
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Address review comments: doc accuracy, TODO policy, old-SDK note, test coverage
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/NopPlatformOutputDeviceTests.cs
Due: production, test

Use range operators instead of Substring in Assert.ThrowsException.Core.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.Core.cs
Due: production

Address review feedback: fix uniqueness comments, mirror contract tests, add BannedSymbols
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/BannedSymbols.txt
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: test

Reuse SDK version negotiation and own pipe stream lifetime via await using in multi-connection fake SDK
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdk.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdkMultiConnection.cs
Due: test

Cleanup TestHostBuilder
  src/Platform/Microsoft.Testing.Platform/Hosts/ConsoleTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestExecution.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestFrameworkBuilderData.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Framework.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
Due: production

Handshake from test host orchestrator in dotnet test pipe protocol (#6179) (#9215)
  docs/Changelog-Platform.md
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostOchestratorHost.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/IPushOnlyProtocol.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeOrchestratorHandshakeTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdk.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdkMultiConnection.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: production, test
