Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Kill testhost if writing hang dump fails (#5538)
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2698282
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
Due: production

Add some unit tests for Assert.Contains/DoesNotContain
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
  test/UnitTests/TestFramework.UnitTests/TestFramework.UnitTests.csproj
Due: test

Add vstest.TestCase.CodeFilePath and vstest.TestCase.LineNumber (#5539)
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ClientCompatibilityService.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TestCaseDiscoverySinkAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestRunTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: production, test

Remove output
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

fix colors and write foreground color per line
  eng/Versions.props
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/SimpleAnsiTerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/SimpleTerminalBase.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Add some unit tests for Assert.Contains/DoesNotContain (#5541)
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
  test/UnitTests/TestFramework.UnitTests/TestFramework.UnitTests.csproj
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2698540
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
Due: production

Fix tests
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/SimpleAnsiTerminal.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Fix false positive of Assert.IsTrue(x == null) when x is a pointer type
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2698985
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
Due: production

revert versioning
  eng/Versions.props
Due: none

Update test name
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: test

Update UseProperAssertMethodsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2699924
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
Due: production

Fix false positive of Assert.IsTrue(x == null) when x is a pointer type (#5548)
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

Set _TestingPlatformDiagnostics_ in VS
  eng/build.ps1
Due: none

Set _TestingPlatformDiagnostics_ in VS (#5556)
  eng/build.ps1
Due: none

Add public api files
  src/Analyzers/MSTest.Analyzers.CodeFixes/MSTest.Analyzers.CodeFixes.csproj
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
  src/Analyzers/MSTest.Analyzers.Package/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Analyzers.Package/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.GlobalConfigsGenerator/MSTest.GlobalConfigsGenerator.csproj
  src/Analyzers/MSTest.GlobalConfigsGenerator/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.GlobalConfigsGenerator/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/MSTest.Internal.Analyzers.csproj
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
  src/Analyzers/MSTest.SourceGeneration/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.SourceGeneration/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform.MSBuild/PublicAPI.Unshipped.txt
Due: production

Revert "[main] Update dependencies from devdiv/DevDiv/vs-code-coverage, dotnet/arcade (#5550)"
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/core-templates/jobs/source-build.yml
  global.json
Due: none

Revert "[main] Update dependencies from devdiv/DevDiv/vs-code-coverag… (#5562)
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/core-templates/jobs/source-build.yml
  global.json
Due: none

Fix branding and final versions
  Directory.Packages.props
  eng/Versions.props
Due: none

Update branding to MSTest 3.10 and MTP 1.8
  eng/Versions.props
Due: none

Update Version.Details.xml
  eng/Version.Details.xml
Due: none

Update Version.Details.xml (#5564)
  eng/Version.Details.xml
Due: none

Update branding to MSTest 3.10 and MTP 1.8 (#5563)
  eng/Versions.props
Due: none

Break analyzer tests
  test/UnitTests/MSTest.Analyzers.UnitTests/ClassCleanupShouldBeValidAnalyzerTests.cs
Due: test

Fix alpha branding on devops extension in rtm build
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
Due: production

[rel/3.9] Fix alpha branding on devops extension in rtm build (#5567)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
Due: production

Fix indentation
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
Due: production

Don't publish final build
  azure-pipelines-official.yml
Due: none

Don't publish RTM build (#5568)
  azure-pipelines-official.yml
Due: none

Typo in azure-pipelines-official.yml
  azure-pipelines-official.yml
Due: none

Fix publish parameter
  azure-pipelines-official.yml
Due: none

Fix publish parameter (#5569)
  azure-pipelines-official.yml
Due: none

Fix alpha branding on devops extension in rtm build (#5566)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
Due: production

Don't publish final build to test-tools
  azure-pipelines-official.yml
Due: none

Don't publish final build to test-tools (#5570)
  azure-pipelines-official.yml
Due: none

Add 3.9.0 changelog
  docs/Changelog.md
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
