Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

remove some un-used polyfills
  src/Analyzers/MSTest.SourceGeneration/Helpers/SystemPolyfills.cs
Due: production

simplify IsNaN checks
  src/TestFramework/TestFramework/Assertions/Assert.IComparable.cs
Due: production

use some pattern matching
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/TestDataSourceHelpers.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidExpectedExceptionAttributeFixer.cs
  src/Analyzers/MSTest.Analyzers/DataRowShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/DoNotNegateBooleanAssertionAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/ITypeSymbolExtensions.cs
  src/Analyzers/MSTest.Analyzers/TestContextShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/UseCooperativeCancellationForTimeoutAnalyzer.cs
  src/Analyzers/MSTest.GlobalConfigsGenerator/AnalyzerSeverityDecider.cs
  src/Analyzers/MSTest.SourceGeneration/Helpers/AttributeDataExtensions.cs
  src/Analyzers/MSTest.SourceGeneration/Helpers/IMethodSymbolExtensions.cs
  src/Analyzers/MSTest.SourceGeneration/Helpers/TestMethods.cs
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/DataRowTestMethodArgumentsInfo.cs
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeEnumeratorTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
Due: production, test

remove un-used producer in IPlatformOutputDevice
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/IPlatformOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/ProxyOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/ServerModePerCallOutputDevice.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
Due: production, test

Mark TestHostControllersTestHost.InternalRunAsync as Unsupported browser
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
Due: production

fix Syncronous typo
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerInformation.cs
  src/Platform/Microsoft.Testing.Platform/Logging/IFIleLoggerInformation.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

use some exception filters
  samples/Playground/ServerMode/v1.0.0/TestingPlatformClient.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/FixtureMethodRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/TestMethodFilter.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/TcpMessageHandler.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ServerMode/v1.0.0/TestingPlatformClient.cs
Due: production, test

suppress MSTESTEXP
  Directory.Build.props
Due: none

fix Coxtext typo
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestClassInfoTests.cs
Due: test

remove some empty type declarations (#6041)
  src/Adapter/MSTest.Engine/Helpers/ISuccessReason.cs
  src/Adapter/MSTest.Engine/Helpers/IWarningReason.cs
  src/Adapter/MSTest.Engine/TestNodes/IActionableTestNode.cs
  test/UnitTests/MSTest.Engine.UnitTests/TestBase.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/TestBase.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/TestUtilities/CSharpCodeFixVerifier.cs
Due: production, test

Cleanup available Assert API overloads (#6003)
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/Assertions/Assert.EndsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.Fail.cs
  src/TestFramework/TestFramework/Assertions/Assert.Inconclusive.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.StartsWith.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertionArgsShouldAvoidConditionalAccessAnalyzerTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2751081
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

fix Syncronous typo (#6048)
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerInformation.cs
  src/Platform/Microsoft.Testing.Platform/Logging/IFIleLoggerInformation.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Merge TcpMessageHandler and StreamMessageHandler
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/StreamMessageHandler.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/TcpMessageHandler.cs
Due: production

Cleanup
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/TcpMessageHandler.cs
Due: production

Support passing arguments to DynamicData methods (#5892)
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DynamicDataMethodTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2751112
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

simplify IsNaN checks (#6043)
  src/TestFramework/TestFramework/Assertions/Assert.IComparable.cs
Due: production

Cleanup TerminalTestReporter (#6037)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterOptions.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Fix TypeContainingTestMethodShouldBeATestClassAnalyzer to handle structs with TestMethod (#5818)
  src/Analyzers/MSTest.Analyzers.CodeFixes/AddTestClassFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.Designer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/TypeContainingTestMethodShouldBeATestClassAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/TypeContainingTestMethodShouldBeATestClassAnalyzer.cs
Due: production, test

Move IDataConsumer from Microsoft.Testing.Platform.Extensions.TestHost to Microsoft.Testing.Platform.Extensions namespace (#6035)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpActivityIndicator.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/AbortForMaxFailedTestsExtension.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/IDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestFrameworkBuilderData.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsynchronousMessageBus.cs
  src/Platform/Microsoft.Testing.Platform/Messages/BaseMessageBus.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ChannelConsumerDataProcessor.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ConsumingEnumerableConsumerDataProcessor.cs
  src/Platform/Microsoft.Testing.Platform/Messages/MessageBusProxy.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/IPushOnlyProtocolConsumer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PerRequestServerDataConsumerService.cs
  src/Platform/Microsoft.Testing.Platform/Services/ITestApplicationProcessExitCode.cs
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProvider.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/ExtensionInformationCollector.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/PassiveNodeDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/TestHostControllerConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/TestHostControllersManager.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/AsynchronousMessageBusTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/SlowestTestsConsumer.cs
Due: production, test

Add clarifying comment to NamedPipeServer.WaitConnectionAsync (#6036)
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServer.cs
Due: production

Merge TcpMessageHandler and StreamMessageHandler (#6054)
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/StreamMessageHandler.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/TcpMessageHandler.cs
Due: production

Fix IDE0055
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/FixtureMethodRunner.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2751135
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Ignore diagnostic
  src/Analyzers/MSTest.SourceGeneration/Helpers/SystemPolyfills.cs
Due: production

Multi-tfm analyzer tests and enable test
  test/UnitTests/MSTest.Analyzers.UnitTests/MSTest.Analyzers.UnitTests.csproj
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/TestContextPropertyUsageAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Verifiers/CSharpCodeFixVerifier`2+Test.cs
Due: test

Fix bad conflict resolution
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
Due: production

Progress
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/TrxReportProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/net/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
Due: production

Update TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
Due: production

Avoid using records for public APIs
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/TrxReportProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
Due: production

Mark abstract
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/TrxReportProperties.cs
Due: production

Remove PrintMembers
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/TrxReportProperties.cs
Due: production

Fix build errors
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/TrxReportProperties.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
Due: production

Fix
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
Due: production

Fix
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportPropertiesTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: test

use some exception filters (#6049)
  samples/Playground/ServerMode/v1.0.0/TestingPlatformClient.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/FixtureMethodRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/TestMethodFilter.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/TcpMessageHandler.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ServerMode/v1.0.0/TestingPlatformClient.cs
Due: production, test

Add TestCategories property to ITestDataRow for per-test-case categorization (#5795)
  MSTest.slnf
  TestFx.slnx
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/TestDataSourceHelpers.cs
  src/TestFramework/TestFramework/ITestDataRow.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/TestDataRow.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestCategoriesFromTestDataRowTests.cs
  test/IntegrationTests/TestAssets/TestCategoriesFromTestDataRowProject/TestCategoriesFromTestDataRowProject.csproj
  test/IntegrationTests/TestAssets/TestCategoriesFromTestDataRowProject/TestCategoriesFromTestDataRowTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Helpers/TestDataSourceHelpersTests.cs
  test/UnitTests/TestFramework.UnitTests/TestDataRowTests.cs
Due: production, test

remove some un-used polyfills (#6042)
  src/Analyzers/MSTest.SourceGeneration/Helpers/SystemPolyfills.cs
Due: production

Remaining overrides of ToString
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
