Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Address review: clarify pipe-directory error messages re override precedence
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Address PR review: cross-platform BrowserPlayground docs, singular TFM
  samples/BrowserPlayground/BrowserPlayground.csproj
  samples/BrowserPlayground/README.md
Due: none

Address review: add multibyte path-length test to prove UTF-8 byte counting
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/IPCTests.cs
Due: test

Address PR review: fix references to removed WasiPlayground sample
  eng/restore-toolset.ps1
  eng/restore-toolset.sh
  samples/BrowserPlayground/README.md
Due: none

Address PR review: correct 'MTP-generated Program.Main' wording in sample
  samples/BrowserPlayground/BrowserPlayground.csproj
  samples/BrowserPlayground/README.md
  samples/BrowserPlayground/wwwroot/main.js
  samples/BrowserPlayground/wwwroot/runtests.mjs
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3020274
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.cs.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.es.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.fr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.it.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ja.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pl.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pt-BR.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ru.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.tr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hans.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3020274 (#9869)
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.cs.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.es.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.fr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.it.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ja.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pl.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pt-BR.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ru.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.tr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hans.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hant.xlf
Due: production

Regenerate out-of-date xlf to fix main pipeline
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Make non-compliant TODO comments policy-compliant
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/TestDataConnectionSql.Schema.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ExceptionHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Execution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/MethodInfoExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/RuntimeContext.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentItemUtility.cs
  src/Analyzers/MSTest.Analyzers/AssertThrowsShouldContainSingleStatementAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/AssertionArgsShouldAvoidConditionalAccessAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/DiagnosticExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsRunIdCoordinator.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/QuarantineFile.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Metadata.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Results.Definitions.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Results.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Helpers/RunSettingsHelpers.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunSettingsAdapter.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ToolsTestHost.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/SimpleTerminalBase.cs
  src/TestFramework/TestFramework.Extensions/Attributes/DeploymentItemAttribute.cs
  src/TestFramework/TestFramework.Extensions/Attributes/WinUI_UITestMethodAttribute.cs
  src/TestFramework/TestFramework.Extensions/PrivateObject.Helpers.cs
Due: production

Update agentic workflows
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/unskip-closed-tests.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Fix backport workflow failing on every push
  .github/workflows/backport.yml
Due: none

Address review: document invariants instead of vague notes
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentItemUtility.cs
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/DiagnosticExtensions.cs
Due: production

test: add explicit type tests for AvoidOutParameterOnAssertIsInstanceOfTypeFixer
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidOutParameterOnAssertIsInstanceOfTypeFixerTests.cs
Due: test

Extract ParseBoolSetting helper in MSTestSettings.RunSettingsXml (#9871)
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.RunSettingsXml.cs
Due: production

perf: add Scenario3 (lifecycle overhead) to performance benchmark suite
  test/Performance/MSTest.Performance.Runner/Program.cs
  test/Performance/MSTest.Performance.Runner/Scenarios/Scenario3.cs
Due: test

Regenerate out-of-date xlf to fix main pipeline (#9877)
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Address PR review: drop server/container ProjectCapability from browser sample
  samples/BrowserPlayground/BrowserPlayground.csproj
Due: none

Deduplicate RunSettings providers via shared base classes
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettingsCommandLineOptionsProvider.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettingsConfigurationProvider.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettingsEnvironmentVariableProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/CommandLine/RunSettingsCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Configurations/RunSettingsConfigurationProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/TestHostControllers/RunSettingsEnvironmentVariableProvider.cs
  src/Platform/SharedExtensionHelpers/RunSettingsCommandLineOptionsProviderBase.cs
  src/Platform/SharedExtensionHelpers/RunSettingsConfigurationProviderBase.cs
  src/Platform/SharedExtensionHelpers/RunSettingsEnvironmentVariableProviderBase.cs
Due: production

Address PR review: fix cross-platform path note in BrowserPlayground README
  samples/BrowserPlayground/README.md
Due: none

Address review: fix doc element, correct API name, clarify reference note
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
  src/Analyzers/MSTest.Analyzers/AssertionArgsShouldAvoidConditionalAccessAnalyzer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Metadata.cs
Due: production

Fix backport workflow failing on every push (#9880)
  .github/workflows/backport.yml
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3020968
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3020968
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3020968 (#9882)
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Update again
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/unskip-closed-tests.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Update agentic workflows (#9879)
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/unskip-closed-tests.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Fix invalid placeholders in loc xlf breaking main
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Bump vendored-sync baselines for terminal NativeMethods and response-file helper
  eng/vendored-files.json
Due: none

Fix invalid placeholders in loc xlf breaking main (#9888)
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Add explicit type tests for AvoidOutParameterOnAssertIsInstanceOfTypeFixer (#9885)
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidOutParameterOnAssertIsInstanceOfTypeFixerTests.cs
Due: test

Extract ParseBoolSetting helper in MSTestSettings.RunSettingsXml (#9883)
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.RunSettingsXml.cs
Due: production

Bump Microsoft.CodeAnalysis.PublicApiAnalyzers to 5.10.0-1 preview (#9865)
  Directory.Packages.props
Due: none

perf: add Scenario3 (lifecycle overhead) to performance benchmark suite (#9881)
  test/Performance/MSTest.Performance.Runner/Program.cs
  test/Performance/MSTest.Performance.Runner/Scenarios/Scenario3.cs
Due: test

Address PR review: normalize LocateNode path + refresh WasmRuntime summary
  test/Utilities/Microsoft.Testing.TestInfrastructure/WasmRuntime.cs
Due: test

Revert in-progress TestMethodIdentifier skip: it regresses real consumers
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestTestNodeConverter.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestTestNodeConverterTests.cs
Due: production, test

Deduplicate RunSettings providers via shared base classes (#9884)
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettingsCommandLineOptionsProvider.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettingsConfigurationProvider.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestRunSettingsEnvironmentVariableProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/CommandLine/RunSettingsCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Configurations/RunSettingsConfigurationProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/TestHostControllers/RunSettingsEnvironmentVariableProvider.cs
  src/Platform/SharedExtensionHelpers/RunSettingsCommandLineOptionsProviderBase.cs
  src/Platform/SharedExtensionHelpers/RunSettingsConfigurationProviderBase.cs
  src/Platform/SharedExtensionHelpers/RunSettingsEnvironmentVariableProviderBase.cs
Due: production

Add edge case tests for MSTEST0031 derived TestMethod attributes
  test/UnitTests/MSTest.Analyzers.UnitTests/DoNotUseSystemDescriptionAttributeAnalyzerTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3021005
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
Due: production

Address PR review: skip source-gen accessor for parameterized DynamicData methods
  src/Analyzers/MSTest.SourceGeneration/Generators/MetadataRegistryEmitter.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/TestClassModelBuilder.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
Due: production, test

Backport localization placeholder fixes from main to rel/4.3
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production
