Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Remove redundant package origin test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelPackageTests.cs
Due: test

Handle mixed AppContainer packages
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppActivationArguments.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppExtensions.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppActivationArgumentsTests.cs
Due: production, test

Use job-unique pipeline artifacts
  azure-pipelines.yml
Due: none

Align Windows app model prerequisites
  azure-pipelines.yml
  eng/pipelines/test-windows-app-model-preflight.ps1
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelTestTools.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
Due: test

Use application-specific trust evidence
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
Due: production, test

Preserve SDK validation with discard
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelTestTools.cs
Due: test

Cover activation connect-back bootstrap
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackReader.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppExtensions.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppActivationArgumentsTests.cs
Due: production, test

Add a source-only MTP server-mode client package (#10085)
  Microsoft.Testing.Platform.slnf
  NonWindowsTests.slnf
  TestFx.slnx
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/IMtpClientLogger.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/IMtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpClientModernPolyfills.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpClientOperatingSystem.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpJsonRpcConnection.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClientExceptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClientOptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/SerializerUtilities.ClientSerializers.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Microsoft.Testing.Platform.ServerMode.Client.Sources.csproj
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/PlatformResourcesShim.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/build/Microsoft.Testing.Platform.ServerMode.Client.Sources.props
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/build/Microsoft.Testing.Platform.ServerMode.Client.Sources.targets
  src/Platform/Microsoft.Testing.Platform/InternalAPI/net/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/FormatterUtilities.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/IMessageFormatter.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.Deserializers.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.TestNodeSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/TcpMessageHandler.cs
  src/Polyfills/OperatingSystem.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSTest.Acceptance.IntegrationTests.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MtpServerClientAcceptanceTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientPackagedConsumerRunTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageConsumerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/BannedSymbols.txt
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/FakeMtpServer.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/TestSetup.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsonTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/TcpMessageHandlerTests.cs
Due: production, test

Avoid Base64 allocation for spill payloads
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppActivationArguments.cs
Due: production

Harden app model CI coverage
  azure-pipelines.yml
  eng/pipelines/steps/test-windows-app-model.yml
  eng/pipelines/test-windows-app-model-preflight.ps1
Due: none

Retain UWP layouts when cleanup fails
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ClassicUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelTestTools.cs
Due: test

Cover packaged activation transport selection
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
Due: production, test

Atomically claim activation payloads
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppActivationArguments.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppActivationArgumentsTests.cs
Due: production, test

Scavenge stale activation payloads
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppActivationArguments.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppActivationArgumentsTests.cs
Due: production, test

Sweep stale payloads on inline activation
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppActivationArguments.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppActivationArgumentsTests.cs
Due: production, test

Preserve packaged WinUI full-trust fallback
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedAppActivationArgumentsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
Due: production, test

Cover manifest trust signals independently
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
Due: test

Clear activation keys after read failures
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppActivationArguments.cs
Due: production

Localize activation payload errors
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppActivationArguments.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
Due: production

Register packages before writing activation handoffs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/Windows/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
Due: production, test

Honor explicit Windows runtime behavior
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
Due: production, test

Name activation transport explicitly
  docs/RFCs/017-TestHost-Launcher.md
  docs/glossary.md
  docs/winui-testing.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxApplicationInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
Due: production, test

Add MSTEST0077 fixture branch coverage
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
Due: test

Add MSTEST0077 fixture branch coverage (#10497)
  test/UnitTests/MSTest.Analyzers.UnitTests/SharedFileSystemPathInTestAnalyzerTests.cs
Due: test

Document resolved Copilot CLI installer issue (#10488)
  .github/workflows/README.md
Due: none

Preserve affected test failures
  eng/pipelines/steps/test-windows-debug-coverage.yml
  eng/validate-affected-tests.ps1
  global.json
Due: none

Simplify UWP and WinUI test projects (#10484)
  docs/glossary.md
  docs/winui-testing.md
  src/Package/MSTest.Sdk/Sdk/Runner/Common.targets
  src/Package/MSTest.Sdk/Sdk/Sdk.props.template
  src/Package/MSTest.Sdk/Sdk/Sdk.targets
  src/Package/MSTest.Sdk/Sdk/VSTest/VSTest.targets
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/UnpackagedWinUITests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
Due: production, test

Mark artifact post-processing RFC implemented (#10487)
  docs/RFCs/018-Artifact-Post-Processing.md
Due: none

docs: document MTP server mode
  docs/glossary.md
Due: none

Fix Copilot CLI path in agentic workflows
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
  .github/workflows/unskip-closed-tests.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Add Windows app model acceptance coverage (#10490)
  azure-pipelines.yml
  eng/pipelines/steps/test-windows-app-model.yml
  eng/pipelines/test-windows-app-model-preflight.ps1
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ClassicUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelPackageTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelTestTools.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedWinUITests.cs
Due: test

Deliver MTP activation arguments to AppContainer hosts (#10489)
  docs/RFCs/017-TestHost-Launcher.md
  docs/glossary.md
  docs/winui-testing.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/ActivatedAppTestHostHandle.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxApplicationInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/Windows/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppActivationArguments.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppConnectBackReader.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedAppActivationArgumentsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppActivationArgumentsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
Due: production, test

Preserve all-skipped affected test failures
  eng/pipelines/steps/test-windows-debug-coverage.yml
  eng/validate-affected-tests.ps1
Due: none

Validate GitHub Actions report options
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/GitHubActionsResources.resx
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsCommandLineProviderTests.cs
Due: production, test

docs: clarify server mode terminology
  docs/glossary.md
Due: none

Preserve BOM in GitHub Actions provider tests
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsCommandLineProviderTests.cs
Due: test

Align with the #10485 host bootstrap and prove AppContainer connections
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/NamedPipeServerSecurityTests.cs
Due: test

Cover the pipe round-trip and pin that integrity is never lowered
  docs/RFCs/017-TestHost-Launcher.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServerSecurity.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/ITestHostControllerPipeAuthorizer.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/NamedPipeServerSecurityTests.cs
Due: production, test

Authorize AppContainer test hosts on the MTP controller pipe
  docs/RFCs/017-TestHost-Launcher.md
  docs/winui-testing.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppContainerSecurityIdentifier.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServer.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServerSecurity.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/ITestHostControllerPipeAuthorizer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppContainerSecurityIdentifierTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppPipeAuthorizationTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/NamedPipeServerSecurityTests.cs
Due: production, test

Make the controller-connection authorization hook OS-concept-neutral
  docs/RFCs/017-TestHost-Launcher.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServer.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServerSecurity.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/ITestHostControllerConnectionAuthorizer.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/ITestHostControllerPipeAuthorizer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppPipeAuthorizationTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/NamedPipeServerSecurityTests.cs
Due: production, test
