Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Address tech-debt batch: analyzer/report-engine dedup, MSBuild authoring, file diet (#9487)
  Directory.Build.targets
  Directory.Packages.props
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AvoidThreadSleepAndTaskWaitInTestsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/Category.cs
  src/Analyzers/MSTest.Analyzers/Helpers/FixtureMethodAnalyzerHelper.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AnalyzerCategoryGovernanceTests.cs
Due: production, test

Add ITestFilter / [TestFilterProvider] for programmatic test filtering (#8894) (#8896)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.FilterDiscovery.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/TestFramework/TestFramework/Attributes/Lifecycle/TestFilterProviderAttribute.cs
  src/TestFramework/TestFramework/Filtering/ITestFilter.cs
  src/TestFramework/TestFramework/Filtering/TestFilterAction.cs
  src/TestFramework/TestFramework/Filtering/TestFilterContext.cs
  src/TestFramework/TestFramework/Filtering/TestFilterResult.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTestFilterProviderTests.cs
  test/UnitTests/TestFramework.UnitTests/Filtering/TestFilterResultTests.cs
Due: production, test

Fix acceptance source-gen harness: exclude nested bin/obj from default globs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssemblyFixtureProviderTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/AcceptanceSourceGen.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3010813
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
Due: production

Run class cleanup in ITestFilter drop path when last test of an initialized class is dropped
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterClassCleanupTests.cs
Due: production, test

refactor: simplify duplicate catch blocks and attribute-loop consistency
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionOperations.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostHandle.cs
Due: production

Fix [ClassCleanup] leak when ITestFilter drops the last test of an initialized class (#9503)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterClassCleanupTests.cs
Due: production, test

[code-simplifier] refactor: simplify duplicate catch blocks and attribute-loop consistency (#9505)
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionOperations.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostHandle.cs
Due: production

Add C++/CLI + MSTest VSTest acceptance test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/CppCliVSTestTests.cs
Due: test

perf: avoid List<TestResult> allocation in RunTestMethodAsync non-data-driven fast path
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3010832
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
Due: production

[perf-improver] perf: add dotnet test server-mode scenario to performance runner (#9486)
  test/Performance/MSTest.Performance.Runner/Program.cs
  test/Performance/MSTest.Performance.Runner/Steps/DotnetTestProcess.cs
Due: test

Fix broken main: opt AssemblyFixtureProvider acceptance asset out of source-gen build (#9504)
  test/Utilities/Microsoft.Testing.TestInfrastructure/AcceptanceSourceGen.cs
Due: test

[efficiency-improver] perf: add PropertyBag.FirstOrDefault(T)() to eliminate per-call array allocation (#9488)
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.cs
  src/Platform/Microsoft.Testing.Platform/Messages/PropertyBag.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/PropertyBagTests.cs
Due: production, test

Preserve empty-result safeguard in non-data-driven fast path
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
Due: production

Add MTP-hosted C++/CLI acceptance test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/CppCliMtpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/CppCliTestSupport.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/CppCliVSTestTests.cs
Due: test

Fix Dependabot discovery of bundled Playwright; bump to 1.61.0
  Directory.Packages.props
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSTest.Acceptance.IntegrationTests.csproj
Due: test

Forward Azure DevOps logging commands over the dotnet test pipe (multi-assembly) (#9463)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsArtifactUploader.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsLogGroupReporter.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsSlowTestReporter.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsSummaryReporter.cs
  src/Platform/Microsoft.Testing.Platform/IPC/Serializers/RegisterSerializers.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/AzureDevOpsCommandOutputDeviceData.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/AzureDevOpsLogIssueFormatter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/DotnetTestPassthroughOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Models/AzureDevOpsLogMessage.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/ObjectFieldIds.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/AzureDevOpsLogMessageSerializer.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeAzureDevOpsForwardingTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeBaselineTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsArtifactUploaderTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLogGroupReporterTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsSummaryReporterTests.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/AzureDevOpsLogIssueFormatterTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/DotnetTestPassthroughOutputDeviceTests.cs
Due: production, test

Address review: keep Playwright at 1.60.0 to validate the fix, drop misleading PackageDownload
  Directory.Packages.props
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSTest.Acceptance.IntegrationTests.csproj
Due: test

Add GitHub Actions failure annotations (#9142 requirement 2)
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsAnnotationReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsCommandLineOptions.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsEscaper.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsFeature.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsRepositoryRoot.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/GitHubActionsResources.resx
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/TestNodeIdentity.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsAnnotationReporterTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsCommandLineProviderTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsEscaperTests.cs
Due: production, test

Add GitHub Actions job summary (#9142 requirement 3)
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsSummaryReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/GitHubActionsResources.resx
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsCommandLineProviderTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSummaryReporterTests.cs
Due: production, test

Add GitHub Actions slow-test notices (#9142 requirement 4)
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsCommandLineOptions.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsSlowTestReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/GitHubActionsResources.resx
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsCommandLineProviderTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSlowTestReporterTests.cs
Due: production, test

Document new GitHub Actions report features and options
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/PACKAGE.md
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSlowTestReporterTests.cs
Due: production, test

[perf-improver] perf: avoid List(TestResult) allocation in RunTestMethodAsync non-data-driven fast path (#9507)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
Due: production

Dogfood Azure DevOps report history options in CI
  azure-pipelines-official.yml
  azure-pipelines.yml
  eng/pipelines/steps/test-non-windows.yml
  test/Directory.Build.targets
Due: test

Address PR review: robust toolchain selection for C++/CLI tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/CppCliMtpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/CppCliTestSupport.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/CppCliVSTestTests.cs
Due: test

Drop duplicated public color abstractions when consumer references MTP
  src/Platform/Microsoft.Testing.Platform.Internal.DotnetTest/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform.Internal.DotnetTest/build/Microsoft.Testing.Platform.Internal.DotnetTest.props
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalReporterContract.props
  test/UnitTests/Microsoft.Testing.Platform.TerminalReporterContract.UnitTests/Microsoft.Testing.Platform.TerminalReporterContract.UnitTests.csproj
Due: production, test

Address PR review: O(1) lookup for code-coverage env vars
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/CppCliTestSupport.cs
Due: test

perf: cache MethodInfo.GetParameters() to avoid per-row array allocations in data-driven tests
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

test: add edge case tests for UseAttributeOnTestMethodAnalyzer (MSTEST0007)
  test/UnitTests/MSTest.Analyzers.UnitTests/UseAttributeOnTestMethodAnalyzerTests.cs
Due: test

Polish single-assembly retry extension UX
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/JUnitReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryWithMaxFailedTestsTests.cs
Due: production, test

Forward generic warning/error host messages over the dotnet test pipe (protocol 1.3.0)
  src/Platform/Microsoft.Testing.Platform/IPC/Serializers/RegisterSerializers.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/DotnetTestPassthroughOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Models/DisplayMessage.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/ObjectFieldIds.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/DisplayMessageSerializer.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeBaselineTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeDisplayMessageForwardingTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/DotnetTestPassthroughOutputDeviceTests.cs
Due: production, test

Potential fix for pull request finding
  test/UnitTests/MSTest.Analyzers.UnitTests/UseAttributeOnTestMethodAnalyzerTests.cs
Due: test

Apply suggestions from code review
  test/UnitTests/Microsoft.Testing.Platform.TerminalReporterContract.UnitTests/Microsoft.Testing.Platform.TerminalReporterContract.UnitTests.csproj
Due: test

Address review: fix SYSTEM_ACCESSTOKEN comment and align multiplier to 3.0
  azure-pipelines.yml
  test/Directory.Build.targets
Due: test

Return fresh array from ITestMethod.ParameterTypes to protect cache
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

Address code-quality review comments on UnitTestRunner partials
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.AssemblyLifecycle.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.RunSingleTest.cs
Due: production

docs: glossary weekly scan — add 8 new terms (ITestFilter family, ITestHostLauncher family, PackagedApp, VideoRecorder)
  docs/glossary.md
Due: none

Add async interpolated-string-handler Throws overloads and ValueTask<T> rejection
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TestMethodValidator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/PreferAsyncAssertionAnalyzer.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.InterpolatedStringHandlers.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferAsyncAssertionAnalyzerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TestMethodValidatorTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

Enable threat detection on malicious-code-scan workflow
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/malicious-code-scan.md
Due: none
