Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Compare action references case-insensitively
  .github/scripts/check_action_pins.py
Due: none

Group the single-SHA check by repository, not by action locator
  .github/scripts/check_action_pins.py
Due: none

Assert the malformed-reference warning names the offending reference
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestDependencyDeclarationTests.cs
Due: test

Reconcile uses occurrences one-to-one instead of by distinct value
  .github/scripts/check_action_pins.py
Due: none

Document the position-independent uses collection limitation
  .github/scripts/check_action_pins.py
Due: none

Keep name ordering as the graph's tie-breaker; document cross-assembly scope
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/TestFramework/TestFramework/Attributes/Lifecycle/DependsOnAttribute.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
Due: production, test

Align the pinning convention with docker digests, extend known limitation
  .github/scripts/check_action_pins.py
  .github/workflows/README.md
Due: none

Assert the wildcard edge's target, not just its count
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestDependencyDeclarationTests.cs
Due: test

Correct the inheritance docs and pin the behavior with tests
  docs/RFCs/022-Test-Dependencies.md
  src/TestFramework/TestFramework/Attributes/Lifecycle/DependsOnAttribute.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeEnumeratorTests.cs
Due: production, test

Compute class-level cycle membership with Tarjan, not leaf peeling
  docs/testconfig.schema.json
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestDependencyGraphTests.cs
Due: production, test

Fix a vacuous cycle-message assertion and two stale descriptions
  docs/RFCs/022-Test-Dependencies.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestDependencyGraphTests.cs
Due: production, test

Actually observe the faulted run, and document ProceedOnFailure's real scope
  src/TestFramework/TestFramework/Attributes/Lifecycle/DependsOnAttribute.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
Due: production, test

Restore the UTF-8 BOM on three C# files
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestDependencyGraph.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestDependencyDeclarationTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033069
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033069
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033069
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033069
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033069
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033069
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
Due: production

perf: use GetUpperCaseName in InternalSyncLog to avoid Enum.ToString() allocation (#10265)
  src/Platform/Microsoft.Testing.Platform/Logging/FileLogger.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/FileLoggerTests.cs
Due: production, test

Document the recurring Copilot CLI install failure in agentic workflows (#10267)
  .github/workflows/README.md
Due: none

Guard against corrupted action pins in generated workflows (#10266)
  .github/aw/actions-lock.json
  .github/copilot-instructions.md
  .github/scripts/check_action_pins.py
  .github/workflows/README.md
  .github/workflows/backport-base.yml
  .github/workflows/check-action-pins.yml
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033187
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033187
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033187 (#10268)
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
Due: production

Change release date for version 4.3.3
  docs/Changelog.md
Due: none

Change release date for version 2.3.3
  docs/Changelog-Platform.md
Due: none

Restore localization filters after #10268
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
Due: production

Record upstream tracking and the concrete follow-up for the Copilot CLI install failure
  .github/workflows/README.md
Due: none

Add [TestClass] code fix for MSTEST0041 and document condition attribute stacking
  src/Analyzers/MSTest.Analyzers.CodeFixes/AddTestClassFixer.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/ConditionBaseAttribute.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseConditionBaseWithTestClassAnalyzerTests.cs
Due: production, test

Add changelog entry for the MSTEST0041 code fix
  docs/Changelog.md
Due: none

Include exception message in JUnit failure/error bodies
  docs/RFCs/016-JUnit-Report.md
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitXmlWriter.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/JUnitReportTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/JUnitReportFailureBodyTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033197
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033197
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
Due: production

Split TestContextImplementation into focused partial-class files
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.Output.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.Properties.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.TempDirectory.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.TempDirectoryCleanup.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.TempDirectoryNaming.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033197
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.de.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033197
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
Due: production

Group R3 by repository root and fail closed on unparsable uses forms
  .github/scripts/check_action_pins.py
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3033197
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
