Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Revert unintentional change
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ParameterizedTestTests.cs
Due: test

Update test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Due: test

MSTEST0018: Fix FP with types implementing IEnumerable (#4924)
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Due: production, test

remove messageFormatOnException in CreateNavigationSession (#4549)
  src/Adapter/MSTestAdapter.PlatformServices/Services/DiaSessionOperations.cs
Due: production

New Assert APIs: ensure expected is first
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

New Assert APIs: ensure expected is first (#4939)
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Address review comments
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/TestFramework/TestFramework/ITestDataRow.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/TestDataRow.cs
Due: production

Address review comment
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Add doc comments
  src/TestFramework/TestFramework/TestDataRow.cs
Due: production

Preserve TestIdGenerationStrategy in the execution AppDomain
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
Due: production

Cleanup unnecessary abstraction over AppDomain
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainWrapper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/IAppDomain.cs
Due: production

Remove duplicate ResetContext call
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
Due: production

Fix Type is not resolved for member 'Microsoft.VisualStudio.TestTools.UnitTesting.TestIdGenerationStrategy'
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
Due: production

Adjust comment
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
Due: production

Preserve TestIdGenerationStrategy in the execution AppDomain (#4942)
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
Due: production

Preserve TestIdGenerationStrategy in the execution AppDomain - round 2
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblySettingsProvider.cs
Due: production

Update test
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
Due: test

Cleanup seemingly unnecessary complexity around `TestAssemblySettingsProvider`
  src/Adapter/MSTest.TestAdapter/Execution/TestExecutionManager.cs
Due: production

Ensure to use the test execution AppDomain for loading the test assembly
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblySettingsProvider.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestExecutionManager.cs
Due: production

Address review comments
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblySettingsProvider.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestExecutionManager.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestAssemblySettingsProviderTests.cs
Due: production, test

Fix ordering in server mode data consume
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PerRequestServerDataConsumerService.cs
Due: production

Ensure to use the test execution AppDomain for loading the test assembly (#4952)
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblySettingsProvider.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestExecutionManager.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestAssemblySettingsProviderTests.cs
Due: production, test

Preserve TestIdGenerationStrategy in the execution AppDomain - round 2
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblySettingsProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
Due: production, test

Fix ordering in server mode data consume (#4953)
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PerRequestServerDataConsumerService.cs
Due: production

Preserve TestIdGenerationStrategy in the execution AppDomain - round 2 (#4954)
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblySettingsProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AppDomainUtilities.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
Due: production, test

Fix missing API docs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestContext.cs
  src/Platform/Microsoft.Testing.Platform/Capabilities/TestFramework/IGracefulStopTestExecutionCapability.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeUid.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/Interfaces/ITestDataSourceUnfoldingCapability.cs
Due: production

Set SkipArcadeNoWarnCS1591 to true (#4937)
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestContext.cs
  src/Directory.Build.props
  src/Platform/Microsoft.Testing.Platform/Capabilities/TestFramework/IGracefulStopTestExecutionCapability.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeUid.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/Interfaces/ITestDataSourceUnfoldingCapability.cs
Due: production

Add TrxReport dependency to MSTest metapackage
  src/Package/MSTest/MSTest.csproj
Due: production

Refactor discovery to build specific info for discovery
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Discovery/DiscoveryTestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

Uncomment asserts in TestClassInfo
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
Due: production, test

Add TrxReport dependency to MSTest metapackage (#4956)
  src/Package/MSTest/MSTest.csproj
Due: production

Refactor discovery to build specific info for discovery (#4958)
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Discovery/DiscoveryTestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

Address review comments
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Helpers/TestDataSourceHelpers.cs
  src/TestFramework/TestFramework/TestDataRow.cs
Due: production

Ensure AppDomain enabled for the test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ParameterizedTestTests.cs
Due: test

Add CodeCoverage to MSTest metapackage
  src/Package/MSTest/MSTest.csproj
Due: production

Fix tests
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
Due: test

Add TestDataRow class (#4930)
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Adapter/MSTest.TestAdapter/Helpers/TestDataSourceHelpers.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestResult.cs
  src/TestFramework/TestFramework/ITestDataRow.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/TestDataRow.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ParameterizedTestTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Adjust tests
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
Due: test

Adjust tests that use metapackage
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AnalyzersTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/PublishAotNonNativeTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestContextTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Uncomment asserts in TestClassInfo (#4960)
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
