Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

GetTestCaseFilter supportedProperties cant be null
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
Due: production

GetExceptionMessage exception cant be null
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/ExceptionExtensions.cs
Due: production

use range in TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
Due: production

use range in FailedTestHelper.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/FailedTestHelper.cs
Due: production

fix Warning IDE0052 member can be removed as the value assigned to it is never read (#4845)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Remove `TestRequestExecutionTimeInfo` from `TerminalOutputDevice.DataTypesConsumed`
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

convert _testApplicationModuleInfo to a local variable (#4896)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Update src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/FailedTestHelper.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/FailedTestHelper.cs
Due: production

remove TerminalOutputDevice _process (#4895)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Update ExceptionExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/ExceptionExtensions.cs
Due: production

avoid 2x string allocs in TerminalOutputDevice (#4894)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

rename ExecutableInfo FileName to FilePath (#4892)
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
  src/Platform/Microsoft.Testing.Platform/Services/ExecutableInfo.cs
Due: production

Remove `TestRequestExecutionTimeInfo` from `TerminalOutputDevice.DataTypesConsumed` (#4903)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

use range in FailedTestHelper.cs (#4901)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/FailedTestHelper.cs
Due: production

Update src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
Due: production

remove redundant ServiceProviderExtensions (#4859)
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProviderExtensions.cs
Due: production

remove ReportNoLocationDiagnostic (#4873)
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/DiagnosticExtensions.cs
Due: production

Set to false explicitly and doc
  Directory.Packages.props
Due: none

Disable CentralPackageTransitivePinningEnabled (#4888)
  Directory.Packages.props
Due: none

remove TerminalOutputDevice ITestApplicationCancellationTokenSource f… (#4893)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Switch to buildTransitive
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.NonWindows.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.props
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.props
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.NonWindows.nuspec
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.nuspec
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
  src/TestFramework/TestFramework.Extensions/buildTransitive/winui/MSTest.TestFramework.targets
Due: production

Cleanup dead code
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
Due: production

Use terminal logger for discovery
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ListTestsMessageBus.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/ArchitectureParser.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Cleanup dead code (#4906)
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
Due: production

Use terminal logger for discovery
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ListTestsMessageBus.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Fix tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExecutionTests.cs
Due: test

Fix regex issues
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExecutionTests.cs
Due: test

Fix warning
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
Due: production

Adjust
  src/Package/MSTest/MSTest.csproj
Due: production

Update verify-nupkgs
  eng/verify-nupkgs.ps1
Due: none

Add test to ensure analyzers are enabled for TestFramework and metapackage
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AnalyzersTests.cs
Due: test

Add tests for analyzers using metapackage and TestFramework package
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AnalyzersTests.cs
Due: test

Fix DiagnosticSeverity.Info in generated globalconfig
  src/Analyzers/MSTest.GlobalConfigsGenerator/GlobalConfigBuilder.cs
Due: production

Fix DiagnosticSeverity.Info in generated globalconfig (#4909)
  src/Analyzers/MSTest.GlobalConfigsGenerator/GlobalConfigBuilder.cs
Due: production

Binlog
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Add missing RunAnalyzers
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AnalyzersTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2634490
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
Due: production

ffffx
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExecutionTests.cs
Due: production, test
