Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Create LogMessageListener on the correct execution context
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblyInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
Due: production

Fix build errors
  src/Adapter/MSTest.TestAdapter/Execution/ClassCleanupManager.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblyInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
Due: production, test

Run more of test lifecycle on correct execution context
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
Due: production

Update Directory.Packages.props
  Directory.Packages.props
Due: none

Progress
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
Due: production

Remove code that was for debugging purposes
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Adjust
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
Due: production

Proper capture
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
Due: production

Ensure separation between test methods
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ThreadSafeStringWriter.cs
Due: production

Fix test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
Due: test

Update name
  dotnet.config
Due: none

Revert back
  dotnet.config
Due: none

Use the old experience for test assets
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Add missing paren
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Use TestSuiteDirectory for dotnet.config and make it default working directory when running integration tests
  test/Utilities/Microsoft.Testing.TestInfrastructure/ProcessFactory.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Fix missing capabilities for MSTest.Analyzers.UnitTests
  test/Directory.Build.targets
  test/UnitTests/MSTest.Analyzers.UnitTests/MSTest.Analyzers.UnitTests.csproj
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2656785
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Move StartUpdate call into try, so we unlock when failing
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestProgressStateAwareTerminal.cs
Due: production

Batching Method to handle acquiring the Console lock, executing delegates and then releasing the lock
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/ITerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestProgressStateAwareTerminal.cs
Due: production

Add WithBatching method to TerminalTestReporterTests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Fix possible deadlock when writing to console
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemConsole.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
Due: production

Fix
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests.csproj
Due: test

Remove dead code in TerminalTestReporter
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestRunArtifact.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Fix tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Improve ExecutionContext propagation (#5156)
  src/Adapter/MSTest.TestAdapter/Execution/ClassCleanupManager.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestAssemblyInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Adapter/MSTest.TestAdapter/Helpers/FixtureMethodRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/AssemblyExecutionContextScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ClassExecutionContextScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ExecutionContextService.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/IExecutionContextScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/InstanceExecutionContextScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ThreadSafeStringWriter.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadContextTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
Due: production, test

use StringBuilder AppendJoin (#5167)
  Directory.Packages.props
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/Microsoft.Testing.Extensions.TrxReport.Abstractions.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/TrxReportProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
Due: production

Update NetCore.Client to latest (#5169)
  Directory.Packages.props
Due: none

Doc, test
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ConsoleTests.cs
Due: production, test

Adjust test
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ConsoleTests.cs
Due: test

Remove dead code in TerminalTestReporter (#5185)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestRunArtifact.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Add csproj to Directory.Build.targets
  test/Directory.Build.targets
  test/UnitTests/MSTest.Analyzers.UnitTests/MSTest.Analyzers.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests.csproj
Due: test

Fix inclusion of MSBuild extension
  test/Directory.Build.targets
Due: test

Adjust
  Directory.Packages.props
  test/Directory.Build.targets
Due: test

Adjust
  test/Directory.Build.targets
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests.csproj
Due: test

Adjust
  test/Directory.Build.targets
Due: test

Cleanup
  test/Directory.Build.targets
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
