Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Regenerate XLF files after merging main
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Address HtmlReport PR review comments
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Templates/report-template.html
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/TestResultCapture.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlReportEngineTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Fix CA1305 in Assert.That test (int.ToString() needs IFormatProvider) (#8358)
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

fix: address fourth round of Copilot review feedback
  .github/workflows/build-failure-analysis.yml
  .github/workflows/scripts/package-lock.json
  .github/workflows/scripts/package.json
  .gitignore
Due: none

Address review comments on PR #8268
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpProcessLifetimeHandler.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashDumpTests.cs
Due: production, test

Assert.That follow-ups from PR #8306 review
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Remove unused using directive in AvoidAssertAreEqualOnCollectionsFixer
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidAssertAreEqualOnCollectionsFixer.cs
Due: production

Fix HtmlReport acceptance test regex on Windows
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HtmlReportTests.cs
Due: test

fix: address fifth round of Copilot review feedback
  .github/workflows/build-failure-analysis.yml
  .github/workflows/scripts/extract-binlog-errors.js
  .github/workflows/scripts/package.json
Due: none

Assert.That: capture readable LHS sub-expressions and restore runtime Func/Action filter (#8352)
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

fix: remove nuget.org from tool install to prevent dependency confusion
  .github/workflows/build-failure-analysis.yml
Due: none

Apply structured assertion messages (RFC 012) to AreEqual / AreNotEqual (delta overloads) (#8336)
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.InterpolatedStringHandlers.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.Numerics.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

fix: regenerate lockfile, validate JSON, fix fallback format
  .github/workflows/build-failure-analysis.yml
  .github/workflows/scripts/package-lock.json
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2978849
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

feat: replace hardcoded fix suggestions with LLM-generated ones
  .github/workflows/build-failure-analysis.yml
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2978858
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

refactor: extract inline JS into separate script files
  .github/workflows/build-failure-analysis.yml
  .github/workflows/scripts/analyze-errors.js
  .github/workflows/scripts/post-suggestions.js
Due: none

test: add parameter to RecordStart to test refactored workflow
  src/Adapter/MSTest.Engine/TimeSheet.cs
Due: production

Add MSTEST0065 analyzer: Avoid Assert.AreEqual on collection types (#8337)
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidAssertAreEqualOnCollectionsFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Assert.That: lock down behavior for two calls returning the same mutated reference
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

fix: restrict comment cleanup to bot, ensure errors JSON, revert test
  .github/workflows/build-failure-analysis.yml
  .github/workflows/scripts/extract-binlog-errors.js
  src/Adapter/MSTest.Engine/TimeSheet.cs
Due: production

Fix merge fallout: restore missing using, drop dead code, regenerate xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
Due: production

Auto-upload test artifacts and build tags to Azure DevOps (#8295)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsArtifactUploader.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsCommandLineOptions.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PathComparison.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/AzureDevOpsResources.resx
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/TargetFrameworkMonikerHelper.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsArtifactUploaderTests.cs
Due: production, test

Add Microsoft.Testing.Extensions.Logging bridge to Microsoft.Extensions.Logging (#8344)
  Directory.Packages.props
  Microsoft.Testing.Platform.slnf
  NonWindowsTests.slnf
  TestFx.slnx
  docs/RFCs/013-Microsoft-Extensions-Bridges.md
  samples/Playground/Playground.csproj
  samples/Playground/Program.cs
  src/Platform/Microsoft.Testing.Extensions.Logging/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.Logging/LogLevelMapper.cs
  src/Platform/Microsoft.Testing.Extensions.Logging/Microsoft.Testing.Extensions.Logging.csproj
  src/Platform/Microsoft.Testing.Extensions.Logging/MicrosoftExtensionsLoggerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.Logging/MicrosoftExtensionsLoggingBuilderExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.Logging/MicrosoftExtensionsLoggingProvider.cs
  src/Platform/Microsoft.Testing.Extensions.Logging/NopLoggerProvider.cs
  src/Platform/Microsoft.Testing.Extensions.Logging/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.Logging/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Logging/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Logging/LoggerFactory.cs
  src/Platform/Microsoft.Testing.Platform/Logging/LoggerFactoryProxy.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MicrosoftExtensionsLoggingTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/LogLevelMapperTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Microsoft.Testing.Extensions.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/LoggerFactoryProxyTests.cs
Due: production, test

Remove IVT from Microsoft.Testing.Platform to Microsoft.Testing.Extensions.CrashDump
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
Due: production

Revert MicroBuild signing plugin pin to 5.4.0
  azure-pipelines-official.yml
  azure-pipelines.yml
Due: none

Revert MicroBuild signing plugin pin to 5.4.0 (#8361)
  azure-pipelines-official.yml
  azure-pipelines.yml
Due: none

Assert.That: additional test cases for object-typed sub-expressions (stacks on #8307) (#8308)
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

Replace internal GetServiceInternal with public IServiceProvider.GetService in Platform.AI
  src/Platform/Microsoft.Testing.Platform.AI/ChatClientProviderExtensions.cs
Due: production

Remove IVT from Microsoft.Testing.Platform to Microsoft.Testing.Extensions.AzureFoundry
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/OpenAIChatClientProvider.cs
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/TestApplicationBuilderExtensions.cs
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
Due: production

Assert.That: fix Expression.Assign double-evaluation and assorted cleanups
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Assert.That: restore friendly method-call display from #6691
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Add MSBuild quality review agentic workflow
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/msbuild-quality-review.md
Due: none

Fix markdown lint: add blank line before list
  .github/workflows/msbuild-quality-review.md
Due: none

Fix pre-existing markdown lint: add language to fenced code block
  docs/RFCs/013-Microsoft-Extensions-Bridges.md
Due: none

Add MSBuild quality review agentic workflow
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/msbuild-quality-review.md
  docs/RFCs/013-Microsoft-Extensions-Bridges.md
Due: none

Add build failure analysis workflow using binlog-mcp (#8326)
  .github/workflows/build-failure-analysis.yml
  .github/workflows/scripts/analyze-errors.js
  .github/workflows/scripts/extract-binlog-errors.js
  .github/workflows/scripts/package-lock.json
  .github/workflows/scripts/package.json
  .github/workflows/scripts/post-suggestions.js
  .gitignore
Due: none

Address review feedback: avoid getter double-call on assignment LHS
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: production, test

Address review comments: .NET Framework compatibility and 8.3 short-name defense
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashDumpTests.cs
Due: test
