Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Re-do custom filters
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryExecutionFilter.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryExecutionFilterFactory.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestTestExecutionFilter.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/TestApplicationBuilderExtensions.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ConsoleTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestFrameworkBuilderData.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Requests/AggregateFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/ConsoleTestExecutionFilterFactory.cs
  src/Platform/Microsoft.Testing.Platform/Requests/ConsoleTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Platform/Requests/ITestExecutionFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/ITestExecutionFilterFactory.cs
  src/Platform/Microsoft.Testing.Platform/Requests/NopFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/ServerTestExecutionFilterFactory.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TestNodeUidListFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProviderExtensions.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/ITestHostManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/TestHostManager.cs
  test/UnitTests/MSTest.Engine.UnitTests/BFSTestNodeVisitorTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Filters/FiltersTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TreeNodeFilterTests.cs
Due: production, test

Fix warnings
  src/Platform/Microsoft.Testing.Platform/Hosts/ConsoleTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
Due: production

Update Public API
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Xml docs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestTestExecutionFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/AggregateFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/ITestExecutionFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/NopFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TestNodeUidListFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
Due: production

Tidy usings
  src/Platform/Microsoft.Testing.Platform/Requests/ConsoleTestExecutionRequestFactory.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Filters/FiltersTests.cs
Due: production, test

Fix space
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

IsEnabled
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryExecutionFilter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestTestExecutionFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/AggregateFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/ITestExecutionFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/NopFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TestNodeUidListFilter.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/TestHostManager.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Filters/FiltersTests.cs
Due: production, test

Update PublicAPI
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Update PublicAPI
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/PublicAPI.Unshipped.txt
Due: production

Simplify obsolete filter
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestTestExecutionFilter.cs
Due: production

Update
  src/Platform/Microsoft.Testing.Platform/Extensions/IReceiveTestNodesExtension.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Requests/AggregateFilter.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Filters/FiltersTests.cs
Due: production, test

Update Public API
  src/Platform/Microsoft.Testing.Platform/Extensions/IReceivesAllTestNodesExtension.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/net/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Requests/AggregateFilter.cs
Due: production

Update Public API
  src/Platform/Microsoft.Testing.Platform/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
Due: production

Fix warnings
  test/UnitTests/MSTest.Engine.UnitTests/BFSTestNodeVisitorTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2674548
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
Due: production

Use `ThrowIfCancellationRequested` instead of simply returning
  src/Platform/Microsoft.Testing.Extensions.AzureDevOps/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpActivityIndicator.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.Telemetry/AppInsightsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsynchronousMessageBus.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ChannelConsumerDataProcessor.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ConsumingEnumerableConsumerDataProcessor.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PerRequestServerDataConsumerService.cs
Due: production

Move System.Threading.Tasks.Extensions to TestFramework (#5330)
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.NonWindows.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.NonWindows.nuspec
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.nuspec
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
Due: production

Fix double empty line (#5317)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Remove SessionUid from FileArtifactProperty
  src/Adapter/MSTest.Engine/Engine/TestExecutionContext.cs
  src/Adapter/MSTest.Engine/Engine/ThreadPoolTestNodeRunner.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: production, test

Fix typo in DotnetTestDataConsumer causes only first artifact to be sent
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
Due: production

Allow async test methods for UITestMethod on UWP and WinUI (#5297)
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Adapter/MSTest.TestAdapter/Extensions/MethodInfoExtensions.cs
  src/Adapter/MSTest.TestAdapter/Helpers/ExecutionContextHelpers.cs
  src/Adapter/MSTest.TestAdapter/Helpers/FixtureMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/PublicAPI/uwp/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/Attributes/UWP_UITestMethodAttribute.cs
  src/TestFramework/TestFramework.Extensions/Attributes/WinUI_UITestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DataTestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/STATestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestMethodAttribute.cs
  src/TestFramework/TestFramework/Interfaces/ITestMethod.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/TestFramework.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
Due: production, test

One more fix
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
Due: production

Remove SessionUid from FileArtifactProperty (#5347)
  src/Adapter/MSTest.Engine/Engine/TestExecutionContext.cs
  src/Adapter/MSTest.Engine/Engine/ThreadPoolTestNodeRunner.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: production, test

Remove ConsoleTestExecutionFilterFactoryDescription
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Remove ConsoleTestExecutionFilterFactoryDisplayName
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Remove ConsoleTestExecutionFilterFactoryDisplayName
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
Due: production

Rename variables
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/TestHost/ITestHostManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/TestHostManager.cs
Due: production

Fix typo in DotnetTestDataConsumer causes only first artifact to be sent (#5349)
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
Due: production

Tidy
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
Due: production

Tidy
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Tidy
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Remove unused resources
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Fix
  src/Platform/Microsoft.Testing.Platform/Hosts/ConsoleTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/TestHost/TestHostManager.cs
Due: production

Add developer guide to Contributing.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add developer guide to Contributing.md (#5354)
  CONTRIBUTING.md
Due: none

Update Directory.Packages.props
  Directory.Packages.props
Due: none

Use ReferenceTrimmer
  Directory.Packages.props
Due: none

WIP
  TestFx.sln
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
  src/Package/MSTest/MSTest.csproj
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Microsoft.Testing.Extensions.CrashDump.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  test/Directory.Build.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/TestAssets/Directory.Build.props
  test/IntegrationTests/TestAssets/Directory.Build.targets
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.Engine.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
Due: production, test

More fixes
  Directory.Build.props
  samples/Playground/Playground.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Package/MSTest/MSTest.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  test/IntegrationTests/TestAssets/Directory.Build.props
  test/UnitTests/MSTest.Analyzers.UnitTests/MSTest.Analyzers.UnitTests.csproj
Due: production, test
