Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Complete request-scoped execution cleanup
  src/Platform/Microsoft.Testing.Extensions.HotReload/HotReloadTestHostTestFrameworkInvoker.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Requests/TestHostTestFrameworkInvoker.cs
Due: production

Use preview packages in public hosting samples (#11629)
  eng/build-samples.ps1
  samples/public/Directory.Build.props
  samples/public/MTPHostIntegration/AspNetCoreTests/AspNetCoreTests.csproj
  samples/public/MTPHostIntegration/AspireTests/AspireTests.csproj
  samples/public/MTPHostIntegration/Directory.Build.props
  samples/public/MTPHostIntegration/MTPHostIntegration.sln
  samples/public/MTPHostIntegration/ServiceDefaults/ServiceDefaults.csproj
  samples/public/MTPHostIntegration/global.json
  samples/public/MTPOTel/MTPOTel.csproj
  samples/public/NuGet.config
Due: none

Update and re-enable affected tests
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/Versions.props
Due: none

Update CodeCoverage dependency metadata
  eng/Version.Details.xml
Due: none

Use approved feeds for NuGet restores
  .config/stryker/NuGet.config
  NuGet.config
Due: none

Add public canonical test execution API (#11630)
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/InternalAPI/uwp/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestTestFramework.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MtpTestResultRecorder.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.Execution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.RunSingleTest.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestExecutionActivityLease.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HotReload/HotReloadTestHostTestFrameworkInvoker.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Requests/TestHostTestFrameworkInvoker.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  src/Platform/Microsoft.Testing.Platform/TestFramework/ExecuteRequestContext.cs
  src/Platform/Microsoft.Testing.Platform/TestFramework/TestExecution.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/OpenTelemetryTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestTestNodeConverterTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestFramework/TestExecutionTests.cs
Due: production, test

Revert native recorder until package is mirrored
  Directory.Packages.props
  Microsoft.Testing.Platform.slnf
  TestFx.slnx
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/DESIGN.md
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/FfmpegVideoRecorder.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/IVideoRecorder.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Microsoft.Testing.Extensions.VideoRecorder.csproj
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/VideoRecorderResources.resx
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderOptions.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/WinAppCliVideoRecorder.cs
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/VideoRecorderFactoryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/VideoRecorderSessionHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/BannedSymbols.txt
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/WinAppCliVideoRecorderTests.cs
Due: production, test

Isolate hosting tests from affected-test exit codes
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/MicrosoftExtensionsHostingExtensionsTests.cs
Due: test

Avoid reporting failed recorder starts as ready
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/VideoRecorderSessionHandlerTests.cs
Due: production, test

Revert native video recorder until its dependency is available (#11633)
  .config/stryker/NuGet.config
  Directory.Packages.props
  Microsoft.Testing.Platform.slnf
  NuGet.config
  TestFx.slnx
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/DESIGN.md
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/FfmpegVideoRecorder.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/IVideoRecorder.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Microsoft.Testing.Extensions.VideoRecorder.csproj
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/VideoRecorderResources.resx
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderOptions.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/VideoRecorderSessionHandler.cs
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/WinAppCliVideoRecorder.cs
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/VideoRecorderFactoryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/VideoRecorderSessionHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/BannedSymbols.txt
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Extensions.VideoRecorder.UnitTests/WinAppCliVideoRecorderTests.cs
Due: production, test

Update and re-enable affected tests (#11632)
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/Version.Details.xml
  eng/Versions.props
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/MicrosoftExtensionsHostingExtensionsTests.cs
Due: test

Fix test execution cancellation cleanup
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TestHostTestFrameworkInvoker.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TestHostTestFrameworkInvokerTests.cs
Due: production, test

Avoid blocking hosted activation cleanup contexts
  src/Adapter/MSTest.Extensions.Hosting/MicrosoftExtensionsTestClassInstanceFactory.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Lifecycle.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestHostingServiceCollectionExtensionsTests.cs
Due: production, test

Harden dotnet test IPC deserialization
  src/Platform/Microsoft.Testing.Platform/IPC/Serializers/BaseSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/CommandLineOptionMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/DiscoveredTestMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/DisplayMessageSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/FileArtifactMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/ServerControlMessageSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestInProgressMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestResultMessagesSerializer.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/BaseSerializerPrimitiveTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolEdgeCaseTests.cs
Due: production, test

Retarget modern UWP sample to .NET 10
  docs/winui-testing.md
  samples/public/README.md
  samples/public/UwpMtpApp/README.md
  samples/public/UwpMtpApp/UwpMtpApp.csproj
Due: none

Disable affected tests after SDK handshake failures
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/validate-affected-tests.ps1
Due: none

Avoid blocking telemetry test waits
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppInsightsProviderTests.cs
Due: test

Clarify RootNamespace usage in Visual Basic entry point
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.VisualBasicTemplates.cs
Due: production

Address BOM checker review feedback
  .github/scripts/test_check_source_bom.py
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Stabilize MTP server timeout test
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Fix hosted activation timeout races
  eng/build-samples.ps1
  src/Adapter/MSTest.Extensions.Hosting/MicrosoftExtensionsTestClassInstanceFactory.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Execution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Lifecycle.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
Due: production, test

Address IPC serializer review feedback
  src/Platform/Microsoft.Testing.Extensions.HangDump/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/IPC/Serializers/BaseSerializer.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/InternalAPI/net/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/DiscoveredTestMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestInProgressMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestResultMessagesSerializer.cs
Due: production

Disable affected tests after SDK handshake failures (#11651)
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/validate-affected-tests.ps1
Due: none

Avoid blocking waits in telemetry tests (#11652)
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppInsightsProviderTests.cs
Due: test

Add unit tests for server control serializers (#11645)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ServerControlSerializersTests.cs
Due: test

Avoid allocations in IPC batch readers
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/DiscoveredTestMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestInProgressMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestResultMessagesSerializer.cs
Due: production

Split TestingPlatformEntryPointTask templates by language (#11643)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.CSharpTemplates.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.FSharpTemplates.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.VisualBasicTemplates.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
Due: production

Retarget modern UWP sample to .NET 10 (#11650)
  docs/winui-testing.md
  samples/public/README.md
  samples/public/UwpMtpApp/README.md
  samples/public/UwpMtpApp/UwpMtpApp.csproj
Due: none

Reuse base request execution in hot reload (#11646)
  src/Platform/Microsoft.Testing.Extensions.HotReload/HotReloadTestHostTestFrameworkInvoker.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HotReloadTests.cs
Due: production, test

Expose diagnostic logging information to extensions
  docs/glossary.md
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerInformation.cs
  src/Platform/Microsoft.Testing.Platform/Logging/IDiagnosticLoggingInformation.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProviderExtensions.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/DiagnosticLoggingInformationTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ServiceProviderTests.cs
Due: production, test

Stabilize server process timeout test
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Disable unsupported Copilot web-fetch tools
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/adhoc-qa.md
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/efficiency-improver.md
  .github/workflows/link-checker.lock.yml
  .github/workflows/link-checker.md
  .github/workflows/perf-improver.lock.yml
  .github/workflows/perf-improver.md
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/shared/review-shared.md
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
Due: none

Stabilize MTP server timeout test (#11655)
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Fix strict validation errors in agentic workflows (#11656)
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/adhoc-qa.md
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/efficiency-improver.md
  .github/workflows/link-checker.lock.yml
  .github/workflows/link-checker.md
  .github/workflows/perf-improver.lock.yml
  .github/workflows/perf-improver.md
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/shared/review-shared.md
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
Due: none

Harden dotnet test IPC deserialization (#11649)
  src/Platform/Microsoft.Testing.Extensions.HangDump/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/IPC/Serializers/BaseSerializer.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/InternalAPI/net/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/CommandLineOptionMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/DiscoveredTestMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/DisplayMessageSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/FileArtifactMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/ServerControlMessageSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestInProgressMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestResultMessagesSerializer.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/BaseSerializerPrimitiveTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolEdgeCaseTests.cs
Due: production, test

Test diagnostic service registration
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerCategory.cs
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerProvider.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DiagnosticTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/DiagnosticLoggingInformationTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
