Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Mark TestMethodOptions.Executor as non-nullable (#4518)
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/ObjectModel/TestMethodOptions.cs
Due: production

Fix doc comment after merge conflict resolution
  src/Analyzers/MSTest.Analyzers/UseNewerAssertThrowsAnalyzer.cs
Due: production

Move ExpectedException attribute resolution out of TypeCache/ReflectHelper
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/Helpers/ReflectHelper.cs
  src/Adapter/MSTest.TestAdapter/ObjectModel/TestMethodOptions.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TypeCacheTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Helpers/ReflectHelperTests.cs
Due: production, test

Fix test outcome
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
Due: test

Remove unused usings
  src/Adapter/MSTest.TestAdapter/Helpers/ReflectHelper.cs
  test/UnitTests/MSTestAdapter.UnitTests/Helpers/ReflectHelperTests.cs
Due: production, test

Fix Debug.Assert failure for tests
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TypeCacheTests.cs
Due: test

Move ExpectedException attribute resolution out of TypeCache/ReflectHelper (#4505)
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/Helpers/ReflectHelper.cs
  src/Adapter/MSTest.TestAdapter/ObjectModel/TestMethodOptions.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TypeCacheTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Helpers/ReflectHelperTests.cs
Due: production, test

Report diagnostic when AreNotSame is passed value type
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreSameWithValueTypesAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreSameWithValueTypesAnalyzerTests.cs
Due: production, test

Use different message for Assert.AreEqual when string difference is casing only
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Use different message for Assert.AreEqual when string difference is casing only (#4525)
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Report diagnostic when AreNotSame is passed value type (#4523)
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreSameWithValueTypesAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreSameWithValueTypesAnalyzerTests.cs
Due: production, test

Move ResolveTestContext from TypeCache to TestClassInfo (#4498)
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/ClassCleanupManagerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TypeCacheTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2613731
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2613740
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Update ExpectedException analyzer message/description to use the new Assert.Throws methods
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Implement analyzer and codefix to switch to Assert.ThrowsExactly[Async] (#4459)
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.Designer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseNewerAssertThrowsFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/UseNewerAssertThrowsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/UseNewerAssertThrowsAnalyzerTests.cs
Due: production, test

Fix main build
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
Due: test

Fix main build (#4528)
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
Due: test

Add Ignored UnitTestOutcome
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Extensions/TestResultExtensions.cs
  src/Adapter/MSTest.TestAdapter/Extensions/UnitTestOutcomeExtensions.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/UnitTestOutcome.cs
Due: production

Update ExpectedException analyzer message/description to use the new Assert.Throws methods (#4527)
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Clone
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Comment
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Explain
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2613803
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Simplify logic
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Small ClassInitialize refactoring (#4503)
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Address TODO and review comment
  src/Analyzers/MSTest.Analyzers.CodeFixes/AssertionArgsShouldAvoidConditionalAccessFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.Designer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
Due: production

Fix NaN behavior for Assert.AreEqual/AreNotEqual
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Add ability to ignore specific test cases (#4457)
  src/Adapter/MSTest.TestAdapter/Constants.cs
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Discovery/TypeEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Adapter/MSTest.TestAdapter/Extensions/TestCaseExtensions.cs
  src/Adapter/MSTest.TestAdapter/Extensions/TestResultExtensions.cs
  src/Adapter/MSTest.TestAdapter/Extensions/UnitTestOutcomeExtensions.cs
  src/Adapter/MSTest.TestAdapter/ObjectModel/TestMethod.cs
  src/Adapter/MSTest.TestAdapter/ObjectModel/UnitTestElement.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DataRowAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestClassAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestResult.cs
  src/TestFramework/TestFramework/Interfaces/ITestDataSourceIgnoreCapability.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/UnitTestOutcome.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/IgnoreTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Discovery/TypeEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestExecutionManagerTests.cs
Due: production, test

Fix "Could not load file or assembly 'Microsoft.Testing.Platform'" exception
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/BannedSymbols.txt
  src/Adapter/MSTest.TestAdapter/Execution/TestExecutionManager.cs
  src/Adapter/MSTest.TestAdapter/Helpers/MSTestDiscovererHelpers.cs
  src/Adapter/MSTest.TestAdapter/IPlatformServiceProvider.cs
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTest.TestAdapter/MSTestSettings.cs
  src/Adapter/MSTest.TestAdapter/PlatformServiceProvider.cs
  src/Adapter/MSTest.TestAdapter/RunConfigurationSettings.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/BridgedConfiguration.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBannerCapability.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestExtension.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestGracefulStopTestExecutionCapability.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/TestApplicationBuilderExtensions.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/TestingPlatformBuilderHook.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IConfiguration.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Adapter/MSTestAdapter.PlatformServices/Services/MSTestAdapterSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/SettingsProvider.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/MSTestAdapterSettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestSettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/RunConfigurationSettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Throw out of range for negative and NaN delta
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Don't report diagnostic for DeploymentItem on abstract class
  src/Analyzers/MSTest.Analyzers/UseDeploymentItemWithTestMethodOrTestClassAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseDeploymentItemWithTestMethodOrTestClassAnalyzerTests.cs
Due: production, test

Fix "Could not load file or assembly 'Microsoft.Testing.Platform'" exception (#4537)
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/BannedSymbols.txt
  src/Adapter/MSTest.TestAdapter/Execution/TestExecutionManager.cs
  src/Adapter/MSTest.TestAdapter/Helpers/MSTestDiscovererHelpers.cs
  src/Adapter/MSTest.TestAdapter/IPlatformServiceProvider.cs
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTest.TestAdapter/MSTestSettings.cs
  src/Adapter/MSTest.TestAdapter/PlatformServiceProvider.cs
  src/Adapter/MSTest.TestAdapter/RunConfigurationSettings.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/BridgedConfiguration.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBannerCapability.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestExtension.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestGracefulStopTestExecutionCapability.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/TestApplicationBuilderExtensions.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/TestingPlatformBuilderHook.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IConfiguration.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Adapter/MSTestAdapter.PlatformServices/Services/MSTestAdapterSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/SettingsProvider.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/MSTestAdapterSettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestSettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/RunConfigurationSettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Don't report diagnostic for DeploymentItem on abstract class (#4538)
  src/Analyzers/MSTest.Analyzers/UseDeploymentItemWithTestMethodOrTestClassAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseDeploymentItemWithTestMethodOrTestClassAnalyzerTests.cs
Due: production, test

[3.7] Don't report diagnostic for DeploymentItem on abstract class (#4539)
  src/Analyzers/MSTest.Analyzers/UseDeploymentItemWithTestMethodOrTestClassAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseDeploymentItemWithTestMethodOrTestClassAnalyzerTests.cs
Due: production, test

Adjust tests to account for message difference per TFM
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: test

Add messageBuilder overloads for Assert.Throws[Exactly][Async]
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

Fix "Could not load file or assembly 'Microsoft.Testing.Platform'" ex… (#4540)
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/BannedSymbols.txt
  src/Adapter/MSTest.TestAdapter/Execution/TestExecutionManager.cs
  src/Adapter/MSTest.TestAdapter/Helpers/MSTestDiscovererHelpers.cs
  src/Adapter/MSTest.TestAdapter/IPlatformServiceProvider.cs
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTest.TestAdapter/MSTestSettings.cs
  src/Adapter/MSTest.TestAdapter/PlatformServiceProvider.cs
  src/Adapter/MSTest.TestAdapter/RunConfigurationSettings.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/BridgedConfiguration.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBannerCapability.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestExtension.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestGracefulStopTestExecutionCapability.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/TestApplicationBuilderExtensions.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/TestingPlatformBuilderHook.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IConfiguration.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Adapter/MSTestAdapter.PlatformServices/Services/MSTestAdapterSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/SettingsProvider.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/MSTestAdapterSettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestSettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/RunConfigurationSettingsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test
