Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Wire CtrfReport and HtmlReport extensions into MSTest.Sdk
  Directory.Build.props
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  src/Package/MSTest.Sdk/Sdk/Sdk.props.template
  src/Package/MSTest.Sdk/Sdk/VSTest/VSTest.targets
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Remove UseDotNet@2 step from CodeQL pipeline (#8958)
  azure-pipelines-codeql.yml
Due: none

[docs] Address glossary review feedback from PR #8951 (#8953)
  docs/glossary.md
Due: none

Fix XML comment in test/Directory.Build.targets
  test/Directory.Build.targets
Due: test

Warn when JUnit / AzureDevOps report extensions are enabled under NativeAOT
  src/Package/MSTest.Sdk/Sdk/Runner/NativeAOT.targets
Due: production

Dogfood --report-azdo-summary and --report-azdo-progress in CI (#8934)
  azure-pipelines.yml
  eng/pipelines/steps/test-non-windows.yml
  test/Directory.Build.targets
Due: test

[perf-improver] perf: add GetLongestRunningTask to avoid list allocation in SimpleTerminal (#8932)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/SimpleTerminalBase.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestNodeResultsState.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Constrain Test column width in grade-tests PR comment
  .github/workflows/shared/grade-tests-shared.md
Due: none

Wire OpenTelemetry extension into MSTest.Sdk
  Directory.Build.props
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  src/Package/MSTest.Sdk/Sdk/Sdk.props.template
  src/Package/MSTest.Sdk/Sdk/VSTest/VSTest.targets
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/Microsoft.Testing.Extensions.OpenTelemetry.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Address PR review on #8961
  .github/workflows/shared/grade-tests-shared.md
Due: none

[MSTest.Sdk] Wire Microsoft.Testing.Extensions.JUnitReport into MSTest.Sdk (opt-in) (#8956)
  Directory.Build.props
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  src/Package/MSTest.Sdk/Sdk/Runner/NativeAOT.targets
  src/Package/MSTest.Sdk/Sdk/Sdk.props.template
  src/Package/MSTest.Sdk/Sdk/VSTest/VSTest.targets
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Constrain Test column width in grade-tests PR comment (#8961)
  .github/workflows/shared/grade-tests-shared.md
Due: none

Render BCL values with full precision in assertion failure messages (#8963)
  src/TestFramework/TestFramework/Assertions/AssertionValueRenderer.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.RenderingPrecision.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertionValueRendererTests.cs
Due: production, test

Clarify DeploymentItemAttribute XML doc comments
  src/TestFramework/TestFramework.Extensions/Attributes/DeploymentItemAttribute.cs
Due: production

Remove unnecessary global:: qualifier on ReportFileNameValidator references
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportGeneratorCommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportGeneratorCommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCommandLine.cs
Due: production

Tighten BCL precision tests to assert full failure message
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.RenderingPrecision.cs
Due: test

Address review: drop ForcedLegacyMode note, use forward slashes
  src/TestFramework/TestFramework.Extensions/Attributes/DeploymentItemAttribute.cs
Due: production

Auto-strip legacy type/bug, type/feature, type/task labels
  .github/copilot-instructions.md
  .github/policies/LabelManagement.IssueUpdated.yml
Due: none

Dogfood --report-junit and OpenTelemetry processing in CI
  azure-pipelines.yml
  eng/pipelines/steps/test-non-windows.yml
  test/Directory.Build.targets
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
  test/UnitTests/TestFramework.UnitTests/Program.cs
Due: test

Register JUnitReport and OpenTelemetry in integration/acceptance test programs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/MSTest.IntegrationTests/Program.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/Program.cs
Due: test

perf: cache ANSI cursor-positioning strings in AnsiTerminalTestProgressFrame hot path
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
Due: production

Address CTRF PR review: experimental APIs, dogfood, and Brad's labels feedback
  azure-pipelines.yml
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/TestingPlatformBuilderHook.cs
  test/Directory.Build.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/MSTest.IntegrationTests/Program.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
  test/UnitTests/TestFramework.UnitTests/Program.cs
Due: production, test

perf: single-pass PropertyBag walk in TrxTestResultExtractor
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/TrxTestResultExtractor.cs
Due: production

test: add edge case tests for UseDeploymentItemWithTestMethodOrTestClass (MSTEST0035)
  test/UnitTests/MSTest.Analyzers.UnitTests/UseDeploymentItemWithTestMethodOrTestClassAnalyzerTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2996570
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Resources/xlf/ExtensionResources.fr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2996571
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Resources/xlf/ExtensionResources.fr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2996571 (#8983)
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Resources/xlf/ExtensionResources.fr.xlf
Due: production

Fix HtmlReport Truncate to not split surrogate pairs at cut boundary
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/TestResultCapture.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlReportEngineTests.cs
Due: production, test

Bump .NET to latest patch
  global.json
Due: none

Drop policy enforcement; rely on instruction + native type field
  .github/copilot-instructions.md
  .github/policies/LabelManagement.IssueUpdated.yml
Due: none

Clarify DeploymentItemAttribute XML doc comments (#8968)
  src/TestFramework/TestFramework.Extensions/Attributes/DeploymentItemAttribute.cs
Due: production

Fix Invoke_TestTarget_With_Incompatible_Arch on Linux
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Bump .NET to latest patch (#8992)
  global.json
Due: none

Drop duplicate per-workflow Copilot attribution from PR/issue bodies
  .github/workflows/code-simplifier.md
  .github/workflows/repository-quality-improver.md
Due: none

Address PR review feedback
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/TestResultCapture.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlReportEngineTests.cs
Due: production, test

Auto-strip legacy type/bug, type/feature, type/task labels (#8967)
  .github/copilot-instructions.md
Due: none

Add regression test for MSTEST0005 with primary-constructor TestContext field capture (#8984)
  test/UnitTests/MSTest.Analyzers.UnitTests/TestContextShouldBeValidAnalyzerTests.cs
Due: test
