Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Address review: classify comparer via WalkDownBuiltInConversion
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
Due: production

Don't report MSTEST0065 on collection types that declare their own equality
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Address review: treat any constant-null comparer (default/default(T)) as the default
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Dedup TestCaseFilter CLI option provider (#9955)
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestTestCaseFilterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/CommandLine/TestCaseFilterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/SharedExtensionHelpers/TestCaseFilterCommandLineOptionsProviderBase.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3023913
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
Due: production

Don't report MSTEST0065 on collection types that declare their own equality (#9978)
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Validate build for all triggers, guard zip bombs, drop unusable NuGet tool, fix command no-op
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
Due: none

Validate uncompressed-size guard input is numeric before comparison
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
Due: none

Silence code-quality nit on ThrowOnWriteStream.Position setter
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSummaryReporterTests.cs
Due: test

Address PR review on BuildXL caching
  azure-pipelines.yml
  docs/build-caching.md
  eng/build-with-cache.ps1
  eng/projectcaching.props
Due: none

Inherit Arcade default DebugType instead of forcing embedded symbols
  Directory.Build.props
Due: none

Fix macOS symlink-alias canonicalization and address merge review comments
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Merge.cs
  src/Platform/SharedExtensionHelpers/MergeOutputFileHelper.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportEngineMergeTests.cs
Due: production, test

docs: add dotnet test pipe protocol specification
  docs/mstest-runner-protocol/001-protocol-intro.md
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
Due: none

Correct comment: PDBs are pushed to symbol servers, not as .snupkg
  Directory.Build.props
Due: none

Dedup TestCaseFilter CLI option provider (#10004)
  src/Adapter/MSTest.TestAdapter/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestTestCaseFilterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/CommandLine/TestCaseFilterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/SharedExtensionHelpers/TestCaseFilterCommandLineOptionsProviderBase.cs
Due: production

Add dedicated timeout config for GlobalTestInitialize/Cleanup fixtures
  docs/Changelog.md
  docs/testconfig.schema.json
  docs/testconfig.schema.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Lifecycle.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TimeoutInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.AssemblyInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/FixtureKind.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.Configuration.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.RunSettingsXml.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Telemetry/MSTestTelemetryDataCollector.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GlobalFixtureTimeoutFromConfigTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutCooperativeGlobalTestCancellationTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenCanceledTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenExpiresTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
Due: production, test

Don't report MSTEST0065 on collection types that declare their own equality by @Evangelink in #9978 (backport to rel/4.3) (#10003)
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreEqualOnCollectionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreEqualOnCollectionsAnalyzerTests.cs
Due: production, test

Don't flag Assert.AreEqual self-comparison for user-defined equality (#9972)
  src/Analyzers/MSTest.Analyzers/Helpers/AssertConditionAnalyzerHelper.cs
  src/Analyzers/MSTest.Analyzers/PreferAssertFailOverAlwaysFalseConditionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/ReviewAlwaysTrueAssertConditionAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferAssertFailOverAlwaysFalseConditionsAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: production, test

docs: address review feedback on dotnet test pipe protocol spec
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
Due: none

Anchor analysis to the build's revision + cumulative disk budget + newest-build selection
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
Due: none

docs: distinguish shared wire contract from per-repo transport behavior
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
Due: none

Document why top-level permissions use pull-requests: read
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
Due: none

Make macOS PR job non-blocking via continueOnError
  azure-pipelines.yml
Due: none

macOS non-blocking: swallow exit code instead of continueOnError
  azure-pipelines.yml
  eng/pipelines/steps/test-non-windows.yml
Due: none

Address review: exclude comparer overloads and polymorphic types from MSTEST0032/0025
  src/Analyzers/MSTest.Analyzers/Helpers/AssertConditionAnalyzerHelper.cs
  src/Analyzers/MSTest.Analyzers/PreferAssertFailOverAlwaysFalseConditionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/ReviewAlwaysTrueAssertConditionAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferAssertFailOverAlwaysFalseConditionsAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: production, test

Require build revision == current PR head; count only staged binlogs; doc fixes
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/README.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
Due: none

Harden macOS non-blocking trailer whitespace
  azure-pipelines.yml
  eng/pipelines/steps/test-non-windows.yml
Due: none

Retry transient MSB4166 'child node exited prematurely' build crashes (#10005)
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
Due: test

Migrate MSTest.VstestConsoleWrapper.IntegrationTests to acceptance pattern (partial)
  MSTest.slnf
  TestFx.slnx
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/DesktopCSharpCLITests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Helpers/AcceptanceVersions.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests.csproj
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/ParallelExecutionTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/TestProjectFSharpTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/TestSetup.cs
  test/IntegrationTests/TestAssets/DesktopTestProjectx64Debug/DesktopTestProjectx64Debug.csproj
  test/IntegrationTests/TestAssets/DesktopTestProjectx64Release/DesktopTestProjectx64Release.csproj
  test/IntegrationTests/TestAssets/DesktopTestProjectx86Release/DesktopTestProjectx86Release.csproj
  test/IntegrationTests/TestAssets/DoNotParallelizeTestProject/Constants.cs
  test/IntegrationTests/TestAssets/DoNotParallelizeTestProject/DoNotParallelizeTestProject.csproj
  test/IntegrationTests/TestAssets/DoNotParallelizeTestProject/UnitTest1.cs
  test/IntegrationTests/TestAssets/DoNotParallelizeTestProject/UnitTest2.cs
  test/IntegrationTests/TestAssets/ParallelTestClass/Constants.cs
  test/IntegrationTests/TestAssets/ParallelTestClass/ParallelClassesTestProject.csproj
  test/IntegrationTests/TestAssets/ParallelTestClass/UnitTest1.cs
  test/IntegrationTests/TestAssets/ParallelTestClass/UnitTest2.cs
  test/IntegrationTests/TestAssets/ParallelTestClass/UnitTest3.cs
  test/IntegrationTests/TestAssets/ParallelTestMethods/Constants.cs
  test/IntegrationTests/TestAssets/ParallelTestMethods/ParallelMethodsTestProject.csproj
  test/IntegrationTests/TestAssets/ParallelTestMethods/UnitTest1.cs
  test/IntegrationTests/TestAssets/ParallelTestMethods/UnitTest2.cs
Due: test

Harden artifact size cap, guard null PR lookup, fix stale trigger/log wording
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/shared/build-failure-analysis-shared.md
Due: none

Inherit Arcade default DebugType instead of forcing embedded symbols (#10006)
  Directory.Build.props
Due: none

Gate macOS non-blocking trailer to PR runs only
  azure-pipelines.yml
  eng/pipelines/steps/test-non-windows.yml
Due: none

docs: correct Execution ID scope and connection-loss/diagram details
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
Due: none

docs: add dotnet test pipe protocol specification (#10007)
  docs/mstest-runner-protocol/001-protocol-intro.md
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
Due: none

Make macOS PR job non-blocking (#10010)
  azure-pipelines.yml
  eng/pipelines/steps/test-non-windows.yml
Due: none

Add dedicated timeout configuration for GlobalTestInitialize/Cleanup fixtures (#10009)
  docs/Changelog.md
  docs/testconfig.schema.json
  docs/testconfig.schema.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Lifecycle.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TimeoutInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.AssemblyInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/FixtureKind.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.Configuration.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.RunSettingsXml.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Telemetry/MSTestTelemetryDataCollector.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GlobalFixtureTimeoutFromConfigTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutCooperativeGlobalTestCancellationTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenCanceledTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenExpiresTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
Due: production, test

Surface exit-code verdict and per-assembly clarity in GitHubActionsReport (#9974)
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsAnnotationReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsExitCode.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsSummaryReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/GitHubActionsResources.resx
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/GitHubActionsReportTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsExitCodeTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSummaryReporterTests.cs
Due: production, test

Filter invalid localization updates
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3024037
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Address review: base reflexivity proof on comparer type and handle value-type fields
  src/Analyzers/MSTest.Analyzers/Helpers/AssertConditionAnalyzerHelper.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: production, test
