Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Revert "Move some MTP properties from TestNode to TestNodeUpdateMessage (#6124)"
  src/Adapter/MSTest.Engine/Engine/ITestExecutionContext.cs
  src/Adapter/MSTest.Engine/Engine/TestExecutionContext.cs
  src/Adapter/MSTest.Engine/Engine/ThreadPoolTestNodeRunner.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  test/UnitTests/MSTest.Engine.UnitTests/Adapter_ExecuteRequestAsyncTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/SlowestTestsConsumer.cs
Due: production, test

Fix diagnostics
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ExceptionHelper.cs
Due: production

Fixes
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferDisposeOverTestCleanupFixer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferDisposeOverTestCleanupAnalyzerTests.cs
Due: production, test

Update named pipe
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServer.cs
Due: production

Fix arg
  test/Directory.Build.targets
Due: test

Update NamedPipeServer.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServer.cs
Due: production

Drop stacktrace trimming
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ExceptionHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/ExceptionExtensions.cs
Due: production

Fix diagnostics
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
Due: production

and mising using
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
Due: production

Update logger
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IAdapterTraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TraceLogger.cs
Due: production

Drop more
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ExceptionHelper.cs
Due: production

Update Directory.Build.targets
  test/Directory.Build.targets
Due: test

Apply suggestion from @Evangelink
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/ExceptionExtensions.cs
Due: production

Fix suppressors tests
  test/UnitTests/MSTest.Analyzers.UnitTests/UnusedParameterSuppressorTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseAsyncSuffixTestFixtureMethodSuppressorTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseAsyncSuffixTestMethodSuppressorTests.cs
Due: test

Green build
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/ExceptionExtensions.cs
Due: production

Stabilize TestConfigJson_WithoutRunSettings_BuildSuccess
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ConfigurationSettingsTests.cs
Due: test

Fix diagnostics
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferDisposeOverTestCleanupAnalyzerTests.cs
Due: test

Fix diagnotics
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Stabilize TestConfigJson_WithoutRunSettings_BuildSuccess (#6173)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ConfigurationSettingsTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2758085
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
Due: production

Fix diagnostic.
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferDisposeOverTestCleanupFixer.cs
Due: production

Fix
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Fixes
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Fixed
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
Due: test

20m timeout
  azure-pipelines.yml
Due: none

Fix options order
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
Due: test

Fix diagnostic
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

[WIP] AreEqual collections
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Fix
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
Due: test

Fix incorrect comments
  src/Analyzers/MSTest.Analyzers/StringAssertToAssertAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/StringAssertToAssertAnalyzerTests.cs
Due: production, test

Fix incorrect comments (#6189)
  src/Analyzers/MSTest.Analyzers/StringAssertToAssertAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/StringAssertToAssertAnalyzerTests.cs
Due: production, test

Fix TestDifferentGenericMethodTestCases flakiness
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
Due: test

Fix suppressors tests (#6172)
  test/UnitTests/MSTest.Analyzers.UnitTests/UnusedParameterSuppressorTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseAsyncSuffixTestFixtureMethodSuppressorTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseAsyncSuffixTestMethodSuppressorTests.cs
Due: test

Fix TestDifferentGenericMethodTestCases flakiness (#6192)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
Due: test

Add missing `Func<object?>` overload to ThrowsExactly
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

ExecutionContext handling
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

Fix codefix behavior for partial classes with TestCleanup and Dispose in different parts (#6164)
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferDisposeOverTestCleanupFixer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferDisposeOverTestCleanupAnalyzerTests.cs
Due: production, test

Update UseAsyncSuffixTestFixtureMethodSuppressorTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseAsyncSuffixTestFixtureMethodSuppressorTests.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
