Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Use new version of .NET SDK and re-enable new dotnet test experience (#5298)
  azure-pipelines.yml
  global.json
Due: none

Fix typo in TestMethodAttribute documentation (#5300)
  src/TestFramework/TestFramework/Attributes/TestMethod/TestMethodAttribute.cs
Due: production

Refactor
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Adapter/MSTest.TestAdapter/Helpers/ExecutionContextHelpers.cs
  src/Adapter/MSTest.TestAdapter/Helpers/FixtureMethodRunner.cs
Due: production

Add PublicAPI
  src/Adapter/MSTest.TestAdapter/PublicAPI/uwp/PublicAPI.Unshipped.txt
Due: production

Fix
  src/TestFramework/TestFramework.Extensions/Attributes/WinUI_UITestMethodAttribute.cs
Due: production

Fix parameterized UI tests for WinUI
  src/TestFramework/TestFramework.Extensions/Attributes/WinUI_UITestMethodAttribute.cs
Due: production

Fix test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/GenericTestMethodTests.cs
Due: test

Fix parameterized UI tests for WinUI (#5305)
  src/TestFramework/TestFramework.Extensions/Attributes/WinUI_UITestMethodAttribute.cs
Due: production

Attach TestNodeUid to attachments message
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/RpcMessages.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/PassiveNodeDataConsumer.cs
Due: production

Fix build error
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
Due: test

Fix build error
  src/TestFramework/TestFramework.Extensions/Attributes/UWP_UITestMethodAttribute.cs
Due: production

Revert
  samples/Playground/Tests.cs
Due: none

Address review comments
  src/Analyzers/MSTest.Analyzers/DuplicateDataRowAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/DiagnosticExtensions.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Fix
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
Due: test

Fix for Moq
  src/TestFramework/TestFramework/TestFramework.csproj
Due: production

Add analyzer for duplicate data row (#5144)
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/DuplicateDataRowAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/DiagnosticExtensions.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateDataRowAnalyzerTests.cs
Due: production, test

Add `Func<object>` overloads for Assert.Throws[Exactly]
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Add RetryContext.OriginalResults
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryContext.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Fix MSTEST0032 false positive with nullability analysis
  src/Analyzers/MSTest.Analyzers/ReviewAlwaysTrueAssertConditionAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: production, test

Fix MSTEST0032 false positive with nullability analysis (#5315)
  src/Analyzers/MSTest.Analyzers/ReviewAlwaysTrueAssertConditionAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/ReviewAlwaysTrueAssertConditionAnalyzerTests.cs
Due: production, test

VSTestBridge: Add traits as TestMetadataProperty
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/TestNodePropertiesTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/Microsoft.Testing.TestInfrastructure.csproj
Due: production, test

Fix double empty line
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Fix test
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
Due: test

Update README.md
  README.md
Due: none

Update README.md (#5319)
  README.md
Due: none

Apply suggestions from code review
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
Due: production

Fix analyzer/codefix
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseNewerAssertThrowsFixer.cs
  src/Analyzers/MSTest.Analyzers/UseNewerAssertThrowsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseNewerAssertThrowsAnalyzerTests.cs
Due: production, test

[Breaking]: Support test artifacts in VS
  src/Adapter/MSTest.Engine/Engine/TestExecutionContext.cs
  src/Adapter/MSTest.Engine/Engine/ThreadPoolTestNodeRunner.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
  src/Platform/Microsoft.Testing.Platform/Messages/FileArtifacts.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PerRequestServerDataConsumerService.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/PassiveNodeDataConsumer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: production, test

Rename
  src/Adapter/MSTest.Engine/Engine/TestExecutionContext.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Platform/Messages/FileArtifacts.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: production, test

Fix build errors
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
Due: production

Apply suggestions from code review
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryContext.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Add RetryContext.FirstRunResults (#5314)
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryContext.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

VSTestBridge: Add traits as TestMetadataProperty (#5316)
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/TestNodePropertiesTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/Microsoft.Testing.TestInfrastructure.csproj
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2673856
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Move System.Threading.Tasks.Extensions to TestFramework
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.NonWindows.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.NonWindows.nuspec
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.nuspec
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
Due: production

[Source Breaking (only for framework authors)]: Support test artifacts in VS (#5323)
  src/Adapter/MSTest.Engine/Engine/TestExecutionContext.cs
  src/Adapter/MSTest.Engine/Engine/ThreadPoolTestNodeRunner.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
  src/Platform/Microsoft.Testing.Platform/Messages/FileArtifacts.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PerRequestServerDataConsumerService.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/PassiveNodeDataConsumer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: production, test

Update src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
Due: production

Doc
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.nuspec
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
Due: production

Doc
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.NonWindows.nuspec
Due: production

Add `Func<object>` overloads for Assert.Throws[Exactly] (#5313)
  src/Analyzers/MSTest.Analyzers.CodeFixes/UseNewerAssertThrowsFixer.cs
  src/Analyzers/MSTest.Analyzers/UseNewerAssertThrowsAnalyzer.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/MSTest.Analyzers.UnitTests/UseNewerAssertThrowsAnalyzerTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
