Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Address review: prefer generic Assert.AreAllOfType<T> when typeof literal
  src/Analyzers/MSTest.Analyzers.CodeFixes/CollectionAssertToAssertFixer.cs
  src/Analyzers/MSTest.Analyzers/CollectionAssertToAssertAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/CollectionAssertToAssertAnalyzerTests.cs
Due: production, test

Address Round 3 NITs: Union->Concat + tighten duplicate-options test assertions
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/JsonCommandLineOptionsTests.cs
Due: production, test

Update FixKindKey XML doc to include all emitted fix kinds
  src/Analyzers/MSTest.Analyzers/CollectionAssertToAssertAnalyzer.cs
Due: production

Refactor `Assert.AreEquivalent` comparer into focused partial-class files (#8775)
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.Dictionaries.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.Enumerables.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.Members.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.TypeHelpers.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.cs
Due: production

Update --show-stdout / --show-stderr help text to reflect LLM-aware default (#8797)
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2991258
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Address PR review: introduce HandshakeMessageHostTypes constants
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/CommonHostTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: production, test

Address PR feedback: expand ReflectionMetadataGenerator tests and cover non-AOT scenario
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/ReflectionMetadataGeneratorTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2991261 (#8798)
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Fix case-insensitive CLI option validation
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/ArgumentArityTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
Due: production, test

Skip ##vso[task.logissue] in --list-tests --output json mode
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/TerminalOutputDeviceTests.cs
Due: production, test

Address Azure DevOps attachment review feedback
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsClient.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: production, test

perf: eliminate LINQ allocations in terminal progress render hot path
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestNodeResultsState.cs
Due: production

Fix xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Fix xlf (#8800)
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Add MSTEST0068 - CollectionAssert to Assert analyzer and code fix (#8768)
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/CollectionAssertToAssertFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/CollectionAssertToAssertAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/CollectionAssertToAssertAnalyzerTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2991351
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2991351
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2991364
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Address PR feedback: reduce public API, fix fallbacks, add MSTEST0069 analyzer
  samples/public/mstest-runner/NativeAotRunner/TestProject1/TestProject1.csproj
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/CompositeSourceGeneratedReflectionDataProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/MetadataBuilder.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedFileOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionDataProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionOperations.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.SourceGeneration/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.SourceGeneration/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.SourceGeneration/Analyzers/InheritedTestClassAttributeWithSourceGeneratorAnalyzer.cs
  src/Analyzers/MSTest.SourceGeneration/Emitters/ReflectionMetadataEmitter.cs
  src/Analyzers/MSTest.SourceGeneration/Helpers/Constants.cs
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
  test/UnitTests/MSTest.SourceGeneration.UnitTests/InheritedTestClassAttributeWithSourceGeneratorAnalyzerTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/ReflectionMetadataGeneratorTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2991364 (#8801)
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Fix IDE0046 in GetExecutionMode
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
Due: production

Address review comments: fix build errors and PACKAGE.md option name
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PACKAGE.md
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: production, test

Prefer dictionary indexer initializer syntax in Copilot instructions
  .github/copilot-instructions.md
Due: none

Suppress AzDO output in child test hosts during acceptance tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/TerminalOutputDeviceTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestHost.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/WellKnownEnvironmentVariables.cs
Due: test

Collapse source-gen public API to single ReflectionMetadataHook.Register method
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/MetadataBuilder.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
  src/Analyzers/MSTest.SourceGeneration/Emitters/ReflectionMetadataEmitter.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/ReflectionMetadataGeneratorTests.cs
Due: production, test

MSTEST0069: filter out open-generic and file-local types
  src/Analyzers/MSTest.SourceGeneration/Analyzers/InheritedTestClassAttributeWithSourceGeneratorAnalyzer.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/InheritedTestClassAttributeWithSourceGeneratorAnalyzerTests.cs
Due: production, test

Potential fix for pull request finding
  .github/copilot-instructions.md
Due: none

Hide ReflectionMetadataHook from IntelliSense via [EditorBrowsable(Never)]
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
Due: production

Prefer dictionary indexer initializer syntax in Copilot instructions (#8804)
  .github/copilot-instructions.md
Due: none

Read CLI options from testconfig.json via IConfiguration (#6349) (#8664)
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineHandler.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineManager.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/AggregatedConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/CommandLineConfigurationProvider.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/CommandLineConfigurationSource.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/ConfigurationExtensions.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/JsonCommandLineOptionEntry.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/JsonConfigurationProvider.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/PlatformConfigurationConstants.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Utilities.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/ArgumentArityTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/CommandLineConfigurationExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/CommandLineConfigurationProviderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/JsonCommandLineOptionsTests.cs
Due: production, test

[perf-improver] perf: eliminate LINQ allocations in terminal progress render hot path (#8799)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestNodeResultsState.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2991685
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Refactor `PrivateObject` into focused NETFRAMEWORK partial-class files (#8803)
  src/TestFramework/TestFramework.Extensions/PrivateObject.Fields.cs
  src/TestFramework/TestFramework.Extensions/PrivateObject.Helpers.cs
  src/TestFramework/TestFramework.Extensions/PrivateObject.Invoke.cs
  src/TestFramework/TestFramework.Extensions/PrivateObject.Properties.cs
  src/TestFramework/TestFramework.Extensions/PrivateObject.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2991685 (#8805)
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Avoid boxing in EquatableArray<T>.GetEnumerator
  src/Analyzers/MSTest.SourceGeneration/Models/TestAssemblyMetadata.cs
Due: production

perf: single-pass TestNode property serialization in SerializerUtilities
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
Due: production

Potential fix for pull request finding
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: test

Add ExecutionMode handshake property to MTP dotnet test IPC protocol (#8794)
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: production, test

Add Azure DevOps result-level attachments and run-level coverage upload (#8782)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsLivePublishingModels.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsClient.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/IAzureDevOpsTestResultsClient.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/AzureDevOpsResources.resx
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: production, test
