Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add StartsWith structured assertion tests
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.StartsWithEndsWith.cs
Due: test

Address expert-review findings: refactor AreAllOfType mismatch tracking and expand test coverage
  src/TestFramework/TestFramework/Assertions/Assert.AreAllDistinct.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreAllOfType.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreAll.cs
Due: production, test

Remove orphaned IComparable fail messages
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Add Assert.AreEquivalent for deep structural comparison
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEquivalentTests.cs
Due: production, test

Address review feedback
  src/Platform/Microsoft.Testing.Extensions.Telemetry/AppInsightsProvider.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppInsightsProviderTests.cs
Due: production, test

Add timeout tests for GlobalTestInitializeAttribute and GlobalTestCleanupAttribute
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutCooperativeGlobalTestCancellationTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenCanceledTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenExpiresTests.cs
Due: test

Fix Assert.Count call-site formatting
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Items.cs
Due: production, test

Collect all crash dumps in dump directory (#4186)
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpProcessLifetimeHandler.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CrashDumpTests.cs
Due: production, test

Add telemetry collection for MSTest usage analytics (#7570)
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.Configuration.cs
  src/Adapter/MSTestAdapter.PlatformServices/Telemetry/MSTestTelemetryDataCollector.cs
  src/Platform/Microsoft.Testing.Extensions.Telemetry/AppInsightsProvider.cs
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.Numerics.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.String.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/Assertions/Assert.EndsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.Fail.cs
  src/TestFramework/TestFramework/Assertions/Assert.IComparable.cs
  src/TestFramework/TestFramework/Assertions/Assert.Inconclusive.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsExactInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.Matches.cs
  src/TestFramework/TestFramework/Assertions/Assert.StartsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Equality.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Equivalence.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Membership.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Subset.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Type.cs
  src/TestFramework/TestFramework/Assertions/StringAssert.cs
  src/TestFramework/TestFramework/Internal/TelemetryCollector.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TelemetryTests.cs
Due: production, test

Add `--retry-failed-tests-delay` option to MTP retry package (#7840)
  src/Platform/Microsoft.Testing.Extensions.Retry/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Add code fix for MSTEST0040 — AvoidUsingAssertsInAsyncVoidContext (#7892)
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidUsingAssertsInAsyncVoidContextFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidUsingAssertsInAsyncVoidContextAnalyzerTests.cs
Due: production, test

Guard MarshalByRefObject, [Serializable], and InitializeLifetimeService behind #if NETFRAMEWORK (#8174)
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MTPTraceLogger.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/EqtTraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/Deployment/DeploymentItem.cs
  src/Adapter/MSTestAdapter.PlatformServices/Deployment/TestRunDirectories.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerationResult.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestAssemblySettingsProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ReflectHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/NopTraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/StackTraceInformation.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestAssemblySettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
  src/Adapter/MSTestAdapter.PlatformServices/RecursiveDirectoryPath.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestResult.cs
Due: production

[Test Improver] Add unit tests for CommandLineParseResult (#8249)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineParseResultTests.cs
Due: test

Avoid duplicate async cleanup for test host lifecycle callbacks (#8254)
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/CommonHostTests.cs
Due: production, test

Add acceptance test for collecting all crash dumps (#4186)
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashDumpTests.cs
Due: test

Address AreAll review feedback
  src/TestFramework/TestFramework/Assertions/Assert.AreAllDistinct.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreAllOfType.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreAll.cs
Due: production, test

Address AreEquivalent review feedback
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEquivalentTests.cs
Due: production, test

Tighten AreEquivalent RFC test
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEquivalentTests.cs
Due: test

Address Assert.Contains review feedback
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInRange.cs
Due: production, test

Fix ContainsAll test comparer semantics
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ContainsAll.cs
Due: test

Fix PreferAsyncAssertion review issues
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferAsyncAssertionFixer.cs
  src/Analyzers/MSTest.Analyzers/PreferAsyncAssertionAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferAsyncAssertionAnalyzerTests.cs
Due: production, test

Address AreEquivalent review feedback
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEquivalentTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2976336
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Apply structured assertion messages (RFC 012) to Assert.StartsWith / EndsWith (#8258)
  src/TestFramework/TestFramework/Assertions/Assert.EndsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.StartsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.StartsWithEndsWith.cs
Due: production, test

Stream TRX test results to disk and recover partial TRX on test host crash (#8263)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Serializers/TrxStreamLocationSerializer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/TrxResultStreamingStore.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/TrxTestResult.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/TrxTestResultExtractor.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/TrxTestResultSerializer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Results.Definitions.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Results.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/IFileSystem.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemFileSystem.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxStreamingSerializerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTestResultExtractorTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2976336 (#8273)
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Support placeholders in --report-trx-filename (#8223)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TimingProperties.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2976444
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ko.xlf
Due: production

Use regex matching for dump file name pattern (#4186)
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpProcessLifetimeHandler.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CrashDumpTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2976444
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
Due: production

Fix IDE0046 build errors and align AreNotEquivalent evidence label with RFC 012
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEquivalentTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2976451
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ko.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2976451 (#8276)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
Due: production

Add --list-tests json for machine-readable test discovery output
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/DiscoveredTestsJsonSerializer.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/JsonStringWriter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestDiscoveryTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/PlatformCommandLineProviderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/DiscoveredTestsJsonSerializerTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2976462
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2976462 (#8281)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
Due: production

Apply structured assertion messages (RFC 012) to Assert.IComparable family (#8260)
  src/TestFramework/TestFramework/Assertions/Assert.IComparable.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IComparableTests.cs
Due: production, test

Add timeout tests for GlobalTestInitializeAttribute and GlobalTestCleanupAttribute (#8267)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutCooperativeGlobalTestCancellationTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenCanceledTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutWhenExpiresTests.cs
Due: test

Address expert-review findings: RFC 012 alignment and equivalence comparer hardening
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEquivalentTests.cs
Due: production, test

Address round-2 expert-review findings on AreEquivalent
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.Comparer.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEquivalentTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
