Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Bump CodeCoverage to 18.11.0
  eng/Versions.props
Due: none

Bump CodeCoverage to 18.11.0 by @Evangelink in #10952 (backport to rel/4.4) (#10955)
  eng/Versions.props
Due: none

Fix GitHub Actions report API baseline
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Shipped.txt
Due: production

Update shipped API baselines (#10956)
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Shipped.txt
Due: production

Fix timing-sensitive platform tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/AsynchronousMessageBusTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Split report generator journal logic
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.Journal.cs
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.cs
Due: production

Prepare rel/4.4 for bug fix release
  eng/Versions.props
Due: none

Set 4.4 and 2.4 release dates
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Move analyzer releases to shipped
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.SourceGeneration/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.SourceGeneration/AnalyzerReleases.Unshipped.md
Due: production

Set release dates for MSTest 4.4 and MTP 2.4 (#10960)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Move analyzer releases to shipped (#10961)
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.SourceGeneration/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.SourceGeneration/AnalyzerReleases.Unshipped.md
Due: production

Move analyzer releases to shipped by @Evangelink in #10961 (backport to rel/4.4) (#10962)
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.SourceGeneration/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.SourceGeneration/AnalyzerReleases.Unshipped.md
Due: production

Prepare rel/4.4 for bug fix release (#10959)
  eng/Versions.props
Due: none

Fix retry response file handling
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryArgumentsBuilder.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplicationBuilder.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/ParseResult.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/Parser.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/ResponseFileHelper.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
  src/Platform/Microsoft.Testing.Platform/Services/ExecutableInfo.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryArgumentsBuilderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/CurrentTestApplicationModuleInfoTests.cs
Due: production, test

Split report generator journal logic into a partial class (#10958)
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.Journal.cs
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.cs
Due: production

Fix timing-sensitive platform tests (#10957)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/AsynchronousMessageBusTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Update CodeQL action lock metadata
  .github/aw/actions-lock.json
  .github/workflows/malicious-code-scan.lock.yml
Due: none

Clarify ReliableTestSuite package version
  samples/public/ReliableTestSuite/EnvironmentPricingTests.cs
  samples/public/ReliableTestSuite/README.md
Due: none

Optimize Assert.IsNotEmpty collection checks
  src/TestFramework/TestFramework/Assertions/Assert.IsNotEmpty.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Items.cs
Due: production, test

Fix Retry Native AOT warning
  src/Package/MSTest.Sdk/Sdk/Runner/NativeAOT.targets
Due: production

Add RetryDataConsumer unit tests
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryDataConsumerTests.cs
Due: test

Test generic IsNotEmpty enumerable fallback
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Items.cs
Due: test

Avoid reflection in retry consumer tests
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryDataConsumerTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3065095 by @dotnet-oneloc-localization[bot] in #10967 (backport to rel/4.4) (#10979)
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Strengthen retry tracking assertions
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryDataConsumerTests.cs
Due: test

Test empty non-generic collection handling
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Items.cs
Due: test

Cover skipped retry recovery revocation
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryDataConsumerTests.cs
Due: test

Assert ignored messages do not count failures
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryDataConsumerTests.cs
Due: test

Fix public Native AOT package pins
  samples/public/Directory.Build.props
  samples/public/Directory.Build.targets
Due: none

Respect SatelliteResourceLanguages for adapter resources
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Prevent telemetry consumer starvation
  src/Platform/Microsoft.Testing.Extensions.Telemetry/AppInsightsProvider.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppInsightsProviderTests.cs
Due: production, test

Fix Azure DevOps authentication diagnostics
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsClient.Http.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/AzureDevOpsResources.resx
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsTestResultsClientHandlerTests.cs
Due: production, test

Prevent .NET Framework telemetry consumer starvation (#10988)
  src/Platform/Microsoft.Testing.Extensions.Telemetry/AppInsightsProvider.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppInsightsProviderTests.cs
Due: production, test
