Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

[Lean Squad] feat(fv): Task 2 — informal spec for CommandLineParser.ParseOptionAndSeparators (#7919)
  formal-verification/TARGETS.md
  formal-verification/specs/commandlineparser_parseoptionandseparators_informal.md
Due: none

Harden Copilot workflow integrity, lockdown, and toolset configuration (#7920)
  .github/workflows/add-tests.lock.yml
  .github/workflows/add-tests.md
  .github/workflows/daily-efficiency-improver.lock.yml
  .github/workflows/daily-efficiency-improver.md
  .github/workflows/daily-perf-improver.lock.yml
  .github/workflows/daily-perf-improver.md
  .github/workflows/daily-qa.lock.yml
  .github/workflows/daily-qa.md
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/daily-test-improver.md
  .github/workflows/lean-squad.lock.yml
  .github/workflows/lean-squad.md
  .github/workflows/pr-expert-reviewer.lock.yml
  .github/workflows/pr-expert-reviewer.md
  .github/workflows/pr-nitpick-reviewer.lock.yml
  .github/workflows/pr-nitpick-reviewer.md
  .github/workflows/pr-test-expert-reviewer.lock.yml
  .github/workflows/pr-test-expert-reviewer.md
Due: none

Refactor `TestNodeProperties.cs` into focused single-responsibility files (#7940)
  src/Platform/Microsoft.Testing.Platform/Messages/FileArtifactProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/FileLocationProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/IProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/OutputProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/SerializableKeyValuePairStringProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestMetadataProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestMethodIdentifierProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeStateProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TimingProperties.cs
Due: production

[Lean Squad] feat(ci): Task 9 — FV docs validation workflow + updated REPORT.md (#7936)
  .github/workflows/fv-docs-validation.yml
  formal-verification/REPORT.md
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2963939 (#7949)
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

[Efficiency Improver] perf: skip PropertyBag construction in BFSTestNodeVisitor when filter has no property expressions (#7901)
  src/Adapter/MSTest.Engine/Engine/BFSTestNodeVisitor.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
  test/UnitTests/MSTest.Engine.UnitTests/BFSTestNodeVisitorTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TreeNodeFilterTests.cs
Due: production, test

[Efficiency Improver] perf: eliminate yield-iterator state machine in PropertyBag.OfType(T)() (#7917)
  src/Platform/Microsoft.Testing.Platform/Messages/PropertyBag.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/PropertyBagTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2964261 (#7963)
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
Due: production

[docs] Update glossary - daily scan (#7960)
  docs/glossary.md
Due: none

[Lean Squad] feat(fv): Task 2 — informal spec for TreeNodeFilter.MatchFilterPattern (#7934)
  formal-verification/specs/treenodefilter_matchfilterpattern_informal.md
Due: none

[Perf Improver] perf: eliminate LINQ iterator allocations in GetTestCategories and GetTestFromMethod (#7927)
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ReflectHelper.cs
Due: production

Add code fix for MSTEST0060 — DuplicateTestMethodAttribute (#7894)
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/DuplicateTestMethodAttributeFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateTestMethodAttributeAnalyzerTests.cs
Due: production, test

Fix O(n²) output accumulation in data-driven tests causing large TRX files (#7926)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrxReportTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
Due: test

Recompile GH workflows (#8087)
  .github/workflows/pr-nitpick-reviewer.lock.yml
  .github/workflows/pr-nitpick-reviewer.md
  .github/workflows/repo-historian.lock.yml
Due: none

[docs] Update glossary - daily scan (#8089)
  docs/glossary.md
Due: none

Fix typos, formatting, and class names in AnalyzerReleases.Shipped.md; rename misnamed test file (#7962)
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Shipped.md
  test/UnitTests/MSTest.Analyzers.UnitTests/TypeContainingTestMethodShouldBeATestClassAnalyzerTests.cs
Due: production, test

[code-simplifier] Remove redundant `.ToString()` in `TimingInfo.ToString()` (#7961)
  src/Platform/Microsoft.Testing.Platform/Messages/TimingProperties.cs
Due: production

Refactor TestMethodInfo.cs into focused partial class files (#7985)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.ArgumentResolution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.ExceptionHandling.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Execution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.Lifecycle.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.TestContext.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

[docs] Update glossary - weekly full scan (#8090)
  docs/glossary.md
Due: none

[Lean Squad] feat(fv): Task 1 — expand TARGETS.md to 17 targets; add LLMEnvironmentDetector research (#8115)
  formal-verification/RESEARCH.md
  formal-verification/TARGETS.md
Due: none

[Lean Squad] feat(fv): Task 2 — informal spec for PasteArguments.AppendArgument (#8116)
  formal-verification/specs/pastearguments_appendargument_informal.md
Due: none

[Lean Squad] feat(fv): Task 2 + Task 9 — CommandLineOptionsValidator informal spec & CI simplification (#8105)
  .github/workflows/lean-proofs.yml
  formal-verification/TARGETS.md
  formal-verification/lean/lakefile.toml
  formal-verification/specs/commandlineoptionsvalidator_arity_informal.md
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2972073 (#8107)
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

[Lean Squad] feat: [Lean Squad] informal spec for EnvironmentVariableParser.ParseBool (#8098)
  formal-verification/TARGETS.md
  formal-verification/specs/environmentvariableparser_parsebool_informal.md
Due: none

Analyzer catalog hygiene: retire MSTEST0039 constant and replace unactionable TODOs (#8092)
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestDataSource.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineHandler.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/SimplifiedConsoleOutputDeviceBase.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/ITestHostProcessInformation.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestDeploymentTests.cs
Due: production, test

Fix Hash input in _GenerateVersionSourceFileCache target (#8102)
  Directory.Build.targets
Due: none

[Lean Squad] feat(fv): Task 3+9 — Lean 4 formal spec for TreeNodeFilter.MatchFilterPattern + CI fix (#8111)
  .github/workflows/lean-proofs.yml
  formal-verification/lean/FVSquad.lean
  formal-verification/lean/FVSquad/TreeNodeFilter.lean
  formal-verification/lean/README.md
  formal-verification/lean/lake-manifest.json
  formal-verification/lean/lean-toolchain
Due: none

MSTEST0007: report concrete condition attribute instead of ConditionBaseAttribute (#8091)
  src/Analyzers/MSTest.Analyzers/UseAttributeOnTestMethodAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseAttributeOnTestMethodAnalyzerTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2970824 (#7973)
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
Due: production

Bump OTel (#8099)
  Directory.Packages.props
  samples/Playground/Playground.csproj
Due: none

Fix typo: 'CompositeExtensonFactory' -> 'CompositeExtensionFactory' (#8101)
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

[Lean Squad] Task 9: CI automation improvements — TARGETS.md expansion, Mathlib removal, weekly schedule (#8117)
  .github/workflows/lean-proofs.yml
  formal-verification/lean/lakefile.toml
Due: none

Bump nerdbank deps (#8096)
  Directory.Packages.props
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSTest.Acceptance.IntegrationTests.csproj
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests.csproj
Due: test

[Test Improver] Add unit tests for LoggingManager.BuildAsync (#8124)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/LoggingManagerTests.cs
Due: test

Update changelogs for v4.2.2 release (#8132)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

[Efficiency Improver] perf: avoid iterator allocation in GetRetryAttribute() (#8103)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

[Test Improver] Add unit tests for ExtensionValidationHelper.ValidateUniqueExtension (#8128)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/ExtensionValidationHelperTests.cs
Due: test

Remove Lean formal verification agentic workflow (#8121)
  .github/workflows/lean-proofs.yml
  .github/workflows/lean-squad.lock.yml
  .github/workflows/lean-squad.md
  .jscpd.json
  azure-pipelines-official.yml
  azure-pipelines.yml
  formal-verification/CORRESPONDENCE.md
  formal-verification/CRITIQUE.md
  formal-verification/REPORT.md
  formal-verification/RESEARCH.md
  formal-verification/TARGETS.md
  formal-verification/lean/FVSquad.lean
  formal-verification/lean/FVSquad/.gitkeep
  formal-verification/lean/FVSquad/README.md
  formal-verification/lean/FVSquad/TreeNodeFilter.lean
  formal-verification/lean/README.md
  formal-verification/lean/lake-manifest.json
  formal-verification/lean/lakefile.toml
  formal-verification/lean/lean-toolchain
  formal-verification/specs/argument_arity_informal.md
  formal-verification/specs/commandlineoptionsvalidator_arity_informal.md
  formal-verification/specs/commandlineparser_parseoptionandseparators_informal.md
  formal-verification/specs/commandlineparser_tryunescape_informal.md
  formal-verification/specs/commandlineparseresult_equals_informal.md
  formal-verification/specs/environmentvariableparser_parsebool_informal.md
  formal-verification/specs/pastearguments_appendargument_informal.md
  formal-verification/specs/responsefilehelper_splitcommandline_informal.md
  formal-verification/specs/treenodefilter_matchfilterpattern_informal.md
Due: none

Add code fix for MSTEST0031 — DoNotUseSystemDescriptionAttribute (#7898)
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/DoNotUseSystemDescriptionAttributeFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DoNotUseSystemDescriptionAttributeAnalyzerTests.cs
Due: production, test

Bump test deps (#8110)
  Directory.Packages.props
Due: none
