Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Custom fix all
  src/Analyzers/MSTest.Analyzers.CodeFixes/AssertionArgsShouldAvoidConditionalAccessFixer.cs
  src/Analyzers/MSTest.Analyzers/AssertionArgsShouldAvoidConditionalAccessAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertionArgsShouldAvoidConditionalAccessAnalyzerTests.cs
Due: production, test

Fix trivia, verify codefix in all tests
  src/Analyzers/MSTest.Analyzers.CodeFixes/AssertionArgsShouldAvoidConditionalAccessFixer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertionArgsShouldAvoidConditionalAccessAnalyzerTests.cs
Due: production, test

Small refactoring
  src/Analyzers/MSTest.Analyzers.CodeFixes/AssertionArgsShouldAvoidConditionalAccessFixer.cs
Due: production

Test with expression body
  src/Analyzers/MSTest.Analyzers.CodeFixes/AssertionArgsShouldAvoidConditionalAccessFixer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertionArgsShouldAvoidConditionalAccessAnalyzerTests.cs
Due: production, test

Make it warning
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreSameWithValueTypesAnalyzer.cs
Due: production

Update AnalyzerReleases.Unshipped
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
Due: production

Add description
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreSameWithValueTypesAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Small ClassInitialize refactoring
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Set class initialize result
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Update ExpectedException codefix to use the new Assert.Throws[Exactly][Async] overloads
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidExpectedExceptionAttributeFixer.cs
  src/Analyzers/MSTest.Analyzers/AvoidExpectedExceptionAttributeAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidExpectedExceptionAttributeAnalyzerTests.cs
Due: production, test

Move ExpectedException attribute resolution out of TypeCache/ReflectHelper
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/Helpers/ReflectHelper.cs
  src/Adapter/MSTest.TestAdapter/ObjectModel/TestMethodOptions.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TypeCacheTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Helpers/ReflectHelperTests.cs
Due: production, test

Remove unused usings
  src/Adapter/MSTest.TestAdapter/Helpers/ReflectHelper.cs
  test/UnitTests/MSTestAdapter.UnitTests/Helpers/ReflectHelperTests.cs
Due: production, test

Update ExpectedException codefix to use the new Assert.Throws[Exactly][Async] overloads (#4504)
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidExpectedExceptionAttributeFixer.cs
  src/Analyzers/MSTest.Analyzers/AvoidExpectedExceptionAttributeAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidExpectedExceptionAttributeAnalyzerTests.cs
Due: production, test

Introduce interpolated string handler overloads for assertions (#4476)
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/TestFramework.csproj
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreSame.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInstanceOfTypeTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsNull.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsTrueTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.cs
  test/Utilities/TestFramework.ForTestingMSTest/TestContainer.cs
Due: production, test

Fix match all filter not working when property expression is present (#4495)
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TreeNodeFilterTests.cs
Due: production, test

Fix match all filter not working when property expression is present (#4495) (#4507)
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TreeNodeFilterTests.cs
Due: production, test

Add analyzer for value type usage with Assert.AreSame (#4493)
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AvoidAssertAreSameWithValueTypesAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreSameWithValueTypesAnalyzerTests.cs
Due: production, test

Allow DynamicData source to be on base types (#4482)
  src/Adapter/MSTest.TestAdapter/DynamicDataOperations.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/SourceGeneration/SourceGeneratedReflectionOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IReflectionOperations2.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ReflectionOperations2.cs
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/TestAssets/DynamicDataTestProject/DynamicDataTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Due: production, test

Fix main
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TreeNodeFilterTests.cs
Due: test

Don't report MSTEST0001 when TestAdapter isn't referenced (#4481)
  src/Analyzers/MSTest.Analyzers/UseParallelizeAttributeAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/MSTest.Analyzers.UnitTests.csproj
  test/UnitTests/MSTest.Analyzers.UnitTests/UseParallelizeAttributeAnalyzerTests.cs
Due: production, test

Don't report MSTEST0001 when TestAdapter isn't referenced (#4481) (#4509)
  src/Analyzers/MSTest.Analyzers/UseParallelizeAttributeAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/MSTest.Analyzers.UnitTests.csproj
  test/UnitTests/MSTest.Analyzers.UnitTests/UseParallelizeAttributeAnalyzerTests.cs
Due: production, test

Fix MSTEST0017 false positive when both actual/expected are constants (#4460)
  src/Analyzers/MSTest.Analyzers/AssertionArgsShouldBePassedInCorrectOrderAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertionArgsShouldBePassedInCorrectOrderAnalyzerTests.cs
Due: production, test

Fix MSTEST0017 false positive when both actual/expected are constants (#4460) (#4510)
  src/Analyzers/MSTest.Analyzers/AssertionArgsShouldBePassedInCorrectOrderAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AssertionArgsShouldBePassedInCorrectOrderAnalyzerTests.cs
Due: production, test

MSTEST0037 (proper assert analyzer): Don't report for user defined equality operators (#4456)
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

MSTEST0037 (proper assert analyzer): Don't report for user defined eq… (#4511)
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseProperAssertMethodsAnalyzerTests.cs
Due: production, test

Fix typo in analyzer message (#4452)
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Fix typo in analyzer message (#4452) (#4512)
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

method scope fix (#4415)
  src/Adapter/MSTest.TestAdapter/MSTestSettings.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestSettingsTests.cs
Due: production, test

method scope fix (#4415) (#4513)
  src/Adapter/MSTest.TestAdapter/MSTestSettings.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestSettingsTests.cs
Due: production, test

Fix analyzer messages not localized (#4434)
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/MSTestSettings.cs
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AnalyzersTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
Due: production, test

Fix analyzer messages not localized (#4434) (#4514)
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/MSTestSettings.cs
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AnalyzersTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
Due: production, test

use polyfill in TestFramework.ForTestingMSTest (#4412)
  test/Utilities/TestFramework.ForTestingMSTest/CallerArgumentExpressionAttribute.cs
  test/Utilities/TestFramework.ForTestingMSTest/CodeAnalysisAttributes.cs
  test/Utilities/TestFramework.ForTestingMSTest/DoesNotReturnIfAttribute.cs
  test/Utilities/TestFramework.ForTestingMSTest/TestFramework.ForTestingMSTest.csproj
Due: test

use EnumPolyfill.IsDefined (#4418)
  src/Adapter/MSTest.TestAdapter/MSTestSettings.cs
Due: production

use EnumPolyfill.GetNames correctly (#4413)
  src/Adapter/MSTest.TestAdapter/MSTestSettings.cs
Due: production

Fix "Could not load file or assembly 'System.Runtime.CompilerServicesUnsafe'" (#4461)
  Directory.Packages.props
  test/IntegrationTests/MSTest.IntegrationTests/MSTest.IntegrationTests.csproj
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/TestCaseFilterFactory.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
  test/UnitTests/MSTestAdapter.UnitTests/MSTestAdapter.UnitTests.csproj
  test/Utilities/TestFramework.ForTestingMSTest/TestFramework.ForTestingMSTest.csproj
Due: test

Move optimization for non-sta
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Revert unintentional BOM change
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Mark TestMethodOptions.Executor as non-nullable
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/ObjectModel/TestMethodOptions.cs
Due: production

Hope the comment is really correct and it's not indeed used....
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
Due: production

Revert BOM change that GitHub editor keeps making
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
