Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Update SDK for skipped test filtering
  global.json
Due: none

Backport additional localization updates
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
Due: production

Update SDK for skipped test filtering (#11468)
  global.json
Due: none

Add CrashDump dump-search pattern unit tests (#11465)
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.CrashDump/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CrashDumpTests.cs
Due: production, test

Split ServerTestHost message loop into focused partial files (#11464)
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.Initialization.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.MessageLoop.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.NotificationHandling.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestCompletion.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestHandling.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RpcInvocationState.cs
Due: production

Consolidate TestFramework string escaping (#11446)
  src/TestFramework/TestFramework/Assertions/Assert.StringDifference.Formatting.cs
  src/TestFramework/TestFramework/Assertions/Assert.StringDifference.Rendering.cs
  src/TestFramework/TestFramework/Assertions/Assert.StringDifference.Tokenizer.cs
  src/TestFramework/TestFramework/Assertions/AssertionValueRenderer.cs
  src/TestFramework/TestFramework/Internal/StringEscapeHelper.cs
  src/TestFramework/TestFramework/Internal/TestDataSourceUtilities.cs
  src/TestFramework/TestFramework/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertionValueRendererTests.cs
Due: production, test

[code-simplifier] chore: clarify null-coalescing list build in TestCaseExtensions (#11470)
  src/Adapter/MSTest.TestAdapter/Extensions/TestCaseExtensions.cs
Due: production

Exclude macOS from public PR validation
  azure-pipelines.yml
  eng/pipelines/steps/test-non-windows.yml
Due: none

Address listener test review feedback
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/NonCooperativeParentProcessListenerTests.cs
Due: test

Improve server mode client mutation coverage
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Exclude macOS from public PR validation (#11471)
  azure-pipelines.yml
  eng/pipelines/steps/test-non-windows.yml
Due: none

Add unit tests for NonCooperativeParentProcessListener (#11466)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/NonCooperativeParentProcessListenerTests.cs
Due: test

Synchronize stderr drain on early process exit
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
Due: production

Bound stderr drain after early process exit
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: production, test

Preserve early-exit diagnostics at timeout
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: production, test

Allow CI time for missing assembly exit
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Latch stopped server during diagnostic drain
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerConnector.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerInProcessHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: production, test

Close remaining server exit race windows
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerConnector.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerInProcessHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: production, test

Improve server mode client mutation coverage (#11472)
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerConnector.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerInProcessHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: production, test

[code-simplifier] chore: extract shared failure-handling in ServerTestHost.HandleRequestAsync (#11474)
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestHandling.cs
Due: production

Fix source package checks after process split
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageTests.cs
Due: test

Enable packaged AppContainer controller infrastructure
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/ActivatedAppTestHostHandle.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/Windows/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryArgumentsBuilder.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.ArtifactRecovery.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.OrchestrateTestHostExecution.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/AggregatedConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/TestHostHandleToProcessAdapter.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessLifecycle.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeClient.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServerSecurity.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/ILocalTestHostHandle.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/ITestHostHandleExitCodePolicy.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestSourceHostTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppConnectBackHandshakeTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryArgumentsBuilderTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/AggregatedConfigurationTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostHandleToProcessAdapterTests.cs
Due: production, test

Wire MSTest SDK app-model sidecar controller
  TestFx.slnx
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/PublicAPI/classicuwp/PublicAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/ClassicUwpPackagedAppExtensions.cs
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/Package/MSTest.Sdk.AppModelController/MSTest.Sdk.AppModelController.csproj
  src/Package/MSTest.Sdk.AppModelController/Program.cs
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicUwpMtpBootstrap.cs
  src/Package/MSTest.Sdk/Sdk/Runner/Common.targets
  src/Package/MSTest.Sdk/Sdk/Sdk.targets
  src/Platform/Microsoft.Testing.Extensions.MSBuild/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.Execution.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.ToolResolution.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
Due: production

Add MTP Windows app-model acceptance coverage
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ClassicUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelTestTools.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedWinUITests.cs
Due: test

Enable classic UWP execution through MTP
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/ClassicUwpPackagedAppExtensions.cs
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ClassicUwpTests.cs
Due: production, test

Declare [ResourceLock] for real environment-variable mutation in TestHostBuilderTests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostBuilderTests.cs
Due: test

Harden MTP Windows app-model execution
  docs/Changelog-Platform.md
  docs/Changelog.md
  docs/glossary.md
  docs/winui-testing.md
  eng/verify-nupkgs.ps1
  samples/public/README.md
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/ClassicUwpPackagedAppExtensions.cs
  src/Package/MSTest.Sdk.AppModelController/MSTest.Sdk.AppModelController.csproj
  src/Package/MSTest.Sdk.AppModelController/Program.cs
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Package/MSTest.Sdk/README.md
  src/Package/MSTest.Sdk/Sdk/Runner/Common.targets
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/ActivatedAppTestHostHandle.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessLifecycle.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServerSecurity.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ClassicUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelPackageTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelTestTools.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryDataConsumerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/NamedPipeServerSecurityTests.cs
Due: production, test

Refactor MtpServerProcess into focused partial classes (#11476)
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.LaunchCommand.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.Shutdown.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.Startup.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageTests.cs
Due: production, test

Handle exited parent process race
  src/Platform/Microsoft.Testing.Platform/Helpers/NonCooperativeParentProcessListener.cs
Due: production

Address packaged app security review
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/ActivatedAppTestHostHandle.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppScratchArtifactRecovery.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServerSecurity.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppScratchArtifactRecoveryTests.cs
Due: production, test

Use safe handle for AppContainer SID
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServerSecurity.cs
Due: production

Support neutral packaged app dependencies
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackageDeployerTests.cs
Due: production, test

Fix mutation improver firewall access
  .github/workflows/mutation-test-improver.lock.yml
  .github/workflows/mutation-test-improver.md
Due: none

Fix mutation improver firewall access (#11488)
  .github/workflows/mutation-test-improver.lock.yml
  .github/workflows/mutation-test-improver.md
Due: none

Fix net462 single-flight test compatibility
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/SingleFlightTaskTests.cs
Due: test

Address app-model portability feedback
  NonWindowsTests.slnf
  eng/verify-nupkgs.ps1
  src/Package/MSTest.Sdk.AppModelController/MSTest.Sdk.AppModelController.csproj
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Package/MSTest.Sdk/Sdk/Runner/Common.targets
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessLifecycle.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelPackageTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Preserve packaged dependency and exit state
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/Windows/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessLifecycle.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackageDeployerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Preserve requested packaged executable
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
Due: production, test
