Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Close middleware continuation when invocation returns
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostExecutionOrchestratorMiddlewarePipeline.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostExecutionOrchestratorMiddlewarePipelineTests.cs
Due: production, test

Synchronize diagnostic logger relocation
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerCategory.cs
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerInformation.cs
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerProvider.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/DiagnosticLoggingInformationTests.cs
Due: production, test

Make relocation race test deterministic
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/DiagnosticLoggingInformationTests.cs
Due: test

Render log messages before relocation gate
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerProvider.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/DiagnosticLoggingInformationTests.cs
Due: production, test

Harden diagnostic logger relocation recovery
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerProvider.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/DiagnosticLoggingInformationTests.cs
Due: production, test

Add composable test-host orchestrator middleware (#11607)
  docs/Changelog-Platform.md
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostOchestratorHost.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/ITestHostExecutionOrchestratorMiddleware.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/ITestHostExecutionOrchestratorMiddlewareManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostExecutionOrchestratorMiddlewarePipeline.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostOrchestratorConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostOrchestratorManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostOrchestratorManagerExtensions.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/TestHostOrchestratorHostTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostBuilderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostExecutionOrchestratorMiddlewareApiMetadataTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostExecutionOrchestratorMiddlewarePipelineTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostOrchestratorManagerTests.cs
Due: production, test

Fix Hosting package validation in official builds
  eng/verify-nupkgs.ps1
Due: none

Avoid appending to conflicting diagnostic logs
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerProvider.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/DiagnosticLoggingInformationTests.cs
Due: production, test

Bound diagnostic log replay handoff
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerProvider.cs
Due: production

Expose diagnostic logging information to extensions (#11653)
  docs/glossary.md
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerCategory.cs
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerInformation.cs
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerProvider.cs
  src/Platform/Microsoft.Testing.Platform/Logging/IDiagnosticLoggingInformation.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProviderExtensions.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DiagnosticTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/DiagnosticLoggingInformationTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ServiceProviderTests.cs
Due: production, test

Fix Hosting package validation in official builds (#11659)
  eng/verify-nupkgs.ps1
Due: none

Update ExecuteRequestContext description in glossary
  docs/glossary.md
Due: none

[docs] Update glossary - daily scan (#11658)
  docs/glossary.md
Due: none

Clarify UWP sample configuration
  samples/public/UwpMtpApp/UwpMtpApp.csproj
  samples/public/UwpVSTestApp/UwpVSTestApp.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
Due: test

Keep default UWP extension profile
  samples/public/UwpMtpApp/UwpMtpApp.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
Due: test

Remove deprecated testing platform sample opt-ins
  docs/glossary.md
  samples/public/MTPHostIntegration/AspNetCoreTests/AspNetCoreTests.csproj
  samples/public/mstest-runner/MSTestProjectWithExplicitMain/MSTestProjectWithExplicitMain/MSTestProjectWithExplicitMain.csproj
Due: none

Simplify WinUI sample project configuration
  samples/public/WinUIMtpAppContainerApp/WinUIMtpAppContainerApp.csproj
  samples/public/WinUIMtpPackagedApp/WinUIMtpPackagedApp.csproj
  samples/public/WinUIMtpUnpackagedApp/WinUIMtpUnpackagedApp.csproj
  samples/public/WinUIVSTestApp/WinUIVSTestApp.csproj
Due: none

Simplify WinUI sample project configuration (#11665)
  samples/public/WinUIMtpAppContainerApp/WinUIMtpAppContainerApp.csproj
  samples/public/WinUIMtpPackagedApp/WinUIMtpPackagedApp.csproj
  samples/public/WinUIMtpUnpackagedApp/WinUIMtpUnpackagedApp.csproj
  samples/public/WinUIVSTestApp/WinUIVSTestApp.csproj
Due: none

Pin public coverage packages in UWP tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
Due: test

Remove deprecated TestingPlatformDotnetTestSupport from samples (#11664)
  docs/glossary.md
  samples/public/MTPHostIntegration/AspNetCoreTests/AspNetCoreTests.csproj
  samples/public/mstest-runner/MSTestProjectWithExplicitMain/MSTestProjectWithExplicitMain/MSTestProjectWithExplicitMain.csproj
Due: none

Clarify UWP sample configuration (#11662)
  samples/public/UwpMtpApp/UwpMtpApp.csproj
  samples/public/UwpVSTestApp/UwpVSTestApp.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
Due: test

Preserve local sample package overrides
  samples/public/ClassicUwpMtpApp/ClassicUwpMtpApp.csproj
  samples/public/UwpMtpApp/UwpMtpApp.csproj
  samples/public/WinUIMtpAppContainerApp/WinUIMtpAppContainerApp.csproj
  samples/public/WinUIMtpPackagedApp/WinUIMtpPackagedApp.csproj
  samples/public/WinUIMtpUnpackagedApp/WinUIMtpUnpackagedApp.csproj
Due: none

Validate public sample SDK preview
  azure-pipelines.yml
  eng/build-samples.ps1
  samples/public/ClassicUwpMtpApp/ClassicUwpMtpApp.csproj
  samples/public/ClassicUwpMtpApp/global.json
  samples/public/Directory.Build.props
  samples/public/UwpMtpApp/UwpMtpApp.csproj
  samples/public/UwpMtpApp/global.json
  samples/public/WinUIMtpAppContainerApp/WinUIMtpAppContainerApp.csproj
  samples/public/WinUIMtpAppContainerApp/global.json
  samples/public/WinUIMtpPackagedApp/WinUIMtpPackagedApp.csproj
  samples/public/WinUIMtpPackagedApp/global.json
  samples/public/WinUIMtpUnpackagedApp/WinUIMtpUnpackagedApp.csproj
  samples/public/WinUIMtpUnpackagedApp/global.json
Due: none

Reload NuGet sources before local sample builds
  eng/build-samples.ps1
Due: none

Simplify public sample version properties
  azure-pipelines.yml
  eng/build-samples.ps1
  samples/public/ClassicUwpMtpApp/ClassicUwpMtpApp.csproj
  samples/public/ClassicUwpMtpApp/global.json
  samples/public/DemoMSTestSdk/ProjectUsingAspire/ProjectUsingAspire.csproj
  samples/public/DemoMSTestSdk/ProjectUsingAspire/global.json
  samples/public/DemoMSTestSdk/ProjectUsingMSTestRunner/ProjectUsingMSTestRunner.csproj
  samples/public/DemoMSTestSdk/ProjectUsingMSTestRunner/global.json
  samples/public/DemoMSTestSdk/ProjectUsingPlaywright/ProjectUsingPlaywright.csproj
  samples/public/DemoMSTestSdk/ProjectUsingPlaywright/global.json
  samples/public/DemoMSTestSdk/ProjectUsingVSTest/global.json
  samples/public/DemoMSTestSdk/ProjectUsingWindowsUIAutomation/ProjectUsingWindowsUIAutomation.csproj
  samples/public/DemoMSTestSdk/ProjectWithNativeAOT/ProjectWithNativeAOT.csproj
  samples/public/DemoMSTestSdk/ProjectWithNativeAOT/global.json
  samples/public/Directory.Build.props
  samples/public/Directory.Build.targets
  samples/public/MTPHostIntegration/AspNetCoreTests/AspNetCoreTests.csproj
  samples/public/MTPHostIntegration/AspireTests/AspireTests.csproj
  samples/public/MTPHostIntegration/Directory.Build.props
  samples/public/MTPHostIntegration/ServiceDefaults/ServiceDefaults.csproj
  samples/public/MTPHostIntegration/global.json
  samples/public/MTPOTel/MTPOTel.csproj
  samples/public/TestingPlatformExamples/TestingPlatformExplorer/TestingPlatformExplorer.csproj
  samples/public/UwpMtpApp/UwpMtpApp.csproj
  samples/public/UwpMtpApp/global.json
  samples/public/WinUIMtpAppContainerApp/WinUIMtpAppContainerApp.csproj
  samples/public/WinUIMtpAppContainerApp/global.json
  samples/public/WinUIMtpPackagedApp/WinUIMtpPackagedApp.csproj
  samples/public/WinUIMtpPackagedApp/global.json
  samples/public/WinUIMtpUnpackagedApp/WinUIMtpUnpackagedApp.csproj
  samples/public/WinUIMtpUnpackagedApp/global.json
  samples/public/global.json
  samples/public/mstest-runner/EnsureTestFramework/EnsureTestFramework/EnsureTestFramework.csproj
  samples/public/mstest-runner/NativeAotRunner/TestProject1/TestProject1.csproj
  samples/public/mstest-runner/runner_vs_vstest/1000C_100M/1000C100M.csproj
  samples/public/mstest-runner/runner_vs_vstest/100C_100M/100C100M.csproj
  samples/public/mstest-runner/runner_vs_vstest/10C_100M/10C100M.csproj
  samples/public/mstest-runner/runner_vs_vstest/global.json
Due: none

Build public samples from published packages
  azure-pipelines.yml
  eng/build-samples.ps1
Due: none

Document unpackaged WinUI .NET 8 runtime
  samples/public/README.md
  samples/public/WinUIMtpUnpackagedApp/README.md
Due: none

[code-simplifier] Deduplicate accepted-child-await guard in middleware pipeline (#11661)
  src/Platform/Microsoft.Testing.Platform/TestHostOrchestrator/TestHostExecutionOrchestratorMiddlewarePipeline.cs
Due: production

Disable coverage in Modern UWP test assets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
Due: test

Fix test execution cancellation cleanup (#11666)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TestHostTestFrameworkInvoker.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TestHostTestFrameworkInvokerTests.cs
Due: production, test

Update README with runtime requirements for samples
  samples/public/README.md
Due: none

Document .NET 8 runtime prerequisite for unpackaged WinUI sample (#11669)
  samples/public/README.md
  samples/public/WinUIMtpUnpackagedApp/README.md
Due: none

Validate public samples against MSTest.Sdk preview (#11663)
  azure-pipelines.yml
  eng/build-samples.ps1
  samples/public/ClassicUwpMtpApp/global.json
  samples/public/DemoMSTestSdk/ProjectUsingAspire/ProjectUsingAspire.csproj
  samples/public/DemoMSTestSdk/ProjectUsingAspire/global.json
  samples/public/DemoMSTestSdk/ProjectUsingMSTestRunner/ProjectUsingMSTestRunner.csproj
  samples/public/DemoMSTestSdk/ProjectUsingMSTestRunner/global.json
  samples/public/DemoMSTestSdk/ProjectUsingPlaywright/ProjectUsingPlaywright.csproj
  samples/public/DemoMSTestSdk/ProjectUsingPlaywright/global.json
  samples/public/DemoMSTestSdk/ProjectUsingVSTest/global.json
  samples/public/DemoMSTestSdk/ProjectUsingWindowsUIAutomation/ProjectUsingWindowsUIAutomation.csproj
  samples/public/DemoMSTestSdk/ProjectWithNativeAOT/ProjectWithNativeAOT.csproj
  samples/public/DemoMSTestSdk/ProjectWithNativeAOT/global.json
  samples/public/Directory.Build.props
  samples/public/Directory.Build.targets
  samples/public/MTPHostIntegration/AspNetCoreTests/AspNetCoreTests.csproj
  samples/public/MTPHostIntegration/AspireTests/AspireTests.csproj
  samples/public/MTPHostIntegration/Directory.Build.props
  samples/public/MTPHostIntegration/ServiceDefaults/ServiceDefaults.csproj
  samples/public/MTPHostIntegration/global.json
  samples/public/MTPOTel/MTPOTel.csproj
  samples/public/TestingPlatformExamples/TestingPlatformExplorer/TestingPlatformExplorer.csproj
  samples/public/UwpMtpApp/global.json
  samples/public/WinUIMtpAppContainerApp/global.json
  samples/public/WinUIMtpPackagedApp/global.json
  samples/public/WinUIMtpUnpackagedApp/global.json
  samples/public/global.json
  samples/public/mstest-runner/EnsureTestFramework/EnsureTestFramework/EnsureTestFramework.csproj
  samples/public/mstest-runner/NativeAotRunner/TestProject1/TestProject1.csproj
  samples/public/mstest-runner/runner_vs_vstest/1000C_100M/1000C100M.csproj
  samples/public/mstest-runner/runner_vs_vstest/100C_100M/100C100M.csproj
  samples/public/mstest-runner/runner_vs_vstest/10C_100M/10C100M.csproj
  samples/public/mstest-runner/runner_vs_vstest/global.json
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ModernUwpTests.cs
Due: test

Stabilize server process natural exit test
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Add PassiveNode attachment tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/PassiveNodeTests.cs
Due: test

Roll back CodeCoverage dependency
  eng/Version.Details.xml
  eng/Versions.props
Due: none

Fix flaky concurrent middleware test
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostExecutionOrchestratorMiddlewarePipelineTests.cs
Due: test

Stabilize server process natural exit test (#11683)
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Validate all public samples in CI
  azure-pipelines.yml
  eng/build-samples.ps1
  eng/test-samples.ps1
  samples/public/Directory.Build.targets
  samples/public/UwpMtpApp/App.cs
  samples/public/UwpMtpApp/MainPage.cs
  samples/public/UwpMtpApp/README.md
  samples/public/UwpMtpApp/UnitTests.cs
  samples/public/UwpMtpApp/UwpMtpApp.csproj
  samples/public/mstest-runner/runner_vs_vstest/1000C_100M/1000C100M.csproj
  samples/public/mstest-runner/runner_vs_vstest/100C_100M/100C100M.csproj
  samples/public/mstest-runner/runner_vs_vstest/10C_100M/10C100M.csproj
Due: none

Stabilize server process exit-code test
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
