Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Add HtmlReportMerger concatenate collision test
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlReportMergerTests.cs
Due: test

Test first invalid reader boundaries
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/BoundedUtf8LineReaderTests.cs
Due: test

Cover CRLF character boundary
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/BoundedUtf8LineReaderTests.cs
Due: test

Add opt-in assertion failure diagnostics (#11244)
  docs/mstest-assertion-failure-state.schema.json
  docs/mstest-assertion-failure-state.schema.md
  docs/testconfig.schema.json
  docs/testconfig.schema.md
  src/Adapter/MSTest.TestAdapter/Services/TestResultRecorderExtensions.cs
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MtpTestResultRecorder.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.DataRow.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.DataSource.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.Execution.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestResultRecorder.cs
  src/Adapter/MSTestAdapter.PlatformServices/InternalAPI/InternalAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.Configuration.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.RunSettingsXml.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.AssertionFailureDiagnostics.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.TempDirectoryCleanup.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Internal/AssertionFailureSettings.cs
  src/TestFramework/TestFramework/InternalAPI/InternalAPI.Unshipped.txt
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssertionFailureDiagnosticsTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrimAndAotAssertions.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/UnitTestRunnerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/AssertionFailureDiagnosticsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/TestResultRecorderExtensionsTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.FailInconclusive.cs
Due: production, test

Split mutation testing into weekly project jobs (#11261)
  .config/stryker/run.ps1
  .github/workflows/mutation-test-improver.lock.yml
  .github/workflows/mutation-test-improver.md
  .github/workflows/mutation-testing.yml
  docs/dev-guide.md
  docs/mutation-testing/README.md
  docs/mutation-testing/plans/2026-09-14-remediation-plan.md
  docs/mutation-testing/reports/2026-09-14-stryker-report.md
  stryker-config.json
Due: none

Stop source package from overriding LangVersion (#11258)
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Microsoft.Testing.Platform.ServerMode.Client.Sources.csproj
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/build/Microsoft.Testing.Platform.ServerMode.Client.Sources.props
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/build/Microsoft.Testing.Platform.ServerMode.Client.Sources.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageConsumerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageTests.cs
Due: production, test

Fix source package LangVersion override
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Microsoft.Testing.Platform.ServerMode.Client.Sources.csproj
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/build/Microsoft.Testing.Platform.ServerMode.Client.Sources.props
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/build/Microsoft.Testing.Platform.ServerMode.Client.Sources.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageConsumerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageTests.cs
Due: production, test

Avoid duplicate platform attribute scans
  src/Analyzers/MSTest.Analyzers/OSPlatformAttributesShouldBeConsistentAnalyzer.cs
Due: production

Add HtmlReportMerger concatenate collision coverage (#11262)
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlReportMergerTests.cs
Due: test

Fix no-op threat detection warnings
  .github/workflows/README.md
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/shared/address-review-shared.md
  .github/workflows/shared/parallel-safety-audit-shared.md
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Fix no-op threat detection warnings (#11265)
  .github/workflows/README.md
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/shared/address-review-shared.md
  .github/workflows/shared/parallel-safety-audit-shared.md
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Short-circuit platform attribute materialization in MSTEST0084 (#11255)
  src/Analyzers/MSTest.Analyzers/OSPlatformAttributesShouldBeConsistentAnalyzer.cs
Due: production

Stop source package from overriding LangVersion by @Evangelink in #11258 (backport to rel/4.4) (#11264)
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Microsoft.Testing.Platform.ServerMode.Client.Sources.csproj
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/build/Microsoft.Testing.Platform.ServerMode.Client.Sources.props
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/build/Microsoft.Testing.Platform.ServerMode.Client.Sources.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageConsumerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageTests.cs
Due: production, test

Add unit tests for BoundedUtf8LineReader (#11260)
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/BoundedUtf8LineReaderTests.cs
Due: test

Add analyzer for redundant method attributes
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/RedundantTestMethodAttributeFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/RedundantTestMethodAttributeAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/RedundantTestMethodAttributeAnalyzerTests.cs
Due: production, test

Preserve condition ignore messages
  src/Analyzers/MSTest.Analyzers/RedundantTestMethodAttributeAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/RedundantTestMethodAttributeAnalyzerTests.cs
Due: production, test

Account for inherited test methods
  src/Analyzers/MSTest.Analyzers/RedundantTestMethodAttributeAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/RedundantTestMethodAttributeAnalyzerTests.cs
Due: production, test

Automate pull request state labels
  .github/policies/LabelManagement.IssueClosed.yml
  .github/policies/LabelManagement.IssueUpdated.yml
  .github/workflows/pr-state-labels.yml
Due: none

Fix pull request label state transitions
  .github/policies/LabelManagement.IssueUpdated.yml
  .github/workflows/pr-state-labels.yml
Due: none

Add analyzer for redundant test method attributes (#11267)
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/RedundantTestMethodAttributeFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/RedundantTestMethodAttributeAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/RedundantTestMethodAttributeAnalyzerTests.cs
Due: production, test

Automate pull request state labels (#11269)
  .github/policies/LabelManagement.IssueClosed.yml
  .github/policies/LabelManagement.IssueUpdated.yml
  .github/workflows/pr-state-labels.yml
Due: none

Fix pull request state label permissions
  .github/workflows/pr-state-labels.yml
Due: none

Fix pull request state label permissions (#11270)
  .github/workflows/pr-state-labels.yml
Due: none

Support framework-owned browser host pages
  src/Platform/Microsoft.Testing.Platform.Browser/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform.Browser/buildMultiTargeting/Microsoft.Testing.Platform.Browser.props
  src/Platform/Microsoft.Testing.Platform.Browser/buildMultiTargeting/Microsoft.Testing.Platform.Browser.targets
Due: production

Pin Dependabot bundler Copilot CLI
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-issue-bundler.md
Due: none

Wrap computed browser hosts and version page API
  src/Platform/Microsoft.Testing.Platform.Browser/BrowserLauncherOptions.cs
  src/Platform/Microsoft.Testing.Platform.Browser/ChromiumBrowser.cs
  src/Platform/Microsoft.Testing.Platform.Browser/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform.Browser/buildMultiTargeting/Microsoft.Testing.Platform.Browser.props
  src/Platform/Microsoft.Testing.Platform.Browser/buildMultiTargeting/Microsoft.Testing.Platform.Browser.targets
  src/Platform/Microsoft.Testing.Platform.Browser/buildMultiTargeting/assets/Microsoft.Testing.Platform.Browser.main.js
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserPackageExecutionTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/BrowserLauncherOptionsTests.cs
Due: production, test

Pin Dependabot bundler to Copilot CLI 1.0.79 (#11273)
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-issue-bundler.md
Due: none

Harden browser host and launch-info contracts
  src/Platform/Microsoft.Testing.Platform.Browser/BrowserLauncherOptions.cs
  src/Platform/Microsoft.Testing.Platform.Browser/ChromiumBrowser.cs
  src/Platform/Microsoft.Testing.Platform.Browser/DiagnosticBuffer.cs
  src/Platform/Microsoft.Testing.Platform.Browser/HostProcess.cs
  src/Platform/Microsoft.Testing.Platform.Browser/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform.Browser/PlaywrightNodeExecutable.cs
  src/Platform/Microsoft.Testing.Platform.Browser/Program.cs
  src/Platform/Microsoft.Testing.Platform.Browser/buildMultiTargeting/Microsoft.Testing.Platform.Browser.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserPackageExecutionTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/BrowserLauncherOptionsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Microsoft.Testing.Extensions.UnitTests.csproj
Due: production, test

Report fatal browser page integration errors
  src/Platform/Microsoft.Testing.Platform.Browser/ChromiumBrowser.cs
  src/Platform/Microsoft.Testing.Platform.Browser/PACKAGE.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserPackageExecutionTests.cs
Due: production, test

Fix browser launcher wrapping edge cases
  src/Platform/Microsoft.Testing.Platform.Browser/BrowserLauncherOptions.cs
  src/Platform/Microsoft.Testing.Platform.Browser/Microsoft.Testing.Platform.Browser.csproj
  src/Platform/Microsoft.Testing.Platform.Browser/buildMultiTargeting/Microsoft.Testing.Platform.Browser.After.targets
  src/Platform/Microsoft.Testing.Platform.Browser/buildMultiTargeting/Microsoft.Testing.Platform.Browser.props
  src/Platform/Microsoft.Testing.Platform.Browser/buildMultiTargeting/Microsoft.Testing.Platform.Browser.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserPackageExecutionTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/BrowserLauncherOptionsTests.cs
Due: production, test

Keep assertion diagnostics modules under 300 lines
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.AssertionFailureDiagnostics.Truncation.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.AssertionFailureDiagnostics.Writer.cs
Due: production

Strengthen Azure DevOps re-election timing test
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: test

Address environment provider test review feedback
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/EnvironmentVariableProviderTests.cs
Due: test

Address glossary review feedback
  docs/glossary.md
Due: none

Document final MTP 2.4.1 servicing fix
  docs/Changelog-Platform.md
Due: none

Cover non-method member hiding
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
Due: test

Preserve reflection fallback for hidden tests
  src/Analyzers/MSTest.SourceGeneration/Generators/TestClassModelBuilder.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
Due: production, test

Cover public cross-assembly members
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
Due: test
