Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix failures
  test/UnitTests/MSTestAdapter.UnitTests/Discovery/AssemblyEnumeratorTests.cs
Due: test

Update CommandLineOptionsValidator.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.cs
Due: production

Update test/Utilities/Microsoft.Testing.TestInfrastructure/DebuggerUtility.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DebuggerUtility.cs
Due: test

Add quotes around MSBuild property when performing comparison (#5678)
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
Due: production

REmove comment
  src/Adapter/MSTest.TestAdapter/Helpers/DataSerializationHelper.cs
Due: production

Show colors in AzDo and GH actions (#5535)
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/SimpleAnsiTerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/SimpleTerminalBase.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterOptions.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ConsoleTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExitOnProcessExitTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestHost.cs
Due: production, test

Write to NetworkSocket directly instead of using StreamWriter
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/StreamMessageHandler.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/TcpMessageHandler.cs
Due: production

Downgrade VSTestVersion to 17.13.0 to restore net6.0 support in examples (#5613)
  samples/public/Directory.Build.props
Due: none

Allow serialization of DateOnly/TimeOnly for parameterized tests (#5676)
  src/Adapter/MSTest.TestAdapter/Helpers/DataSerializationHelper.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
  test/UnitTests/MSTestAdapter.UnitTests/Helpers/DataSerializationHelperTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestAdapter.UnitTests.csproj
Due: production, test

Fix MSTEST0042 (duplicate data row) false positive with Zero/NegativeZero
  src/Analyzers/MSTest.Analyzers/DuplicateDataRowAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateDataRowAnalyzerTests.cs
Due: production, test

Allow framework authors to use TestCase.FullyQualifiedName as the TestNodeUid (#5658)
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TestCaseDiscoverySinkAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: production, test

Update ObjectModelConvertersTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: test

Update ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
Due: production

Update tests
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: test

Allow framework authors to use TestCase.FullyQualifiedName as the TestNodeUid
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TestCaseDiscoverySinkAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

Use DoubleToInt64Bits
  src/Analyzers/MSTest.Analyzers/DuplicateDataRowAnalyzer.cs
Due: production

Fix MSTEST0042 (duplicate data row) false positive with Zero/NegativeZero by @Youssef1313 in #5684 (backport to rel/3.9) (#5686)
  src/Analyzers/MSTest.Analyzers/DuplicateDataRowAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateDataRowAnalyzerTests.cs
Due: production, test

Fix MSTEST0042 (duplicate data row) false positive with Zero/NegativeZero (#5684)
  src/Analyzers/MSTest.Analyzers/DuplicateDataRowAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateDataRowAnalyzerTests.cs
Due: production, test

Allow framework authors to use TestCase.FullyQualifiedName as the TestNodeUid by @Youssef1313 in #5658 (backport to rel/3.9) (#5685)
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TestCaseDiscoverySinkAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: production, test

Ensure TestMethodAttribute.Execute is run on the correct execution context
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
Due: production

Remove outdated comment
  src/TestFramework/TestFramework/Attributes/TestMethod/TestMethodAttribute.cs
Due: production

Fix fallback path for getting method info if InvalidManagedNameException is thrown
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
Due: production

Rename RegisterTestFramework adapterFactory parameter to frameworkFactory (#5691)
  src/Platform/Microsoft.Testing.Platform/Builder/ITestApplicationBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplicationBuilder.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Fix fallback path for getting method info if InvalidManagedNameException is thrown (#5692)
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
Due: production

Avoid loading System.Threading.Tasks.Extensions when not needed
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Extensions/MethodInfoExtensions.cs
Due: production

Extend comment
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Extensions/MethodInfoExtensions.cs
Due: production

Simplify
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Extensions/MethodInfoExtensions.cs
Due: production

Address warning
  src/Adapter/MSTest.TestAdapter/Extensions/MethodInfoExtensions.cs
Due: production

Add test
  MSTest.slnf
  TestFx.sln
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/MSTest.SelfRealExamples.UnitTests.csproj
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/TestExecutionContextPropagationFromTestMethodAttributeToTestMethod.cs
Due: test

Fix
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
