Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

remove ITool.Hidden (#4855)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCompareTool.cs
  src/Platform/Microsoft.Testing.Platform/Tools/ITool.cs
Due: production

Fix packaging and refactor task
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: production, test

GetExceptionMessage exception cant be null (#4900)
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/ExceptionExtensions.cs
Due: production

Fix test failure
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Remove dead code related to filtering
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/DiscoveryContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequest.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestRunTestExecutionRequest.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestRunTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestTestExecutionFilter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

fix
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Fix test build
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/RunContextAdapterTests.cs
Due: test

Fix tests
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExecutionTests.cs
Due: production, test

Remove dead code related to filtering (#4914)
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/DiscoveryContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequest.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestRunTestExecutionRequest.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestRunTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestTestExecutionFilter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/RunContextAdapterTests.cs
Due: production, test

Fix tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExecutionTests.cs
Due: test

Ensure build asset of vstest is included when using MSTest metapackage
  src/Package/MSTest/MSTest.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AnalyzersTests.cs
Due: production, test

Cleanup filter-related logic
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/TestApplicationBuilderExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/DiscoveryContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TreeNodeFilterExpression.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

Small progress
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TreeNodeFilterExpression.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TreeNodeFilterTests.cs
Due: production, test

TODO :/
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TreeNodeFilterExpression.cs
Due: production

Readonly
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TreeNodeFilterExpression.cs
Due: production

Revert unintentionally checked in change
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

Adjust
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Try resolve from PATH first
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
Due: production

Remove unused using
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
Due: production

Move away from nuspec for MSTest metapackage (#4818)
  eng/verify-nupkgs.ps1
  samples/Playground/Playground.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.NonWindows.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.props
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.props
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/Package/MSTest/MSTest.NonWindows.nuspec
  src/Package/MSTest/MSTest.csproj
  src/Package/MSTest/MSTest.nuspec
  src/Package/MSTest/_._
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.NonWindows.nuspec
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.nuspec
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
  src/TestFramework/TestFramework.Extensions/buildTransitive/winui/MSTest.TestFramework.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AnalyzersTests.cs
Due: production, test

Fix InvokeTestingPlatformTask to handle running with msbuild.exe and 'Test' target (#4840)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
Due: production, test

new summary for discovery
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExecutionTests.cs
Due: production, test

Update ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
Due: production

Better filter support in VSTestBridge
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/DiscoveryContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunContextAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunSettingsAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequestFactory.cs
Due: production

Address some review comments
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunContextAdapter.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunsettingsTests.cs
Due: production, test

Make private
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
Due: production

Small fixes
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/RunContextAdapter.cs
Due: production

Tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunsettingsTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterTests.cs
Due: test

Obsolete PrivateType and PrivateObject
  src/TestFramework/TestFramework.Extensions/PrivateObject.cs
  src/TestFramework/TestFramework.Extensions/PrivateType.cs
Due: production

Adjust test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterTests.cs
Due: test

Fix broken build on samples
  samples/.editorconfig
Due: none

MSTEST0018: Fix FP with types implementing IEnumerable
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
Due: production, test

Fails only for no filter case
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterTests.cs
Due: test

Fix outputting of unhandled exception through OutputDevice
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
Due: production

update verify nugpkgs numbers for build to work
  eng/verify-nupkgs.ps1
  samples/public/BlankUwpNet9App/App.xaml.cs
  samples/public/BlankUwpNet9App/BlankUwpNet9App.csproj
  samples/public/BlankUwpNet9App/UnitTests.cs
  samples/public/NuGet.config
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

Remove leftover .csproj stuff on UWP
  samples/public/BlankUwpNet9App/BlankUwpNet9App.csproj
Due: none

Remove unnecessary package reference
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
