Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Fix race in TestContextImplementation (#6249)
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
Due: production, test

Rename diagnostic options to use kebab case (#6165)
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  test/Directory.Build.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DiagnosticTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
Due: production, test

Address review comments
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Fix broken tests
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Fix typo in extension name
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Simplfied
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Fix diagnotics
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Fix diagnostics
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
Due: production

and mising using
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
Due: production

Fix
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Fixes
  src/TestFramework/TestFramework/Assertions/Assert.AreEqual.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: production, test

Extra fixes
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/RunContextAdapterTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/RunSettingsPatcherTests.cs
Due: test

Missed replace
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Fix broken tests
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.AreEqualTests.cs
Due: test

Make azdo extension stable (#6252)
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

updated the dev-guide.md to include common issue i faced while building and loading the project repository on my local machine
  docs/dev-guide.md
Due: none

Update dev-guide.md to be more robust
  docs/dev-guide.md
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2761755
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
Due: production

Fix and more tests
  src/Analyzers/MSTest.Analyzers.CodeFixes/FlowTestContextCancellationTokenFixer.cs
  src/Analyzers/MSTest.Analyzers/FlowTestContextCancellationTokenAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/FlowTestContextCancellationTokenAnalyzerTests.cs
Due: production, test

Cleanup test/Directory.Build.targets
  test/Directory.Build.targets
Due: test

Update Directory.Build.targets
  test/Directory.Build.targets
Due: test

Cleanup test/Directory.Build.targets (#6258)
  test/Directory.Build.targets
Due: test

Apply suggestion from @nohwnd
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

Fix codefix of analyzer for flowing cancellation token by @Copilot in #6239 (backport to rel/3.10) (#6259)
  src/Analyzers/MSTest.Analyzers.CodeFixes/FlowTestContextCancellationTokenFixer.cs
  src/Analyzers/MSTest.Analyzers/FlowTestContextCancellationTokenAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/FlowTestContextCancellationTokenAnalyzerTests.cs
Due: production, test

Fix codefix of analyzer for flowing cancellation token (#6239)
  src/Analyzers/MSTest.Analyzers.CodeFixes/FlowTestContextCancellationTokenFixer.cs
  src/Analyzers/MSTest.Analyzers/FlowTestContextCancellationTokenAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/FlowTestContextCancellationTokenAnalyzerTests.cs
Due: production, test

Update docs/dev-guide.md with review comment
  docs/dev-guide.md
Due: none

Update dev-guide.md with blank spaces around Heading Visual Studio requirement
  docs/dev-guide.md
Due: none

Update docs/dev-guide.md with additional review comment
  docs/dev-guide.md
Due: none

Fix missed diagnostics
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/DesktopTestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestExecutorTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/CommandLine/RunSettingsCommandLineOptionsProviderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/ArgumentArityTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/AggregatedConfigurationTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/ConfigurationExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/ConfigurationManagerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/IPCTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/FileLoggerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/LoggerFactoryTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/LoggerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerDataConsumerServiceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestApplicationResultTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Telemetry/ServerTelemetryTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Telemetry/TelemetryManagerTests.cs
Due: test

Update VisualBasicCodeFixVerifier`2+Test.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Verifiers/VisualBasicCodeFixVerifier`2+Test.cs
Due: test

Cleanup test/Directory.Build.targets (#6262)
  test/Directory.Build.targets
Due: test

Update AssertTests.That.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.That.cs
Due: test

Add field support to DynamicDataAttribute (#6203)
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/DynamicDataTestMethodArgumentsInfo.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/TestAssets/DynamicDataTestProject/DynamicDataTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DynamicDataShouldBeValidAnalyzerTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/DynamicDataAttributeTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2761913
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Update VisualBasicCodeFixVerifier`2.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Verifiers/VisualBasicCodeFixVerifier`2.cs
Due: test

Progress
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidExplicitDynamicDataSourceTypeFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferDynamicDataSourceTypeAutoDetectFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AvoidExplicitDynamicDataSourceTypeAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidExplicitDynamicDataSourceTypeTests.cs
Due: production, test
