Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2629886
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Drop `-m:1 -nodeReuse:false` from acceptance tests infra (#4804)
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestAssetFixtureBase.cs
Due: test

Open experimentally Configuration and Logging (#4795)
  .editorconfig
  src/Platform/Microsoft.Testing.Platform/.editorconfig
  src/Platform/Microsoft.Testing.Platform/Builder/ITestApplicationBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplicationBuilder.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/OptionRecord.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/ParseResult.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/Parser.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/IConfigurationManager.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/IConfigurationProvider.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/IConfigurationSource.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ToolsTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Logging/ILoggerProvider.cs
  src/Platform/Microsoft.Testing.Platform/Logging/ILoggingManager.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/ConfigurationManagerTests.cs
Due: production, test

Address review feedback
  src/Analyzers/MSTest.Analyzers/PublicMethodShouldBeTestMethodAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/IMethodSymbolExtensions.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PublicMethodShouldBeTestMethodAnalyzerTests.cs
Due: production, test

Handle virtual and override
  src/Analyzers/MSTest.Analyzers/PublicMethodShouldBeTestMethodAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PublicMethodShouldBeTestMethodAnalyzerTests.cs
Due: production, test

MSTEST0029 do not report on implementation of interface (#4803)
  src/Analyzers/MSTest.Analyzers/PublicMethodShouldBeTestMethodAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/IMethodSymbolExtensions.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PublicMethodShouldBeTestMethodAnalyzerTests.cs
Due: production, test

Retry: mark as experimental extension points
  .editorconfig
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryBaseAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryContext.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryResult.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Retry: mark as experimental extension points (#4812)
  .editorconfig
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryBaseAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryContext.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryResult.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Add GitHubWorkItem
  src/TestFramework/TestFramework/Attributes/TestMethod/GitHubWorkItemAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/WorkItemAttribute.cs
Due: production

Make SelfRegisteredExtensions and EntryPoint types part of namespace
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
Due: production, test

Remove null handling
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
Due: production

Address review comments
  src/TestFramework/TestFramework/Attributes/TestMethod/GitHubWorkItemAttribute.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  test/UnitTests/TestFramework.UnitTests/GitHubWorkItemTests.cs
Due: production, test

Refactor
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
Due: production

Update src/TestFramework/TestFramework/Attributes/TestMethod/GitHubWorkItemAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/GitHubWorkItemAttribute.cs
Due: production

Fixes
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AbortionTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/FrameworkOnlyTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunnerTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadingTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/AbortionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashPlusHangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CustomBannerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DiagnosticTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/EnvironmentVariablesConfigurationProviderTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExecutionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExitOnProcessExitTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpOutputTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/IgnoreExitCodeTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuild.KnownExtensionRegistration.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.ConfigurationFile.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Solution.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MaxFailedTestsExtensionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/NoBannerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Properties/launchSettings.json
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ServerLoggingTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TelemetryTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TestHostProcessLifetimeHandlerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TimeoutTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/UnhandledExceptionPolicyTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
Due: production, test

Fix xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Disable MSTEST0026 by default
  src/Analyzers/MSTest.Analyzers/AssertionArgsShouldAvoidConditionalAccessAnalyzer.cs
Due: production

Move away from nuspec for MSTest metapackage
  samples/Playground/Playground.csproj
  src/Package/MSTest/MSTest.NonWindows.nuspec
  src/Package/MSTest/MSTest.csproj
  src/Package/MSTest/MSTest.nuspec
Due: production

remove directory build prop net462 requirement
  Directory.Build.props
Due: none

remove MSTest.Internal.TestFx.Documentation from verify-nupkgs
  eng/verify-nupkgs.ps1
Due: none

remove debug launch from app xaml
  samples/public/BlankUwpNet9App/App.xaml.cs
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

Add GitHubWorkItem (#4813)
  src/TestFramework/TestFramework/Attributes/TestMethod/GitHubWorkItemAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/WorkItemAttribute.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/GitHubWorkItemTests.cs
Due: production, test

update testadapter.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
Due: production

remove TestFx.Documentation.nuspec
  src/Package/MSTest.Internal.TestFx.Documentation/MSTest.Internal.TestFx.Documentation.nuspec
Due: production

fix indentation in MSTest.csproj
  src/Package/MSTest/MSTest.csproj
Due: production

Cleanup props/targets copy to output
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

Cleanup dead code in TestRunCancellationToken
  src/Adapter/MSTest.TestAdapter/Execution/TestRunCancellationToken.cs
Due: production

Fix doc about supported tfms
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
Due: production

update platformservices csproj
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
Due: production

remvoe WINDOWS_UWP constant
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

Update src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

Fix analyzer releases
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
Due: production

revert testadapter.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
Due: production

fix spacing
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

fix spacing again
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

removing netcurrent from directory.build.props
  Directory.Build.props
Due: none

Fix usings properly
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AbortionTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/FrameworkOnlyTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunnerTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadingTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/AbortionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashPlusHangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CustomBannerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DiagnosticTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/EnvironmentVariablesConfigurationProviderTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExecutionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ExitOnProcessExitTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpOutputTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/IgnoreExitCodeTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.ConfigurationFile.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Solution.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MaxFailedTestsExtensionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/NoBannerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ServerLoggingTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TelemetryTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TestHostProcessLifetimeHandlerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TimeoutTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/UnhandledExceptionPolicyTests.cs
Due: test

Cleanup props/targets copy to output (#4823)
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

Disable MSTEST0026 by default (#4816)
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AssertionArgsShouldAvoidConditionalAccessAnalyzer.cs
Due: production

Cleanup dead code in TestRunCancellationToken (#4824)
  src/Adapter/MSTest.TestAdapter/Execution/TestRunCancellationToken.cs
Due: production
