Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add --ansi <auto|on|off> CLI option for explicit ANSI control (#5081)
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionArgumentValidator.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/AnsiOptionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineOptionArgumentValidatorTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProviderTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981672 (#8492)
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
Due: production

Reset agentics workflows to upstream and add new ones (#8491)
  .github/aw/actions-lock.json
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/adhoc-qa.md
  .github/workflows/agentic_commands.yml
  .github/workflows/code-simplifier.md
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-issue-bundler.md
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.md
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/efficiency-improver.md
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/glossary-maintainer.md
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
  .github/workflows/link-checker.lock.yml
  .github/workflows/link-checker.md
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/malicious-code-scan.md
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/markdown-linter.md
  .github/workflows/perf-improver.lock.yml
  .github/workflows/perf-improver.md
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
  .github/workflows/repo-chronicle.lock.yml
  .github/workflows/repo-chronicle.md
  .github/workflows/repo-historian.md
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/repository-quality-improver.md
  .github/workflows/shared/formatting.md
  .github/workflows/shared/reporting.md
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/sub-issue-closer.md
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
  .github/workflows/weekly-issue-activity.lock.yml
  .github/workflows/weekly-issue-activity.md
Due: none

Refactor Assert.That into focused partial-class files (#8404)
  src/TestFramework/TestFramework/Assertions/Assert.That.ExpressionDetails.cs
  src/TestFramework/TestFramework/Assertions/Assert.That.ExpressionEvaluation.cs
  src/TestFramework/TestFramework/Assertions/Assert.That.StringHelpers.cs
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

Drop unnecessary Parser.cs change; keep only the regression test
  src/Platform/Microsoft.Testing.Platform/CommandLine/Parser.cs
Due: production

Add regression test for tool name in response file; drop outdated TODO (#8447)
  src/Platform/Microsoft.Testing.Platform/CommandLine/Parser.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineTests.cs
Due: production, test

Address PR review feedback on TestRun/PlannedTest API
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestRunInfo.cs
  src/TestFramework/TestFramework.Extensions/PlannedTest.cs
  src/TestFramework/TestFramework.Extensions/TestRun.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestRunInfoTests.cs
Due: production, test

Follow-up to #8386: address review comments on TestContext.Properties flow (#8396)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestAssemblyInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestClassInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestContextPropertyFlowTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
Due: production, test

Exclude gh agentic workflow .md files from markdownlint
  .markdownlint-cli2.jsonc
Due: none

Exclude gh agentic workflow .md files from markdownlint (#8499)
  .markdownlint-cli2.jsonc
  docs/RFCs/014-TestRun-Current-PlannedTests.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestRunInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/TestFramework/TestFramework.Extensions/ITestRunInfo.cs
  src/TestFramework/TestFramework.Extensions/PlannedTest.cs
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/TestRun.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestRunInfoTests.cs
Due: production, test

Add RFC 014 - Command-line option mappings
  docs/RFCs/014-Command-Line-Option-Mappings.md
Due: none

Add NuGet MCP Server and replace Node.js with C# DumpBinlog (#8473)
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/scripts/DumpBinlog/DumpBinlog.csproj
  .github/workflows/scripts/DumpBinlog/Program.cs
  .github/workflows/scripts/dump-binlog.js
  .github/workflows/scripts/package-lock.json
  .github/workflows/scripts/package.json
Due: none

Use more accurate error messages for retry option validation
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryCommandLineOptionsProvider.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Fix flaky TimingProperty.ToString test by using an explicit format string
  src/Platform/Microsoft.Testing.Platform/Messages/TimingProperties.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/TestNodePropertiesTests.cs
Due: production, test

Potential fix for pull request finding
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
Due: production

Add telemetry tracking to new collection Assert overloads
  src/TestFramework/TestFramework/Assertions/Assert.AreAllDistinct.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreAllNotNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreAllOfType.cs
  src/TestFramework/TestFramework/Assertions/Assert.AreEquivalent.cs
  src/TestFramework/TestFramework/Assertions/Assert.ContainsAll.cs
Due: production

Rename binlog-mcp package: AITools.BinlogMcp → Microsoft.AITools.BinlogMcp
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
Due: none

Address review feedback on --ansi acceptance tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/AnsiOptionTests.cs
Due: test

Rename binlog-mcp package: AITools.BinlogMcp → Microsoft.AITools.BinlogMcp (#8503)
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
Due: none

Validate retry option numeric ranges (#8494)
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryCommandLineOptionsProvider.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

fix(aw): Issue Arborist - re-apply curl REST API workaround for DIFC proxy /meta block
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
Due: none

Support environmentVariables section in testconfig.json (#5491) (#8391)
  docs/microsoft.testing.platform/002-TestConfig-EnvironmentVariables.md
  src/Platform/Microsoft.Testing.Platform/Configurations/AggregatedConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/JsonConfigurationProvider.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/TestConfigurationEnvironmentVariableProvider.cs
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/TestHostControllersManager.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TestConfigEnvironmentVariablesTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/ConfigurationManagerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostControllers/TestConfigurationEnvironmentVariableProviderTests.cs
Due: production, test

Preserve user-provided testconfig.json from stale-cleanup target
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
Due: production

Address review feedback on timeout validation
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TimeoutTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TimeoutTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/PlatformCommandLineProviderTests.cs
Due: production, test

Add --ansi <auto|on|off> CLI option for explicit ANSI control (#5081) (#8493)
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionArgumentValidator.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/AnsiOptionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineOptionArgumentValidatorTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProviderTests.cs
Due: production, test

fix(aw): Issue Arborist - re-apply curl REST API workaround for DIFC proxy /meta block (#8507)
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/issue-arborist.md
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981843
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Drop MSBuild extension's dependency on internal TestRequestExecutionTimeInfo
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildConsumer.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestRequestExecutionTimeInfo.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TestHostTestFrameworkInvoker.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2981872
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Bump gh-aw actions to v0.75.0 to fix workflow_install_note ENOENT
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/issue-arborist.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/repo-chronicle.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2982315
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2982315
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Resources/xlf/ExtensionResources.tr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2982315
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2982315
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
Due: production

Use Stopwatch.Restart to ensure per-session duration measurement
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildConsumer.cs
Due: production

Document strict "skipped == not run" default at the 3 enforcement sites
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Summary.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
Due: production

Update misleading hidden-extension comment
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryCommandLineOptionsProvider.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
