Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Remove ConsiderFixturesAsSpecialTests
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/FixtureTestResult.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/MSTestAdapterSettings.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ConfigurationSettingsTests.cs
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/FixturesTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
Due: production, test

Adjust MSTestSettings nullability (#7175)
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/AssemblyEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/UnitTestRunnerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
Due: production, test

Fix analyzer doc comment (#7177)
  src/Analyzers/MSTest.Analyzers/UseParallelizeAttributeAnalyzer.cs
Due: production

Remove experimental attr from NopFilter (#7169)
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Requests/NopFilter.cs
Due: production

Delete .github/workflows/AzureDevOps.yml (#7187)
  .github/workflows/AzureDevOps.yml
Due: none

Delete outdated comment (#7188)
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostOrchestratorApplicationLifetime.cs
Due: production

Fix build
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/ClassCleanupManagerTests.cs
Due: test

Fix tests
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
Due: test

Suppress
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
Due: test

Fix warning
  src/TestFramework/TestFramework/Assertions/Assert.That.cs
Due: production

Don't use hashing APIs on WASI
  src/Platform/Microsoft.Testing.Extensions.HotReload/HotReloadHandler.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/Sha256Hasher.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
  src/Platform/Microsoft.Testing.Platform/Services/CTRLPlusCCancellationTokenSource.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/ExtensionInformationCollector.cs
Due: production

Add WasiPlayground
  Microsoft.Testing.Platform.slnf
  TestFx.slnx
  samples/WasiPlayground/Program.cs
  samples/WasiPlayground/README.md
  samples/WasiPlayground/WasiPlayground.csproj
  src/Platform/Microsoft.Testing.Platform/Helpers/System/ITask.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemTask.cs
Due: production

Fix markdownlint
  samples/WasiPlayground/README.md
Due: none

Assert output
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssemblyCleanupTests.cs
Due: test

Fix formatting
  samples/WasiPlayground/Program.cs
Due: none

Update Program.cs
  samples/WasiPlayground/Program.cs
Due: none

typo
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssemblyCleanupTests.cs
Due: test

Add property
  samples/WasiPlayground/Program.cs
Due: none

Add dotnet11 feed
  NuGet.config
Due: none

dotnet11
  NuGet.config
Due: none

Add UseSTASynchronizationContext to STATestMethod
  src/TestFramework/TestFramework/Attributes/TestMethod/STATestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/SingleThreadedSTASynchronizationContext.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Fix trivia
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidOutRefTestMethodParametersFixer.cs
Due: production

Disable IDE0090
  .editorconfig
Due: none

Fix tests
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/ClassCleanupManagerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/UnitTestRunnerTests.cs
Due: test

Timeout should apply to test method including its initialize and cleanup
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

Cleanup AvoidOutRefTestMethodParametersFixer (#7185)
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidOutRefTestMethodParametersFixer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidOutRefTestMethodParametersAnalyzerTests.cs
Due: production, test

Delete deadcode in VSTestBridge
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

Delete unused usings
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

Fix IsTestApplication default for .NET Standard
  src/Package/MSTest.Sdk/Sdk/Sdk.props.template
  src/Package/MSTest.Sdk/Sdk/Sdk.targets
Due: production

Rename TrxReport RootNamespace
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/ToolTrxCompareFactory.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCompareTool.CommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxEnvironmentVariableProvider.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxCompareToolCommandLineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportGeneratorCommandLineTests.cs
Due: production, test

Obsolete AddTestSessionLifetimeHandle in favor of AddTestSessionLifetimeHandler
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportExtensions.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/TestHost/ITestHostManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/TestHostManager.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.Engine.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Add test for forward compat (#7184)
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ForwardCompatibilityTests.cs
Due: test

Fix IsTestApplication default for .NET Standard (#7199)
  src/Package/MSTest.Sdk/Sdk/Sdk.props.template
  src/Package/MSTest.Sdk/Sdk/Sdk.targets
Due: production

Obsolete AddTestSessionLifetimeHandle in favor of AddTestSessionLifetimeHandler (#7200)
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportExtensions.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/TestHost/ITestHostManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/TestHostManager.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.Engine.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Rename TrxReport RootNamespace (#7198)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/ToolTrxCompareFactory.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCompareTool.CommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxEnvironmentVariableProvider.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxCompareToolCommandLineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxReportGeneratorCommandLineTests.cs
Due: production, test

Delete deadcode in VSTestBridge (#7197)
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

Update Directory.Packages.props
  Directory.Packages.props
Due: none

Fix Jsonite implementation to handle surrogates correctly
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Jsonite/Jsonite.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsoniteTests.cs
Due: production, test

Add test
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/STATestMethodSyncContext.cs
Due: test
