Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Register platform extensions in the ServerClient unit test entry point
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/Program.cs
Due: test

Pack ServerClient.Source on non-Windows
  NonWindowsTests.slnf
Due: none

Replace array scans in state classifiers
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/TestResultCapture.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/TrxTestResultExtractor.cs
  src/Platform/SharedExtensionHelpers/TestResultCaptureHelper.cs
Due: production

Onboard testfx to MSBuildCache
  Directory.Build.props
  Directory.Packages.props
  NuGet.config
  azure-pipelines.yml
  docs/dev-guide.md
  eng/build-msbuild-cache.ps1
  eng/install-access-database-engine.ps1
Due: none

Avoid TestContext write allocations
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
Due: production

Use portable file deployment path
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/LegacyDeploymentBehaviorTests.cs
Due: test

Potential fix for pull request finding
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
Due: production

Address merge readiness review feedback
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Utilities.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Tools/IToolCommandLineOptionsProvider.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeArtifactPostProcessingTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdk.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestHost.cs
Due: production, test

Document artifact processing handshake values
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
Due: none

Finish public tool contract validation
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingManager.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ToolsTestHost.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Tools/ITool.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/ToolsHostTests.cs
Due: production, test

Validate artifact paths and merge input arity
  src/Platform/Microsoft.Testing.Extensions.TrxReport/ToolTrxMergeFactory.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxArtifactPostProcessor.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxMergeTool.CommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxMergeTool.cs
  src/Platform/Microsoft.Testing.Platform/Builder/IArtifactPostProcessingApplicationBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingDispatcherTool.CommandLine.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingDispatcherTool.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingHandshakeProperties.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingManager.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingManifest.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/IArtifactPostProcessingManager.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/IArtifactPostProcessor.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ToolsTestHost.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeArtifactPostProcessingTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxArtifactPostProcessorTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/ToolsHostTests.cs
Due: production, test

Isolate tool validation from test runs
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingManifest.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeArtifactPostProcessingTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
Due: production, test

Run migrated deployment tests cross-platform (#10083)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/LegacyDeploymentBehaviorTests.cs
Due: test

Validate selected tool option structure
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ToolsTestHost.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/ToolsHostTests.cs
Due: production, test

Preserve manifest JSON token shape
  src/Platform/Microsoft.Testing.Platform/Configurations/JsonConfigurationFileParser.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
Due: production, test

Refine processor conflict warnings
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingDispatcherTool.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: production, test

Separate artifact conflict domains
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingDispatcherTool.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
Due: production, test

Restore TestContext allocation guard
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
Due: production

Remove ineffective TestContext optimization
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
Due: production

Validate manifest value types
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingManifest.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
Due: production, test

Document artifact kind and fix encodings
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Utilities.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdk.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
Due: production, test

Split ANSI terminal progress frame
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.Append.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.Render.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTextLayoutHelper.cs
Due: production

[perf-improver] Replace Array.IndexOf state checks with direct type patterns (#10089)
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/TestResultCapture.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/TrxTestResultExtractor.cs
  src/Platform/SharedExtensionHelpers/TestResultCaptureHelper.cs
Due: production

Invalidate generated source cache on MSBuild task updates (#10082)
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
Due: production, test

Simplify TestContext implementation
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TraceTextWriter.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
Due: production

Keep text layout helpers private
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.Append.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.TextLayout.cs
Due: production

Prototype crash-resilient TRX writes
  src/Platform/Microsoft.Testing.Extensions.TrxReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/Prototype/ITrxPrototypeFileOperations.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/Prototype/TrxIncrementalWriterPrototype.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/Prototype/TrxJournalSnapshotPrototype.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/Prototype/TrxPrototypeFileOperations.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/Prototype/TrxPrototypeXmlRenderer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Streaming/Prototype/TrxSnapshotPublisherPrototype.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Helpers/TrxDocumentClassifier.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Helpers/TrxFaultInjectingFileOperations.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Helpers/TrxPrototypeDiagnostics.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Helpers/TrxPrototypeScenarioFactory.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxCompatibilityEvidenceTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxConcurrentReaderTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxCrashConsistencyContractTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxDocumentClassifierTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxFaultInjectingFileOperationsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxIncrementalWriterInterruptionTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxIncrementalWriterPrototypeTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxJournalSnapshotPrototypeTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxPrototypeDiagnosticsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxPrototypeFileOperationsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxPrototypeRealFileSystemTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxPrototypeWarningSuppressions.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxSnapshotPublisherPrototypeTests.cs
Due: production, test

Cover merge tool success path
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingManifest.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeArtifactPostProcessingTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
Due: production, test

Address MSBuildCache review feedback
  Directory.Build.props
  NuGet.config
  azure-pipelines.yml
  docs/dev-guide.md
  eng/build-msbuild-cache.ps1
Due: none

Simplify manifest string check
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingManifest.cs
Due: production

Validate configured tool options
  src/Platform/Microsoft.Testing.Platform/Hosts/ToolsTestHost.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeArtifactPostProcessingTests.cs
Due: production, test

Validate processor capabilities and outputs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingDispatcherTool.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingManager.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
Due: production, test

Keep processor failures non-fatal
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingDispatcherTool.cs
Due: production

Document processor retry requirements
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/IArtifactPostProcessor.cs
Due: production

Reject blank processed artifact kinds
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/IArtifactPostProcessor.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
Due: production, test

Advertise processors from test controllers
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
Due: production, test

Validate selected tool JSON options
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
Due: production, test

Reject structured manifest metadata
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingManifest.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/ArtifactPostProcessing/ArtifactPostProcessingTests.cs
Due: production, test

Signal dispatcher processor failures
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
  src/Platform/Microsoft.Testing.Platform/Extensions/ArtifactPostProcessing/ArtifactPostProcessingDispatcherTool.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
