Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Improve PackagedApp extension with public-API-only groundwork
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Microsoft.Testing.Extensions.UnitTests.csproj
Due: production, test

Update bundled Playwright for .NET to 1.61.0
  Directory.Packages.props
Due: none

perf: avoid string[] allocation in exit-code ignore check (#9916)
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
Due: production

test: add MSTEST0035 tests for custom RetryBaseAttribute subclasses
  test/UnitTests/MSTest.Analyzers.UnitTests/UseRetryWithTestMethodAnalyzerTests.cs
Due: test

Update .xlf files to be in sync with .resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Make netstandard2.0 exit-code parse genuinely non-allocating
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
Due: production

Update .xlf files to be in sync with .resx (#9924)
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Address review: drop throwing Try* probe and add launcher tests
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
Due: production, test

Update Microsoft.NET.Test.Sdk version to 18.7.0
  Directory.Packages.props
Due: none

Fix CS0618 obsolete error for EnableShutdownAfterTestRun
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
Due: production

Re-pin CodeAnalysis API analyzers to 5.10.0-1.26363.117
  Directory.Packages.props
Due: none

Add acceptance test for packaged-layout fail-fast
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedAppLaunchNotSupportedTests.cs
Due: test

Drop internal API tracking for test-only IVT projects
  .globalconfig
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Microsoft.Testing.Extensions.AzureFoundry.csproj
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Microsoft.Testing.Extensions.GitHubActionsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HangDump/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/Microsoft.Testing.Extensions.Logging/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Logging/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Logging/Microsoft.Testing.Extensions.Logging.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/Microsoft.Testing.Extensions.OpenTelemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/Microsoft.Testing.Extensions.Retry.csproj
  src/Platform/Microsoft.Testing.Extensions.Telemetry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Telemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Telemetry/Microsoft.Testing.Extensions.Telemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Microsoft.Testing.Extensions.VideoRecorder.csproj
Due: production

Restore MSTest.TestAdapter runsettings translations regressed by OneLocBuild #9912
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.cs.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.es.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.fr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.it.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ja.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pl.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pt-BR.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ru.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.tr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hans.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hant.xlf
Due: production

Add release notes link to NuGet packages
  src/Directory.Build.props
  src/Platform/Directory.Build.props
Due: production

Restore MSTest.TestAdapter runsettings translations regressed by OneLocBuild #9912 (#9928)
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.cs.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.de.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.es.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.fr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.it.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ja.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ko.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pl.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.pt-BR.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.ru.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.tr.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hans.xlf
  src/Adapter/MSTest.TestAdapter/Resources/xlf/PlatformAdapterResources.zh-Hant.xlf
Due: production

Update Microsoft.NET.Test.Sdk version to 18.7.0 (#9925)
  Directory.Packages.props
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
Due: production

Drop internal API tracking for test-only IVT projects (#9927)
  .globalconfig
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Microsoft.Testing.Extensions.AzureFoundry.csproj
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Microsoft.Testing.Extensions.GitHubActionsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HangDump/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/Microsoft.Testing.Extensions.Logging/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Logging/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Logging/Microsoft.Testing.Extensions.Logging.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/Microsoft.Testing.Extensions.OpenTelemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/Microsoft.Testing.Extensions.Retry.csproj
  src/Platform/Microsoft.Testing.Extensions.Telemetry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Telemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Telemetry/Microsoft.Testing.Extensions.Telemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Microsoft.Testing.Extensions.VideoRecorder.csproj
Due: production

Anchor release notes link to the version-specific changelog entry
  src/Directory.Build.props
  src/Platform/Directory.Build.props
Due: production

Make exit-code parsing culture-invariant, harden overflow guard, add parity tests
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestApplicationResultTests.cs
Due: production, test

Skip MSTest adapter telemetry on wasi-wasm to avoid SHA256 PlatformNotSupportedException
  src/Adapter/MSTest.TestAdapter/MSTestEngine.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WasmExecutionTests.cs
Due: production, test

Add release notes link to NuGet packages (#9929)
  src/Directory.Build.props
  src/Platform/Directory.Build.props
Due: production

Add MSTEST0035 tests for custom RetryBaseAttribute subclasses (#9923)
  test/UnitTests/MSTest.Analyzers.UnitTests/UseRetryWithTestMethodAnalyzerTests.cs
Due: test

Bump VSTest version from 18.7.0 to 18.8.0
  Directory.Packages.props
  samples/public/Directory.Build.props
Due: none

Fix IDE0300 build errors by using collection expressions in tests
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsArtifactUploaderTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CrashDumpTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxStreamingSerializerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/CommandLineConfigurationExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/JsonCommandLineOptionsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/CurrentTestApplicationModuleInfoTests.cs
Due: test

Address review: destination reparse hardening, Kind assertion, revert stray xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.Merge.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: production, test

Fix IDE0300 build errors by using collection expressions in tests (#9932)
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsArtifactUploaderTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CrashDumpTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxStreamingSerializerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/CommandLineConfigurationExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/JsonCommandLineOptionsTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/CurrentTestApplicationModuleInfoTests.cs
Due: test

Fix Retry attribute completeness gaps (#9917)
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryBaseAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryResult.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Attributes/RetryAttributeTests.cs
Due: production, test

Address PR review: resolve app by executable, honest packaged-app descriptions
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxApplicationInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
Due: production, test

Address second review pass: BOM, honest descriptions, correct tracking issue
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxApplicationInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/AppxManifestInfo.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Resources/xlf/ExtensionResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedAppLaunchNotSupportedTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
Due: production, test

Correct public XML docs on packaged-app registration hooks
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostHandle.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/TestingPlatformBuilderHook.cs
Due: production

Bump VSTest version from 18.7.0 to 18.8.0 (#9931)
  Directory.Packages.props
  samples/public/Directory.Build.props
Due: none

perf: avoid string[] allocation in exit-code ignore check (#9922)
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestApplicationResultTests.cs
Due: production, test

Refactor TestClassModelBuilder into focused files (#9910) (#9911)
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.SourceGeneration/Generators/AttributeMaterializationHelper.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/DataRowBuilder.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/DynamicDataSourceBuilder.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/MSTestReflectionMetadataGenerator.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/SymbolDisplayFormats.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/SymbolReferenceabilityHelper.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/TestClassModelBuilder.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/TestMemberValidationHelper.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Resources/xlf/GitHubActionsResources.ru.xlf
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
