Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update Directory.Packages.props
  Directory.Packages.props
Due: none

remove unused SystemProcessHandler parameter (#5918)
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
Due: production

[MTP] Fix TrxReport not including test ignore reason (#5896)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: production, test

use char based overloads (#5916)
  Directory.Packages.props
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/DynamicDataTestMethodArgumentsInfo.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  src/Platform/Microsoft.Testing.Platform/Services/ExecutableInfo.cs
  src/TestFramework/TestFramework/Internal/TestDataSourceUtilities.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/ReflectionUtilityTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/SyntaxExtensions.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TargetFrameworks.cs
Due: production, test

missing using in AttachDebuggerIfNeeded (#5919)
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
Due: production

remove args from AddSelfRegisteredExtensions
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.CrashDump/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.CrashDump/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.HotReload/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.HotReload/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.Telemetry/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Telemetry/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuild.KnownExtensionRegistration.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
Due: production, test

Fix STA regression when async method completes asynchronously between two sync methods
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
Due: production

Update tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadingTests.cs
Due: test

Update ThreadingTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadingTests.cs
Due: test

Fix tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

[rel/4.0] Fix tests (#5924)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Show whole error with stack trace
  azure-pipelines.yml
Due: none

Add to other calls as well
  azure-pipelines.yml
Due: none

Show whole error with stack trace (#5925)
  azure-pipelines.yml
Due: none

Handle framework's Logger to write to test context
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
Due: production

Add comments and additional clarification asserts
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadingTests.cs
Due: test

Fix STA regression when async method completes asynchronously between sync methods (#5922)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadingTests.cs
Due: production, test

Handle framework's Logger to write to test context (#5927)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
Due: production

Call GetDisplayName with the right arguments when tuples are used
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestDiscoveryTests.cs
Due: production, test

Update TestDiscoveryTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestDiscoveryTests.cs
Due: test

Call GetDisplayName with the right arguments when tuples are used (#5929)
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestDiscoveryTests.cs
Due: production, test

Apply suggestion from code review
  src/Platform/Microsoft.Testing.Platform/Hosts/IHost.cs
Due: production

Cleanup
  src/Analyzers/MSTest.Analyzers.CodeFixes/StringAssertToAssertFixer.cs
  src/Analyzers/MSTest.Analyzers/StringAssertToAssertAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/StringAssertToAssertAnalyzerTests.cs
Due: production, test

Update TestDataSourceUtilities.cs
  src/TestFramework/TestFramework/Internal/TestDataSourceUtilities.cs
Due: production

Fix
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
Due: production

Add analyzer and code fix to migrate from StringAssert to Assert APIs (#5792)
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.Designer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers.CodeFixes/StringAssertToAssertFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/StringAssertToAssertAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/StringAssertToAssertAnalyzerTests.cs
Due: production, test

Cleanup
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
Due: production

Fix test
  test/UnitTests/MSTest.Analyzers.UnitTests/DataRowShouldBeValidAnalyzerTests.cs
Due: test

Fix
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Helpers/TestDataSourceHelpersTests.cs
Due: test

Fix build errors
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Helpers/TestDataSourceHelpersTests.cs
  test/UnitTests/TestFramework.UnitTests/TestDataRowTests.cs
Due: test

Fix more build errors
  test/IntegrationTests/MSTest.IntegrationTests/TestCategoriesFromTestDataRowTests.cs
Due: test

Delete global.json.bak
  global.json.bak
Due: none

Few adjustments for test id
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
Due: production

Enable tests on Release
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestAssemblyInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestClassInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
  test/Utilities/Automation.CLI/CLITestBase.e2e.cs
Due: test

Update TrxTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
