Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Report active browser tests
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/SimplifiedConsoleOutputDeviceBase.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.Initialization.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/SimplifiedConsoleOutputDeviceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProviderTests.cs
Due: production, test

Fix independent review findings: secret leak in diagnostics, browser write cancellation
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineArgumentsRedactor.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/Transport/BrowserWebSocketDuplexStream.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineArgumentsRedactorTests.cs
Due: production, test

Add regression test for zero-length WebSocket message before reply
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/DotnetTestWebSocketClientTests.cs
Due: test

Harden the MTP server client transport against logger and cancellation faults
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/IMtpClientLogger.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/IMtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpJsonRpcConnection.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpServerClientExceptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpServerClientOptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpServerProcess.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/SerializerUtilities.ClientSerializers.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/PlatformResourcesShim.cs
Due: production

Correct the source package docs and add the client projects to the platform solution filter
  Microsoft.Testing.Platform.slnf
  src/Platform/Microsoft.Testing.Platform.ServerClient/PACKAGE.md
Due: production

Extend the MTP server client test coverage and align contract assertions
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MtpServerClientAcceptanceTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageConsumerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/FakeMtpServer.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/MtpServerClientTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/TestSetup.cs
Due: test

Constrain the server-request handler result to a serializable dictionary
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/IMtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerClient/Client/MtpServerClient.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageConsumerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/MtpServerClientTests.cs
Due: production, test

Address the re-review comments on deadline-aware cancellation
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/Extensions/AbortAtDeadlineExtension.cs
Due: production

Inherit Arcade default DebugType instead of forcing embedded symbols
  Directory.Build.props
Due: none

Correct comment: PDBs are pushed to symbol servers, not as .snupkg
  Directory.Build.props
Due: none

Track browser output API changes
  src/Platform/Microsoft.Testing.Platform/InternalAPI/net/InternalAPI.Unshipped.txt
Due: production

Address browser WASM review feedback
  samples/BrowserPlayground/README.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
Due: test

Fix BrowserPlayground Markdown heading
  samples/BrowserPlayground/README.md
Due: none

Fix Visual Studio version in dev guide
  docs/dev-guide.md
Due: none

Fix cross-platform browser WASM recipe
  samples/BrowserPlayground/README.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
Due: test

Stabilize cancellation observation test
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/TaskExtensionsTests.cs
Due: test

Preserve coverage correlation identity
  docs/RFCs/019-Code-Coverage-Messages.md
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalResources.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalResources.resx
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Summary.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Services/CoverageReportReference.cs
  src/Platform/Microsoft.Testing.Platform/Services/CoverageScopeSummary.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestCoverageResult.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/TestCoverageMessagesTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestCoverageResultTests.cs
Due: production, test

Speed up MSBuildCache canary seeding
  azure-pipelines.yml
Due: none

Add MSTEST0027 derived attribute tests
  test/UnitTests/MSTest.Analyzers.UnitTests/IgnoreShouldHaveJustificationAnalyzerTests.cs
Due: test

Optimize IPC primitive serialization
  src/Platform/Microsoft.Testing.Platform/IPC/Serializers/BaseSerializer.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/BaseSerializerPrimitiveTests.cs
Due: production, test

Split TestContext implementation
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.LiveOutputScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.ScopedTestContextSetter.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.SynchronizedStringBuilder.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
Due: production

Validate metapackage-only WASM host
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
Due: test

Add MSTEST0071 edge-case tests
  test/UnitTests/MSTest.Analyzers.UnitTests/RedundantTestMethodDisplayNameAnalyzerTests.cs
Due: test

Address WebSocket transport review feedback
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
  src/Platform/Microsoft.Testing.Extensions.HangDump/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineArgumentsRedactor.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/InternalAPI/net/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/Transport/BrowserWebSocketDuplexStream.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/Transport/ClientWebSocketDuplexStream.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeBaselineTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/PlatformCommandLineProviderTests.cs
Due: production, test

Inherit Arcade default DebugType instead of forcing embedded symbols by @Evangelink in #10006 (backport to rel/4.3) (#10125)
  Directory.Build.props
Due: none

Address follow-up WebSocket review feedback
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineArgumentsRedactor.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/Transport/BrowserWebSocketDuplexStream.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineArgumentsRedactorTests.cs
Due: production, test

Address WebSocket zero-read and redaction feedback
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineArgumentsRedactor.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/Transport/BrowserWebSocketDuplexStream.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/Transport/ClientWebSocketDuplexStream.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineArgumentsRedactorTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/DotnetTestWebSocketClientTests.cs
Due: production, test

Tighten WebSocket endpoint validation and diagnostics
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineArgumentsRedactor.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineArgumentsRedactorTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/PlatformCommandLineProviderTests.cs
Due: production, test

Stop MSBuildCache canary warning escalation (#10109)
  azure-pipelines.yml
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/TaskExtensionsTests.cs
Due: test

Use repository encoding for split files
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.LiveOutputScope.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.ScopedTestContextSetter.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.SynchronizedStringBuilder.cs
Due: production

Remove duplicate MSTEST0071 test
  test/UnitTests/MSTest.Analyzers.UnitTests/RedundantTestMethodDisplayNameAnalyzerTests.cs
Due: test

Preserve IPC native endianness
  src/Platform/Microsoft.Testing.Platform/IPC/Serializers/BaseSerializer.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/BaseSerializerPrimitiveTests.cs
Due: production, test

Use repository encoding for serializer tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/BaseSerializerPrimitiveTests.cs
Due: test

Remove invalid VSTestBridge public API entries
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/PublicAPI.Unshipped.txt
Due: production

Share slow-test reporting thresholds
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/OutputDevice/ActiveTestTracker.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/SlowTestThresholdState.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/SilenceDrivenHeartbeatRenderer.cs
  src/Platform/SharedExtensionHelpers/SlowTestReporterBase.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/SlowTestThresholdStateTests.cs
Due: production, test

Document browser-wasm debugging boundaries (#10126)
  samples/BrowserPlayground/README.md
Due: none

Report active tests on browser-wasm (#10129)
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/InternalAPI/net/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/SimplifiedConsoleOutputDeviceBase.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.Initialization.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/SimplifiedConsoleOutputDeviceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProviderTests.cs
Due: production, test

Improve reflection-free metadata coverage
  docs/source-generator/design.md
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TypeCache.FilterDiscovery.cs
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionDataProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionOperations.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/AttributeMaterializationHelper.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/MetadataRegistryEmitter.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/RuntimeRegistrationEmitter.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/TestClassModelBuilder.cs
  src/Analyzers/MSTest.SourceGeneration/Models/TestClassModel.cs
  src/TestFramework/TestFramework/Attributes/Lifecycle/TestFilterProviderAttribute.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/SourceGeneration/SourceGeneratedReflectionOperationsTests.cs
Due: production, test

Add MSTEST0066 derived attribute tests (#10131)
  test/UnitTests/MSTest.Analyzers.UnitTests/IgnoreShouldHaveJustificationAnalyzerTests.cs
Due: test

Enable WebSocket API for browser-wasm tests on Node 20
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/BrowserWasmExecutionTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/WasmRuntime.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
