Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

docs: document GH_AW_GITHUB_TOKEN PAT and rotation for lockdown workflows
  .github/workflows/README.md
Due: none

Address PR review: reliable control-stream disposal and idiomatic null-safe check
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdk.cs
Due: production, test

Address review comments on Phase 1 logging PR
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/AdapterMessageLoggerExtensions.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
Due: production, test

Clarify ITestResultRecorder remarks re: platform boundary
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestResultRecorder.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013411
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013411
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013411
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013411
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pl.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013411 (#9554)
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hant.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Resources/xlf/VideoRecorderResources.pl.xlf
Due: production

Abstract VSTest test filtering in PlatformServices (Phase 2 of platform-agnostic effort)
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestElementFilter.cs
  src/Adapter/MSTestAdapter.PlatformServices/TestMethodFilter.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodFilterTests.cs
Due: production, test

Re-print errored assemblies in dotnet test end-of-run recap (#9545)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalResources.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalResources.resx
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.ErroredAssemblies.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Lifecycle.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.Summary.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013432
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
Due: production

Add out-of-proc --filter regression guard for FullyQualifiedName and Id
  test/IntegrationTests/MSTest.IntegrationTests/TestCaseFilteringTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013437
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/xlf/TerminalResources.zh-Hant.xlf
Due: production

Add server-initiated session cancellation to the dotnet test IPC protocol (#8691) (#9549)
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostOchestratorHost.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeClient.cs
  src/Platform/Microsoft.Testing.Platform/IPC/Serializers/RegisterSerializers.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Constants.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Models/ServerControlMessage.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Models/WaitForServerControlRequest.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/ObjectFieldIds.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/ServerControlMessageSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/WaitForServerControlRequestSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/IPushOnlyProtocol.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeBaselineTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeProtocol.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/DotnetTestPipeServerCancellationTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdk.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DotnetTestPipe/FakeDotnetTestSdkResult.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013682
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013682
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hans.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013682
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hans.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013682
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 3013682 (#9556)
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Resources/xlf/AzureDevOpsResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Resources/xlf/CrashDumpResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.Retry/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
Due: production

Share full dotnet test IPC serializer stack as source (ids 0-12) (#9544)
  src/Platform/Microsoft.Testing.Platform.Internal.DotnetTest/Microsoft.Testing.Platform.Internal.DotnetTest.csproj
  src/Platform/Microsoft.Testing.Platform.Internal.DotnetTest/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeBase.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeClient.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeConnectionBase.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServer.cs
  src/Platform/Microsoft.Testing.Platform/IPC/Serializers/BaseSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestProtocolContract.props
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Models/DiscoveredTestMessages.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/AzureDevOpsLogMessageSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/CommandLineOptionMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/DiscoveredTestMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/DisplayMessageSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/FileArtifactMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/HandshakeMessageSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestInProgressMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestResultMessagesSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestSessionEventSerializer.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolContractTests.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolSerializerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests.csproj
Due: production, test

Abstract VSTest message logging in PlatformServices (Phase 1 of platform-agnostic effort) (#9548)
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/MSTestDiscovererHelpers.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IAdapterMessageLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.Configuration.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.RunSettingsXml.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/AdapterMessageLoggerExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/TestMethodFilter.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/AssemblyEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodFilterTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/UnitTestRunnerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Helpers/UnitTestOutcomeHelperTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestSettingsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/ObjectModel/UnitTestResultTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/RunConfigurationSettingsTests.cs
Due: production, test

Abstract VSTest test filtering in PlatformServices (Phase 2 of platform-agnostic effort) (#9555)
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestElementFilter.cs
  src/Adapter/MSTestAdapter.PlatformServices/TestMethodFilter.cs
  test/IntegrationTests/MSTest.IntegrationTests/TestCaseFilteringTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodFilterTests.cs
Due: production, test

Bump analyzers to 5.6.0 and annotate experimental API entries
  Directory.Packages.props
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Shipped.txt
Due: production

Potential fix for pull request finding
  .github/workflows/README.md
Due: none

Abstract VSTest result reporting in PlatformServices (Phase 5 of platform-agnostic effort) (#9550)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestResultRecorder.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestResultRecorderExtensions.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
Due: production, test

Avoid MSB4011 duplicate-import warnings when layering MSTest.Sdk on another base SDK (#9562)
  src/Package/MSTest.Sdk/README.md
  src/Package/MSTest.Sdk/Sdk/Sdk.props.template
  src/Package/MSTest.Sdk/Sdk/Sdk.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

docs: document PAT-free auth (copilot-requests + GitHub App) for agentic workflows
  .github/workflows/README.md
Due: none

ci: drop deprecated lockdown mode from agentic workflows (removes forced PAT)
  .github/workflows/add-tests.md
  .github/workflows/shared/address-review-shared.md
  .github/workflows/shared/grade-tests-shared.md
  .github/workflows/weekly-issue-activity.md
Due: none

Abstract VSTest discovery sink in PlatformServices (Phase 3 of platform-agnostic effort)
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestCaseDiscoverySink.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IUnitTestElementSink.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/UnitTestElementSinkExtensions.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestCaseDiscoverySinkTests.cs
Due: production, test

Use standalone DebugAssert in ServerControlMessageSerializer
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/ServerControlMessageSerializer.cs
Due: production

Recompile
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Remove lockdown PAT dependency from agentic workflows + document PAT-free auth (#9563)
  .github/aw/actions-lock.json
  .github/workflows/README.md
  .github/workflows/add-tests.lock.yml
  .github/workflows/add-tests.md
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/shared/address-review-shared.md
  .github/workflows/shared/grade-tests-shared.md
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
  .github/workflows/weekly-issue-activity.md
Due: none

Address review comment: correct logger param XML docs in TestMethodFilter
  src/Adapter/MSTestAdapter.PlatformServices/TestMethodFilter.cs
Due: production

Abstract VSTest discovery sink in PlatformServices (Phase 3 of platform-agnostic effort) (#9566)
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestCaseDiscoverySink.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IUnitTestElementSink.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/UnitTestElementSinkExtensions.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestCaseDiscoverySinkTests.cs
Due: production, test

Fix build: use self-contained DebugAssert in shared serializer
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/ServerControlMessageSerializer.cs
Due: production

Bump BannedApiAnalyzers/PublicApiAnalyzers to 5.6.0 (fixes #9560 build) (#9564)
  Directory.Packages.props
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/ServerControlMessageSerializer.cs
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Shipped.txt
Due: production

Address review: avoid double UnitTestElement conversion and null test-double return
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Parallelization.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.Runner.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodFilterTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
