Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Verify server exits with code 0, not just that ProcessId settled to 0
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MtpServerClientCancellationAcceptanceTests.cs
Due: test

Add acceptance build cache reporting (#10885)
  eng/pipelines/steps/test-windows-configuration-tests.yml
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TestAssetFixtureBaseTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestAssetFixtureBase.cs
Due: test

Add benchmarks for data source display names (#10889)
  src/TestFramework/TestFramework/TestFramework.csproj
  test/Performance/MSTest.Performance.Benchmarks/MSTest.Performance.Benchmarks.csproj
  test/Performance/MSTest.Performance.Benchmarks/TestDataSourceUtilitiesBenchmarks.cs
Due: production, test

Use launched process for exit checks
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MtpServerClientCancellationAcceptanceTests.cs
Due: production, test

Add WinApp CLI interoperability coverage
  eng/pipelines/steps/test-windows-app-model.yml
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedWinUITests.cs
  test/Shared/WindowsAppModel/appx-manifest-conformance-vectors.json
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppxManifestInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Microsoft.Testing.Extensions.UnitTests.csproj
Due: test

Revert ExitCode/WaitForExitAsync additions to the shared client library
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MtpServerClientCancellationAcceptanceTests.cs
Due: production, test

Fix Dependabot issue bundler integrity filtering
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-issue-bundler.md
Due: none

Add in-process launch support to the MTP server-mode client
  docs/Changelog-Platform.md
  docs/mstest-runner-protocol/001-protocol-intro.md
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/IMtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/IMtpServerHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClientExceptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClientOptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerConnector.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerInProcessHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/PACKAGE.md
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MtpServerClientInProcessAcceptanceTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageConsumerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/FakeMtpServer.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
Due: production, test

Fix Dependabot issue bundler integrity filtering (#10893)
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-issue-bundler.md
Due: none

Address review: non-blocking shutdown, exit code, and tighter teardown
  docs/Changelog-Platform.md
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/IMtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/IMtpServerHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClientOptions.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerConnector.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerInProcessHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/PACKAGE.md
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MtpServerClientInProcessAcceptanceTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientSourcePackageConsumerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
Due: production, test

Make file reporters crash resilient
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportEngine.JsonSerializer.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportGenerator.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportGenerator.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Templates/report-template.html
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportGenerator.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitXmlWriter.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryTestHostRunner.cs
  src/Platform/SharedExtensionHelpers/ReportEngineBase.cs
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.cs
  src/Platform/SharedExtensionHelpers/ReportProviderRegistration.cs
  src/Platform/SharedExtensionHelpers/ReportRecovery.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CtrfReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HtmlReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/JUnitReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportGeneratorLifecycleTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/JUnitReportEngineApiTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/JUnitReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/ReportRecoverySerializationTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Add combinatorial test data support
  THIRD-PARTY-NOTICES.TXT
  src/TestFramework/TestFramework/Attributes/DataSource/AnyDataValue.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialClassDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialMemberDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialRandomDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialRangeAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialTestCaseGenerator.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialTheoryDataBuilder.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialValuesAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/ExcludeTestCaseAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/ICombinatorialValuesProvider.cs
  src/TestFramework/TestFramework/Internal/CombinatorialValuesUtilities.cs
  src/TestFramework/TestFramework/InternalAPI/InternalAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/CombinatorialDataTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialDataAttributeTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialGenerationTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialMemberDataAttributeTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialValueAttributeTests.cs
Due: production, test

Avoid nullable start time dereference
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.cs
Due: production

Address review: make teardown a single joinable, genuinely bounded task
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerInProcessHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
Due: production, test

Preserve reporter internal compatibility
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportGenerator.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitXmlWriter.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/SharedExtensionHelpers/ReportEngineBase.cs
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.cs
  src/Platform/SharedExtensionHelpers/ReportProviderRegistration.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Strengthen reporter recovery tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: test

Recover reports until artifact delivery
  src/Platform/SharedExtensionHelpers/ReportRecovery.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/ReportRecoverySerializationTests.cs
Due: production, test

Address combinatorial data review feedback
  Directory.Packages.props
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialClassDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialMemberDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialRandomDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialRangeAttribute.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DotnetTestCliTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/InconclusiveTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSTest.Acceptance.IntegrationTests.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunnerTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestFilterProviderRegistrationTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests.csproj
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialMemberDataAttributeTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialValueAttributeTests.cs
Due: production, test

Address review: give the process host the same teardown contract, and fix ExitCode
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/IMtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/IMtpServerHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerInProcessHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MtpServerClientAcceptanceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerClientInProcessTests.cs
Due: production, test

Harden reporter journal handoff
  src/Platform/SharedExtensionHelpers/ReportRecovery.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportGeneratorLifecycleTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/ReportRecoverySerializationTests.cs
Due: production, test

Harden combinatorial member resolution
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialClassDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialMemberDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialTestCaseGenerator.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialTheoryDataBuilder.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialGenerationTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialMemberDataAttributeTests.cs
Due: production, test

Improve combinatorial provider diagnostics
  src/TestFramework/TestFramework/Internal/CombinatorialValuesUtilities.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialDataAttributeTests.cs
Due: production, test

Preserve recovery semantics during merging
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/JUnitReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Harden combinatorial member reflection
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialMemberDataAttribute.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialMemberDataAttributeTests.cs
Due: production, test

Fail fast when crash journals are not ready
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CtrfReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HtmlReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/JUnitReportTests.cs
Due: test

Isolate dynamic combinatorial values
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialClassDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialDataAttribute.cs
  src/TestFramework/TestFramework/Internal/CombinatorialValuesUtilities.cs
  src/TestFramework/TestFramework/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialDataAttributeTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialMemberDataAttributeTests.cs
Due: production, test

Bound reporter recovery storage
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.cs
  src/Platform/SharedExtensionHelpers/ReportRecovery.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/ReportRecoverySerializationTests.cs
Due: production, test

Verify combinatorial random seed behavior
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialValueAttributeTests.cs
Due: test

Cover combinatorial data in NativeAOT
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialClassDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialMemberDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialTheoryDataBuilder.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
Due: production, test

Localize combinatorial diagnostics
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialClassDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialMemberDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialRandomDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialRangeAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialTestCaseGenerator.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialTheoryDataBuilder.cs
  src/TestFramework/TestFramework/Attributes/DataSource/ExcludeTestCaseAttribute.cs
  src/TestFramework/TestFramework/Internal/CombinatorialValuesUtilities.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Support non-null nullable member arguments
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialMemberDataAttribute.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialMemberDataAttributeTests.cs
Due: production, test

Complete nullable member compatibility
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialMemberDataAttribute.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialMemberDataAttributeTests.cs
Due: production, test

Make journal overflow test deterministic
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportGeneratorLifecycleTests.cs
Due: test

Handle explicit null attribute arguments
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialClassDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/CombinatorialMemberDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/ExcludeTestCaseAttribute.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialDataAttributeTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/CombinatorialMemberDataAttributeTests.cs
Due: production, test

Use structured retry report assertions
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: test

Make file reporters crash resilient (#10894)
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportEngine.JsonSerializer.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportGenerator.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CtrfReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportGenerator.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Templates/report-template.html
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportGenerator.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/JUnitXmlWriter.cs
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryTestHostRunner.cs
  src/Platform/SharedExtensionHelpers/ReportEngineBase.cs
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.cs
  src/Platform/SharedExtensionHelpers/ReportProviderRegistration.cs
  src/Platform/SharedExtensionHelpers/ReportRecovery.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CtrfReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HtmlReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/JUnitReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportGeneratorLifecycleTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/JUnitReportEngineApiTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/JUnitReportMergerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/ReportRecoverySerializationTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Split StepSummaryWriter into partial files
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/StepSummaryWriter.Append.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/StepSummaryWriter.AppendWithLeadingNotice.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/StepSummaryWriter.Notices.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/StepSummaryWriter.SectionMarkers.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/StepSummaryWriter.Upsert.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/StepSummaryWriter.cs
Due: production
