Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Revert unwanted changes
  test/IntegrationTests/MSTest.IntegrationTests/NoNamespaceTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ServerMode/v1.0.0/TestingPlatformClient.cs
  test/IntegrationTests/TestAssets/DataRowTestProject/DataRowTests_DerivedClass.cs
  test/IntegrationTests/TestAssets/DataRowTestProject/DataRowTests_Regular.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/PlatformServiceProviderTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestDataSourceTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DebuggerUtility.cs
Due: test

Revert simplification changes
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInstanceOfTypeTests.cs
Due: test

Apply suggestions from code review
  src/TestFramework/TestFramework/Exceptions/AssertFailedException.cs
  src/TestFramework/TestFramework/Exceptions/AssertInconclusiveException.cs
  src/TestFramework/TestFramework/Exceptions/InternalTestFailureException.cs
  src/TestFramework/TestFramework/Exceptions/UnitTestAssertException.cs
Due: production

Add test
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: test

Add comment
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Update global.json for colors (#5723)
  global.json
  src/Adapter/MSTest.TestAdapter/Execution/LogMessageListener.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/RetryAttribute.cs
  src/TestFramework/TestFramework/Exceptions/AssertFailedException.cs
  src/TestFramework/TestFramework/Exceptions/AssertInconclusiveException.cs
  src/TestFramework/TestFramework/Exceptions/InternalTestFailureException.cs
  src/TestFramework/TestFramework/Exceptions/UnitTestAssertException.cs
  src/TestFramework/TestFramework/Internal/DebugEx.cs
  src/TestFramework/TestFramework/TestDataRow.cs
Due: production

Progress
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferTestMethodOverDataTestMethodFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/PreferTestMethodOverDataTestMethodAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferTestMethodOverDataTestMethodAnalyzerTests.cs
Due: production, test

Update samples/Playground/DebuggerUtility.cs
  samples/Playground/DebuggerUtility.cs
Due: none

Fix MTP timeout parsing to use invariant culture instead of current culture (#5705)
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/PlatformCommandLineProviderTests.cs
Due: production, test

3.9.3 branding
  eng/Versions.props
Due: none

prefer specific scoped variables (#5611)
  samples/Playground/DebuggerUtility.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DebuggerUtility.cs
Due: production, test

Add 3.9.2 changelogs
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

3.9.3 branding (#5725)
  eng/Versions.props
Due: none

Apply suggestions from code review
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Simpler fix for dotnet test when using retry
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Adjust
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildOrchestratorLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostControllersExtension.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostOrchestratorApplicationLifetime.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostOrchestratorManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/TestHostOrchestratorManager.cs
Due: production

Typo
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: test

Comments
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostOrchestratorApplicationLifetime.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/ITestHostOrchestratorManager.cs
Due: production

Fix
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostOchestratorHost.cs
Due: production

Fix errorr
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: test

Simpler fix for dotnet test when using retry by @Youssef1313 in #5731 (backport to rel/3.9) (#5732)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: production, test

Update src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
Due: production

Update dogfooding versions
  Directory.Packages.props
Due: none

Update MSTest version in samples
  samples/public/global.json
Due: none

Update Directory.Build.props
  samples/public/Directory.Build.props
Due: none

Error if framework/adapter versions are mismatched at runtime
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
Due: production

Localize
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.Designer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Resources/Resource.resx
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.cs.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.de.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.es.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.fr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.it.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ja.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ko.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pl.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.pt-BR.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.ru.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.tr.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hans.xlf
  src/Adapter/MSTestAdapter.PlatformServices/Resources/xlf/Resource.zh-Hant.xlf
Due: production

Update MSTest version in samples (#5738)
  samples/public/Directory.Build.props
  samples/public/global.json
Due: none

Update dogfooding versions (#5737)
  Directory.Packages.props
Due: none

Use `ThrowIfCancellationRequested` instead of simply returning
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpActivityIndicator.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.Telemetry/AppInsightsProvider.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsynchronousMessageBus.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ChannelConsumerDataProcessor.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ConsumingEnumerableConsumerDataProcessor.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PerRequestServerDataConsumerService.cs
Due: production

Add 3.9.2 changelogs (#5726)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Update TestHostOrchestratorManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHostOrcherstrator/TestHostOrchestratorManager.cs
Due: production

Cancellation leak
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestRunCancellationToken.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  src/TestFramework/TestFramework.Extensions/TestContext.cs
Due: production

Fix tests
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: test

Progress
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ClassCleanupManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
Due: production
