Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Fix missing capabilities for MSTest.Analyzers.UnitTests (#5178)
  Directory.Packages.props
  test/Directory.Build.targets
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests.csproj
Due: test

Update dotnet.config
  dotnet.config
Due: none

Revert back again...
  dotnet.config
Due: none

Update Directory.Packages.props
  Directory.Packages.props
Due: none

Adjust for working directory of testhost
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
Due: test

Avoid racing
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Create directory
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Revert
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/ProcessFactory.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Produce binlog for test step
  azure-pipelines-official.yml
  azure-pipelines.yml
Due: none

Adjust tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DotnetTestCliTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSBuildRunnerTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Always rename for consistency
  azure-pipelines-official.yml
  azure-pipelines.yml
Due: none

Fix test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSBuildRunnerTests.cs
Due: test

Fix some tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/PublishAotNonNativeTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Adjust
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSBuildRunnerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
Due: test

Adjust
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DotnetTestCliTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSBuildRunnerTests.cs
Due: test

Fix tests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DotnetTestCliTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSBuildRunnerTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/PublishAotNonNativeTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

One more fix
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

More progress
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Solution.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Fix more tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Solution.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

More test fixes
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Solution.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Use dotnet test in CI
  azure-pipelines.yml
Due: none

Fix
  azure-pipelines.yml
Due: none

Fix for Playground not considered MTP
  samples/Playground/Playground.csproj
Due: none

Fix for MSBuild unit tests
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests.csproj
Due: test

Update azure-pipelines-official.yml
  azure-pipelines-official.yml
Due: none

Fix
  azure-pipelines-official.yml
Due: none

Consider `--results-directory` before configuration
  src/Platform/Microsoft.Testing.Platform/Configurations/AggregatedConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/ConfigurationExtensions.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/ConfigurationManager.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  test/UnitTests/MSTest.Engine.UnitTests/Adapter_ExecuteRequestAsyncTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/AggregatedConfigurationTests.cs
Due: production, test

Fix
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: test

Fix tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/AggregatedConfigurationTests.cs
Due: test

Fix possible deadlock when writing to console (#5182)
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemConsole.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ConsoleTests.cs
Due: production, test

[rel/3.8] Fix possible deadlock when writing to console (#5183)
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemConsole.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/NonAnsiTerminal.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ConsoleTests.cs
Due: production, test

Update SDK
  global.json
Due: none
