Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Run full PR validation in Release (#10760)
  .github/agents/build-failure-analyst.agent.md
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/shared/build-failure-analysis-fetch.md
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/pipelines/steps/test-non-windows.yml
  eng/pipelines/steps/test-windows-app-model.yml
  eng/pipelines/steps/test-windows-configuration-tests.yml
  eng/validate-affected-tests.ps1
Due: none

Optimize CI for XML documentation changes
  azure-pipelines.yml
  eng/classify-xml-doc-change.ps1
  eng/pipelines/steps/test-windows-configuration-tests.yml
Due: none

Harden XML documentation change detection
  eng/classify-xml-doc-change.ps1
Due: none

Keep platform-sensitive docs on full validation
  eng/classify-xml-doc-change.ps1
Due: none

Cover Git diff classification end to end
  eng/classify-xml-doc-change.ps1
Due: none

Preserve trivia ownership in change detection
  azure-pipelines.yml
  eng/classify-xml-doc-change.ps1
Due: none

Decouple per-TFM summary assertions from interleaved dotnet test output (#10736)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceAssert.cs
Due: test

Avoid restoring SDK dependency anchors in CI (#10741)
  Directory.Packages.props
  TestFx.slnx
  eng/Dependabot.Dependencies/Dependabot.Dependencies.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSTest.Acceptance.IntegrationTests.csproj
Due: test

Address CTRF review feedback
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/TestResultCapture.cs
  src/Platform/SharedExtensionHelpers/ReportGeneratorBase.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
Due: production, test

Handle issue creation failures in quality history
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/repository-quality-improver.md
Due: none

Update CTRF retry acceptance expectations
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/CtrfReportTests.cs
Due: test

Run documentation classifier from trusted base
  azure-pipelines.yml
  eng/classify-xml-doc-change.ps1
Due: none

Dedup Repository Quality Improver findings by file and symbol, not by area name (#10730)
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/repository-quality-improver.md
Due: none

Expose flaky tests across retry reporting (#10761)
  docs/Changelog-Platform.md
  docs/RFCs/018-Artifact-Post-Processing.md
  docs/mstest-runner-protocol/004-protocol-dotnet-test-pipe.md
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsSummaryArtifactPostProcessor.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsSummaryReporter.Markdown.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/GitHubActionsSummaryReporter.cs
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/CapturedTestResult.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlArtifactPostProcessor.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportEngine.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/HtmlReportMerger.cs
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Templates/report-template.html
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/TestResultCapture.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryArtifactProcessor.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/DotnetTestDataConsumer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Models/TestResultMessages.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/ObjectFieldIds.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/IPC/Serializers/TestResultMessagesSerializer.cs
  src/Platform/SharedExtensionHelpers/CiRunSummaryAggregateReader.cs
  src/Platform/SharedExtensionHelpers/CiRunSummaryAggregation.cs
  src/Platform/SharedExtensionHelpers/CiRunSummaryModels.cs
  src/Platform/SharedExtensionHelpers/SummaryReporterHelpers.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CiRunSummaryAggregationTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsSummaryReporterTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlArtifactPostProcessorTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/HtmlReportEngineTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/DotnetTestProtocolSerializerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolEdgeCaseTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/DotnetTestDataConsumerTests.cs
Due: production, test

Fix threat detection false positives
  .github/workflows/README.md
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/efficiency-improver.md
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/malicious-code-scan.md
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/markdown-linter.md
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/perf-improver.md
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/shared/parallel-safety-audit-shared.md
  .github/workflows/shared/review-shared.md
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Bump .NET SDK to 11.0.100-rc.2.26425.121
  global.json
Due: none

Fix executable condition localization locks
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Clarify extension-owned command-line options
  src/Package/MSTest.Sdk/PACKAGE.md
  src/Package/MSTest.Sdk/README.md
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.UnknownAndBootstrapValidation.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
Due: production, test

Optimize PR validation for XML documentation changes (#10763)
  azure-pipelines.yml
  eng/classify-xml-doc-change.ps1
  eng/pipelines/steps/test-windows-configuration-tests.yml
Due: none

Clarify detector troubleshooting link
  .github/workflows/README.md
Due: none

Expand CTRF attachment regression coverage
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/CapturedAttachment.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CtrfReportEngineTests.cs
Due: production, test

Publish the stack-frame regex once instead of racing on lazy init (#10702)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/StackTraceHelper.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/StackTraceHelper.cs
Due: production

Clarify expert review trust boundary
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/shared/review-shared.md
Due: none

Assert deadline-specific exit reason
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/GitHubActionsExitCodeTests.cs
Due: test

Scope GitHub reporting guidance to ClassicEngine
  src/Package/MSTest.Sdk/PACKAGE.md
Due: production

Clean up graceful stop test state
  test/UnitTests/MSTestAdapter.UnitTests/MSTestGracefulStopTestExecutionCapabilityTests.cs
Due: test

Include GitHub reporting in the default SDK profile
  docs/glossary.md
  src/Package/MSTest.Sdk/PACKAGE.md
  src/Package/MSTest.Sdk/README.md
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Include CI reporters in the default SDK profile
  docs/glossary.md
  src/Package/MSTest.Sdk/README.md
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Latch graceful stop across server requests
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestExecution.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Hosts/CommonHostTests.cs
Due: production, test

Keep CI reporting extensions opt-in
  docs/glossary.md
  src/Package/MSTest.Sdk/PACKAGE.md
  src/Package/MSTest.Sdk/README.md
  src/Package/MSTest.Sdk/Sdk/Runner/ClassicEngine.targets
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: production, test

Hide skipped test details in Azure Pipelines
  test/Directory.Build.targets
Due: test

Tighten graceful stop lifecycle test
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/MSTestAdapter.UnitTests/MSTestGracefulStopTestExecutionCapabilityTests.cs
Due: production, test

Assert deadline timer interval order
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Extensions/AbortAtDeadlineExtensionTests.cs
Due: test

Fix Azure DevOps retry sub-result publishing
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsLivePublishingModels.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsResultIdStore.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsClient.Payloads.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.Flush.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AzureDevOpsLivePublishingTests.cs
Due: production, test

Use generated descriptors for MTP discovery
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumeratorWrapper.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IReflectionOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/Services/ReflectionOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/CompositeSourceGeneratedReflectionDataProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/ReflectionMetadataHook.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionDataProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/SourceGeneration/SourceGeneratedReflectionOperations.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/MetadataRegistryEmitter.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/RuntimeRegistrationEmitter.cs
  src/Analyzers/MSTest.SourceGeneration/Generators/TestClassModelBuilder.cs
  src/Analyzers/MSTest.SourceGeneration/Models/TestClassModel.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SourceGenerationNonAotTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/MSTestReflectionMetadataGeneratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/SourceGeneration/SourceGeneratedReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/MockableReflectionOperations.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Fix executable condition localization locks (#10773)
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Bump .NET SDK to 11.0.100-rc.2.26425.121 (#10772)
  global.json
Due: none
