Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Fix log accumulation across DynamicData test invocations
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestClassInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
Due: production, test

Make GetAndClear atomic on SynchronizedStringBuilder
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
Due: production

Add acceptance test for data-driven TRX output accumulation
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrxReportTests.cs
Due: test

Address review feedback: improve test coverage
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
Due: test

Remove <id> placeholder, reuse TargetFrameworkParser for TFM, use case-sensitive matching
  docs/ArtifactNamingService.md
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Platform/Services/ArtifactNamingService.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ArtifactNamingServiceTests.cs
Due: production, test

Fix log accumulation across DynamicData test invocations (#7925)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestClassInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
Due: production, test

[Test Improver] Add unit tests for LoggerFactoryProxy (#7916)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/LoggerFactoryProxyTests.cs
Due: test

[Lean Squad] feat(ci): Task 9 — fix elan SHA256, cache ordering, conditional lake update, proof summary (#7924)
  .github/workflows/lean-proofs.yml
Due: none

Add code fix for MSTEST0042 — DuplicateDataRow (#7896)
  src/Analyzers/MSTest.Analyzers.CodeFixes/CodeFixResources.resx
  src/Analyzers/MSTest.Analyzers.CodeFixes/DuplicateDataRowFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/DuplicateDataRowAnalyzerTests.cs
Due: production, test

[Test Improver] Add unit tests for PasteArguments.AppendArgument (#7888)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/PasteArgumentsTests.cs
Due: test

Add code duplication analysis workflow (#7874)
  .github/scripts/analyze-duplicates.py
  .github/scripts/scan-duplicates.ps1
  .github/workflows/dedup-analysis.yml
  .jscpd.json
Due: none

[Lean Squad] feat(fv): Task 2 — informal spec for CommandLineParseResult.Equals (#7918)
  formal-verification/specs/commandlineparseresult_equals_informal.md
Due: none

File Diet: Split CollectionAssert.cs into focused partial-class files (#7887)
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Equality.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Equivalence.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Helpers.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Membership.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Subset.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.Type.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
Due: production

Add Repo Historian workflow and wire reviewers to history data (#7873)
  .github/workflows/pr-nitpick-reviewer.md
  .github/workflows/repo-historian.lock.yml
  .github/workflows/repo-historian.md
Due: none

Replace IArtifactNamingService DI with static ArtifactNamingHelper
  docs/ArtifactNamingService.md
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Services/ArtifactNamingService.cs
  src/Platform/Microsoft.Testing.Platform/Services/IArtifactNamingService.cs
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProviderExtensions.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ArtifactNamingHelperTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ArtifactNamingServiceTests.cs
Due: production, test

Fix minor inconsistencies in analyzer/fixer naming and documentation (#7890)
  src/Analyzers/MSTest.Analyzers.CodeFixes/TestMethodShouldBeValidFixer.cs
  src/Analyzers/MSTest.Analyzers/TestContextPropertyUsageAnalyzer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/TestMethodShouldBeValidAnalyzerTests.cs
Due: production, test

Eliminate delegate allocation in AbortForMaxFailedTestsExtension (#7923)
  src/Platform/Microsoft.Testing.Platform/Extensions/AbortForMaxFailedTestsExtension.cs
Due: production

Harden Copilot workflow integrity, lockdown, and toolset configuration (#7920)
  .github/workflows/add-tests.lock.yml
  .github/workflows/add-tests.md
  .github/workflows/daily-efficiency-improver.lock.yml
  .github/workflows/daily-efficiency-improver.md
  .github/workflows/daily-perf-improver.lock.yml
  .github/workflows/daily-perf-improver.md
  .github/workflows/daily-qa.lock.yml
  .github/workflows/daily-qa.md
  .github/workflows/daily-test-improver.lock.yml
  .github/workflows/daily-test-improver.md
  .github/workflows/lean-squad.lock.yml
  .github/workflows/lean-squad.md
  .github/workflows/pr-expert-reviewer.lock.yml
  .github/workflows/pr-expert-reviewer.md
  .github/workflows/pr-nitpick-reviewer.lock.yml
  .github/workflows/pr-nitpick-reviewer.md
  .github/workflows/pr-test-expert-reviewer.lock.yml
  .github/workflows/pr-test-expert-reviewer.md
Due: none

[Efficiency Improver] perf: eliminate yield-iterator state machine in PropertyBag.OfType(T)() (#7917)
  src/Platform/Microsoft.Testing.Platform/Messages/PropertyBag.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/PropertyBagTests.cs
Due: production, test

[Efficiency Improver] perf: skip PropertyBag construction in BFSTestNodeVisitor when filter has no property expressions (#7901)
  src/Adapter/MSTest.Engine/Engine/BFSTestNodeVisitor.cs
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
  test/UnitTests/MSTest.Engine.UnitTests/BFSTestNodeVisitorTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Requests/TreeNodeFilterTests.cs
Due: production, test

[Lean Squad] feat(fv): Task 2 — informal spec for CommandLineParser.ParseOptionAndSeparators (#7919)
  formal-verification/TARGETS.md
  formal-verification/specs/commandlineparser_parseoptionandseparators_informal.md
Due: none

Fix review issues: restore dropped field declarations, remove dead Version property
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/IEnvironment.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemEnvironment.cs
Due: production

Move ArtifactNamingHelper docs to microsoft.testing.platform folder
  docs/microsoft.testing.platform/ArtifactNamingHelper.md
Due: none

Fix log accumulation across DynamicData test invocations by @Evangelink in #7925 (backport to rel/4.2) (#7931)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestClassInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2963872
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2963939 (#7949)
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Apply suggestions from code review
  .github/workflows/fv-docs-validation.yml
Due: none

Refactor `TestNodeProperties.cs` into focused single-responsibility files (#7940)
  src/Platform/Microsoft.Testing.Platform/Messages/FileArtifactProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/FileLocationProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/IProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/OutputProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/SerializableKeyValuePairStringProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestMetadataProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestMethodIdentifierProperty.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeStateProperties.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TimingProperties.cs
Due: production

[Lean Squad] feat(ci): Task 9 — FV docs validation workflow + updated REPORT.md (#7936)
  .github/workflows/fv-docs-validation.yml
  formal-verification/REPORT.md
Due: none

fix(fv): clarify ValueAndPropertyExpression unwrapping in MatchesFilter postcondition
  formal-verification/specs/treenodefilter_matchfilterpattern_informal.md
Due: none

Add .lscache to .gitignore
  .gitignore
Due: none

Add .lscache to .gitignore by @Evangelink in #7748 (backport to rel/4.2) (#7954)
  .gitignore
Due: none

Fix ExitCodes.Success -> ExitCode.Success compile error
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrxReportTests.cs
Due: test

Fix test expectations for code fixer
  test/UnitTests/MSTest.Analyzers.UnitTests/DoNotUseSystemDescriptionAttributeAnalyzerTests.cs
Due: test

Address review comments: override guard, alphabetical using insertion, and tests
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidUsingAssertsInAsyncVoidContextFixer.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidUsingAssertsInAsyncVoidContextAnalyzerTests.cs
Due: production, test

[docs] Update glossary - daily scan (#7960)
  docs/glossary.md
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
