Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Fix xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Fixes
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  src/TestFramework/TestFramework/Assertions/StringAssert.cs
  src/TestFramework/TestFramework/FrameworkConstants.cs
Due: production

More fixes
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
Due: production

Fix public API file
  src/TestFramework/TestFramework/PublicAPI/net/PublicAPI.Unshipped.txt
Due: production

Build whole solution on non-Windows
  eng/Build.props
Due: none

Cleanup
  NonWindowsTests.slnf
  eng/Build.props
Due: none

Fixes
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
Due: production, test

Fix
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/CollectionAssertTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/StringAssertTests.cs
Due: production, test

Fix broken xlf/resx
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Improve error message for all Assert.Contains.cs APIs (#5793)
  src/TestFramework/TestFramework/Assertions/Assert.Contains.cs
  src/TestFramework/TestFramework/Assertions/Assert.Count.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Contains.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.Items.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2733074
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Add missing projects
  NonWindowsTests.slnf
Due: none

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2733315
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
Due: production

Build dependency
  TestFx.slnx
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
Due: production

Update Build.props
  eng/Build.props
Due: none

Fix build race condition with MSTest.GlobalConfigsGenerator (#5817)
  NonWindowsTests.slnf
  TestFx.slnx
  eng/Build.props
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
Due: production

Obsolete as error
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  src/TestFramework/TestFramework/Assertions/StringAssert.cs
Due: production

Fail obsolete only on release
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  src/TestFramework/TestFramework/Assertions/StringAssert.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/CollectionAssertTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/StringAssertTests.cs
Due: production, test

Add Assert StartsWith/DoesNotStartWith, EndsWith/DoesNotEndsWith, Mat… (#5768)
  src/TestFramework/TestFramework/Assertions/Assert.EndsWith.cs
  src/TestFramework/TestFramework/Assertions/Assert.Matches.cs
  src/TestFramework/TestFramework/Assertions/Assert.StartsWith.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2733459
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Obsolete Assert.Equals and add obsolete Assert.ReferenceEquals (#5815)
  src/TestFramework/TestFramework/Assertions/Assert.AreSame.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  src/TestFramework/TestFramework/Assertions/StringAssert.cs
  src/TestFramework/TestFramework/FrameworkConstants.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/CollectionAssertTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/StringAssertTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2733488
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Switch TestMethodAttribute.Execute with ExecuteAsync
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
  src/TestFramework/TestFramework.Extensions/Attributes/UWP_UITestMethodAttribute.cs
  src/TestFramework/TestFramework.Extensions/Attributes/WinUI_UITestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DataTestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/STATestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestMethodAttribute.cs
  src/TestFramework/TestFramework/Interfaces/ITestMethod.cs
  test/IntegrationTests/TestAssets/FxExtensibilityTestProject/CustomTestExTests.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/TestExecutionContextPropagationFromTestMethodAttributeToTestMethod.cs
Due: production, test

Disable app domain by default
  src/Adapter/MSTestAdapter.PlatformServices/Services/MSTestAdapterSettings.cs
Due: production

Remove ClassCleanupBehavior
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ClassCleanupManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestAssemblySettingsProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestClassInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/Helpers/ReflectHelper.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestAssemblySettings.cs
  src/Analyzers/MSTest.Analyzers/UseClassCleanupBehaviorEndOfClassAnalyzer.cs
  src/TestFramework/TestFramework/Attributes/Lifecycle/Cleanup/ClassCleanupAttribute.cs
  src/TestFramework/TestFramework/Attributes/Lifecycle/Cleanup/ClassCleanupBehavior.cs
  src/TestFramework/TestFramework/Attributes/Lifecycle/Cleanup/ClassCleanupExecutionAttribute.cs
  test/IntegrationTests/TestAssets/OutputTestProject/Assembly.cs
  test/IntegrationTests/TestAssets/SuiteLifeCycleTestProject/LifeCycleClassCleanupEndOfAssembly.cs
  test/IntegrationTests/TestAssets/SuiteLifeCycleTestProject/LifeCycleClassCleanupEndOfAssemblyAndBeforeEachDerivedClass.cs
  test/IntegrationTests/TestAssets/SuiteLifeCycleTestProject/LifeCycleClassCleanupEndOfAssemblyAndNone.cs
  test/IntegrationTests/TestAssets/SuiteLifeCycleTestProject/LifeCycleClassCleanupEndOfClass.cs
  test/IntegrationTests/TestAssets/SuiteLifeCycleTestProject/LifeCycleClassCleanupEndOfClassAndBeforeEachDerivedClass.cs
  test/IntegrationTests/TestAssets/SuiteLifeCycleTestProject/LifeCycleClassCleanupEndOfClassAndNone.cs
  test/IntegrationTests/TestAssets/SuiteLifeCycleTestProject/LifeCycleDerivedClassCleanupEndOfAssemblyAndBeforeEachDerivedClass.cs
  test/IntegrationTests/TestAssets/SuiteLifeCycleTestProject/LifeCycleDerivedClassCleanupEndOfAssemblyAndNone.cs
  test/IntegrationTests/TestAssets/SuiteLifeCycleTestProject/LifecycleInheritance.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseClassCleanupBehaviorEndOfClassAnalyzerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/ClassCleanupManagerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/UnitTestRunnerTests.cs
Due: production, test

Change TestContext.Properties to use generic IDictionary
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  src/TestFramework/TestFramework.Extensions/TestContext.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestTimeout.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TimeoutAttribute.cs
  test/IntegrationTests/TestAssets/TimeoutTestProject/TimeoutTestClass.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/PlatformServiceProviderTests.cs
Due: production, test

Add CallerFilePath/CallerLineNumber to TestMethodAttribute
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/UnitTestDiscoverer.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IFileOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
  src/Adapter/MSTestAdapter.PlatformServices/RunConfigurationSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/DiaSessionOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/FileOperations.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DataTestMethodAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestMethodAttribute.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/RunConfigurationSettingsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DiaSessionOperationsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestExecutorTests.cs
Due: production, test

Drop DataTestMethodAttribute
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferTestMethodOverDataTestMethodFixer.cs
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/PreferTestMethodOverDataTestMethodAnalyzer.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DataTestMethodAttribute.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/DataSourceTests.cs
  test/IntegrationTests/TestAssets/DiscoverInternalsProject/UnitTest1.cs
  test/IntegrationTests/TestAssets/DynamicDataTestProject/DynamicDataTests.cs
  test/IntegrationTests/TestAssets/TestIdProject.DefaultStrategy/TestIdCases.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/DataRowShouldBeValidAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferTestMethodOverDataTestMethodAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseAsyncSuffixTestMethodSuppressorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeEnumeratorTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/DynamicDataAttributeTests.cs
Due: production, test

Make ITestMethod internal
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ObjectModel/ITestMethod.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeEnumeratorTests.cs
Due: production, test

Change IsInstanceOfType to return the instance of type T
  src/TestFramework/TestFramework/Assertions/Assert.IsInstanceOfType.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInstanceOfTypeTests.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.ThrowsExceptionTests.cs
Due: production, test

Internalize obsolete types
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestDiscoverer.cs
  src/Adapter/MSTest.TestAdapter/VSTestAdapter/MSTestExecutor.cs
  src/Adapter/MSTestAdapter.PlatformServices/AssemblyResolver.cs
Due: production

More internal stuff
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestResultExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/UnitTestOutcomeExtensions.cs
Due: production

Make TestMethodInfo internal
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

Drop LogMessageListener
  src/Adapter/MSTest.TestAdapter/Properties/AssemblyInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/LogMessageListener.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/LogMessageListenerTests.cs
Due: production, test

Make TestExecutionManager internal
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
Due: production

More cleanup
  src/Adapter/MSTestAdapter.PlatformServices/IPlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITraceListener.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITraceListenerManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ThreadSafeStringWriter.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TraceListener.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TraceListenerManager.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Set CaptureDebugTraces to false by default
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
Due: production

Rename assembly and avoid 14 version
  Directory.Build.targets
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.NonWindows.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTest.TestAdapter/buildTransitive/common/MSTest.TestAdapter.targets
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/TestFramework/TestFramework.Extensions/MSTest.TestFramework.nuspec
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
  src/TestFramework/TestFramework/TestFramework.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
Due: production, test

Remove GenericParameterHelper
  src/TestFramework/TestFramework/GenericParameterHelper.cs
Due: production

Internalize
  src/Adapter/MSTestAdapter.PlatformServices/Deployment/TestRunDirectories.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestAssemblyInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestClassInfo.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestRunCancellationToken.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IAdapterTraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IFileOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IReflectionOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ISettingsProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestDataSource.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestDeployment.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestSource.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/ITestSourceHost.cs
  src/Adapter/MSTestAdapter.PlatformServices/Interfaces/IThreadOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestOutcome.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestResult.cs
  src/Adapter/MSTestAdapter.PlatformServices/RecursiveDirectoryPath.cs
  src/Adapter/MSTestAdapter.PlatformServices/RunConfigurationSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/FileOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/MSTestAdapterSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ReflectionOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/SettingsProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestDataSource.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestDeployment.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSource.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/ThreadOperations.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TraceLogger.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/VSInstallationUtilities.cs
Due: production
