Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

[ResourceLock] Declare ResourceLock for real environment-variable mutation in TestHostBuilderTests (#11482)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostBuilderTests.cs
Due: test

Extract shared single-flight teardown helper (#11486)
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerClient.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerInProcessHost.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.Shutdown.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/MtpServerProcess.cs
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Client/SingleFlightTask.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/SingleFlightTaskTests.cs
Due: production, test

Add CI summary provenance guard tests
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CiRunSummaryAggregationTests.cs
Due: test

Add PID serializer tests and firewall allowlist
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
Due: test

Disable telemetry in Test Improver
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
Due: none

Add CI run summary provenance guard tests (#11490)
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/CiRunSummaryAggregationTests.cs
Due: test

Add PID serializer tests and fix Test Improver firewall (#11491)
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-improver.md
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
Due: test

Fix app-model CI regressions
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/TestingPlatformBuilderHook.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackageDeployer.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryArgumentsBuilder.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Modes.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServer.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackageDeployerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppConnectBackHandshakeTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryArgumentsBuilderTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryExtensionsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxProcessLifetimeHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/NamedPipeServerSecurityTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestHostBuilderTests.cs
Due: production, test

Fix app-model controller package layout
  eng/verify-nupkgs.ps1
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
Due: production

Prepare MSTest 4.5 and MTP 2.5 changelogs
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Simplify WinUI MTP bootstrap
  samples/public/WinUIMtpPackagedApp/UnitTestApp.xaml.cs
  samples/public/WinUIMtpPackagedApp/WinUIMtpPackagedApp.csproj
  samples/public/WinUIMtpPackagedApp/global.json
  samples/public/WinUIMtpUnpackagedApp/UnitTestApp.xaml.cs
  samples/public/WinUIMtpUnpackagedApp/WinUIMtpUnpackagedApp.csproj
  samples/public/WinUIMtpUnpackagedApp/global.json
Due: none

Add Azure DevOps performance changelog entry
  docs/Changelog-Platform.md
Due: none

Fix configuration-specific package validation
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
Due: production

Prepare MSTest 4.5 and MTP 2.5 changelogs (#11492)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Enable affected-test selection in CI
  Directory.Build.targets
  Directory.Packages.props
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/pipelines/steps/test-windows-configuration-tests.yml
  eng/validate-affected-tests.ps1
  global.json
  samples/CtrfPlayground/Mtp/Program.cs
  samples/FSharpPlayground/Program.fs
  samples/NUnitPlayground/Program.cs
  samples/Playground/Program.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.TerminalReporterContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
  test/UnitTests/TestFramework.UnitTests/Program.cs
Due: test

Enable affected tests for all TFMs
  Directory.Build.targets
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/steps/test-windows-configuration-tests.yml
  eng/validate-affected-tests.ps1
  samples/Playground/Program.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.TerminalReporterContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
  test/UnitTests/TestFramework.UnitTests/Program.cs
Due: test

Normalize affected-test registrations
  samples/Playground/Program.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.TerminalReporterContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
  test/UnitTests/TestFramework.UnitTests/Program.cs
Due: test

Keep affected-test rollout disabled
  azure-pipelines.yml
  docs/affected-test-selection.md
Due: none

Use Azure DevOps affected-test storage
  Directory.Build.targets
  Directory.Packages.props
  docs/affected-test-selection.md
  eng/pipelines/steps/test-windows-configuration-tests.yml
  eng/validate-affected-tests.ps1
  global.json
Due: none

Use affected-tests builder extension
  eng/validate-affected-tests.ps1
  samples/CtrfPlayground/Mtp/Program.cs
  samples/FSharpPlayground/Program.fs
  samples/NUnitPlayground/Program.cs
  samples/Playground/Program.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.TerminalReporterContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
  test/UnitTests/TestFramework.UnitTests/Program.cs
Due: test

Preserve affected package evaluation after rebase
  Directory.Build.targets
  eng/validate-affected-tests.ps1
Due: none

Avoid packaging adapter satellites in UWP MTP apps
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
Due: production

Simplify WinUI MTP bootstrap (#11493)
  samples/public/WinUIMtpPackagedApp/UnitTestApp.xaml.cs
  samples/public/WinUIMtpPackagedApp/WinUIMtpPackagedApp.csproj
  samples/public/WinUIMtpPackagedApp/global.json
  samples/public/WinUIMtpUnpackagedApp/UnitTestApp.xaml.cs
  samples/public/WinUIMtpUnpackagedApp/WinUIMtpUnpackagedApp.csproj
  samples/public/WinUIMtpUnpackagedApp/global.json
Due: none

Add unit tests for TestHostProcessPIDRequestSerializer (#11489)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/ProtocolTests.cs
Due: test

Isolate affected-test exit-code policy
  docs/affected-test-selection.md
  eng/validate-affected-tests.ps1
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/WellKnownEnvironmentVariables.cs
Due: test

Preserve AppContainer artifact destinations
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/ActivatedAppTestHostHandle.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/InternalAPI/Windows/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppScratchArtifactRecovery.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryDataConsumer.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppScratchArtifactRecoveryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryDataConsumerTests.cs
Due: production, test

chore: upgrade agentic workflows
  .github/aw/actions-lock.json
  .github/skills/agentic-workflows/SKILL.md
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/issue-labeler.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/mutation-test-improver.lock.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pipeline-test-triage.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/resource-lock-refactoring.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
  .github/workflows/unskip-closed-tests.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Support inline AppContainer directory options
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
Due: production, test

Fix upgraded agentic workflow pins
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
Due: none

Allow GitHub access in test reviewer workflows
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Fix test grading improvement suggestions
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer-on-pr.agent.md
  .github/workflows/test-reviewer.agent.lock.yml
  .github/workflows/test-reviewer.agent.md
Due: none

Upgrade agentic workflows to v0.89.21
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/issue-labeler.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/mutation-test-improver.lock.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pipeline-test-triage.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/resource-lock-refactoring.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
  .github/workflows/unskip-closed-tests.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Fix test grading improvement suggestions (#11497)
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer-on-pr.agent.md
  .github/workflows/test-reviewer.agent.lock.yml
  .github/workflows/test-reviewer.agent.md
Due: none

Fix packaged dotnet test execution handshake
  docs/Changelog-Platform.md
  eng/pipelines/steps/test-windows-app-model.yml
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedWinUITests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppActivationArgumentsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppConnectBackHandshakeTests.cs
Due: production, test

Upgrade agentic workflows (#11496)
  .github/aw/actions-lock.json
  .github/skills/agentic-workflows/SKILL.md
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/issue-labeler.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/mutation-test-improver.lock.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pipeline-test-triage.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/resource-lock-refactoring.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
  .github/workflows/unskip-closed-tests.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Clarify affected-test fallback behavior
  eng/pipelines/steps/test-windows-configuration-tests.yml
Due: none

Allow GitHub access in test reviewer workflows (#11498)
  .github/workflows/shared/test-reviewer-shared.md
  .github/workflows/test-reviewer-on-pr.agent.lock.yml
  .github/workflows/test-reviewer.agent.lock.yml
Due: none

Fix isolated SDK installation
  eng/pipelines/steps/test-windows-app-model.yml
Due: none
