Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Build v4 (#5897)
  azure-pipelines-official.yml
  azure-pipelines.yml
Due: none

Remove unused internal method (#5898)
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestCaseExtensions.cs
Due: production

Include parameter types in test id (#5899)
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/EngineConstants.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestCaseExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
Due: production

missing usings in DebuggerUtility (#5895)
  samples/Playground/DebuggerUtility.cs
Due: none

check logging level in BridgedTraceLogger
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/BridgedTraceLogger.cs
Due: production

avoid redundant string builder instance in ValidateTestHostEnvironmentVariablesAsync
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpEnvironmentVariableProvider.cs
Due: production

update polyfill
  Directory.Build.props
  Directory.Packages.props
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestDataSource.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentUtility.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/ObjectModel/UnitTestElementTests.cs
Due: production, test

fix nullability of CreateBindCtx
  test/Utilities/Microsoft.Testing.TestInfrastructure/DebuggerUtility.cs
Due: test

remove redundant assignment in TryGetOptionArgumentList
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineHandler.cs
Due: production

CrashDumpEnvironmentVariableProvider prefixes can be static
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpEnvironmentVariableProvider.cs
Due: production

fix nullability of CreateBindCtx (#5907)
  test/Utilities/Microsoft.Testing.TestInfrastructure/DebuggerUtility.cs
Due: test

Obsolete `ITestApplicationLifecycleCallbacks` and add `ITestHostApplicationLifetime` (#5889)
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildTestApplicationLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProvider.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/ITestHostApplicationLifetime.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/ITestHostManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/TestHostManager.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ServiceProviderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Fix prefix name now that it's static
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpEnvironmentVariableProvider.cs
Due: production

Fix merge issues + diagnostics and loc
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers.CodeFixes/StringAssertToAssertFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.tr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/StringAssertToAssertAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  src/TestFramework/TestFramework/Assertions/Assert.StringMethods.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/StringAssertToAssertAnalyzerTests.cs
Due: production, test

update polyfill (#5906)
  Directory.Build.props
  Directory.Packages.props
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestDataSource.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/DeploymentUtility.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/ObjectModel/UnitTestElementTests.cs
Due: production, test

missing using in WindowsMiniDumpWriteDump
  src/Platform/Microsoft.Testing.Extensions.HangDump/WindowsMiniDumpWriteDump.cs
Due: production

Avoid keeping instance of process in DotnetMuxerLocator
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
Due: production

remove-zero-width-spaces-from-banned-symbols
  src/Adapter/MSTest.Engine/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.CrashDump/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.HotReload/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.Telemetry/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Platform/BannedSymbols.txt
Due: production

Add ProcessId to IEnvironment
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/IEnvironment.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemEnvironment.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PassiveNode.cs
Due: production

remove redundant environment instance in TestHostBuilder
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
Due: production

use some string interpolation
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestResultExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/Condition.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FastFilter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  test/IntegrationTests/TestAssets/FxExtensibilityTestProject/TestDataSourceExTests.cs
Due: production, test

use char based overloads
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  src/TestFramework/TestFramework/Internal/TestDataSourceUtilities.cs
Due: production

.
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/DynamicDataTestMethodArgumentsInfo.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/Services/ExecutableInfo.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/ReflectionUtilityTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/SyntaxExtensions.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TargetFrameworks.cs
Due: production, test

missing using in WindowsMiniDumpWriteDump (#5910)
  src/Platform/Microsoft.Testing.Extensions.HangDump/WindowsMiniDumpWriteDump.cs
Due: production

remove redundant environment instance in TestHostBuilder (#5914)
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
Due: production

Avoid keeping instance of process in DotnetMuxerLocator (#5911)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
Due: production

remove-zero-width-spaces-from-banned-symbols (#5912)
  src/Adapter/MSTest.Engine/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.CrashDump/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.HangDump/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.HotReload/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.Retry/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.Telemetry/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.TrxReport/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/BannedSymbols.txt
  src/Platform/Microsoft.Testing.Platform/BannedSymbols.txt
Due: production

Add ProcessId to IEnvironment (#5913)
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/IEnvironment.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemEnvironment.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PassiveNode.cs
Due: production

CrashDumpEnvironmentVariableProvider prefixes can be static (#5909)
  src/Platform/Microsoft.Testing.Extensions.CrashDump/CrashDumpEnvironmentVariableProvider.cs
Due: production

Fix code fixer
  src/Analyzers/MSTest.Analyzers.CodeFixes/StringAssertToAssertFixer.cs
  src/Analyzers/MSTest.Analyzers/StringAssertToAssertAnalyzer.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/StringAssertToAssertAnalyzerTests.cs
Due: production, test

Update src/Analyzers/MSTest.Analyzers.CodeFixes/StringAssertToAssertFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/StringAssertToAssertFixer.cs
Due: production

use some string interpolation (#5915)
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestResultExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/Condition.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ContextAdapterBase.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FastFilter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  test/IntegrationTests/TestAssets/FxExtensibilityTestProject/TestDataSourceExTests.cs
Due: production, test

Fix display name format method
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Revert unwanted change
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Fix diagnostics
  src/Analyzers/MSTest.Analyzers/DataRowShouldBeValidAnalyzer.cs
Due: production

Fix
  src/Analyzers/MSTest.Analyzers/DataRowShouldBeValidAnalyzer.cs
Due: production

Only produce TrxExceptionProperty if given non-empty error message/stack trace
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
Due: production

Fix test
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
Due: test

remove unused SystemProcessHandler parameter
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
Due: production

missing using in AttachDebuggerIfNeeded
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
Due: production
