Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Add RFC 023 draft on dynamically resolved MTP extensions
  docs/RFCs/023-Dynamic-Extension-Loading.md
Due: none

Address MSBuild review: honour an explicit PackageDescription, escape the paragraph break
  Directory.Build.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackageMetadataCompletenessTests.cs
Due: test

Lead package descriptions with what the package does
  .github/copilot-instructions.md
  Directory.Build.targets
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
  src/Directory.Build.props
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Package/MSTest/MSTest.csproj
  src/Platform/Directory.Build.props
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Microsoft.Testing.Extensions.AzureFoundry.csproj
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Microsoft.Testing.Extensions.CrashDump.csproj
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Microsoft.Testing.Extensions.GitHubActionsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HotReload/Microsoft.Testing.Extensions.HotReload.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/Microsoft.Testing.Extensions.Logging/Microsoft.Testing.Extensions.Logging.csproj
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/Microsoft.Testing.Extensions.OpenTelemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.Retry/Microsoft.Testing.Extensions.Retry.csproj
  src/Platform/Microsoft.Testing.Extensions.Telemetry/Microsoft.Testing.Extensions.Telemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/Microsoft.Testing.Extensions.TrxReport.Abstractions.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Microsoft.Testing.Extensions.VideoRecorder.csproj
  src/Platform/Microsoft.Testing.Platform.AI/Microsoft.Testing.Platform.AI.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
Due: production

Share the tag-forwarding logic between the OpenTelemetry metric wrappers (#10398)
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/CounterWrapper.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/HistogramWrapper.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/MeasurementWrappers.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/UpDownCounterWrapper.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/MeasurementWrapperTests.cs
Due: production, test

Clear the efficiency-improver backlog: OTel tags and analyzer member lookup (#10397)
  src/Analyzers/MSTest.Analyzers/DynamicDataShouldBeValidAnalyzer.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Telemetry/OpenTelemetryResultHandlerTests.cs
Due: production, test

Share one fetch-binlog job between the two analysis workflows
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/shared/build-failure-analysis-fetch.md
Due: none

Warn that adding a reporter file needs a dotnet/sdk manifest append
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalReporterContract.props
Due: production

Test the package metadata enforcement itself, not just its output
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackageMetadataCompletenessTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackageMetadataGuardTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackageMetadataInspector.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackageMetadataInspectorTests.cs
Due: test

Add analyzer edge-case tests
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferTestMethodOverDataTestMethodAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseCancellationTokenPropertyAnalyzerTests.cs
Due: test

Add duplicate test filter provider coverage
  test/UnitTests/MSTest.Analyzers.UnitTests/TestFilterProviderShouldBeValidAnalyzerTests.cs
Due: test

Warn that adding a reporter file needs a dotnet/sdk manifest append (#10402)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalReporterContract.props
Due: production

Fix packages shipping NuGet's placeholder description and guard package metadata (#10396)
  .github/copilot-instructions.md
  Directory.Build.targets
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
  src/Directory.Build.props
  src/Package/MSTest.Sdk/MSTest.Sdk.csproj
  src/Package/MSTest/MSTest.csproj
  src/Platform/Directory.Build.props
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/Microsoft.Testing.Extensions.AzureDevOpsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.AzureFoundry/Microsoft.Testing.Extensions.AzureFoundry.csproj
  src/Platform/Microsoft.Testing.Extensions.CrashDump/Microsoft.Testing.Extensions.CrashDump.csproj
  src/Platform/Microsoft.Testing.Extensions.CtrfReport/Microsoft.Testing.Extensions.CtrfReport.csproj
  src/Platform/Microsoft.Testing.Extensions.GitHubActionsReport/Microsoft.Testing.Extensions.GitHubActionsReport.csproj
  src/Platform/Microsoft.Testing.Extensions.HangDump/Microsoft.Testing.Extensions.HangDump.csproj
  src/Platform/Microsoft.Testing.Extensions.HotReload/Microsoft.Testing.Extensions.HotReload.csproj
  src/Platform/Microsoft.Testing.Extensions.HtmlReport/Microsoft.Testing.Extensions.HtmlReport.csproj
  src/Platform/Microsoft.Testing.Extensions.JUnitReport/Microsoft.Testing.Extensions.JUnitReport.csproj
  src/Platform/Microsoft.Testing.Extensions.Logging/Microsoft.Testing.Extensions.Logging.csproj
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/Microsoft.Testing.Extensions.OpenTelemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/Microsoft.Testing.Extensions.PackagedApp.csproj
  src/Platform/Microsoft.Testing.Extensions.Retry/Microsoft.Testing.Extensions.Retry.csproj
  src/Platform/Microsoft.Testing.Extensions.Telemetry/Microsoft.Testing.Extensions.Telemetry.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport.Abstractions/Microsoft.Testing.Extensions.TrxReport.Abstractions.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Microsoft.Testing.Extensions.VSTestBridge.csproj
  src/Platform/Microsoft.Testing.Extensions.VideoRecorder/Microsoft.Testing.Extensions.VideoRecorder.csproj
  src/Platform/Microsoft.Testing.Platform.AI/Microsoft.Testing.Platform.AI.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackageMetadataCompletenessTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackageMetadataGuardTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackageMetadataInspector.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackageMetadataInspectorTests.cs
Due: production, test

Document the staleness re-read and the command-path discriminator invariant
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/shared/build-failure-analysis-fetch.md
Due: none

Add dynamically resolved MTP extensions via JSON manifests
  docs/RFCs/023-Dynamic-Extension-Loading.md
  docs/testingplatformextensions.schema.json
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplicationBuilder.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionAssemblyLoader.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionConstants.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionEntry.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionJsonReader.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionJsonReader.netstandard.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionLoader.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionManifest.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionManifestParser.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/IDynamicExtensionAssemblyLoader.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/IDynamicExtensionRegistrationGuard.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/RawExtensionManifest.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/EnvironmentVariableConstants.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DynamicExtensionIsolationTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DynamicExtensionTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionAssemblyLoaderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionLoaderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionManifestParserTests.cs
Due: production, test

Make the entry-index assertion in the manifest parser test meaningful
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionManifestParserTests.cs
Due: test

Add duplicate test filter provider coverage (#10404)
  test/UnitTests/MSTest.Analyzers.UnitTests/TestFilterProviderShouldBeValidAnalyzerTests.cs
Due: test

Add ReliableTestSuite sample for reliability at scale
  samples/public/ReliableTestSuite/CancellableWorkTests.cs
  samples/public/ReliableTestSuite/EnvironmentPricingTests.cs
  samples/public/ReliableTestSuite/FlakyDependencyTests.cs
  samples/public/ReliableTestSuite/GlobalFixtures.cs
  samples/public/ReliableTestSuite/OrderExportTests.cs
  samples/public/ReliableTestSuite/PlatformSpecificTests.cs
  samples/public/ReliableTestSuite/README.md
  samples/public/ReliableTestSuite/ReliableTestSuite.csproj
  samples/public/ReliableTestSuite/src/OrderExporter.cs
  samples/public/ReliableTestSuite/src/PricingCalculator.cs
  samples/public/ReliableTestSuite/testconfig.json
Due: none

Demonstrate the reflection-free MSTest source generator in ProjectWithNativeAOT sample
  samples/public/DemoMSTestSdk/ProjectWithNativeAOT/NotSourceGenerated.cs
  samples/public/DemoMSTestSdk/ProjectWithNativeAOT/ProjectWithNativeAOT.csproj
  samples/public/DemoMSTestSdk/ProjectWithNativeAOT/UnitTest1.cs
  samples/public/Directory.Build.props
Due: none

Mark ProjectWithNativeAOT sample as investigation/workaround-only
  samples/public/DemoMSTestSdk/ProjectWithNativeAOT/ProjectWithNativeAOT.csproj
Due: none

Share one fetch-binlog job between the two Build Failure Analysis workflows (#10401)
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis-command.md
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/build-failure-analysis.md
  .github/workflows/shared/build-failure-analysis-fetch.md
Due: none

Allow passing environment variables to the test process from InvokeTestingPlatform
  docs/Changelog-Platform.md
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: production, test

Assert environment variables are layered on top of the inherited environment
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Clarify dynamic vs static registration order and net462 isolation coverage
  docs/RFCs/023-Dynamic-Extension-Loading.md
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DynamicExtensionTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionLoaderTests.cs
Due: production, test

Add a packed-consumer run gate and multibyte transport tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MtpServerClientPackagedConsumerRunTests.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerClient.UnitTests/MtpServerClientTests.cs
Due: test

Reject async void extension hooks
  docs/RFCs/023-Dynamic-Extension-Loading.md
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionLoader.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionLoaderTests.cs
Due: production, test

Detect AOT at load time, tighten discovery and JSON parity
  docs/RFCs/023-Dynamic-Extension-Loading.md
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionJsonReader.netstandard.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionLoader.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DynamicExtensionIsolationTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionLoaderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionManifestParserTests.cs
Due: production, test

Share contract assemblies by simple name, not versioned binding
  docs/testingplatformextensions.schema.json
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionAssemblyLoader.cs
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionAssemblyLoaderTests.cs
Due: production, test

Resolve shared contracts that are present but not yet loaded
  docs/RFCs/023-Dynamic-Extension-Loading.md
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionAssemblyLoader.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionAssemblyLoaderTests.cs
Due: production, test

Allow passing environment variables to the test process from the InvokeTestingPlatform target (#10405)
  docs/Changelog-Platform.md
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: production, test

Exclude ShutdownTimeouts.cs from the MTP client source package
  src/Platform/Microsoft.Testing.Platform.ServerClient/Microsoft.Testing.Platform.ServerClient.csproj
Due: production

Make dynamic extensions opt-in and report what they load
  docs/RFCs/023-Dynamic-Extension-Loading.md
  docs/testingplatformextensions.schema.json
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplication.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionLoader.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Resources/PlatformResources.resx
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.cs.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.de.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.es.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.fr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.it.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ja.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ko.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pl.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.ru.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.tr.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Platform/Resources/xlf/PlatformResources.zh-Hant.xlf
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DynamicExtensionIsolationTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/DynamicExtensionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoAllExtensionsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HelpInfoTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionLoaderTests.cs
Due: production, test

Add analyzer edge-case tests (#10403)
  test/UnitTests/MSTest.Analyzers.UnitTests/PreferTestMethodOverDataTestMethodAnalyzerTests.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/UseCancellationTokenPropertyAnalyzerTests.cs
Due: test

Keep one canonical copy of each shared contract assembly
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionAssemblyLoader.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionAssemblyLoaderTests.cs
Due: production, test

Address review findings in ReliableTestSuite sample
  samples/public/ReliableTestSuite/CancellableWorkTests.cs
  samples/public/ReliableTestSuite/EnvironmentPricingTests.cs
  samples/public/ReliableTestSuite/FlakyDependencyTests.cs
  samples/public/ReliableTestSuite/GlobalFixtures.cs
  samples/public/ReliableTestSuite/OrderExportTests.cs
  samples/public/ReliableTestSuite/PlatformSpecificTests.cs
  samples/public/ReliableTestSuite/README.md
  samples/public/ReliableTestSuite/src/OrderExporter.cs
Due: none

Report partial loads, reject the opt-in from testconfig.json, fix dedup keys
  docs/RFCs/023-Dynamic-Extension-Loading.md
  src/Platform/Microsoft.Testing.Platform/CommandLine/CommandLineOptionsValidator.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionEntry.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionLoader.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionManifestParser.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionAssemblyLoaderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionLoaderTests.cs
Due: production, test

Correct trimming justification and harden dynamic extension edges
  docs/RFCs/023-Dynamic-Extension-Loading.md
  docs/testingplatformextensions.schema.json
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionConstants.cs
  src/Platform/Microsoft.Testing.Platform/DynamicExtensions/DynamicExtensionLoader.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Configuration/JsonCommandLineOptionsTests.cs
Due: production, test

Update agentic workflows
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/pr-fix.lock.yml
  .github/workflows/q.md
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/unskip-closed-tests.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none

Restore generated workflow pins
  .github/aw/actions-lock.json
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/q.lock.yml
Due: none

Cover the manifest-only shared contract promotion path
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/DynamicExtensions/DynamicExtensionAssemblyLoaderTests.cs
Due: test

Update agentic workflows (#10410)
  .github/aw/actions-lock.json
  .github/workflows/add-tests.lock.yml
  .github/workflows/address-review.agent.lock.yml
  .github/workflows/adhoc-qa.lock.yml
  .github/workflows/agentic_commands.yml
  .github/workflows/agentics-maintenance.yml
  .github/workflows/autofix.agent.lock.yml
  .github/workflows/build-failure-analysis-command.lock.yml
  .github/workflows/build-failure-analysis.lock.yml
  .github/workflows/code-simplifier.lock.yml
  .github/workflows/daily-file-diet.lock.yml
  .github/workflows/dependabot-issue-bundler.lock.yml
  .github/workflows/dependabot-pr-bundler.lock.yml
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/efficiency-improver.lock.yml
  .github/workflows/glossary-maintainer.lock.yml
  .github/workflows/grade-tests-on-pr.agent.lock.yml
  .github/workflows/grade-tests.agent.lock.yml
  .github/workflows/link-checker.lock.yml
  .github/workflows/malicious-code-scan.lock.yml
  .github/workflows/markdown-linter.lock.yml
  .github/workflows/msbuild-quality-review.lock.yml
  .github/workflows/parallel-safety-audit-command.lock.yml
  .github/workflows/parallel-safety-audit.lock.yml
  .github/workflows/perf-improver.lock.yml
  .github/workflows/q.lock.yml
  .github/workflows/q.md
  .github/workflows/repository-quality-improver.lock.yml
  .github/workflows/review-after-autofix.agent.lock.yml
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review.agent.lock.yml
  .github/workflows/sub-issue-closer.lock.yml
  .github/workflows/test-improver.lock.yml
  .github/workflows/unskip-closed-tests.lock.yml
  .github/workflows/weekly-issue-activity.lock.yml
Due: none
