Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Prepare affected-test selection CI (#11364)
  Directory.Build.targets
  Directory.Packages.props
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/pipelines/steps/test-windows-configuration-tests.yml
  eng/validate-affected-tests.ps1
  global.json
  samples/CtrfPlayground/Mtp/Program.cs
  samples/FSharpPlayground/Program.fs
  samples/NUnitPlayground/Program.cs
  samples/Playground/Program.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Program.cs
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/Program.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/Program.cs
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/Program.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Program.cs
  test/UnitTests/MSTestAdapter.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.DotnetTestProtocolContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.TerminalReporterContract.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Program.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerTests.cs
  test/UnitTests/TestFramework.UnitTests/Program.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/WellKnownEnvironmentVariables.cs
Due: test

Fix packaged dotnet test execution handshake (#11499)
  docs/Changelog-Platform.md
  eng/pipelines/steps/test-windows-app-model.yml
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/PackagedWinUITests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppActivationArgumentsTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppConnectBackHandshakeTests.cs
Due: production, test

Address publisher lifecycle review feedback
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.SessionLifetime.cs
Due: production

Restore current directory in TestSourceHost test
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestSourceHostTests.cs
Due: test

Add testing platform diagnostics activation
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryProviderExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Telemetry/TelemetryManager.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryProviderExtensionsTests.cs
Due: production, test

Cover legacy OpenTelemetry registration
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryProviderExtensionsTests.cs
Due: test

Fix affected-test collection on Windows
  Directory.Build.targets
  docs/affected-test-selection.md
  eng/install-access-database-engine.ps1
  eng/pipelines/steps/test-windows-configuration-tests.yml
  eng/validate-affected-tests.ps1
Due: none

Address affected-test review feedback
  Directory.Build.targets
  docs/affected-test-selection.md
  eng/validate-affected-tests.ps1
Due: none

Correct JsonWriter dispatch table history
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Jsonite/JsonWriter.cs
Due: production

Add provider-independent testing platform diagnostics (#11521)
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryProviderExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Telemetry/TelemetryManager.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryProviderExtensionsTests.cs
Due: production, test

Split AzureDevOpsTestResultsPublisher into focused partial-class files (#11502)
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.InProcessRetryAggregation.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.Output.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.SessionLifetime.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsTestResultsPublisher.cs
Due: production

[docs] Update glossary - daily scan (#11514)
  docs/glossary.md
Due: none

Complete Span and Memory Assert source compatibility coverage (#11517)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssertSourceCompatibilityTests.cs
Due: test

Test exponent IDs with explicit plus sign
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/RpcIdParserTests.cs
Due: test

Address app-model review feedback
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/ClassicUwpPackagedAppExtensions.cs
  src/Package/MSTest.Sdk.AppModelController/Program.cs
  src/Platform/Microsoft.Testing.Extensions.PackagedApp/PackagedAppTestHostLauncher.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.ArtifactRecovery.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.OrchestrateTestHostExecution.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ClassicUwpTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WindowsApplicationModelPackageTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/PackagedAppTestHostLauncherTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryDataConsumerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Stabilize server process exit race test
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Fix Windows affected-test map collection (#11523)
  Directory.Build.targets
  docs/affected-test-selection.md
  eng/install-access-database-engine.ps1
  eng/pipelines/steps/test-windows-configuration-tests.yml
  eng/validate-affected-tests.ps1
Due: none

[efficiency-improver] Make Jsonite JsonWriter's type-dispatch table static (avoid per-call Dictionary+closures) (#11522)
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Jsonite/JsonWriter.cs
Due: production

Add unit tests for RpcIdParser.TryParseNumericId (#11515)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Microsoft.Testing.Platform.UnitTests.csproj
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/RpcIdParserTests.cs
Due: test

Split OpenTelemetry resource enrichment
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryProviderExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/TestingPlatformResourceDetector.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryProviderExtensionsTests.cs
Due: production, test

Improve expert reviewer output and routing
  .github/agents/expert-reviewer.agent.md
  .github/skills/code-review/SKILL.md
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review-on-open.agent.md
  .github/workflows/review.agent.lock.yml
  .github/workflows/review.agent.md
Due: none

Stabilize server process exit race test (#11524)
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Demonstrate custom telemetry interoperability
  samples/public/MTPOTel/Program.cs
  samples/public/MTPOTel/SimpleTestFramework.cs
  samples/public/README.md
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/OpenTelemetryTests.cs
Due: production, test

Add hosted OpenTelemetry sample coverage
  docs/glossary.md
  samples/public/MTPOTel/MTPOTel.csproj
  samples/public/MTPOTel/Program.cs
  samples/public/README.md
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryPlatformService.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/OpenTelemetryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryPlatformServiceTests.cs
Due: production, test

Address expert reviewer feedback
  .github/agents/expert-reviewer.agent.md
Due: none

Fix classic UWP retry execution
  src/Adapter/MSTest.TestAdapter/buildTransitive/uwp/MSTest.TestAdapter.targets
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryTestHostRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ClassicUwpTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/RetryTests.cs
Due: production, test

Improve expert reviewer output and routing (#11527)
  .github/agents/expert-reviewer.agent.md
  .github/skills/code-review/SKILL.md
  .github/workflows/review-on-open.agent.lock.yml
  .github/workflows/review-on-open.agent.md
  .github/workflows/review.agent.lock.yml
  .github/workflows/review.agent.md
Due: none

Demonstrate application-owned OpenTelemetry providers (#11525)
  docs/glossary.md
  samples/public/MTPOTel/MTPOTel.csproj
  samples/public/MTPOTel/Program.cs
  samples/public/MTPOTel/SimpleTestFramework.cs
  samples/public/README.md
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryPlatformService.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/OpenTelemetryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryPlatformServiceTests.cs
Due: production, test

Address OpenTelemetry resource review
  docs/glossary.md
  samples/public/MTPOTel/Program.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryProviderExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Telemetry/IPlatformOpenTelemetryService.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/OpenTelemetryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryProviderExtensionsTests.cs
Due: production, test

Make OpenTelemetry resource enrichment composable (#11526)
  docs/glossary.md
  samples/public/MTPOTel/MTPOTel.csproj
  samples/public/MTPOTel/Program.cs
  samples/public/MTPOTel/SimpleTestFramework.cs
  samples/public/README.md
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryPlatformService.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryProviderExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/TestingPlatformResourceDetector.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/IPlatformOpenTelemetryService.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/OpenTelemetryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryPlatformServiceTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryProviderExtensionsTests.cs
Due: production, test

Correlate result spans with test execution
  samples/public/MTPOTel/SimpleTestFramework.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryPlatformService.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestExecution.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Framework.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsynchronousMessageBus.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/IPlatformOpenTelemetryServiceWithActivityLinks.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.Notifications.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/PlatformActivityContext.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/TestExecutionActivityContextStore.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/OpenTelemetryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryPlatformServiceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/AsynchronousMessageBusTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestApplicationResultTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Telemetry/OpenTelemetryResultHandlerTests.cs
Due: production, test

Bind trace correlation to each publication
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Microsoft.Testing.Platform.ServerMode.Client.Sources.csproj
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.RequestExecution.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.CommonServices.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Framework.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Messages/AsyncConsumerDataProcessor.net.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsyncConsumerDataProcessor.netstandard.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsyncConsumerDataProcessorMessage.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsynchronousMessageBus.cs
  src/Platform/Microsoft.Testing.Platform/Messages/BlockingConsumerDataProcessor.cs
  src/Platform/Microsoft.Testing.Platform/Messages/IAsyncConsumerDataProcessorWithActivityContext.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/ITestExecutionActivityContextConsumer.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.Notifications.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/TestExecutionActivityContextStore.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/AsynchronousMessageBusTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestApplicationResultTests.cs
Due: production, test

Complete superseded retry telemetry spans
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.Notifications.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.ResultHandling.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestApplicationResultTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Telemetry/OpenTelemetryResultHandlerTests.cs
Due: production, test

Preserve final retry telemetry span
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.Notifications.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.ResultHandling.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestApplicationResultTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Telemetry/OpenTelemetryResultHandlerTests.cs
Due: production, test

Disable broken affected-test rollout
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/validate-affected-tests.ps1
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Correlate test result spans with execution activities (#11529)
  samples/public/MTPOTel/SimpleTestFramework.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/OpenTelemetryPlatformService.cs
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/PACKAGE.md
  src/Platform/Microsoft.Testing.Platform.ServerMode.Client.Sources/Microsoft.Testing.Platform.ServerMode.Client.Sources.csproj
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.Framework.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.ProcessConfiguration.cs
  src/Platform/Microsoft.Testing.Platform/InternalAPI/InternalAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Messages/AsyncConsumerDataProcessor.net.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsyncConsumerDataProcessor.netstandard.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsyncConsumerDataProcessorMessage.cs
  src/Platform/Microsoft.Testing.Platform/Messages/AsynchronousMessageBus.cs
  src/Platform/Microsoft.Testing.Platform/Messages/BlockingConsumerDataProcessor.cs
  src/Platform/Microsoft.Testing.Platform/Messages/IAsyncConsumerDataProcessorWithActivityContext.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/IPlatformOpenTelemetryServiceWithActivityLinks.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/ITestExecutionActivityContextConsumer.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.Notifications.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.ResultHandling.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/OpenTelemetryResultHandler.cs
  src/Platform/Microsoft.Testing.Platform/Telemetry/PlatformActivityContext.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/OpenTelemetryTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryPlatformServiceTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/AsynchronousMessageBusTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestApplicationResultTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Telemetry/OpenTelemetryResultHandlerTests.cs
Due: production, test

[code-simplifier] Simplify nested ternary in TestingPlatformResourceDetector.GetOsType (#11531)
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/TestingPlatformResourceDetector.cs
Due: production

Disable broken affected-test rollout (#11532)
  azure-pipelines.yml
  docs/affected-test-selection.md
  eng/validate-affected-tests.ps1
  test/UnitTests/Microsoft.Testing.Platform.ServerMode.Client.Sources.UnitTests/MtpServerProcessTests.cs
Due: test

Characterize MSTest OpenTelemetry topology
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/OpenTelemetryActivityTopologyTests.cs
Due: test

Narrow OpenTelemetry raw-listener tests from DoNotParallelize to ResourceLock
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryPlatformServiceTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/OpenTelemetryProviderExtensionsTests.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
