Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

[rel/3.8] Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2643631 (#5066)
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Progress
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
Due: production

Missing globalThis
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
Due: production

Add dotnet10 feed to nuget.config of test assets
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestAsset.cs
Due: test

Refactor
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/HumanReadableDurationFormatter.cs
Due: production

Handle if RootNamespace contains invalid identifier characters
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/NamespaceHelpers.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/UnicodeCharacterUtilities.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuild.KnownExtensionRegistration.cs
Due: production, test

Fix ClassCleanup not called when the first test in class is ignored
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/IgnoreTests.cs
Due: production, test

Doc
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
Due: production

Update src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/NamespaceHelpers.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/NamespaceHelpers.cs
Due: production

[rel/3.8] Handle if RootNamespace contains invalid identifier characters (#5069)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/NamespaceHelpers.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/UnicodeCharacterUtilities.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuild.KnownExtensionRegistration.cs
Due: production, test

Update test/IntegrationTests/MSTest.Acceptance.IntegrationTests/IgnoreTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/IgnoreTests.cs
Due: test

Handle if RootNamespace contains invalid identifier characters (#5068)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/NamespaceHelpers.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/UnicodeCharacterUtilities.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuild.KnownExtensionRegistration.cs
Due: production, test

[rel/3.8] Fix ClassCleanup not called when the first test in class is ignored (#5071)
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/IgnoreTests.cs
Due: production, test

Fix ClassCleanup not called when the first test in class is ignored (#5070)
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/IgnoreTests.cs
Due: production, test

Fix IVT from TestFramework.Extensions to TestAdapter
  src/TestFramework/TestFramework.Extensions/Friends.cs
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
Due: production

Add SerializationBinder to formatter we use in tests
  test/UnitTests/TestFramework.UnitTests/Exceptions/BinaryFormatterExceptionSerializationTests.cs
Due: test

Remove unsued using
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplicationBuilder.cs
Due: production

Update Changelog for 3.8.2
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Update Changelog for 3.8.2 (#5076)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Update samples to 3.8.2
  samples/public/Directory.Build.props
Due: none

Address review comments
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
Due: production

[rel/3.8] Bump patch to .3
  eng/Versions.props
Due: none

More
  src/Platform/Microsoft.Testing.Platform/Hosts/ITestHostBuilder.cs
Due: production

Add SerializationBinder to formatter we use in tests (#5075)
  test/UnitTests/TestFramework.UnitTests/Exceptions/BinaryFormatterExceptionSerializationTests.cs
Due: test

Update samples to 3.8.2 (#5077)
  samples/public/Directory.Build.props
Due: none

Respect EditorConfig spec about comments
  .editorconfig
Due: none

Respect EditorConfig spec about comments (#5079)
  .editorconfig
Due: none

[rel/3.8] Bump patch to .3 (#5078)
  eng/Versions.props
Due: none

remove redundant IPlatformOutputDeviceManager (#4848)
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplicationBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ITestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/IPlatformOutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
Due: production

Refactor
  Directory.Build.props
  test/Directory.Build.props
  test/Directory.Build.targets
  test/IntegrationTests/MSTest.IntegrationTests/MSTest.IntegrationTests.csproj
  test/IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests/MSTest.VstestConsoleWrapper.IntegrationTests.csproj
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/PlatformServices.Desktop.IntegrationTests.csproj
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
  test/UnitTests/MSTestAdapter.UnitTests/MSTestAdapter.UnitTests.csproj
  test/UnitTests/TestFramework.UnitTests/TestFramework.UnitTests.csproj
  test/Utilities/TestFramework.ForTestingMSTest/TestApplicationBuilderExtensions.cs
  test/Utilities/TestFramework.ForTestingMSTest/TestFramework.ForTestingMSTest.csproj
  test/Utilities/TestFramework.ForTestingMSTest/TestFrameworkEngine.cs
  test/Utilities/TestFramework.ForTestingMSTest/TrxReportCapability.cs
Due: test

Fix test
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
Due: test

Avoid using unsupported APIs (#5057)
  src/Platform/Microsoft.Testing.Platform/Microsoft.Testing.Platform.csproj
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/HumanReadableDurationFormatter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestProgressStateAwareTerminal.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
Due: production

Fix using
  test/UnitTests/TestFramework.UnitTests/Exceptions/BinaryFormatterExceptionSerializationTests.cs
Due: test

Fix stacktrace check under release
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestAssemblyInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestClassInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
Due: test

Refactor some logic out of TypeCache (#4786)
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Adapter/MSTest.TestAdapter/ObjectModel/TestMethodOptions.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/ClassCleanupManagerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestPropertyAttributeTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TypeCacheTests.cs
Due: production, test
