Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

remove redundant GetCommandLineArguments
  src/Platform/Microsoft.Testing.Platform/Services/ITestApplicationModuleInfo.cs
Due: production

remove redundant HostProperties
  src/Platform/Microsoft.Testing.Platform/Telemetry/TelemetryProperties.cs
Due: production

remove redundant AddDataConsumer
  src/Platform/Microsoft.Testing.Platform/TestHostControllers/TestHostControllersManager.cs
Due: production

remove redundant ServiceProviderExtensions
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProviderExtensions.cs
Due: production

remove redundant IPlatformOutputDeviceManager
  src/Platform/Microsoft.Testing.Platform/Builder/TestApplicationBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ITestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/IPlatformOutputDeviceManager.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/OutputDeviceManager.cs
Due: production

remove TestProgressState Attachments
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestProgressState.cs
Due: production

remove redundant AssemblyDiscoveryCompleted
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

remove redundant TestDiscovered
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

remove redundant PathComparer
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/FileUtilities.cs
Due: production

remove redundant RenderedHeight
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
Due: production

remove INamedPipeBase
  src/Platform/Microsoft.Testing.Platform/IPC/INamedPipeBase.cs
  src/Platform/Microsoft.Testing.Platform/IPC/IServer.cs
Due: production

remove SendRequestAsync
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
Due: production

remove redundant ITask members
  src/Platform/Microsoft.Testing.Platform/Helpers/System/ITask.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemTask.cs
Due: production

remove IsHotReloadSupported
  src/Platform/Microsoft.Testing.Platform/Helpers/System/IRuntimeFeature.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemRuntimeFeature.cs
Due: production

only wrap required console members
  src/Platform/Microsoft.Testing.Platform/Helpers/System/IConsole.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemConsole.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

fix Warning CS9113 : Parameter 'testFramework' is unread. (#4846)
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Messages/ListTestsMessageBus.cs
Due: production

remove redundant PathComparer (#4861)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/FileUtilities.cs
Due: production

Add test
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/AcceptanceTestBase.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
Due: production, test

remove redundant RenderedHeight (#4866)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
Due: production

remove un-used ActionResult builders (#4854)
  src/Platform/Microsoft.Testing.Platform/Helpers/ActionResult.cs
Due: production

remove TestProgressState Attachments (#4864)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TestProgressState.cs
Due: production

Test is Windows only
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

remove FormattedTextOutputDeviceDataBuilder
  src/Platform/Microsoft.Testing.Platform/OutputDevice/FormattedTextOutputDeviceDataBuilder.cs
Due: production

remove INamedPipeBase (#4860)
  src/Platform/Microsoft.Testing.Platform/IPC/INamedPipeBase.cs
  src/Platform/Microsoft.Testing.Platform/IPC/IServer.cs
Due: production

only wrap required console members (#4869)
  src/Platform/Microsoft.Testing.Platform/Helpers/System/IConsole.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemConsole.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

remove FormattedTextOutputDeviceDataBuilder (#4870)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/FormattedTextOutputDeviceDataBuilder.cs
Due: production

remove redundant TestContext in sample
  samples/Playground/Tests.cs
Due: none

remove ExtractVersionFromVersionPropsFile
  test/Performance/MSTest.Performance.Runner/Scenarios/Scenario1.cs
Due: test

remove LifecycleWithParallelAttributesTaskProjectNamePath
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadingTests.cs
Due: test

remove DynamicDataTargetAssetPath and TestSourceDataTargetAssetPath
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ParameterizedTestTests.cs
Due: test

remove TestNodeUpdateCollector.IsComplete
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ServerMode/TestNodeUpdateCollector.cs
Due: test

remove un-used members from PooledHashSet
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/PooledHashSet.cs
Due: production

remove IsDisposeImplementation
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/IMethodSymbolExtensions.cs
Due: production

remove IsAsyncDisposeImplementation
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/IMethodSymbolExtensions.cs
Due: production

remove ReportNoLocationDiagnostic
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/DiagnosticExtensions.cs
Due: production

remove WellKnownCustomTags.CompilationEnd
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownCustomTags.cs
Due: production

remove GetDisplayName
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
Due: production

remove redundant null suppressions
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
  src/Platform/Microsoft.Testing.Extensions.HotReload/HotReloadHandler.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PassiveNode.cs
  src/TestFramework/TestFramework/Logger.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestHost.cs
Due: production, test

remove redundant PropertyPerEdgeChars (#4852)
  src/Platform/Microsoft.Testing.Platform/Requests/TreeNodeFilter/TreeNodeFilter.cs
Due: production

remove redundant HostProperties (#4849)
  src/Platform/Microsoft.Testing.Platform/Telemetry/TelemetryProperties.cs
Due: production
