Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Move unfolding strategy from data sources to test method (#5876)
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/EngineConstants.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestCaseExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DataRowAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/TestMethodAttribute.cs
  src/TestFramework/TestFramework/Interfaces/ITestDataSourceUnfoldingCapability.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/IgnoreTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ParameterizedTestTests.cs
  test/IntegrationTests/MSTest.IntegrationTests/Parameterized tests/DynamicDataTests.cs
  test/IntegrationTests/TestAssets/DynamicDataTestProject/DisableExpansionTests.cs
  test/IntegrationTests/TestAssets/FxExtensibilityTestProject/TestDataSourceExTests.cs
Due: production, test

Adjust tests
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/FileOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/DeploymentUtilityTests.cs
Due: test

TestContext cleanup (#5881)
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ClassCleanupManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/IPlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/PlatformServiceProvider.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  src/TestFramework/TestFramework.Extensions/TestContext.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadContextTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestAssemblyInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestClassInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestPropertyAttributeTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TypeCacheTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/PlatformServiceProviderTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/TestableImplementations/TestablePlatformServiceProvider.cs
Due: production, test

Fix
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/AssemblyResolverTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Deployment/AssemblyLoadWorkerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Properties/AssemblyInfo.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestDataSourceTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestDeploymentTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopThreadOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/FileOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/AppDomainUtilitiesTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/DeploymentUtilityTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/DesktopReflectionUtilityTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/VSInstallationUtilitiesTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/XmlUtilitiesTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/ns10TestSourceTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestAdapter.UnitTests.csproj
Due: test

draft
  azure-pipelines.yml
Due: none

Fix tests
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsNull.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsTrueTests.cs
Due: test

Progress
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
Due: production

Walk down conversion
  src/Analyzers/MSTest.Analyzers/DoNotNegateBooleanAssertionAnalyzer.cs
Due: production

Fix analyzer
  src/Analyzers/MSTest.Analyzers/PreferAssertFailOverAlwaysFalseConditionsAnalyzer.cs
Due: production

Add CallerArgumentExpression overloads to Assert.IsTrue/IsFalse/IsNull/IsNotNull
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
Due: production

Fix
  src/Analyzers/MSTest.Analyzers/PreferAssertFailOverAlwaysFalseConditionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/ReviewAlwaysTrueAssertConditionAnalyzer.cs
Due: production

Update test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/FileOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/FileOperationsTests.cs
Due: test

Revert MSTest.Engine change
  src/Adapter/MSTest.Engine/MSTest.Engine.csproj
  test/UnitTests/MSTest.Engine.UnitTests/MSTest.Engine.UnitTests.csproj
Due: production, test

Progress
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsNull.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsTrueTests.cs
Due: production, test

Localize
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Add comment to help translators
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

simplify
  src/TestFramework/TestFramework/Assertions/Assert.cs
Due: production

Fix race in artifact publishing in PRs
  azure-pipelines.yml
Due: none

Obsolete `ITestApplicationLifecycleCallbacks` and add `ITestHostApplicationLifetime`
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.MSBuild/MSBuildTestApplicationLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportExtensions.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/CommonTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostBuilder.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProvider.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/ITestHostApplicationLifetime.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/ITestHostManager.cs
  src/Platform/Microsoft.Testing.Platform/TestHost/TestHostManager.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/ServerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ServiceProviderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/TestApplicationBuilderTests.cs
Due: production, test

Fix
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/ServiceProviderTests.cs
Due: test

[MTP] Handle metadata properties in TrxReport
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: production, test

Fix
  src/Platform/Microsoft.Testing.Platform/Services/ServiceProvider.cs
Due: production

Support passing arguments to DynamicData methods
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataAttribute.cs
  src/TestFramework/TestFramework/Attributes/DataSource/DynamicDataOperations.cs
Due: production

Add test
  test/UnitTests/MSTest.SelfRealExamples.UnitTests/DynamicDataMethodArgumentsTests.cs
Due: test

projects should inherit defined constants
  samples/FxExtensibility/FxExtensibility.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
  src/TestFramework/TestFramework/TestFramework.csproj
  test/IntegrationTests/TestAssets/TestProject/TestProjectForDiscovery.csproj
Due: production, test

Update MTP WinUI sample
  samples/public/mstest-runner/MSTestRunnerWinUI/UnitTest/UnitTest.csproj
Due: none

[MTP] Handle metadata properties in TrxReport (#5891)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: production, test

Add CallerArgumentExpression overloads to Assert.IsTrue/IsFalse/IsNull/IsNotNull (#5851)
  src/Analyzers/MSTest.Analyzers/DoNotNegateBooleanAssertionAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/PreferAssertFailOverAlwaysFalseConditionsAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/ReviewAlwaysTrueAssertConditionAnalyzer.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsNull.cs
  src/TestFramework/TestFramework/Assertions/Assert.IsTrue.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsNull.cs
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsTrueTests.cs
Due: production, test

missing usings in DebuggerUtility
  samples/Playground/DebuggerUtility.cs
Due: none

Update PublicAPI
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

[MTP] Fix TrxReport not including test ignore reason
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
Due: production

projects should inherit defined constants (#5893)
  samples/FxExtensibility/FxExtensibility.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
  src/TestFramework/TestFramework/TestFramework.csproj
  test/IntegrationTests/TestAssets/TestProject/TestProjectForDiscovery.csproj
Due: production, test

Drop netstandard2.0 from adapter (#5882)
  eng/verify-nupkgs.ps1
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.NonWindows.nuspec
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.nuspec
  src/Adapter/MSTest.TestAdapter/build/netstandard2.0/MSTest.TestAdapter.props
  src/Adapter/MSTest.TestAdapter/build/netstandard2.0/MSTest.TestAdapter.targets
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Package/MSTest/MSTest.csproj
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AssemblyResolverTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/AssemblyResolverTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Deployment/AssemblyLoadWorkerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Properties/AssemblyInfo.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopReflectionOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestDataSourceTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestDeploymentTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopTestSourceTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DesktopThreadOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/FileOperationsTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestContextImplementationTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestDeploymentTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/TestSourceHostTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/AppDomainUtilitiesTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/DeploymentUtilityTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/DesktopReflectionUtilityTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/VSInstallationUtilitiesTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Utilities/XmlUtilitiesTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/ns10TestSourceTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/MSTestAdapter.UnitTests.csproj
Due: production, test

Build v4
  azure-pipelines-official.yml
  azure-pipelines.yml
Due: none

Remove unused internal method
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestCaseExtensions.cs
Due: production

Fix race in artifact publishing in PRs (#5890)
  azure-pipelines.yml
Due: none

Include parameter types in test id
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/AssemblyEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/Discovery/TypeEnumerator.cs
  src/Adapter/MSTestAdapter.PlatformServices/EngineConstants.cs
  src/Adapter/MSTestAdapter.PlatformServices/Extensions/TestCaseExtensions.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/TestMethod.cs
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
Due: production

Fix formatting
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
