Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Apply suggestions from code review
  src/Adapter/MSTest.TestAdapter/TestingPlatformAdapter/MSTestBridgedTestFramework.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

Sync Condition.cs with VSTest
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/Condition.cs
Due: production

Follow-up cleanup for FixturesTestTrait
  src/Adapter/MSTestAdapter.PlatformServices/EngineConstants.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ClassCleanupManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
Due: production

Follow-up cleanup for FixturesTestTrait (#7281)
  src/Adapter/MSTestAdapter.PlatformServices/EngineConstants.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/ClassCleanupManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
Due: production

Fix unshipped Trx regression for MSTest
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

Mark OTel as preview
  src/Platform/Microsoft.Testing.Extensions.OpenTelemetry/Microsoft.Testing.Extensions.OpenTelemetry.csproj
Due: production

Fix unshipped Trx regression for MSTest (#7283)
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2886975
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2887319
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
Due: production

Fix acceptance test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrxReportTests.cs
Due: test

Refactor test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrxReportTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Code ql force
  azure-pipelines-official.yml
Due: none

Add option to ask for uploading code QL before the standard window ends (#7296)
  azure-pipelines-official.yml
Due: none

Add trx report acceptance test for MSTest
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TrxReportTests.cs
Due: test

Delete dead code
  src/Adapter/MSTest.Engine/Helpers/TestFrameworkConstants.cs
  src/Adapter/MSTest.Engine/TimeSheet.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Helpers/VSTestTestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/JsonExtensions.cs
  src/TestFramework/TestFramework/FrameworkConstants.cs
  src/TestFramework/TestFramework/Internal/UtfHelper.cs
Due: production

Fix handling
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestMethodInfo.cs
Due: production

Apply suggestions from code review
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Update bug report issue template
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Fixes
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Remove unused variables in TerminalTestReporterTests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: test

Re-enable tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/TaskExtensionsTests.cs
Due: test

[Experimental] Add TestContext.Current
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/TestContext.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestContextTests.cs
Due: production, test

Simplify test
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestContextTests.cs
Due: test

Fix stack trace assertions for Release mode on .NET Framework
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestAssemblyInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestClassInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
Due: test

Add settings to launch debugger on test failure
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Internal/AssertionFailureSettings.cs
Due: production

take dump on failure
  src/Adapter/MSTestAdapter.PlatformServices/Execution/UnitTestRunner.cs
  src/Adapter/MSTestAdapter.PlatformServices/MSTestSettings.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Internal/AssertionFailureSettings.cs
  src/TestFramework/TestFramework/Internal/DumpUtility.cs
Due: production

Fix IDE0028 diagnostics
  src/Adapter/MSTestAdapter.PlatformServices/Data/OdbcDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/OleDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Data/SqlDataConnection.cs
  src/Adapter/MSTestAdapter.PlatformServices/Execution/TestExecutionManager.cs
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestContextImplementation.cs
  src/Adapter/MSTestAdapter.PlatformServices/Utilities/AssemblyUtility.cs
  src/Analyzers/MSTest.Analyzers/RoslynAnalyzerHelpers/ArrayBuilder.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/Serializers/GetInProgressTestsResponse.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformAutoRegisteredExtensions.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/EnvironmentVariablesConfigurationProvider.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/JsonConfigurationFileParser.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/JsonConfigurationFileParser.netstandard.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/TestHostControllersTestHost.cs
  src/Platform/Microsoft.Testing.Platform/Logging/LoggerFactory.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/AnsiTerminalTestProgressFrame.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: production, test

Re-enable tests (#7313)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/TaskExtensionsTests.cs
Due: test

Fix image to use in CodeQL pipeline
  azure-pipelines-codeql.yml
Due: none

Fix image to use in CodeQL pipeline (#7323)
  azure-pipelines-codeql.yml
Due: none

Assert in release
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestAssemblyInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestClassInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
Due: test

Revert "Automate publishing to test-tools feed for RTM, but require explicit …"
  azure-pipelines-official.yml
Due: none

[create-pull-request] automated change
  changes.patch
Due: none

Revert "Automate publishing to test-tools feed for RTM, but require explicit manual validation"
  azure-pipelines-official.yml
Due: none

Revert "Automate publishing to test-tools feed for RTM, but require explicit manual validation" (#7325)
  azure-pipelines-official.yml
Due: none

Revert "Automate publishing to test-tools feed for RTM, but require explicit manual validation" (#7327)
  azure-pipelines-official.yml
Due: none

Update codeql YML to run on rel/4.1
  azure-pipelines-codeql.yml
Due: none

Path conditions:
  production: any of: src/
  test: any of: test/
