Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add Append
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/XxHash128.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/XxHashShared.cs
Due: production

Port tests, there is a failing test for streaming
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/BinaryPrimitives.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/EmbeddedAttribute.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/XxHash128.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/XxHash128Tests.cs
Due: production, test

Fix test
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/XxHash128Tests.cs
Due: test

Few fixes for .NET Framework, caught by tests
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/XxHashShared.cs
Due: production

Simplify IProcess.MainModule
  src/Platform/Microsoft.Testing.Platform/Helpers/System/IProcess.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemProcess.cs
Due: production

Delete InternalTestFailureException
  src/TestFramework/TestFramework/Exceptions/InternalTestFailureException.cs
Due: production

Fix diagnostics
  test/IntegrationTests/TestAssets/TestCategoriesFromTestDataRowProject/TestCategoriesFromTestDataRowTests.cs
Due: test

Move WinUI-specific resources to test framework extensions assembly (#5950)
  src/TestFramework/TestFramework.Extensions/Attributes/WinUITestTargetAttribute.cs
  src/TestFramework/TestFramework.Extensions/Attributes/WinUI_UITestMethodAttribute.cs
  src/TestFramework/TestFramework.Extensions/Resources/FrameworkExtensionsMessages.Designer.cs
  src/TestFramework/TestFramework.Extensions/Resources/FrameworkExtensionsMessages.resx
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.cs.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.de.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.es.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.fr.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.it.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.ja.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.ko.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.pl.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.pt-BR.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.ru.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.tr.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.zh-Hans.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.zh-Hant.xlf
  src/TestFramework/TestFramework.Extensions/TestFramework.Extensions.csproj
  src/TestFramework/TestFramework/Resources/FrameworkMessages.Designer.cs
  src/TestFramework/TestFramework/Resources/FrameworkMessages.resx
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Update FrameworkConstants.cs
  src/TestFramework/TestFramework/FrameworkConstants.cs
Due: production

Delete src/Analyzers/MSTest.Internal.Analyzers directory
  src/Analyzers/MSTest.Internal.Analyzers/MSTest.Internal.Analyzers.csproj
  src/Analyzers/MSTest.Internal.Analyzers/MSTestObsoleteTypesSuppressor.cs
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Unshipped.txt
Due: production

Update PlatformServices.Desktop.IntegrationTests.csproj
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/PlatformServices.Desktop.IntegrationTests.csproj
Due: test

Update MSTest.IntegrationTests.csproj
  test/IntegrationTests/MSTest.IntegrationTests/MSTest.IntegrationTests.csproj
Due: test

Update MSTestAdapter.UnitTests.csproj
  test/UnitTests/MSTestAdapter.UnitTests/MSTestAdapter.UnitTests.csproj
Due: test

Update NonWindowsTests.slnf
  NonWindowsTests.slnf
Due: none

Update MSTestAdapter.PlatformServices.UnitTests.csproj
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
Due: test

Update MSTestAdapter.PlatformServices.csproj
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
Due: production

Update MSTest.TestAdapter.csproj
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
Due: production

Update TestFx.slnx
  TestFx.slnx
Due: none

update to Polyfill 9.0.0-beta.10 (#5952)
  Directory.Packages.props
Due: none

Few adjustments for test id (#5936)
  THIRD-PARTY-NOTICES.TXT
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Adapter/MSTestAdapter.PlatformServices/ObjectModel/UnitTestElement.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/BinaryPrimitives.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/BitOperations.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/EmbeddedAttribute.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/XxHash128.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Hashing/XxHashShared.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/Microsoft.Testing.Extensions.TrxReport.csproj
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxReportEngine.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/ObjectModel/UnitTestElementTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/XxHash128Tests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/TrxTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2746297
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.de.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2746297
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.cs.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.de.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.es.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.fr.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.it.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2746297
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.ja.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.ko.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.pl.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.pt-BR.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.ru.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.tr.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.zh-Hans.xlf
  src/TestFramework/TestFramework.Extensions/Resources/xlf/FrameworkExtensionsMessages.zh-Hant.xlf
Due: production

Delete InternalTestFailureException (#5956)
  NonWindowsTests.slnf
  TestFx.slnx
  src/Adapter/MSTest.TestAdapter/MSTest.TestAdapter.csproj
  src/Adapter/MSTestAdapter.PlatformServices/MSTestAdapter.PlatformServices.csproj
  src/Analyzers/MSTest.Internal.Analyzers/MSTest.Internal.Analyzers.csproj
  src/Analyzers/MSTest.Internal.Analyzers/MSTestObsoleteTypesSuppressor.cs
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/Exceptions/InternalTestFailureException.cs
  src/TestFramework/TestFramework/FrameworkConstants.cs
  test/IntegrationTests/MSTest.IntegrationTests/MSTest.IntegrationTests.csproj
  test/IntegrationTests/PlatformServices.Desktop.IntegrationTests/PlatformServices.Desktop.IntegrationTests.csproj
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/MSTestAdapter.PlatformServices.UnitTests.csproj
  test/UnitTests/MSTestAdapter.UnitTests/MSTestAdapter.UnitTests.csproj
Due: production, test

Update CurrentTestApplicationModuleInfo.cs
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
Due: production

Update SystemProcess.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/System/SystemProcess.cs
Due: production

remove non generic ActionResult
  src/Platform/Microsoft.Testing.Platform/Helpers/ActionResult.cs
Due: production

redundant null checks in TrxProcessLifetimeHandler
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
Due: production

use some computed properties
  src/Adapter/MSTest.Engine/TestFramework/TestFrameworkCapabilities.cs
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/DataRowTestMethodArgumentsInfo.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/ToolTrxCompareFactory.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCompareTool.CommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCompareTool.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Capabilities/VSTestBridgeExtensionBaseCapabilities.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Configurations/RunSettingsConfigurationProvider.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/JsonConfigurationSource.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/AbortForMaxFailedTestsExtension.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/Services/IPlatformInformation.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  src/TestFramework/TestFramework/Assertions/StringAssert.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeValidatorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodFilterTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Helpers/TestExtension.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Helpers/TestExtension.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/ArgumentArityTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/TestExtension.cs
Due: production, test

remove redundant BuildConsumerProducersAsync
  src/Platform/Microsoft.Testing.Platform/Messages/AsynchronousMessageBus.cs
Due: production

use TryAdd instead of TryGetValue and Add in Async MessageBus
  src/Platform/Microsoft.Testing.Platform/Messages/AsynchronousMessageBus.cs
Due: production

Update src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
Due: production

use some computed properties (#5961)
  src/Adapter/MSTest.Engine/TestFramework/TestFrameworkCapabilities.cs
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/DataRowTestMethodArgumentsInfo.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/ToolTrxCompareFactory.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCompareTool.CommandLine.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxCompareTool.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxDataConsumer.cs
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxTestApplicationLifecycleCallbacks.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Capabilities/VSTestBridgeExtensionBaseCapabilities.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Configurations/RunSettingsConfigurationProvider.cs
  src/Platform/Microsoft.Testing.Platform/CommandLine/PlatformCommandLineProvider.cs
  src/Platform/Microsoft.Testing.Platform/Configurations/JsonConfigurationSource.cs
  src/Platform/Microsoft.Testing.Platform/Extensions/AbortForMaxFailedTestsExtension.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/BrowserOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporterCommandLineOptionsProvider.cs
  src/Platform/Microsoft.Testing.Platform/OutputDevice/TerminalOutputDevice.cs
  src/Platform/Microsoft.Testing.Platform/Services/IPlatformInformation.cs
  src/Platform/Microsoft.Testing.Platform/Services/TestApplicationResult.cs
  src/TestFramework/TestFramework/Assertions/Assert.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  src/TestFramework/TestFramework/Assertions/StringAssert.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/TypeValidatorTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Discovery/UnitTestDiscovererTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestExecutionManagerTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodFilterTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/Helpers/TestExtension.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/Helpers/TestExtension.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/ArgumentArityTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/CommandLine/CommandLineHandlerTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Helpers/TestExtension.cs
Due: production, test

redundant null checks in TrxProcessLifetimeHandler (#5960)
  src/Platform/Microsoft.Testing.Extensions.TrxReport/TrxProcessLifetimeHandler.cs
Due: production

remove redundant BuildConsumerProducersAsync (#5962)
  src/Platform/Microsoft.Testing.Platform/Messages/AsynchronousMessageBus.cs
Due: production

remove non generic ActionResult (#5959)
  src/Platform/Microsoft.Testing.Platform/Helpers/ActionResult.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2747012
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Simplify and fix nullability warning
  src/Platform/Microsoft.Testing.Platform/Services/CurrentTestApplicationModuleInfo.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2747015
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.cs.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.es.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.fr.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.it.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ko.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.pl.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.ru.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers.CodeFixes/xlf/CodeFixResources.zh-Hant.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

redundant null check in TryAddSearchDirectoriesSpecifiedInRunSettingsToAssemblyResol
  src/Adapter/MSTestAdapter.PlatformServices/Services/TestSourceHost.cs
Due: production

Path conditions:
  production: any of: src/
  test: any of: test/
