Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Update src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Jsonite/Jsonite.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Jsonite/Jsonite.cs
Due: production

Fix serializing special characters in Jsonite (#5124)
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Jsonite/Jsonite.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsoniteTests.cs
Due: production, test

Fix serializing special characters in Jsonite
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Jsonite/Jsonite.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsoniteTests.cs
Due: production, test

Simplify test
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsoniteTests.cs
Due: test

[rel/3.8] Fix serializing special characters in Jsonite (#5125)
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Jsonite/Jsonite.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsoniteTests.cs
Due: production, test

Propagate DOTNET_ROOT
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Remove wrong Required. It can be empty
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Update InvokeTestingPlatformTask to prefer running Exe over `dotnet exec dll`
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
Due: production

Windows-only
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Keep DOTNET_ROOT
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Adjust tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Fix NRE
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Adjust again
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Fix
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

[create-pull-request] automated change
  changes.patch
Due: none

Update backport-base.yml
  .github/workflows/backport-base.yml
Due: none

Update backport-base.yml (#5129)
  .github/workflows/backport-base.yml
Due: none

Avoid potential duplicate binlog file names in integration tests
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestAssetFixtureBase.cs
Due: test

[rel/3.8] Avoid potential duplicate binlog file names in integration tests (#5132)
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestAssetFixtureBase.cs
Due: test

Cleanup TempDirectory implementation
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestAsset.cs
Due: test

[rel/3.8] Cleanup TempDirectory implementation (#5131)
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TestAsset.cs
Due: test

Cleanup integration tests binlogs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunnerTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuild.KnownExtensionRegistration.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TypeForwardingTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetMuxerResult.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

[rel/3.8] Cleanup integration tests binlogs (#5130)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunnerTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuild.KnownExtensionRegistration.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TypeForwardingTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetCli.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/DotnetMuxerResult.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Revert unintended change
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
Due: test

Adjust
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Magically not needed :)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Is it still needed?
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Adjust, and get back Linux and macOS to investigate why they fail
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/CommandLine.cs
Due: production, test

Progress
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: production, test

Fix warning
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

Propagate DOTNET_ROOT
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

Path conditions:
  production: any of: src/
  test: any of: test/
