Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Use [OSCondition]
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AbortionTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/STATestClassTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/STATestMethodTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadingTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WinUITests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/AbortionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashPlusHangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpOutputTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Fix IDE0022
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: test

Use output detailed for dotnet test, and disable apphost on macOS (#6992)
  azure-pipelines.yml
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/MSTest.Acceptance.IntegrationTests.csproj
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests.csproj
Due: test

Use --output detailed in all jobs for dotnet test
  azure-pipelines.yml
Due: none

Address review comments
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WinUITests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashPlusHangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpOutputTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Address review comments
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
Due: test

CLeanup
  src/Analyzers/MSTest.Analyzers.CodeFixes/Helpers/FixtureMethodFixer.cs
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2848769
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2848769
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Extra simplification
  src/Analyzers/MSTest.Analyzers.CodeFixes/Helpers/FixtureMethodFixer.cs
Due: production

Update global.json to remove outdated runtimes (#6993)
  global.json
Due: none

Disable hangdump on macOS
  test/Directory.Build.targets
Due: test

Disable hangdump on macOS (#7002)
  test/Directory.Build.targets
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2848801 (#7000)
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.cs.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.de.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.es.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ja.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ko.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pl.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.pt-BR.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.ru.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.tr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hant.xlf
Due: production

Use --output detailed in all jobs for dotnet test (#6996)
  azure-pipelines.yml
Due: none

macos investigation
  azure-pipelines.yml
  test/Directory.Build.targets
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2848916
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.fr.xlf
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.it.xlf
Due: production

Use [OSCondition] (#6994)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/AbortionTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/STATestClassTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/STATestMethodTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/ThreadingTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/WinUITests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/AbortionTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashPlusHangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpOutputTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Use easier apis
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
Due: test

Run integration tests with net10.0 (#6761)
  global.json
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TargetFrameworks.cs
Due: test

Remove incorrect DefaultHangTimeSpanTimeout in HangDumpActivityIndicator
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpActivityIndicator.cs
Due: production

Unskip NativeAotTests
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Unskip
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
Due: test

Update SdkTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2849335
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2849338
  src/TestFramework/TestFramework/Resources/xlf/FrameworkMessages.zh-Hans.xlf
Due: production

Remove incorrect DefaultHangTimeSpanTimeout in HangDumpActivityIndicator (#7006)
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpActivityIndicator.cs
Due: production

Use TargetFrameworks.Current
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Fix typo in Assert.Throws doc
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
Due: production

Update test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpOutputTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpOutputTests.cs
Due: test

Update test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
Due: test

Update test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
Due: test

Update test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Apply suggestions from code review
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/RetryFailedTestsTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
Due: test

Fix typo
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Fix typo in Assert.Throws doc (#7016)
  src/TestFramework/TestFramework/Assertions/Assert.ThrowsException.cs
Due: production

Unskip NativeAotTests (#7008)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/NativeAotTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/SdkTests.cs
Due: test

Fix tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/CrashDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpOutputTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpProcessTreeTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/Helpers/DumpWorkaround.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/TrxTests.cs
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Apply suggestion from @Evangelink
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Add test for hangdump
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/HangDumpTests.cs
Due: test
