Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

remove un-used TestNodeProcessor
  src/Adapter/MSTest.Engine/Engine/BFSTestNodeVisitor.cs
Due: production

remove un-used IParameterInfo
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/IParameterInfo.cs
Due: production

Polyfill in SourceGen
  src/Analyzers/MSTest.SourceGeneration/Helpers/SystemPolyfills.cs
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
Due: production

remove redundant InternalsVisibleTo in MSTest.SourceGeneration
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
Due: production

remove un-used TestNodeProcessor (#5430)
  src/Adapter/MSTest.Engine/Engine/BFSTestNodeVisitor.cs
Due: production

Conditional expression can be rewritten as null-coalescing﻿ and mark as warning (#5429)
  .editorconfig
  src/Adapter/MSTest.Engine/Configurations/ConfigurationExtensions.cs
Due: production

remove Trimming, AOT, and SingleFile config from MSTest.SourceGeneration
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
Due: production

Remove incorrect TestMethod attributes (#5421)
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInstanceOfTypeTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2683893
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ru.xlf
Due: production

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2683895
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ru.xlf
Due: production

remove un-used IParameterInfo (#5431)
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/IParameterInfo.cs
Due: production

remove Trimming, AOT, and SingleFile config from MSTest.SourceGeneration (#5433)
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
Due: production

Assert empty errors in MSBuildTests (#5419)
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
Due: test

Update MTP's telemetry dependency on Microsoft.ApplicationInsights to 2.23.0 (#5420)
  Directory.Packages.props
Due: none

Remove dead code in TestInfrastructure (#5422)
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Add TestRunCount to TestContext (#5425)
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/TestContext.cs
Due: production

Implement analyzer for RetryAttribute to be present on test methods
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/UseRetryWithTestMethodAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/UseRetryWithTestMethodAnalyzerTests.cs
Due: production, test

Update src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
Due: production

.
  src/Analyzers/MSTest.SourceGeneration/Generators/TestNodesGenerator.cs
  src/Analyzers/MSTest.SourceGeneration/Helpers/IndentedStringBuilder.cs
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/DataRowTestMethodArgumentsInfo.cs
  src/Analyzers/MSTest.SourceGeneration/ObjectModels/TestMethodParametersInfo.cs
Due: production

Update Constants.cs
  src/Analyzers/MSTest.SourceGeneration/Helpers/Constants.cs
Due: production

Update MSTest.SourceGeneration.csproj
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
Due: production

Add test for TestProperty attribute
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestContextTests.cs
Due: test

dont generate documentation for tests
  test/Directory.Build.props
Due: test

Add test for TestContext.TestRunCount
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RetryTests.cs
Due: test

.
  samples/FxExtensibility/FxExtensibility.csproj
  samples/Playground/Playground.csproj
  samples/public/Directory.Build.props
  test/Directory.Build.props
Due: test

Update test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestContextTests.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestContextTests.cs
Due: test

Rename MTP entrypoint to MicrosoftTestingPlatformEntryPoint (#5423)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Implement analyzer for RetryAttribute to be present on test methods (#5437)
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MSTest.Analyzers/Helpers/DiagnosticIds.cs
  src/Analyzers/MSTest.Analyzers/Helpers/WellKnownTypeNames.cs
  src/Analyzers/MSTest.Analyzers/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/Resources.Designer.cs
  src/Analyzers/MSTest.Analyzers/Resources.resx
  src/Analyzers/MSTest.Analyzers/UseRetryWithTestMethodAnalyzer.cs
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
  test/UnitTests/MSTest.Analyzers.UnitTests/UseRetryWithTestMethodAnalyzerTests.cs
Due: production, test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2684033
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

use null propagation and mark as warning in editorconfig (#5383)
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidExpectedExceptionAttributeFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferConstructorOverTestInitializeFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferDisposeOverTestCleanupFixer.cs
  src/Analyzers/MSTest.Analyzers.CodeFixes/PreferTestInitializeOverConstructorFixer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/PassiveNode.cs
Due: production

Add test for TestContext.TestRunCount (#5440)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RetryTests.cs
Due: test

build after change
  src/Analyzers/MSTest.Analyzers/xlf/Resources.cs.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.de.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.es.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.fr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.it.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ja.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ko.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pl.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.pt-BR.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.ru.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.tr.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hans.xlf
  src/Analyzers/MSTest.Analyzers/xlf/Resources.zh-Hant.xlf
Due: production

Add test for TestProperty attribute (#5439)
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/TestContextTests.cs
Due: test

Update TypeCache.cs
  src/Adapter/MSTest.TestAdapter/Execution/TypeCache.cs
Due: production

Update AssemblyEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
Due: production

fix
  src/Adapter/MSTest.TestAdapter/Discovery/AssemblyEnumerator.cs
Due: production

Update DataRowTests_Regular.cs
  test/IntegrationTests/TestAssets/DataRowTestProject/DataRowTests_Regular.cs
Due: test

Update CLITestBase.discovery.cs
  test/IntegrationTests/MSTest.IntegrationTests/Utilities/CLITestBase.discovery.cs
Due: test
