Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

fix links
  docs/Changelog.md
Due: none

Add changelog for platform
  docs/Changelog-Platform.md
Due: none

Fix inline html
  docs/Changelog.md
Due: none

Update docs/Changelog-Platform.md
  docs/Changelog-Platform.md
Due: none

Update docs/Changelog.md
  docs/Changelog.md
Due: none

Disable publish step on rtm build
  azure-pipelines-official.yml
Due: none

Disable publish step on rtm build (#5573)
  azure-pipelines-official.yml
Due: none

Use IsAssetlessBuild instead
  azure-pipelines-official.yml
Due: none

Use IsAssetlessBuild instead (#5574)
  azure-pipelines-official.yml
Due: none

Add 3.9.0 changelog (#5572)
  docs/Changelog-Platform.md
  docs/Changelog.md
Due: none

Remove post steps
  azure-pipelines-official.yml
Due: none

Remove post steps (#5575)
  azure-pipelines-official.yml
Due: none

Update .editorconfig
  .editorconfig
Due: none

Add public api files (#5561)
  src/Analyzers/MSTest.Analyzers.CodeFixes/MSTest.Analyzers.CodeFixes.csproj
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers.Package/MSTest.Analyzers.Package.csproj
  src/Analyzers/MSTest.Analyzers.Package/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Analyzers.Package/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.GlobalConfigsGenerator/MSTest.GlobalConfigsGenerator.csproj
  src/Analyzers/MSTest.GlobalConfigsGenerator/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.GlobalConfigsGenerator/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/MSTest.Internal.Analyzers.csproj
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.SourceGeneration/MSTest.SourceGeneration.csproj
  src/Analyzers/MSTest.SourceGeneration/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.SourceGeneration/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/Microsoft.Testing.Extensions.MSBuild.csproj
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform.MSBuild/Microsoft.Testing.Platform.MSBuild.csproj
  src/Platform/Microsoft.Testing.Platform.MSBuild/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform.MSBuild/PublicAPI.Unshipped.txt
Due: production

remove redundant Empty constructor and mark as warning (#5378)
  .editorconfig
  samples/Playground/Program.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/Serializers/ExitSignalActivityIndicatorTaskRequest.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/Serializers/GetInProgressTestsRequest.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/Serializers/SessionEndSerializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/RpcMessages.cs
Due: production

Move analyzers to shipped
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
Due: production

Shipped api 3.9
  src/Adapter/MSTest.TestAdapter/PublicAPI/PublicAPI.Shipped.txt
  src/Adapter/MSTest.TestAdapter/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/PublicAPI/uwp/PublicAPI.Shipped.txt
  src/Adapter/MSTest.TestAdapter/PublicAPI/uwp/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Shipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Analyzers/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform.MSBuild/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform.MSBuild/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Shipped api 3.9 (#5578)
  src/Adapter/MSTest.TestAdapter/PublicAPI/PublicAPI.Shipped.txt
  src/Adapter/MSTest.TestAdapter/PublicAPI/PublicAPI.Unshipped.txt
  src/Adapter/MSTest.TestAdapter/PublicAPI/uwp/PublicAPI.Shipped.txt
  src/Adapter/MSTest.TestAdapter/PublicAPI/uwp/PublicAPI.Unshipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Shipped.txt
  src/Adapter/MSTestAdapter.PlatformServices/PublicAPI/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Analyzers.CodeFixes/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Analyzers/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Analyzers/PublicAPI.Unshipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Shipped.txt
  src/Analyzers/MSTest.Internal.Analyzers/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.AzureDevOpsReport/PublicAPI/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Extensions.MSBuild/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform.MSBuild/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform.MSBuild/PublicAPI.Unshipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Shipped.txt
  src/Platform/Microsoft.Testing.Platform/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Shipped.txt
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Move analyzers to shipped (#5577)
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Shipped.md
  src/Analyzers/MSTest.Analyzers/AnalyzerReleases.Unshipped.md
Due: production

Update Fakes dependency to 17.14.1
  Directory.Packages.props
Due: none

Update Fakes dependency to 17.14.1 (#5580)
  Directory.Packages.props
Due: none

Fix changelog date
  docs/Changelog-Platform.md
Due: none

Fix changelog date
  docs/Changelog.md
Due: none

OSConditionAttribute: Make ignore message depend on ConditionMode
  src/TestFramework/TestFramework/Attributes/TestMethod/OSConditionAttribute.cs
Due: production

Add implicit using even when not using MSTest.Sdk
  src/Package/MSTest.Sdk/Sdk/Runner/Common.targets
  src/TestFramework/TestFramework.Extensions/buildTransitive/winui+uwp/MSTest.TestFramework.targets
Due: production

Delete unused classes
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/JsonCollectionDeserializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/JsonPropertyBagDeserializer.cs
Due: production

Inherit OwnerAttribute and PriorityAttribute from TestPropertyAttribute
  src/Adapter/MSTest.TestAdapter/Discovery/TypeEnumerator.cs
  src/Adapter/MSTest.TestAdapter/Helpers/ReflectHelper.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/OwnerAttribute.cs
  src/TestFramework/TestFramework/Attributes/TestMethod/PriorityAttribute.cs
Due: production

Fix test
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsonTests.cs
Due: test

Add open-code.cmd
  open-code.cmd
Due: none

Remove unused method
  src/Adapter/MSTest.TestAdapter/Helpers/ReflectHelper.cs
Due: production

Make ConditionBaseAttribute.Mode public
  src/TestFramework/TestFramework/Attributes/TestMethod/ConditionBaseAttribute.cs
Due: production

Public
  src/TestFramework/TestFramework/Attributes/TestMethod/ConditionBaseAttribute.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Make ConditionBaseAttribute.Mode public (#5593)
  src/TestFramework/TestFramework/Attributes/TestMethod/ConditionBaseAttribute.cs
  src/TestFramework/TestFramework/PublicAPI/PublicAPI.Unshipped.txt
Due: production

Cleanup tests
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsonTests.cs
Due: test

Adjust analyzer
  src/Analyzers/MSTest.Analyzers/UseAttributeOnTestMethodAnalyzer.cs
Due: production

OSConditionAttribute: Make ignore message depend on ConditionMode (#5587)
  src/TestFramework/TestFramework/Attributes/TestMethod/OSConditionAttribute.cs
Due: production

Delete unused classes (#5590)
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/JsonCollectionDeserializer.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/JsonPropertyBagDeserializer.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsonTests.cs
Due: production, test

Path conditions:
  production: any of: src/
  test: any of: test/
