Repository Microsoft/testfx: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default: false
    patch:
      default: false

# Read more here: https://docs.codecov.com/docs/pull-request-comments
comment:
  # What to render in the comment:
  # Show patch coverage only
  layout: "condensed_header, condensed_files, condensed_footer"
  # Do not show the project coverage in the comment
  hide_project_coverage: true
  # Update comment, if exists. Otherwise post new.
  behavior: default
  #  Post comment even if there's no change in coverage
  require_changes: false
  # Only post if coverage drops OR there are uncovered lines of code
  # require_changes: "coverage_drop OR uncovered_patch"

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

remove redundant catch (#5376)
  src/Adapter/MSTest.Engine/Engine/ThreadPoolTestNodeRunner.cs
  src/Adapter/MSTest.Engine/TestFramework/TestFramework.cs
  test/Utilities/TestFramework.ForTestingMSTest/TestFramework.cs
Due: production, test

remove redundant control flow statements (#5403)
  samples/Playground/ServerMode/v1.0.0/TestingPlatformClient.cs
  src/Adapter/MSTest.Engine/Engine/ThreadPoolTestNodeRunner.cs
  src/Adapter/MSTest.TestAdapter/Extensions/MethodInfoExtensions.cs
  src/Analyzers/MSTest.Analyzers/UseProperAssertMethodsAnalyzer.cs
  src/Platform/Microsoft.Testing.Extensions.AzureDevOps/AzureDevOpsReporter.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.Retry/RetryOrchestrator.cs
  src/Platform/Microsoft.Testing.Extensions.Telemetry/AppInsightsProvider.cs
  src/Platform/Microsoft.Testing.Platform/Helpers/NonCooperativeParentProcessListener.cs
  src/Platform/Microsoft.Testing.Platform/Hosts/ServerTestHost.cs
  src/Platform/Microsoft.Testing.Platform/IPC/NamedPipeServer.cs
  src/TestFramework/TestFramework/Assertions/CollectionAssert.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/RunnerTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ServerMode/v1.0.0/TestingPlatformClient.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/Microsoft.Testing.Extensions.UnitTests/AppInsightsProviderTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/IPC/IPCTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Logging/FileLoggerTests.cs
  test/UnitTests/TestFramework.UnitTests/Attributes/ExpectedExceptionBaseAttributeTests.cs
Due: production, test

fix nullability of InvokeTestingPlatformTask _outputFileName (#5394)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/InvokeTestingPlatformTask.cs
Due: production

remove redundant ReflectHelper constructor (#5379)
  src/Adapter/MSTest.TestAdapter/Helpers/ReflectHelper.cs
Due: production

Update .editorconfig
  .editorconfig
Due: none

VSTestBridge: Use TestMethodIdentifierProperty and stop sending VSTest-specifics
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Capabilities/VSTestBridgeExtensionBaseCapabilities.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/FrameworkHandlerAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/TestCaseDiscoverySinkAdapter.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestDiscoverTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/Requests/VSTestRunTestExecutionRequestFactory.cs
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/VSTestBridgedTestFrameworkBase.cs
  src/Platform/Microsoft.Testing.Platform/Messages/TestNodeProperties.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
  test/UnitTests/Microsoft.Testing.Extensions.VSTestBridge.UnitTests/ObjectModel/ObjectModelConvertersTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Messages/TestNodePropertiesTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/FormatterUtilitiesTests.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/ServerMode/JsonTests.cs
Due: production, test

Show disk info when hang dump fails (#5404)
  src/Platform/Microsoft.Testing.Extensions.HangDump/HangDumpProcessLifetimeHandler.cs
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/ExtensionResources.resx
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.cs.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.fr.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.pl.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ru.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.zh-Hans.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.zh-Hant.xlf
Due: production

Use ManagedType/ManagedMethod when available
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
Due: production

Remove unused using
  src/Platform/Microsoft.Testing.Extensions.VSTestBridge/ObjectModel/ObjectModelConverters.cs
Due: production

Update Directory.Packages.props
  Directory.Packages.props
Due: none

remove redundant braces and mark as error in rider and R# (#5380)
  .editorconfig
  samples/Playground/Program.cs
  src/Adapter/MSTest.Engine/TestFramework/TestFramework.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestClassInfo.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestExecutionManager.cs
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/Adapter/MSTest.TestAdapter/Execution/UnitTestRunner.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/DotnetTest/DotnetTestConnection.cs
  test/IntegrationTests/MSTest.Acceptance.IntegrationTests/InconclusiveTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/ConsoleTests.cs
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.Test.cs
  test/IntegrationTests/TestAssets/DynamicDataTestProject/DataProvider.cs
  test/IntegrationTests/TestAssets/DynamicDataTestProject/DynamicDataTests.cs
  test/IntegrationTests/TestAssets/LibProjectReferencedByDataSourceTest/User.cs
  test/Performance/MSTest.Performance.Runner/Steps/PlainProcess.cs
  test/UnitTests/MSTest.Analyzers.UnitTests/AvoidAssertAreSameWithValueTypesAnalyzerTests.cs
  test/UnitTests/MSTest.Engine.UnitTests/BFSTestNodeVisitorTests.cs
  test/UnitTests/MSTest.SourceGeneration.UnitTests/Helpers/SyntaxExtensions.cs
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/DiaSessionOperationsTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Discovery/TypeEnumeratorTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodInfoTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Execution/TestMethodRunnerTests.cs
  test/UnitTests/MSTestAdapter.UnitTests/Extensions/TestResultExtensionsTests.cs
  test/Utilities/Automation.CLI/CLITestBase.common.cs
  test/Utilities/TestFramework.ForTestingMSTest/TestFramework.cs
Due: production, test

avoid redundant where and mark as an error for rider and r# (#5384)
  .editorconfig
  src/Analyzers/MSTest.Analyzers.CodeFixes/AvoidExpectedExceptionAttributeFixer.cs
Due: production

fix nullability of argument in GetProcessExitCodeAsync_IgnoreExitCodes (#5386)
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/Services/TestApplicationResultTests.cs
Due: test

Update MSTestSettingsTests.cs (#5388)
  test/UnitTests/MSTestAdapter.UnitTests/MSTestSettingsTests.cs
Due: test

remove redundant null checks in UnitTestRunnerTests (#5390)
  test/UnitTests/MSTestAdapter.UnitTests/Execution/UnitTestRunnerTests.cs
Due: test

remove redundant null checks in AssemblyEnumeratorTests (#5391)
  test/UnitTests/MSTestAdapter.UnitTests/Discovery/AssemblyEnumeratorTests.cs
Due: test

remove redundant null check for OpenBaseKey return (#5395)
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/DotnetMuxerLocator.cs
Due: production

remove redundant null check in GetStringFromIndexOrDefault (#5396)
  src/Platform/Microsoft.Testing.Platform/OutputDevice/Terminal/TerminalTestReporter.cs
Due: production

fix nullability in FileLoggerProvider (#5398)
  src/Platform/Microsoft.Testing.Platform/Logging/FileLoggerProvider.cs
Due: production

remove redundant null check in UnitTestElement (#5400)
  src/Adapter/MSTest.TestAdapter/ObjectModel/UnitTestElement.cs
Due: production

Adjust for compat
  src/Platform/Microsoft.Testing.Platform/ServerMode/ClientHelpers.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
Due: production

Unused using
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
Due: production

Fix typo
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/Json/Json.cs
  src/Platform/Microsoft.Testing.Platform/ServerMode/JsonRpc/SerializerUtilities.cs
Due: production

Downgrade error entries in .editorconfig to warning
  .editorconfig
Due: none

fix nullability in TestableMSTestAdapterSettings (#5387)
  test/UnitTests/MSTestAdapter.PlatformServices.UnitTests/Services/MSTestAdapterSettingsTests.cs
Due: test

Localized file check-in by OneLocBuild Task: Build definition ID 1218: Build ID 2682948
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.de.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.es.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.it.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ja.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.ko.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.pt-BR.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.tr.xlf
  src/Platform/Microsoft.Testing.Extensions.HangDump/Resources/xlf/ExtensionResources.zh-Hans.xlf
Due: production

Downgrade error entries in .editorconfig to warning (#5416)
  .editorconfig
Due: none

Remove Task.Run
  src/Platform/Microsoft.Testing.Platform/Requests/AggregateFilter.cs
Due: production

Assert empty errors in MSBuildTests
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
Due: test

Update MTP's telemetry dependency on Microsoft.ApplicationInsights to 2.23.0
  Directory.Packages.props
Due: none

Remove incorrect TestMethod attributes
  test/UnitTests/TestFramework.UnitTests/Assertions/AssertTests.IsInstanceOfTypeTests.cs
Due: test

Remove dead code in TestInfrastructure
  test/Utilities/Microsoft.Testing.TestInfrastructure/TempDirectory.cs
Due: test

Rename MTP entrypoint to MicrosoftTestingPlatformEntryPoint
  src/Platform/Microsoft.Testing.Platform.MSBuild/Tasks/TestingPlatformEntryPointTask.cs
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/UnitTests/Microsoft.Testing.Platform.UnitTests/OutputDevice/Terminal/TerminalTestReporterTests.cs
Due: production, test

Condition all logic of dotnet test support under TestingPlataformDotnetTestSupport
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.DotnetTestSupport.targets
  src/Platform/Microsoft.Testing.Platform.MSBuild/buildMultiTargeting/Microsoft.Testing.Platform.MSBuild.targets
Due: production

Assign
  src/Platform/Microsoft.Testing.Platform/Requests/AggregateFilter.cs
Due: production

Add TestRunCount to TestContext
  src/Adapter/MSTest.TestAdapter/Execution/TestMethodRunner.cs
  src/TestFramework/TestFramework.Extensions/PublicAPI/PublicAPI.Unshipped.txt
  src/TestFramework/TestFramework.Extensions/TestContext.cs
Due: production

Fix tests
  test/IntegrationTests/Microsoft.Testing.Platform.Acceptance.IntegrationTests/MSBuildTests.GenerateEntryPoint.cs
  test/UnitTests/Microsoft.Testing.Platform.MSBuild.UnitTests/MSBuildTests.cs
Due: test

Conditional expression can be rewritten as null-coalescing﻿ and mark as warning
  .editorconfig
  src/Adapter/MSTest.Engine/Configurations/ConfigurationExtensions.cs
Due: production
